@font-face {
	font-family:'Fs Elliot Bold';
    src:url('../fonts/FS Elliot Pro-Bold.otf');
}
@font-face {
	font-family:'Fs Elliot Reg';
    src:url('../fonts/FS Elliot Pro-Regular.otf');
}
@font-face {
	font-family:'Fs Elliot Light';
    src:url('../fonts/FS Elliot Pro-Light.otf');
}
@font-face {
	font-family:'Fs Elliot Thin';
    src:url('../fonts/FS Elliot Pro-Thin.otf');
}
@font-face {
	font-family:'Fs Elliot Heavy';
    src:url('../fonts/FS Elliot Pro-Heavy.otf');
}