@import 'fonts';

.header {
	text-align: center;
	color: #005BAB;
	position: relative;
	margin-bottom: 40px;
    font-family: 'Fs Elliot Reg';
    font-size: 26px;
	&::after{
		content: '';
		position: absolute;
		background-color:#005BAB;
		height: 2px;
		width: 30px;
		margin: 0 auto;
		bottom: -20px; 
	    left: 0;
	    right: 0;
	}
	&.no-line{
		font-family: 'Fs Elliot Reg';
		clear: both;
		&::after {
			content: none;
		}
	}
}
#items {
  	div.it {
  		text-align: center;
		background-color: #F6FBFF;
	    padding: 40px 35px;
	    border-radius: 3px;
        margin-bottom: 10px;
	    &:hover {
		    box-shadow: 0px 6px 12px -2px #c4c4c4;
	    }
		img {
			display: block;
			margin: auto;
		}
		h3 {
			font-family: 'Fs Elliot Bold';
			color: #596977;
		    font-size: 20px;
		}
		p {
			font-family: 'Fs Elliot Light';
			color: #596977;
		    font-size: 15px;
		    line-height: 1.7;
		}
		> div {
			height: 170px;
			overflow: hidden;
		}
		button {
			background-color: #6B85B3;
			border:none;
			color: #fff;
			border-radius: 30px;
		    padding: 10px 20px;
		    font-size: 13px;
		    font-family: 'Fs Elliot Light';
		    &.extrapad {
		    	padding: 10px 50px;
		    }
		    &.na {
		    	color: #6B85B3;
		    	font-family: 'Fs Elliot Light';
		    	background-color: transparent;
		    }
		}
	}
}
#banner-carousel {
	.carousel-caption {
		text-align: left;
		font-family:'Fs Elliot Light';
		text-shadow: none;
	    right: 10%;
	    left: 10%;
        bottom: 90px;
		.left-block {
			display: inline-block;
			width: 35%;
			h3{
				font-family:'Fs Elliot Bold';
			    font-size: 28px;
			    margin-bottom: 18px;
			}
			p {
			    margin-bottom: 20px;
			    font-size: 18px;
				line-height: 1.3;
			}
		}
		.right-block {
			display: inline-block;
			width: 60%;
			float: right;
			img {
			    margin-top: -30px;
			}
		}
		.quote {
			font-family:'Fs Elliot Thin';
		    font-size: 33px;
		    width: 610px;
		}
		.name {
			font-family:'Fs Elliot Thin';
	        font-size: 20px;
		    line-height: 1.3;
		}
		&.extraTop {
			bottom: 210px;
		  right: 12%;
		    left: 12%;
		}
	}
	font-family:'Fs Elliot Reg';
	.carousel-control.left, .carousel-control.right {
		height: 50px;
		width: 50px;
		margin: auto;
	    background-image: none !important;
	    opacity: 1;
	}
	.carousel-control.left{
		left: 40px;
	}
	.carousel-control.right{
		right: 40px;
	}
}
.testimonials-wrapper {
	background-image: url('../images/bg-testimonials.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 486px; 
}
#testimonials {
	.item {
		height: 460px;
	}
	.carousel-caption {
		font-family:'Fs Elliot Reg';
		text-shadow: none;
	    bottom: 58px;
		text-align: center;
		h3 {
			position: relative;
		    font-size: 28px;
		    margin-bottom: 20px;
		    margin-bottom: 50px;
			&::after{
				content: '';
				position: absolute;
				background-color:#fff;
				height: 2px;
				width: 30px;
				margin: 0 auto;
				bottom: -20px; 
			    left: 0;
			    right: 0;
			}
		}
		p {
		    font-size: 15px;
		    line-height: 1.6;
	        margin-bottom: 40px;
	        padding: 0px 70px;
		}
	}
	.carousel-control.left, .carousel-control.right {
		height: 50px;
		margin: auto;
	    background-image: none !important;
	    opacity: 1;
	}
	.carousel-control.left{
		left: 30px;
	}
	.carousel-control.right{
		right: 30px;
	}
	.testimonial-photo {
		border-radius: 100%;
	    width: 90px;
	    height: 90px;
	    margin: 0 auto;
	    display: block;
	    overflow: hidden;
	    margin-bottom: 10px;
	    font-size: 17px;
	    img {
		    width: 100%;
	    }
	}
	.t-position {
		color: #16F1BC;
	}
}
.padY60 {
	padding: 60px 0px;
}
.padY40 {
	padding: 40px 0px;
}

.rq-lowerpart {
    color: #16325c;
    padding-top: 50px;
    h3 {
        padding-bottom: 20px;
        color: #005BAB;
        font-family:'Fs Elliot Reg';
        font-size: 25px;
    }
    ul {
    	padding:0px;
    }
    li {
        display: inline-block;
        padding-bottom: 30px;
        font-size: 18px;
        color: #516271;
        font-family:'Fs Elliot Light';
        h4 {
        	font-family:'Fs Elliot Reg';
            font-size: 20px;
            margin-bottom: 0;
            color: #516271;

        }
        .dm-icon {
            float: left;
            margin-right: 10px;
            position: relative;
            top: 7px;
            width: 38px;
            img {
                // max-width: 38px;
                width: 100%;
            }
        }
        span {
            font-size: 16px;
            font-weight: 300;
        }
    }
    form {
    	font-family:'Fs Elliot Reg';
        background: #F6FBFF;
        border-radius: 5px;
        padding: 40px 45px;
	    color: #516271;
        margin-bottom: 50px;
        text-align: left;
        h2 {
            color: #596977;
            padding: 0;
            margin: 0 0 20px;
            font-size: 25px;
        }
        label {
            font-size: 14px;
            color: #516271;
            font-family:'Fs Elliot Thin';
        }
        .group-field {
            padding: 0;
            margin: 5px 0;
        }
        input[type="text"] {
            width: 100%;
            background: #ffffff;
            padding-left: 15px;
            color: #3a4a66;
            height: 40px;
            line-height: 40px;
            border: 1px solid #d5d9df;
            border-radius: 5px;

            &.mobile {
                border-radius: 0 5px 5px 0;
            }
        }
        .multiselect {
            width: 100%;
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label {
                background: rgba(0, 0, 0, 0) url("../images/radio.png") no-repeat scroll left bottom;
                clear: both;
                display: inline-block;
                padding: 10px 0 0 28px;
                position: relative;
                cursor: pointer;
                text-transform: uppercase;
            }
            input[type="checkbox"]:checked + label {
                background: rgba(0, 0, 0, 0) url("../images/radio-checked.png") no-repeat scroll left bottom;
                display: inline-block;
                padding: 10px 0 0 28px;
                cursor: pointer;
            }
        }
        .selectBox {
            position: relative;
        }
        .selectBox select {
            width: 100%;
            option:first-child {
                color: #cfd5e1;;
            }
        }
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            cursor: pointer;
        }
        .active {
            display: block;
        }
        #checkboxes {
            border: 1px #dadada solid;
            background: #fff;
            padding: 10px;
            max-height: 300px;
            overflow-y: scroll;
            position: absolute;
            z-index: 888;
            // display: none;
            &:not(:focus) {
                display: none;
            }
        }
        #checkboxes label {
            display: block;
            text-transform: capitalize;
        }
        select {
            background-color: #ffffff;
            background-image: url(../images/sel-arrow.png);
            background-repeat: no-repeat;
            background-position: right 10px center;
            width: 100%;
            padding-left: 15px;
            color: #3a4a66;
            height: 40px;
            line-height: 40px;
            border: 1px solid #d5d9df;
            border-radius: 5px;
            position: reltive;
            -moz-appearance: none;
            -webkit-appearance: none;
            option:first-child {
                color: #cfd5e1;
            }
        }
        img {
            max-width: 100%;
        }
        textarea {
            border: 1px solid #d5d9df;
            &::-webkit-input-placeholder {
                color: #cfd5e1;
            }
            &::-moz-placeholder {
                color: #cfd5e1;
            }
            &:-ms-input-placeholder {
                color: #cfd5e1;
            }
            &:-moz-placeholder {
                color: #cfd5e1;
            }
        }
        em {
            font-style: italic;
        }
        button.continue {
			font-size: 14px;
			text-align: center;
			width: 80%;
			border:none;
			color: #fff;
			margin: 0 auto;
			display: block;
			border-radius:30px;
			padding: 15px 0;
			background-color: #6B85B3;
        }
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    background: url(../images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative;
}

input[type="radio"]:checked + label {
    background: url(../images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
}
.nopadding-left {
	padding-left: 0px;
}
footer {
	text-align: center;
	background-color: #264057;
	font-family:'Fs Elliot Reg';
	color: #788B9A;
	padding: 28px 0px;
    font-size: 12px;
}
.ra {
	color: #005BAB !important;
	text-decoration:none;
	border:1px solid #005BAB;
	border-radius: 30px;
	padding: 10px 30px !important;
	font-family:'Fs Elliot Reg';
}
.navbar {
	height: 110px;
    margin-bottom: 0px !important;
    border: none;
    background-color: transparent;
    &-right{
	    margin-right: 45px;
	    margin-top: 33px;
    }
    &-brand {
    	margin-top: 15px;
    	&.globe-logo {
    		margin-left:35px !important;
    	}
    }
}

.rush-logo {
	position: relative;
	margin-left: 2px !important;
	display: inline-block;
	margin-top: 22px;
	&::before {
		content: "";
		position:absolute;
		height: 60px; 
		width: 1px;
		left: 0px;
		top: 0px;
		background-color:#dedede;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .extraTop {
    	bottom: 120px !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
	/* Banner */
	#banner-carousel {
		.carousel-caption {
		    bottom: 40px;
		    .left-block {
		    	p {
		    		font-size: 16px !important;
		    	}
		    }
		}
	}
}
@media screen  and (min-width: 768px) and (max-width: 992px) {
	/* Banner */
	#banner-carousel {
		.carousel-control {
			display: none;
		}
		.carousel-caption {
		    bottom: 0px;
		    .left-block {
		    	width: 100%;
		    	p {
		    		font-size: 16px;
		    		&:not(:last-child){
		    			margin-bottom: 10px;
		    		}
		    	}
		    }
		    .right-block {
				float:none;
				width: 100%;
				img {
					display: block;
					margin:auto;
					width: 50%;
				}
		    }
		}
   	    .extraTop {
	    	bottom: 100px !important;
    	    right: 4% !important;
		    left: 4% !important;
		    .quote {
		    	font-size: 25px;
		    }
		    .name {
		    	font-size: 15px;
		    }
	    }
	}
	#testimonials {
		.carousel-caption {
			width: 100%;
			left:0px;    
			top: 10px !important;
		}
		.left-block {
			display: inline-block;
			float: right;
			width: 700px;
			text-align: left;
			p {
			    padding-left: 0px !important;
			    padding-right: 50px !important;
			}
		}
		.right-block {
			display: inline-block;
			float: left;
			width: 230px;
			.testimonial-photo {
			    margin-top: -30px;
			}
		}
	}
}
@media screen  and (min-width: 525px) and (max-width: 768px) {
	/* Banner */
	#banner-carousel {
		.item.active.loyalty {
	        min-height: 490px;
		}
		.carousel-control {
			display: none;
		}
		.carousel-caption {
		    width: 100%;	
	        position: absolute;
		    left: 0px;
		    padding: 20px;
	        top: -20px;
		    .left-block {
		    	width: 100%;
		    	h3 {
		    		font-size: 18px;
				    margin-bottom: 8px;
		    	}
		    	p {
		    		font-size: 15px;
		    		&:not(:last-child){
		    			margin-bottom: 4px;
		    		}
		    	}
		    }
		    .right-block {
				float:none;
				width: 100%;
				img {
					display: block;
					margin:auto;
				}
		    }
		}

	}
    .extraTop {
	    top: 80px !important;
	    right: 4% !important;
	    left: 4% !important;
	    .quote {
	    	font-size: 23px !important;
    	    padding-right: 180px;
	    }
	    .name {
	    	font-size: 15px !important;
	    }
    }
    #testimonials {
    	.carousel-caption {
    		bottom: 18px;
    	}
    }
    .navbar-brand.globe-logo {
    	margin-left: 8px !important;
    }
     .navbar-right {
     	float: right;
     	li a {
 		    margin: -67.5px -170px;
		    width: 206px;
		    font-size: 14px;
		    padding: 9px 18px !important;
     	}
     }
}
@media screen  and (min-width: 320px) and (max-width: 525px) {
	/* Banner */
	#banner-carousel {
	    margin-top: 45px;
		.item.active.loyalty {
		    min-height: 360px;
		}
		.carousel-control {
			display: none;
		}
		.carousel-caption {
			width: 100%;	
	        position: absolute;
		    left: 0px;
		    padding: 20px;
	        top: -20px;
		    .left-block {
		    	width: 100%;
		    	h3 {
		    		font-size: 15px;
				    margin-bottom: 8px;
		    	}
		    	p {
		    		font-size: 11px;
		    		&:not(:last-child){
		    			margin-bottom: 4px;
		    		}
		    	}
		    }
		    .right-block {
				float:none;
				width: 100%;
				img {
					display: block;
					margin:auto;
				}
		    }
		}
	}
	.extraTop {
	    top: 0px !important;
	    right: 1% !important;
	    left: 1% !important;
	    .quote {
	    	font-size: 20px !important;
    	    padding-right: 375px !important;
    	    line-height: 1;
	    }
	    .name {
	    	font-size: 12px !important;
	    }
    }
    #testimonials {
    	.carousel-caption {
    		bottom: 80px;
    		h3 {
    			font-size: 18px !important;
    			line-height: 1.2;
    			margin-bottom: 30px;
    		}
    		p {
			    padding: 0px 0px;
		        font-size: 14px;
			    line-height: 1.3;
    		}
    	}
    	.left {
		    left: 5px !important;
    	}
    	.right {
		    right: 5px !important;
    	}
    }

}

@media screen  and (min-width: 320px) and (max-width: 525px) {
   .navbar-right {
	    margin: 25px 0px 0px 0px !important;
    	li {
		    // padding: 0px 70px;
		    text-align: center;
		    width: 100%;
		    a {
		    	width: 300px;
	    	    display: block;
			    margin: auto;
		    }
    	}
    }
    .navbar-header {
    	text-align: center;
    }
    .navbar-brand {width: 48%;
    	&.globe-logo {
	    	margin-left: 10px !important;
    	}
    	* {
    		display: inline-block;
    		margin:auto;
    	}
    }
}
@media (min-width: 768px){
	#emailModal .modal-dialog {
    	width: 490px;
    }

	#success .modal-dialog {
    	width: 350px;
    }
}
.modal {
	.modal-content {
		box-shadow: none;
		border: 1px solid #fff;
		.close {
		    margin-top: 20px;
		    margin-right: 20px;
	    }
	}
}
#success {
	.modal-content {
		text-align: center;
		padding: 30px 30px;
		h3 {
			font-family: 'Fs Elliot Bold';
		    padding-bottom: 5px;
		}
		small {
			font-family: 'Fs Elliot Reg';
			color: #516271;
		}
	}
	.success-img {
    	width: 110px;
    	display: block;
    	margin: auto;
    }
    a {
		background-color: #6B85B3;
		border:none;
		color: #fff;
		border-radius: 30px;
	    padding: 10px 20px;
	    font-size: 13px;
	    font-family: 'Fs Elliot Light';
	    padding: 10px 20px;
	    display: block;
	    margin: 0 auto;
	    width: 200px;
	    text-decoration: none;
	}
}
#emailForm {
    padding: 0px 50px;
	input[type="submit"] {
			background-color: #6B85B3;
			border:none;
			color: #fff;
			border-radius: 30px;
		    padding: 10px 20px;
		    font-size: 13px;
		    font-family: 'Fs Elliot Light';
		    padding: 10px 100px;
		    display: block;
		    margin: 0 auto;
	}
    input[type="text"] {
    	font-family: 'Fs Elliot Reg';
        width: 100%;
        background: #F6FBFF;
        padding-left: 15px;
        color: #3a4a66;
        height: 50px;
        line-height: 40px;
        border: 1px solid #dedede;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 17px;
    }
    textarea {
    	font-family: 'Fs Elliot Reg';
        width: 100%;
        background: #F6FBFF;
        padding-left: 15px;
        color: #3a4a66;
        line-height: 40px;
        border: 1px solid #dedede;
        border-radius: 5px;
        margin-bottom: 15px;	
        font-size: 17px;
    }
}