body {
  background-color: #E6E9ED;
}

.noBorderRadius {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#rightcontent .header .howdy button, #rightcontent .container #content .fixed-table-container {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#sidemenu {
  position: fixed;
  left: 0;
  min-width: 240px;
  width: 240px;
  float: left;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index: 3;
}
#sidemenu .logoholder {
  height: 76px;
  float: left;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #f5f5f5;
}
#sidemenu .logoholder img {
  margin: 17px auto;
  display: block;
}
#sidemenu #menu {
  background: #fff;
  float: left;
  width: 100%;
  /* Highlight Active Menu */
}
#sidemenu #menu ul {
  padding: 0;
  float: left;
  width: 100%;
}
#sidemenu #menu ul li {
  list-style: none;
  width: 100%;
  float: left;
}
#sidemenu #menu ul li a {
  color: #627181;
  display: block;
  float: left;
  width: 100%;
  outline: none;
  position: relative;
}
#sidemenu #menu ul li a i {
  height: 60px;
  width: 50px;
  float: left;
  margin-right: 14px;
}
#sidemenu #menu ul li a span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
#sidemenu #menu ul li:hover, #sidemenu #menu ul li.active {
  background-color: #f8f8f8;
}
#sidemenu #menu a:hover, #sidemenu #menu a:active {
  text-decoration: none;
}
#sidemenu #menu li.active a {
  text-decoration: none;
}
#sidemenu #menu .icon {
  background-repeat: no-repeat;
}
#sidemenu #menu li.merchant .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
}
#sidemenu #menu li.management .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
  background-position-y: -290px;
}
#sidemenu #menu li.settings .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
  background-position-y: -485px;
}
#sidemenu #menu li.rewards .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
  background-position-y: -97px;
}
#sidemenu #menu li.billing .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
  background-position-y: -690px;
}
#sidemenu #menu li.prospect .icon {
  background-position: 0 1px;
  background-image: url("../images/menu_icons.png");
  background-position-y: -535px;
}
#sidemenu #menu li.activ {
  background-color: #f2f2f2;
}
#sidemenu #menu li.activ a > i {
  background-color: #f57f20;
}
#sidemenu #menu li.activ .icon {
  background-image: url("../images/menu_icons_hover.png");
}
#sidemenu #menu li.activ a {
  color: #161616;
  font-weight: 600;
}

#rightcontent {
  float: left;
  width: 100%;
  padding-left: 240px;
  background-color: #e7e7e7;
  margin: 0;
  min-height: 100%;
}
#rightcontent .header {
  height: 76px;
  width: 100%;
  background: #4b4f55;
  padding: 0 35px;
  float: left;
}
#rightcontent .header h3 {
  font-weight: normal;
  margin-top: 24px;
  color: #fff;
}
#rightcontent .header .howdy {
  margin-top: 10px;
}
#rightcontent .header .howdy .btn-group {
  float: right;
}
#rightcontent .header .howdy img {
  margin-right: 10px;
}
#rightcontent .header .howdy button {
  border: 0;
  font-size: 15px;
}
#rightcontent .header .howdy button .caret {
  margin-left: 10px;
}
#rightcontent .header .howdy button:hover {
  background-color: #fefefe;
}
#rightcontent .header .howdy button.dropdown-toggle {
  box-shadow: 0 0 0;
  background-color: #4b4f55;
  color: #fff;
}
#rightcontent .header .howdy .dropdown-menu {
  width: 100%;
}
#rightcontent .container {
  width: 100%;
  padding: 0 35px;
}
#rightcontent .container .search {
  margin-top: 18px;
  float: left;
}
#rightcontent .container .search input[type="text"] {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 0 12px;
  height: 42px;
}
#rightcontent .container .search button {
  border-color: #ccc;
  background-color: #fff;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-left: 0;
  outline: 0;
  padding: 10px 12px;
  height: 42px;
}
#rightcontent .container .search button i {
  color: #AEAAA5;
}
#rightcontent .container #content {
  background-color: #fff;
  margin-top: 18px;
  float: left;
  width: 100%;
  min-height: 400px;
}
#rightcontent .container #content .navTabsWrap {
  background-color: #F2F4F6;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#rightcontent .container #content .navTabsWrap .nav-tabs {
  float: left;
  border-bottom: 0;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li {
  margin-bottom: -2px;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li a {
  border-radius: 0;
  margin-right: 0;
  margin-top: -1px;
  color: #747474;
  font-weight: 500;
  background-image: url("../images/navtabsborder.jpg");
  background-position: right center;
  background-repeat: no-repeat;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li.active a {
  font-weight: 600;
  background-image: none;
}
#rightcontent .container #content .navTabsWrap .addNew {
  float: right;
  color: #747474;
  padding: 10px 15px;
}
#rightcontent .container #content .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 400px;
  padding: 1%;
}
#rightcontent .container #content .data-table {
  color: #575454;
  border: 0;
  margin-top: 15px;
}
#rightcontent .container #content .data-table td, #rightcontent .container #content .data-table th {
  border: 0 !important;
}
#rightcontent .container #content .data-table .edit, #rightcontent .container #content .data-table .delete {
  color: #C7C0BA;
  margin-left: 20px;
  float: right;
}
#rightcontent .container #content .data-table tbody tr {
  background-color: #F2F4F6;
  border-bottom: 1px solid #fff;
}
#rightcontent .container #content .data-table tbody tr:hover {
  background-color: #FFF6D8;
}
#rightcontent .container #content .data-table.management tr td:last-child, #rightcontent .container #content .data-table.management tr th:last-child {
  border-left: 0;
}
#rightcontent .container #content .fixed-table-container {
  border: 0;
}

.add-merchant {
  margin: 10px 0;
}

.merchants-table-row-div {
  margin-top: 20px;
}
.merchants-table-row-div .enabled-disabled-toggle {
  cursor: pointer;
  text-transform: capitalize;
}
.merchants-table-row-div .enabled {
  color: green;
}
.merchants-table-row-div .disabled {
  color: red;
}

.merchant-view .tab-pane {
  padding: 20px;
}
.merchant-view form {
  margin-top: 20px;
}
.merchant-view .spacing {
  padding: 15px;
}
.merchant-view .status-label {
  font-weight: bold;
}
.merchant-view .status-options label, .merchant-view .modules-options label {
  font-weight: normal;
}
.merchant-view .status-options .form-group, .merchant-view .modules-options .form-group {
  margin-bottom: 0px;
}
.merchant-view .merchant-view-buttons .btn-primary {
  color: #fff;
  background-color: #f6ae1c;
  border-color: transparent;
}
.merchant-view .error {
  color: red;
}
.merchant-view #enabled-disabled-toggle {
  cursor: pointer;
}
.merchant-view #enabled-disabled-toggle:hover {
  color: #f6ae1c;
}

#enabled-disabled-toggle-modal {
  background-color: rgba(0, 0, 0, 0.6);
}
#enabled-disabled-toggle-modal #enabled-disabled-reason {
  resize: none;
  height: 200px;
  width: 100%;
}
#enabled-disabled-toggle-modal .btn-primary {
  color: #fff;
  background-color: #f6ae1c;
  border-color: transparent;
}

#management-branches-view, #management-employees-view, #management-customers-view, #management-points-view, .management-rewards, .management-rewards-add, #management-transactions-view, .management-rewards, #management-billing-view {
  margin-top: 20px;
  padding: 20px;
}

#management-branches-view label, #management-employees-view label, #management-customers-view label, #management-points-view label, .management-rewards label, .management-rewards-add label, #management-transactions-view label, .management-rewards label, #management-billing-view label {
  color: #969595;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

#management-branches-view .delete-reward, #management-employees-view .delete-reward, #management-customers-view .delete-reward, #management-points-view .delete-reward, .management-rewards .delete-reward, .management-rewards-add .delete-reward, #management-transactions-view .delete-reward, .management-rewards .delete-reward, #management-billing-view .delete-reward {
  cursor: pointer;
}

#management-branches-view h4, #management-employees-view h4, #management-customers-view h4, #management-points-view h4, .management-rewards h4, .management-rewards-add h4, #management-transactions-view h4, .management-rewards h4, #management-billing-view h4 {
  font-size: 21px;
  color: #666464;
  margin-bottom: 25px;
}

#management-branches-view table .rewards-img, #management-employees-view table .rewards-img, #management-customers-view table .rewards-img, #management-points-view table .rewards-img, .management-rewards table .rewards-img, .management-rewards-add table .rewards-img, #management-transactions-view table .rewards-img, .management-rewards table .rewards-img, #management-billing-view table .rewards-img {
  max-width: 65px;
}

#management-branches-view table td.is_deleted_text, #management-employees-view table td.is_deleted_text, #management-customers-view table td.is_deleted_text, #management-points-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, .management-rewards-add table td.is_deleted_text, #management-transactions-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, #management-billing-view table td.is_deleted_text {
  text-transform: capitalize;
}

#management-branches-view table .enabled, #management-employees-view table .enabled, #management-customers-view table .enabled, #management-points-view table .enabled, .management-rewards table .enabled, .management-rewards-add table .enabled, #management-transactions-view table .enabled, .management-rewards table .enabled, #management-billing-view table .enabled {
  color: green;
}

#management-branches-view table .disabled, #management-employees-view table .disabled, #management-customers-view table .disabled, #management-points-view table .disabled, .management-rewards table .disabled, .management-rewards-add table .disabled, #management-transactions-view table .disabled, .management-rewards table .disabled, #management-billing-view table .disabled {
  color: red;
}

#management-branches-view .btn-rush, #management-employees-view .btn-rush, #management-customers-view .btn-rush, #management-points-view .btn-rush, .management-rewards .btn-rush, .management-rewards-add .btn-rush, #management-transactions-view .btn-rush, .management-rewards .btn-rush, #management-billing-view .btn-rush {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

#management-branches-view .btn-rush:hover, #management-branches-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#management-employees-view .btn-rush:hover, #management-employees-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#management-customers-view .btn-rush:hover, #management-customers-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#management-points-view .btn-rush:hover, #management-points-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.management-rewards .btn-rush:hover, .management-rewards .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.management-rewards-add .btn-rush:hover, .management-rewards-add .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#management-transactions-view .btn-rush:hover, #management-transactions-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.management-rewards .btn-rush:hover, .management-rewards .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#management-billing-view .btn-rush:hover, #management-billing-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#settings-view {
  padding: 15px;
  min-height: 600px;
}
#settings-view .settings-view-buttons .btn-primary {
  color: #fff;
  background-color: #f6ae1c;
  border-color: transparent;
}

.management-rewards-add textarea {
  resize: none;
  min-height: 300px;
}
.management-rewards-add .btn-file {
  position: relative;
  overflow: hidden;
}
.management-rewards-add .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.error-msg {
  color: red !important;
}

.yellow-btn {
  color: #fff !important;
  background-color: #f6ae1c !important;
  border-color: transparent !important;
}

#deposit_upload_btn {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  border: 1px solid #f8ae1a;
  border-radius: 4px;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  color: #f8ae1a;
  height: 53px;
  padding: 12px 40px 0px 40px;
}
#deposit_upload_btn #deposit_slip {
  position: fixed;
  top: -1000px;
}
#deposit_upload_btn span {
  cursor: pointer;
}

/* Billing Module CSS */
.view-bill-upper {
  background-color: #F2F4F6;
  padding: 10px;
}
.view-bill-upper .title h2 {
  font-family: Open Sans;
  font-size: medium;
  font-weight: normal;
  color: #f58020;
}

.view-bill-statement {
  padding: 10px;
}

.account-summary-link {
  cursor: pointer;
}

.soa_acctNum {
  margin-top: 20px;
  font-size: medium;
}

.view-billing {
  padding: 10px;
}

.billing {
  /*Remove number type spinner*/
  /*Browse Button*/
}
.billing .title h2 {
  font-family: Open Sans;
  font-size: medium;
  font-weight: normal;
  color: #f58020;
}
.billing #frm_payt_cc hr, .billing #frm_payt_otc hr, .billing .soa hr {
  border: none;
  height: 1px;
  background: #efefef;
}
.billing .bill_label {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  margin: 0px;
  font-weight: normal;
}
.billing .bill_value {
  font-family: Open Sans Semibold;
  color: #656565;
  font-size: medium;
  border-style: none;
  padding: 0px;
  margin: 0px;
  background: transparent !important;
  box-shadow: none;
}
.billing .bill_value:focus {
  font-family: Open Sans Semibold;
  color: #656565;
  font-size: medium;
  border-style: none;
  padding: 0px;
  margin: 0px;
  background: transparent !important;
  box-shadow: none;
}
.billing #month {
  width: 46%;
}
.billing #day {
  margin: 0px 6px;
  width: 25%;
}
.billing #year {
  width: 25%;
}
.billing .payt_date, .billing .view_date, .billing #bill_amt, .billing #bill_ref_no, .billing #payment_date, .billing #paytMethod {
  font-family: Open Sans Semibold;
  color: #656565;
  font-size: medium;
  height: 53px;
  padding-left: 10px;
  box-shadow: none;
}
.billing #bill_upload_btn {
  border-style: none;
  box-shadow: none;
  color: transparent;
}
.billing .bill_btn {
  font-family: Roboto;
  font-size: medium;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 10.5px 0px;
  border-radius: 6px;
}
.billing .bill_btn:hover {
  background-color: #DA5B10;
}
.billing .img_thumb {
  width: 55px;
  height: 55px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-color: pink;
}
.billing #dl_soa_btn {
  margin-right: 12px;
}
.billing .soa_btn {
  font-family: Roboto;
  font-size: medium;
  color: #5a5a5a;
  background-color: transparent;
  border: 1px solid #b5b5b5;
  border-radius: 6px;
  height: 53px;
  padding: 0px 12px;
}
.billing .soa_btn:link, .billing .soa_btn:visited {
  white-space: nowrap;
  font-family: Roboto;
  font-size: medium;
  color: #5a5a5a;
  background-color: transparent;
  border: 1px solid #b5b5b5;
  border-radius: 6px;
  height: 53px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
}
.billing .soa_btn:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
.billing #searchDate {
  border-radius: 60px 0px 0px 60px;
  border-right: 0px;
  box-shadow: none;
  font-size: medium;
  height: 42px;
  font-family: Open Sans;
  padding-left: 24px;
  color: #a7a6a6;
}
.billing #calendarSpan {
  border-radius: 0px 60px 60px 0px !important;
  background-color: #ffffff;
  color: #afafaf;
  border-left: 0px;
}
.billing #searchBtn {
  border: none !important;
  box-shadow: none;
}
.billing #searchBtn a {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium;
}
.billing #searchBtn a:hover {
  text-decoration: none;
  color: #EC730F;
}
.billing #searchBtn a:active, .billing #searchBtn a:visited, .billing #searchBtn a:link {
  text-decoration: none;
}
.billing td[class=record_num] {
  width: 10%;
  text-align: center;
}
.billing .record_num {
  font-weight: bold;
}
.billing .view_btn {
  font-size: medium;
}
.billing a[class=view_btn]:visited, .billing a[class=view_btn]:active, .billing a[class=view_btn]:link {
  text-decoration: none;
  color: #afafaf;
}
.billing a[class=view_btn]:hover {
  text-decoration: none;
  color: #656565;
  cursor: pointer;
  cursor: hand;
}
.billing .bill_hr hr {
  margin-top: 4px;
}
.billing .bill_table td {
  height: 95px;
  border-top: none !important;
}
.billing .soa h3 {
  padding-top: 30px !important;
}
.billing .soa td, .billing .soa th {
  border-top: none !important;
  padding: 4px 0px !important;
}
.billing .soa hr {
  border-top: dashed 1px;
}
.billing .soa_heading1, .billing #soa_name {
  font-size: medium;
}
.billing #soa_address {
  padding-left: 10px !important;
  width: 75%;
  color: #555555;
  font-size: medium;
}
.billing .soa_heading1, .billing .soa_heading2, .billing .soa_items, .billing #soa_address, .billing .soa_amounts, .billing #soa_name {
  font-family: Open Sans;
}
.billing .soa_heading2, .billing .soa_note {
  color: #939393;
}
.billing .soa_heading1, .billing .soa_acctNum {
  font-weight: bold;
}
.billing .soa_totalAmtDue td {
  padding: 12px !important;
}
.billing .breakdown_total td, .billing .soa_heading2 th {
  padding-top: 12px !important;
}
.billing .soa_items, .billing .soa_heading2, .billing .soa_total_label, .billing .soa_totalAmtDue, .billing .soa_amounts {
  font-size: medium;
}
.billing .soa_heading1, .billing .soa_heading2 {
  font-weight: bold;
}
.billing .soa_items {
  color: #535353;
}
.billing .soa_item_list td {
  padding-top: 12px !important;
}
.billing #soa_name {
  color: #555555;
}
.billing .soa_amounts {
  color: #090909;
}
.billing .soa_total_label, .billing .soa_totalAmtDue {
  color: #2a2a2a;
}
.billing .align_right {
  text-align: right;
}
.billing .orange_box {
  border: 2px solid #f8ae1a;
}
.billing .orange_box td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.billing .account_summary {
  border: 2px solid #f9f9f9;
  padding: 30px 26px !important;
}
.billing .account_summary td {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.billing .account_summary th {
  text-align: center;
  border-bottom: none !important;
}
.billing .soa_note {
  font-family: Open Sans;
  font-size: medium;
}
.billing .usage_breakdown th {
  border-bottom: none !important;
  padding-bottom: 16px !important;
}
.billing #bill_ref_no::-webkit-outer-spin-button, .billing #bill_ref_no::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.billing #bill_amt::-webkit-outer-spin-button, .billing #bill_amt::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.billing label#custom_upload_btn input[type="file"] {
  position: fixed;
  top: -1000px;
}
.billing #custom_upload_btn {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  border: 1px solid #f8ae1a;
  border-radius: 4px;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  color: #f8ae1a;
  height: 53px;
  padding: 12px 40px 0px 40px;
}
.billing #custom_upload_btn:hover {
  background: #F1F1F1;
  cursor: pointer;
  cursor: hand;
}

#paymentModalOTC, #paymentModalCC {
  background-color: rgba(0, 0, 0, 0.4);
  /* The Modal (background) */
  /* Add Animation */
}

#paymentModalOTC .bill_popup h2, #paymentModalCC .bill_popup h2 {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium;
}

#paymentModalOTC .bill_popup p, #paymentModalCC .bill_popup p {
  color: #656565;
  font-family: Open Sans;
  font-size: medium;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#paymentModalOTC .modal, #paymentModalCC .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#paymentModalOTC .modal-content, #paymentModalCC .modal-content {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 0px;
  padding: 30px;
}

#paymentModalOTC .modal-content .modal-body, #paymentModalCC .modal-content .modal-body {
  background-color: #fff;
}

#paymentModalOTC .modal-content button, #paymentModalCC .modal-content button {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 8px 50px;
  text-align: center;
  border-radius: 6px;
}

/*# sourceMappingURL=style.css.map */
