/* line 2, ../scss/style.scss */
html body {
  background: black url("../images/header-bg.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
}

/* line 17, ../scss/style.scss */
.header-section {
  background: rgba(0, 0, 0, 0.5);
  height: 700px;
}

/* line 24, ../scss/style.scss */
.navigation {
  padding: 30px 0;
  margin: 0;
}

/* line 30, ../scss/style.scss */
.navbar-brand {
  color: #fff;
}

/* line 34, ../scss/style.scss */
.mobile-nav {
  float: right;
  padding: 0;
  margin-top: 0;
}
/* line 38, ../scss/style.scss */
.mobile-nav li {
  display: inline-block;
  margin: 0 0 0 15px;
}
/* line 41, ../scss/style.scss */
.mobile-nav li a {
  color: #fff!important;
  display: block;
  text-transform: uppercase;
  font-family: Open Sans Regular;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 52, ../scss/style.scss */
.mobile-nav li a:hover {
  background: #ffa726;
}

/* line 60, ../scss/style.scss */
#head-content .headings {
  text-align: center;
  color: #fff;
  font-family: Open Sans Regular;
  margin: 4% 0 4%;
}
/* line 65, ../scss/style.scss */
#head-content .headings h1 {
  font-size: 40px;
}
/* line 66, ../scss/style.scss */
#head-content .headings h2 {
  font-size: 30px;
  margin: 0px;
}
/* line 70, ../scss/style.scss */
#head-content .start-btn {
  width: 400px;
  border: 2px solid #ffa726;
  padding: 10px;
  margin: 0% auto 2%;
  text-align: center;
  color: #fff;
  display: block;
  font-size: 20px;
  font-family: Open Sans Bold;
  line-height: 22px;
  letter-spacing: 1px;
  border-radius: 6px;
  text-transform: uppercase;
}
/* line 84, ../scss/style.scss */
#head-content .start-btn span {
  font-family: Open Sans Regular;
  display: block;
  font-size: 16px;
}
/* line 90, ../scss/style.scss */
#head-content .start-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #ffa726;
  color: #fff;
  text-decoration: none;
}
/* line 98, ../scss/style.scss */
#head-content .banner img {
  display: block;
  margin: 0 auto;
}

/*content*/
/* line 108, ../scss/style.scss */
.content {
  padding: 170px 0 60px;
  background: #fff;
}
/* line 111, ../scss/style.scss */
.content h2 {
  text-align: center;
  margin-bottom: 50px;
}
/* line 115, ../scss/style.scss */
.content .support-box {
  text-align: center;
}
/* line 117, ../scss/style.scss */
.content .support-box p {
  margin: 20px 0;
  color: #5f6666;
}

/*clients*/
/* line 126, ../scss/style.scss */
.clients {
  background: url("../images/partner-bg.jpg") no-repeat;
  padding: 70px 0 70px;
  overflow: hidden;
  position: relative;
}
/* line 131, ../scss/style.scss */
.clients .foreground {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
/* line 139, ../scss/style.scss */
.clients h2 {
  text-align: center;
  color: #fff;
  margin: 0 0 40px;
  position: relative;
  z-index: 9;
}
/* line 146, ../scss/style.scss */
.clients .partner span {
  width: 180px;
  height: 180px;
  margin: 15px auto;
  background: #fff;
  display: block;
  border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
  position: relative;
}

/* line 160, ../scss/style.scss */
footer {
  background: #413f3f;
  border-top: 2px solid #f15a09;
  padding: 30px 0 0;
}
/* line 164, ../scss/style.scss */
footer ul.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 28px;
}
/* line 169, ../scss/style.scss */
footer ul.footer-nav li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Open Sans Semibold;
}
/* line 175, ../scss/style.scss */
footer ul.footer-nav a:hover {
  color: #f5c564;
  text-decoration: none;
}

/* line 182, ../scss/style.scss */
ul.footer-contact {
  padding: 0;
  margin: 0;
}
/* line 185, ../scss/style.scss */
ul.footer-contact li {
  list-style: none;
  color: #b3b2b2;
  line-height: 28px;
  font-size: 14px;
}
/* line 190, ../scss/style.scss */
ul.footer-contact li i {
  padding: 0 12px 0 0;
}
/* line 193, ../scss/style.scss */
ul.footer-contact li a {
  color: #a8a7a7;
}
/* line 196, ../scss/style.scss */
ul.footer-contact li a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 203, ../scss/style.scss */
.social-media {
  margin-bottom: 12px;
}
/* line 205, ../scss/style.scss */
.social-media a {
  display: inline-block;
  color: #fff;
  padding: 0 18px 0 0;
  font-size: 22px;
}

/* line 213, ../scss/style.scss */
.copyright {
  background: #302e2e;
  margin-top: 20px;
}
/* line 216, ../scss/style.scss */
.copyright p {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  padding: 12px 0;
}
/* line 221, ../scss/style.scss */
.copyright p span {
  font-size: 12px;
  color: #979797;
}

@media (max-width: 768px) {
  /* line 236, ../scss/style.scss */
  .navigation {
    padding: 0;
  }
  /* line 238, ../scss/style.scss */
  .navigation .mobile-nav-icon {
    margin: 10px 0 0 0;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    border: none;
  }
  /* line 245, ../scss/style.scss */
  .navigation .mobile-nav-icon i {
    font-size: 25px;
  }
  /* line 249, ../scss/style.scss */
  .navigation .navbar-brand {
    padding: 12px 0!important;
    color: #fff;
  }

  /* line 256, ../scss/style.scss */
  .banner img {
    width: 90%;
    margin: 0 auto;
  }

  /* line 263, ../scss/style.scss */
  #head-content .headings h1 {
    font-size: 30px;
  }
  /* line 266, ../scss/style.scss */
  #head-content .headings h2 {
    font-size: 20px;
  }

  /* line 272, ../scss/style.scss */
  .start-btn {
    width: 100%!important;
  }

  /* line 276, ../scss/style.scss */
  .mobile-nav-icon {
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    color: #fff;
  }

  /* line 283, ../scss/style.scss */
  .mobile-nav {
    background: #fff;
    width: 100%;
  }
  /* line 286, ../scss/style.scss */
  .mobile-nav ul {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
  }
  /* line 291, ../scss/style.scss */
  .mobile-nav ul li {
    width: 100%;
  }
  /* line 293, ../scss/style.scss */
  .mobile-nav ul li a {
    width: 100%;
    color: #000!important;
    border-radius: 0;
  }

  /* line 304, ../scss/style.scss */
  .clients h2 {
    margin-bottom: 20px!important;
  }
  /* line 308, ../scss/style.scss */
  .clients .partner span {
    width: 100%!important;
    height: 100%!important;
  }
  /* line 311, ../scss/style.scss */
  .clients .partner span img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 324, ../scss/style.scss */
  .content {
    padding: 170px 0 20px!important;
  }
}
