.title h2 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: normal;
    color: #f58020;
}
#frm_payt_cc hr,
#frm_payt_otc hr,
.soa hr {
    border: none;
    height: 1px;
    background: #efefef;
}
.bill_label {
    font-family: Open Sans;
    color: #afafaf;
    font-size: 18px;
    margin: 0px;
    font-weight: normal;
}
.bill_value,
.bill_value:focus {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: 20px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background: transparent!important;
    box-shadow: none;
}
#month {
    width: 46%;
}
#day {
    margin: 0px 6px;
}
#day {
    width: 25%;
}
#year {
    width: 25%;
}
.payt_date,
.view_date,
#bill_amt,
#bill_ref_no {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: 20px;
    height: 53px;
    padding-left: 10px;
    box-shadow: none;
}
#bill_upload_btn {
    border-style: none;
    box-shadow: none;
    color: transparent;
}
.bill_btn {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    background-color: #ea6a1d;
    border: none;
    padding: 10.5px 0px;
    border-radius: 6px;
}
.bill_btn:hover {
    background-color: #DA5B10;
}
.img_thumb {
    width: 55px;
    height: 55px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: pink;
}
#dl_soa_btn {
    margin-right: 12px;
}
.soa_btn {
    font-family: Roboto;
    /*font-size: 18px;*/
    font-size: 14px;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding: 0px 12px;
}
.soa_btn:link,
.soa_btn:visited {
    white-space: nowrap;
    font-family: Roboto;
    /*font-size: 18px;*/
    font-size: 14px;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
}
.soa_btn:hover {
    background-color: #F1F1F1;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}
#searchDate {
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
    box-shadow: none;
    font-size: 16px;
    height: 42px;
    font-family: Open Sans;
    padding-left: 24px;
    color: #a7a6a6;
}
#calendarSpan {
    border-radius: 0px 60px 60px 0px!important;
    background-color: #ffffff;
    color: #afafaf;
    border-left: 0px;
}
#searchBtn {
    border: none!important;
    box-shadow: none;
}
#searchBtn a {
    color: #f58020;
    font-family: Open Sans;
    font-size: 14px;
}
#searchBtn a:hover {
    text-decoration: none;
    color: #EC730F;
}
#searchBtn a:active,
#searchBtn a:visited,
#searchBtn a:link {
    text-decoration: none;
}
td[class=record_num]{
     width:10%;
     text-align:center;
}
.record_num,
.soa_total_label {
    font-weight: bold;
}
.view_btn {
    font-size: 14px;
}
a[class=view_btn]:visited,
a[class=view_btn]:active,
a[class=view_btn]:link {
    text-decoration: none;
    color: #afafaf;
}
a[class=view_btn]:hover {
    text-decoration: none;
    color: #656565;
    cursor: pointer;
    cursor: hand;
}
.bill_hr hr {
    margin-top: 4px;
}
.bill_table td {
    height: 95px;
    border-top: none !important;
}
#soa_wrap{
    width:960px;
    margin:0 auto;
}
#soa_header{
    height:120px;
    width:100%;
    color:#555555;
    background-color:#fbfbfb;
}
#soa_header img{
    margin-top:34px;
    margin-left:96px;
    width: 120px;
}
#soa_header span{
    margin-top:44px;
    margin-right:96px;
    float:right;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
}
#soa_wrap .container{
    width:80%;
    margin:0 auto;
    min-height: 1060px;
}
.soa .left{
    width:49%;
    display:inline-block;
    vertical-align: top;
}
.soa .left img{
    display: block;
}

.soa_acctNum span {
    margin-top: 20px;
    display: inline-block;
}
.soa .row .right{
    width:50%;
    display:inline-block;
}
.soa h3 {

}
.soa td,
.soa th {
    border-top: none !important;
    padding: 4px 0px!important;
}
.soa hr {
    border-top: dashed 1px;
}
.soa_acctNum {
    /*font-size: 26px;*/
    font-size: 20px;
}
.soa_heading1,
#soa_name {
    /*font-size: 24px;*/
    font-size: 18px;
}
#soa_address {
    padding-left: 10px!important;
    width: 75%;
    color: #555555;
    /*font-size: 22px;*/
    font-size: 16px;
}
.soa_heading2{
    border-bottom:1px solid #f9f9f9;
}
.soa_heading1,
.soa_heading2,
.soa_items,
#soa_address,
.soa_amounts,
#soa_name,
.soa_acctNum,
.soa_total_label,
.soa_totalAmtDue {
    font-family: Open Sans!important;
}
.soa_heading2,
.soa_note {
    color: #939393;
}
.soa_heading1,
.soa_acctNum,
.soa_totalAmtDue {
    font-weight: bold;
}
.soa_totalAmtDue td {
    padding: 12px!important;
}
.breakdown_total td,
.soa_heading2 th {
    padding-top: 12px!important;
}
.soa_items,
.soa_heading2,
.soa_total_label,
.soa_totalAmtDue,
.soa_amounts {
    /*font-size: 20px;*/
    font-size: 16px;
}
.soa_heading1,
.soa_heading2 {
    font-weight: bold;
}
.soa_items {
    color: #535353;
}
.soa_item_list td {
    padding-top: 12px!important;
}
#soa_name {
    color: #555555;
}
.soa_amounts {
    color: #090909;
}
.soa_total_label,
.soa_totalAmtDue {
    color: #2a2a2a;
}
.align_right {
    text-align: right;
}
.orange_box {
    border: 2px solid #f8ae1a;
}
.orange_box td {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.statement_summary hr{
    border: none;height: 1px;
    background: #9a9a9a;
}
.curr_bill_charges{
    width:100%;
    border-collapse: collapse;
}
.curr_bill_charges th{
    text-align:left;
}
.account_summary {
    border: 2px solid #f9f9f9;
    padding: 30px 26px!important;
    float:right;
}
.account_summary table{
    border-collapse: collapse;
}
.account_summary td {
    padding-left: 8px!important;
    padding-right: 8px!important;
}
.account_summary th {
    text-align: center;
    border-bottom: none!important;
}
.soa_note {
    font-family: Open Sans;
    /*font-size: 19px;*/
    font-size: 14px;
    float:right;
    width: 344px;
}
.usage_breakdown{
    margin-top:40px;
}
.usage_breakdown table{
    width:100%;
    border-collapse: collapse;
}
.usage_breakdown th {
    border-bottom: none!important;
    padding-bottom: 16px!important;
}
.usage_breakdown #desc{
    width:25%;
    text-align:left;
}
#soa_footer{
    height:130px;
    width:100%;
    background-color:#32363f;
    color:#d5d5d5;
    margin-top:50px;
    font-family: Open Sans;
    font-size:12px;
    line-height:200%;
}
#soa_footer .left{
    width:50%;
    display:inline-block;
    margin-left:96px;
    margin-top:18px;
}
#soa_footer .right{
    width:25%;
    display:inline-block;
    vertical-align: top;
    float:right;
    text-align: right;
    margin-right:96px;
    margin-top:18px;
}
/*Remove number type spinner*/

#bill_ref_no::-webkit-outer-spin-button,
#bill_ref_no::-webkit-inner-spin-button,
#bill_amt::-webkit-outer-spin-button,
#bill_amt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Browse Button*/

label#custom_upload_btn input[type="file"] {
    position: fixed;
    top: -1000px;
}
#custom_upload_btn {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #f8ae1a;
    border-radius: 4px;
    margin: 0 auto;
    background: transparent;
    display: inline-block;
    color: #f8ae1a;
    height: 53px;
    padding: 12px 40px 0px 40px;
}
#custom_upload_btn:hover {
    background: #F1F1F1;
    cursor: pointer;
    cursor: hand;
}
.bill_popup h2 {
    color: #f58020;
    font-family: Open Sans;
    font-size: 30px;
}
.bill_popup p {
    color: #656565;
    font-family: Open Sans;
    font-size;
    16px
}
/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */

    position: fixed;
    /* Stay in place */

    z-index: 1;
    /* Sit on top */

    padding-top: 100px;
    /* Location of the box */

    left: 0;
    top: 0;
    width: 100%;
    /* Full width */

    height: 100%;
    /* Full height */

    overflow: auto;
    /* Enable scroll if needed */

    background-color: rgb(0, 0, 0);
    /* Fallback color */

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */

.modal-content {
    font-family: Open Sans;
    color: #afafaf;
    font-size: 16px;
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    width: 500px;
    margin: auto;
    border-radius: 0px;
    padding: 30px;
}
.modal-content button {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #ea6a1d;
    border: none;
    padding: 8px 50px;
    text-align: center;
    border-radius: 6px;
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

body.statement-pdf {
  padding: 0;
  margin: 0;
}
