/**
 * Custom CSS
 * Created by PhpStorm.
 * User: G.ELLURANGGO
 */
.font-family, body, #sidemenu {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

button, select {
  outline: none;
}

.noBorderRadius, #rightcontent .header .howdy button, #rightcontent .container #content .fixed-table-container, .modal .modal-content, .modal .modal-body input, .modal .modal-body textarea, .modal .modal-body select, .forAddBtn .input-group select, .setupPunch .input-group select, .promos .fordatepkr .input-group-addon, .achiveUnlock .fordatepkr .input-group-addon, .redemption .fordatepkr .input-group-addon, .promos .form-control, .achiveUnlock .form-control, .redemption .form-control, .quickstart .qsWrapper .qsBody input, .quickstart .qsWrapper .qsBody select, .quickstart .qsWrapper .qsBody textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.noBoxShadow, .form-control {
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
}

.saveButton, .design .saveDesign, .resetButton {
  font-size: 16px;
  height: 44px;
  width: 142px;
}

.spacing {
  margin-top: 40px !important;
}

i.fa {
  margin-right: 5px;
}

.form-control {
  padding: 6px 8px;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.noPadRight {
  padding-right: 0;
}

.noPadLeft {
  padding-left: 0;
}

body {
  background-color: #E6E9ED;
}

.hex, .design .choosePalete .hex, .design .tabletChoosePalete .hex, .design .cardTab .hexwrap .hex {
  float: left;
  background-color: #F8F8F7;
  border: 1px solid #E9E8E5;
  height: 28px;
  width: 90px;
  margin-left: -28px;
  text-align: right;
  padding-right: 5px;
  font-size: 11px;
  line-height: 25px;
}

#sidemenu {
  position: fixed;
  left: 0;
  min-width: 240px;
  width: 240px;
  float: left;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index: 3;
}
#sidemenu .logoholder {
  height: 76px;
  float: left;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #f5f5f5;
}
#sidemenu .logoholder img {
  margin: 17px auto;
  display: block;
}
#sidemenu #menu {
  background: #fff;
  float: left;
  width: 100%;
  /* Highlight Active Menu */
}
#sidemenu #menu ul {
  padding: 0;
  float: left;
}
#sidemenu #menu ul li {
  list-style: none;
  width: 100%;
  float: left;
}
#sidemenu #menu ul li a {
  color: #627181;
  display: block;
  float: left;
  width: 100%;
  outline: none;
  /*overflow: hidden;*/
  position: relative;
}
#sidemenu #menu ul li a i {
  height: 40px;
  width: 50px;
  float: left;
  margin-right: 14px;
}
#sidemenu #menu ul li a span {
  display: flex;
  align-items: center;
  height: 40px;
}
#sidemenu #menu ul li:hover, #sidemenu #menu ul li.active {
  background-color: #f8f8f8;
}
#sidemenu #menu a:hover, #sidemenu #menu a:active, #sidemenu #menu li.active a {
  text-decoration: none;
}
#sidemenu #menu .icon {
  background-repeat: no-repeat;
  background-image: url("../images/menu_icons.png");
}
#sidemenu #menu li.das .icon {
  background-position: 0 1px;
}
#sidemenu #menu li.ana .icon {
  background-position: 0 -146px;
}
#sidemenu #menu li.man .icon {
  background-position: 0 -293px;
}
#sidemenu #menu li.mer .icon {
  background-position: 0 -294px;
}
#sidemenu #menu li.add .icon {
  background-position: 0 -391px;
}
#sidemenu #menu li.des .icon {
  background-position: 0 -194px;
}
#sidemenu #menu li.pro .icon {
  background-position: 0 -46px;
}
#sidemenu #menu li.ach .icon {
  background-position: 0 -97px;
}
#sidemenu #menu li.rep .icon {
  background-position: 0 -636px;
}
#sidemenu #menu li.tra .icon {
  background-position: 0 -243px;
}
#sidemenu #menu li.hel .icon {
  background-position: 0 -436px;
}
#sidemenu #menu li.usr .icon {
  background-position: 0 -536px;
}
#sidemenu #menu li.out .icon {
  background-position: 0 -586px;
}
#sidemenu #menu li.sms .icon {
  background-position: 0 -339px;
}
#sidemenu #menu li.set .icon {
  background-position: 0 -484px;
}
#sidemenu #menu li.bil .icon {
  background-position: 0 -688px;
}
#sidemenu #menu li.activ {
  background-color: #f2f2f2;
}
#sidemenu #menu li.activ a > i {
  background-color: #f57f20;
}
#sidemenu #menu li.activ .icon {
  background-image: url("../images/menu_icons_hover.png");
}
#sidemenu #menu li.activ a {
  color: #161616;
  font-weight: 600;
}

#rightcontent {
  float: left;
  width: 100%;
  padding-left: 240px;
  background-color: #e7e7e7;
  margin: 0;
}
#rightcontent .header {
  height: 76px;
  width: 100%;
  background: #4b4f55;
  padding: 0 35px;
  float: left;
}
#rightcontent .header h3 {
  font-weight: normal;
  margin-top: 24px;
  color: #fff;
}
#rightcontent .header .howdy {
  margin-top: 10px;
}
#rightcontent .header .howdy .btn-group {
  float: right;
}
#rightcontent .header .howdy img {
  margin-right: 10px;
}
#rightcontent .header .howdy button {
  border: 0;
  font-size: 15px;
}
#rightcontent .header .howdy button .caret {
  margin-left: 10px;
}
#rightcontent .header .howdy button:hover {
  background-color: #fefefe;
}
#rightcontent .header .howdy button.dropdown-toggle {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  background-color: #4b4f55;
  color: #fff;
}
#rightcontent .header .howdy .dropdown-menu {
  width: 100%;
}
#rightcontent .container {
  width: 100%;
  padding: 0 35px;
}
#rightcontent .container .search {
  margin-top: 18px;
  float: left;
}
#rightcontent .container .search input[type="text"] {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 0 12px;
  height: 42px;
}
#rightcontent .container .search button {
  border-color: #ccc;
  background-color: #fff;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-left: 0;
  outline: 0;
  padding: 10px 12px;
  height: 42px;
}
#rightcontent .container .search button i {
  color: #AEAAA5;
}
#rightcontent .container #content {
  background-color: #fff;
  margin-top: 18px;
  float: left;
  width: 100%;
  min-height: 400px;
}
#rightcontent .container #content .navTabsWrap {
  background-color: #F2F4F6;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#rightcontent .container #content .navTabsWrap .nav-tabs {
  float: left;
  border-bottom: 0;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li {
  margin-bottom: -2px;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li a {
  border-radius: 0;
  margin-right: 0;
  margin-top: -1px;
  color: #747474;
  font-weight: 500;
  background-image: url("../images/navtabsborder.jpg");
  background-position: right center;
  background-repeat: no-repeat;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li.active a {
  font-weight: 600;
  background-image: none;
}
#rightcontent .container #content .navTabsWrap .addNew {
  float: right;
  color: #747474;
  padding: 10px 15px;
}
#rightcontent .container #content .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 400px;
  padding: 1%;
}
#rightcontent .container #content .data-table {
  color: #575454;
  border: 0;
  margin-top: 15px;
}
#rightcontent .container #content .data-table td, #rightcontent .container #content .data-table th {
  border: 0 !important;
}
#rightcontent .container #content .data-table .edit, #rightcontent .container #content .data-table .delete {
  color: #C7C0BA;
  margin-left: 20px;
  float: right;
}
#rightcontent .container #content .data-table tbody tr {
  background-color: #F2F4F6;
  border-bottom: 1px solid #fff;
}
#rightcontent .container #content .data-table tbody tr:hover {
  background-color: #FFF6D8;
}
#rightcontent .container #content .data-table.management tr td:last-child, #rightcontent .container #content .data-table.management tr th:last-child {
  border-left: 0;
}
#rightcontent .container #content .fixed-table-container {
  border: 0;
}

.modal .modal-dialog {
  width: 430px;
}
.modal .modal-header {
  height: 50px;
  font-size: 18px;
  padding: 15px 34px;
  border-bottom: 0;
}
.modal .modal-content span.ex {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
.modal .modal-content span.ex i {
  font-size: 20px;
  color: #E9E6E3;
}
.modal .modal-body {
  padding: 15px 34px;
  background-color: #F0F3F5;
}
.modal .modal-body label {
  font-weight: normal;
  color: #a3a3a3;
}
.modal .modal-body input, .modal .modal-body textarea, .modal .modal-body select {
  margin-bottom: 20px;
  border-color: transparent;
}
.modal .modal-body input[type="text"] {
  padding: 0 12px;
  height: 42.2px;
}
.modal .modal-body select {
  height: 42.2px;
}
.modal .modal-body textarea {
  width: 100%;
  resize: none;
}

#addBranch button, #addEmployee button, #addTablet button, #merchantDetails button, #addUser button {
  width: 48%;
  padding: 12px;
}
#addBranch label[for=fourDigit] a i, #addEmployee label[for=fourDigit] a i, #addTablet label[for=fourDigit] a i, #merchantDetails label[for=fourDigit] a i, #addUser label[for=fourDigit] a i {
  color: #a3a3a3;
}

@keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
  animation: clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease;
}

.withIco {
  font-size: 16px;
  color: #666464;
  margin-bottom: 20px;
}
.withIco img {
  margin-right: 10px;
}

.design {
  padding: 20px 30px;
}
.design .cardTab,
.design .tabletTab {
  display: none;
}
.design .mobileTab,
.design .cardTab,
.design .tabletTab,
.design .stampIconTab {
  float: left;
  width: 100%;
}
.design .mobileTab .col-md-4,
.design .cardTab .col-md-4,
.design .tabletTab .col-md-4,
.design .stampIconTab .col-md-4 {
  /*padding:0;*/
}
.design .mobileTab .col-md-4 .col-xs-12,
.design .cardTab .col-md-4 .col-xs-12,
.design .tabletTab .col-md-4 .col-xs-12,
.design .stampIconTab .col-md-4 .col-xs-12 {
  margin: 10px 0 20px 0;
}
.design .btn#btnTablet,
.design .btn#btnCard,
.design .btn#btnMobile,
.design .btn#btnStampIcon {
  float: left;
  /*width:85px;*/
  height: 40px;
}
.design .imgPrev {
  float: left;
  margin-right: 20px;
  width: 63px;
}
.design .mobileTablet {
  margin-top: 30px;
  margin-bottom: 20px;
}
.design .left .col-md-12 {
  margin-top: 30px;
}
.design .btn-file {
  position: relative;
  overflow: hidden;
  font-size: 13px;
  width: 90px;
  height: 32px;
  border: 0;
  background-color: #F6F5F4;
}
.design .btn-file input[type=file] {
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  cursor: pointer;
}
.design .uploadLogo i, .design .addBackImage i, .design .choosePalete i, .design .upStampC i, .design .upStampG i, .design .cardUploadLogo i, .design .cardAddBackImage i, .design .cardAddBackColor i, .design .tabletUploadLogo i, .design .tabletAddBackImage i, .design .tabletChoosePalete i {
  font-size: 10px;
  color: #cccaca;
  width: 100%;
  float: left;
  margin-top: 10px;
}
.design .uploadLogo .sp, .design .addBackImage .sp, .design .choosePalete .sp, .design .upStampC .sp, .design .upStampG .sp, .design .cardUploadLogo .sp, .design .cardAddBackImage .sp, .design .cardAddBackColor .sp, .design .tabletUploadLogo .sp, .design .tabletAddBackImage .sp, .design .tabletChoosePalete .sp {
  float: left;
  width: 100%;
  color: #a29f9f;
  font-size: 12px;
  margin-bottom: 5px;
}
.design .upStampG {
  margin-top: 15px;
}
.design .choosePalete .sp-replacer, .design .tabletChoosePalete .sp-replacer {
  float: left;
}
.design .choosePalete .customPaletteBox, .design .tabletChoosePalete .customPaletteBox {
  margin-top: 10px;
  float: left;
}
.design .choosePalete .col-md-4, .design .tabletChoosePalete .col-md-4 {
  /*padding:0;*/
  /*.col-xs-12{
    margin:8px 0;
  }*/
}
.design .choosePalete .col-md-4 i, .design .tabletChoosePalete .col-md-4 i {
  font-size: 12px;
  font-style: normal;
  color: #a7a7a7;
  margin-bottom: 9px;
}
.design .choosePalete .presetPalette, .design .tabletChoosePalete .presetPalette {
  float: left;
}
.design .choosePalete .presetPalette button, .design .tabletChoosePalete .presetPalette button {
  width: 174px;
  padding: 0;
  border: 0;
}
.design .choosePalete .presetPalette button .p1, .design .choosePalete .presetPalette button .p2, .design .choosePalete .presetPalette button .p3, .design .choosePalete .presetPalette button .tp1, .design .choosePalete .presetPalette button .tp2, .design .choosePalete .presetPalette button .tp3, .design .tabletChoosePalete .presetPalette button .p1, .design .tabletChoosePalete .presetPalette button .p2, .design .tabletChoosePalete .presetPalette button .p3, .design .tabletChoosePalete .presetPalette button .tp1, .design .tabletChoosePalete .presetPalette button .tp2, .design .tabletChoosePalete .presetPalette button .tp3 {
  width: 46px;
  height: 38px;
  float: left;
}
.design .choosePalete .presetPalette button#tabletPrePalette, .design .tabletChoosePalete .presetPalette button#tabletPrePalette {
  width: 128px;
}
.design .choosePalete .presetPalette .caret, .design .tabletChoosePalete .presetPalette .caret {
  border: 0;
  float: right;
  height: 38px;
  width: 36px;
  background: url("../images/caret.png") no-repeat center #F0EFED;
}
.design .choosePalete .presetPalette .prePaletteMnu, .design .choosePalete .presetPalette .tabletPrePaletteMnu, .design .tabletChoosePalete .presetPalette .prePaletteMnu, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu {
  right: -176px;
  left: inherit;
  padding: 24px 26px;
  margin-top: -90%;
}
.design .choosePalete .presetPalette .prePaletteMnu li, .design .choosePalete .presetPalette .tabletPrePaletteMnu li, .design .tabletChoosePalete .presetPalette .prePaletteMnu li, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li {
  margin-bottom: 12px;
}
.design .choosePalete .presetPalette .prePaletteMnu li a, .design .choosePalete .presetPalette .tabletPrePaletteMnu li a, .design .tabletChoosePalete .presetPalette .prePaletteMnu li a, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li a {
  display: block;
  padding: 0;
}
.design .choosePalete .presetPalette .prePaletteMnu li a i, .design .choosePalete .presetPalette .tabletPrePaletteMnu li a i, .design .tabletChoosePalete .presetPalette .prePaletteMnu li a i, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li a i {
  width: 58px;
  height: 38px;
  float: left;
  margin: 0;
}
.design .choosePalete .presetPalette .prePaletteMnu li span, .design .choosePalete .presetPalette .tabletPrePaletteMnu li span, .design .tabletChoosePalete .presetPalette .prePaletteMnu li span, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li span {
  color: #818181;
  font-size: 11px;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette1 i:first-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:first-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette1 i:first-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:first-child {
  background-color: #222532;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette1 i:nth-child(2), .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:nth-child(2), .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette1 i:nth-child(2), .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:nth-child(2) {
  background-color: #009573;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette1 i:last-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:last-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette1 i:last-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette1 i:last-child {
  background-color: #8CE994;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette2 i:first-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:first-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette2 i:first-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:first-child {
  background-color: #43062E;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette2 i:nth-child(2), .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:nth-child(2), .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette2 i:nth-child(2), .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:nth-child(2) {
  background-color: #922648;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette2 i:last-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:last-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette2 i:last-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette2 i:last-child {
  background-color: #F90047;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette3 i:first-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:first-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette3 i:first-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:first-child {
  background-color: #2F2F2C;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette3 i:nth-child(2), .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:nth-child(2), .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette3 i:nth-child(2), .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:nth-child(2) {
  background-color: #005B67;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette3 i:last-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:last-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette3 i:last-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette3 i:last-child {
  background-color: #00A8A0;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette4 i:first-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:first-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette4 i:first-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:first-child {
  background-color: #FFF7EA;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette4 i:nth-child(2), .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:nth-child(2), .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette4 i:nth-child(2), .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:nth-child(2) {
  background-color: #00ECFF;
}
.design .choosePalete .presetPalette .prePaletteMnu li.palette4 i:last-child, .design .choosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:last-child, .design .tabletChoosePalete .presetPalette .prePaletteMnu li.palette4 i:last-child, .design .tabletChoosePalete .presetPalette .tabletPrePaletteMnu li.palette4 i:last-child {
  background-color: #00CBD6;
}
.design .choosePalete .savePalette, .design .tabletChoosePalete .savePalette {
  float: right;
  width: 102px;
  border: 1px solid #C3BFB9;
}
.design .saveDesign {
  margin-top: 30px;
}
.design .right {
  text-align: center;
}
.design .mobileFrame .screen1 {
  float: right !important;
}
.design .mobileFrame .screen1 .customMobileBgImg {
  background-image: url("../images/fidelityMobileDesignBg.jpg");
}
.design .mobileFrame .screen1, .design .mobileFrame .screen2 {
  background: url("../images/androidFrame.jpg") no-repeat top center;
  float: left;
  width: 237px;
  height: 462px;
  margin: 58px auto 0;
}
.design .mobileFrame .screen1 .customMobileBgImg, .design .mobileFrame .screen2 .customMobileBgImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.design .mobileFrame .screen1 .customMobileBgImg, .design .mobileFrame .screen1 .customMobileBgColor, .design .mobileFrame .screen1 .screen2box, .design .mobileFrame .screen2 .customMobileBgImg, .design .mobileFrame .screen2 .customMobileBgColor, .design .mobileFrame .screen2 .screen2box {
  width: 216px;
  margin: 42px auto 0 auto;
  height: 382px;
}
.design .mobileFrame .screen1 .inside, .design .mobileFrame .screen2 .inside {
  width: 100%;
  height: 382px;
  background: url("../images/fidelityMobileDesign.png") top center no-repeat;
}
.design .mobileFrame .screen1 .inside .customLogo, .design .mobileFrame .screen2 .inside .customLogo {
  margin: 46px auto 0 auto;
  height: 120px;
  width: 120px;
}
.design .mobileFrame .screen1 .screen2box, .design .mobileFrame .screen2 .screen2box {
  background-color: #F3F7F5;
}
.design .mobileFrame .screen1 .screen2box .topPane, .design .mobileFrame .screen2 .screen2box .topPane {
  height: 26px;
  width: 100%;
  float: left;
  background-color: #00C9FF;
}
.design .mobileFrame .screen1 .screen2box .text, .design .mobileFrame .screen2 .screen2box .text {
  height: 60px;
  float: left;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
}
.design .mobileFrame .screen1 .screen2box .text p, .design .mobileFrame .screen2 .screen2box .text p {
  font-size: 8px;
}
.design .mobileFrame .screen1 .screen2box .stampWrap, .design .mobileFrame .screen2 .screen2box .stampWrap {
  float: left;
  width: 100%;
  padding-top: 10px;
}
.design .mobileFrame .screen1 .screen2box .stampWrap ul, .design .mobileFrame .screen2 .screen2box .stampWrap ul {
  padding: 0;
  text-align: center;
}
.design .mobileFrame .screen1 .screen2box .stampWrap ul li, .design .mobileFrame .screen2 .screen2box .stampWrap ul li {
  border: 1px solid #00D4FE;
  margin-bottom: 26px;
  color: #00D4FE;
  margin-right: 20px;
  font-size: 17px;
  padding: 8px 0;
  display: inline-block;
  width: 42px;
  height: 42px;
  list-style: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.design .mobileFrame .screen1 .screen2box .stampWrap ul li:nth-child(3n+3), .design .mobileFrame .screen2 .screen2box .stampWrap ul li:nth-child(3n+3) {
  margin-right: 0;
}
.design .mobileFrame .screen1 .screen2box .stampWrap ul li.g, .design .mobileFrame .screen2 .screen2box .stampWrap ul li.g {
  border-color: #B7EBF5;
  color: #B7EBF5;
}
.design .mobileFrame .screen1 .screen2box .redeem, .design .mobileFrame .screen2 .screen2box .redeem {
  width: 174px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  background-color: #00C9FF;
}
.design .design #topPaneLabel {
  top: 10%;
  position: relative;
}
.design .cardFrame {
  text-align: center;
}
.design .cardFrame .cardWrap {
  margin: 88px auto;
  max-width: 505px;
  height: 305px;
  background-color: #ECEAE8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.design .cardFrame .cardWrap .overlay {
  float: left;
  width: 100%;
  height: 100%;
}
.design .cardFrame .cardWrap .cardLogo {
  margin: 46px 0 0 41px;
  width: 109px;
  height: 109px;
  float: left;
}
.design .cardFrame .cardWrap .qr {
  float: right;
  margin: 46px 46px 0 0;
}
.design .cardTab .hexwrap {
  float: left;
}
.design .cardTab .hexwrap .hex {
  width: 100px;
}
.design .cardTab .hexwrap .sp-replacer {
  float: left;
}
.design .tabletTab .tabletFrame {
  background: url("../images/ipad.jpg") no-repeat top center;
  margin: 58px auto 0;
  width: 493px;
  height: 340px;
}
.design .tabletTab .tabletFrame .tabletLayout {
  background: url("../images/tabletCustomBg.jpg") no-repeat center;
  width: 447px;
  height: 280px;
  margin: 37px 0 0 22px;
  float: left;
  background-size: cover;
}
.design .tabletTab .tabletFrame .customTablet {
  background: url("../images/tabletBg.png") no-repeat center;
  width: 448px;
  height: 280px;
  float: left;
}
.design .tabletTab .tabletFrame .customTablet img.tabletCustomLogo {
  width: 60px;
  margin-top: 12px;
  height: 60px;
}
.design .tabletTab .tabletFrame .customTablet .customButton {
  background-color: #00AFEE;
  color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 126px;
  border-radius: 4px;
  width: 176px;
}

.noTab {
  padding: 1%;
}
.noTab table.data-table {
  margin-top: 0 !important;
}

.forAddBtn {
  margin-top: 18px;
}
.forAddBtn .input-group {
  float: right;
  width: 182px;
}
.forAddBtn .input-group .input-group-addon {
  border: 0;
  background-color: transparent;
}
.forAddBtn .btn-default {
  background-color: #fff;
  float: right;
  height: 40px;
  width: 124px;
  padding: 10px;
}

.setupPunch .row {
  width: 360px;
}
.setupPunch .input-group {
  float: right;
}
.setupPunch .input-group .input-group-addon {
  border: 0;
  background-color: transparent;
}

.setupPunch.promos .input-group input {
  border-right: 1px solid #D3D0CB;
}

.promos, .achiveUnlock, .redemption {
  padding: 20px 30px;
}
.promos .fa.del, .promos .fa.edit, .achiveUnlock .fa.del, .achiveUnlock .fa.edit, .redemption .fa.del, .redemption .fa.edit {
  margin-top: 12px;
  margin-left: 10px;
  color: #D5D8E1;
}
.promos .pts, .achiveUnlock .pts, .redemption .pts {
  background-color: #eeeeee !important;
  border: 1px solid #ccc !important;
  border-left: 0 !important;
}
.promos .rProdImg .imgPrev, .achiveUnlock .rProdImg .imgPrev, .redemption .rProdImg .imgPrev {
  width: 63px;
}
.promos .btn-file, .achiveUnlock .btn-file, .redemption .btn-file {
  position: relative;
  overflow: hidden;
  font-size: 13px;
  width: 90px;
  height: 42px;
  border: 1px solid #D3D0CB;
  background-color: #F6F5F4;
  padding: 10px;
}
.promos .btn-file input[type=file], .achiveUnlock .btn-file input[type=file], .redemption .btn-file input[type=file] {
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  cursor: pointer;
}
.promos #rDescription, .achiveUnlock #rDescription, .redemption #rDescription {
  min-height: 42px;
  /*min-width:250px;*/
}
.promos .fordatepkr input, .achiveUnlock .fordatepkr input, .redemption .fordatepkr input {
  border-right: none;
}
.promos .fordatepkr .input-group-addon, .achiveUnlock .fordatepkr .input-group-addon, .redemption .fordatepkr .input-group-addon {
  border: 1px solid #D3D0CB;
  border-left: none;
}
.promos .addAchievement, .achiveUnlock .addAchievement, .redemption .addAchievement {
  margin: 30px 0;
}
.promos .input-group-addon, .achiveUnlock .input-group-addon, .redemption .input-group-addon {
  background-color: transparent;
  border: 0;
  padding-left: 0;
}
.promos .input-group-addon:last-child, .achiveUnlock .input-group-addon:last-child, .redemption .input-group-addon:last-child {
  padding-left: 10px !important;
}
.promos .row, .achiveUnlock .row, .redemption .row {
  margin-bottom: 20px;
}
.promos h4, .achiveUnlock h4, .redemption h4 {
  font-size: 21px;
  color: #666464;
  margin-bottom: 25px;
}
.promos h5, .achiveUnlock h5, .redemption h5 {
  font-size: 19px;
  color: #111315;
}
.promos label, .promos h6, .achiveUnlock label, .achiveUnlock h6, .redemption label, .redemption h6 {
  color: #969595;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}
.promos .form-control, .achiveUnlock .form-control, .redemption .form-control {
  height: 42px;
  border: 1px solid #D3D0CB;
}
.promos .amountProduct a, .achiveUnlock .amountProduct a, .redemption .amountProduct a {
  font-size: 14px;
  color: #b9b8b8;
  float: left;
  padding: 0 15px;
}
.promos .amountProduct a:first-child, .achiveUnlock .amountProduct a:first-child, .redemption .amountProduct a:first-child {
  border-right: 1px solid;
}
.promos .amountProduct a.active, .promos .amountProduct a:hover, .achiveUnlock .amountProduct a.active, .achiveUnlock .amountProduct a:hover, .redemption .amountProduct a.active, .redemption .amountProduct a:hover {
  font-weight: 600;
  color: #438787;
}
.promos .earningReward1, .promos .earningReward2, .achiveUnlock .earningReward1, .achiveUnlock .earningReward2, .redemption .earningReward1, .redemption .earningReward2 {
  background-color: #F6F7F9;
  padding: 26px 34px;
  float: left;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 20px;
}
.promos .earningReward1 .form-control, .promos .earningReward2 .form-control, .achiveUnlock .earningReward1 .form-control, .achiveUnlock .earningReward2 .form-control, .redemption .earningReward1 .form-control, .redemption .earningReward2 .form-control {
  float: left;
}
.promos .earningReward1 .input-group-addon, .promos .earningReward2 .input-group-addon, .achiveUnlock .earningReward1 .input-group-addon, .achiveUnlock .earningReward2 .input-group-addon, .redemption .earningReward1 .input-group-addon, .redemption .earningReward2 .input-group-addon {
  background-color: transparent;
  border: 0;
  padding-left: 0;
}
.promos .earningReward1 .input-group-addon:last-child, .promos .earningReward2 .input-group-addon:last-child, .achiveUnlock .earningReward1 .input-group-addon:last-child, .achiveUnlock .earningReward2 .input-group-addon:last-child, .redemption .earningReward1 .input-group-addon:last-child, .redemption .earningReward2 .input-group-addon:last-child {
  padding-left: 10px !important;
}
.promos .earningReward1 .rewards, .promos .earningReward1 .prodWrap, .promos .earningReward2 .rewards, .promos .earningReward2 .prodWrap, .achiveUnlock .earningReward1 .rewards, .achiveUnlock .earningReward1 .prodWrap, .achiveUnlock .earningReward2 .rewards, .achiveUnlock .earningReward2 .prodWrap, .redemption .earningReward1 .rewards, .redemption .earningReward1 .prodWrap, .redemption .earningReward2 .rewards, .redemption .earningReward2 .prodWrap {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.promos .earningReward1 .addReward, .promos .earningReward2 .addReward, .achiveUnlock .earningReward1 .addReward, .achiveUnlock .earningReward2 .addReward, .redemption .earningReward1 .addReward, .redemption .earningReward2 .addReward {
  background-color: #E5E7ED;
  border: 0;
  font-size: 13px;
  margin-top: 20px;
}
.promos .earningReward2, .achiveUnlock .earningReward2, .redemption .earningReward2 {
  display: none;
}
.promos .earningReward2 .fa.del, .achiveUnlock .earningReward2 .fa.del, .redemption .earningReward2 .fa.del {
  color: #D6D8DF;
  font-size: 16px;
  line-height: 38px;
}

#merchantDetails .modal-dialog {
  width: 542px;
}
#merchantDetails input {
  background-color: transparent;
  cursor: text;
  margin-bottom: 6px;
}
#merchantDetails select {
  margin-bottom: 6px;
  background-color: transparent;
  border: 1px solid #ccc;
}
#merchantDetails label {
  margin-top: 8px;
}
#merchantDetails #merchDepSlip {
  margin-top: 6px;
}
#merchantDetails .form-group {
  margin-bottom: 5px;
}

.actionButton {
  margin-top: 20px;
}

#addUser .radio {
  margin-top: 0;
}

.dashboard {
  background-color: transparent !important;
  width: 100%;
  float: left;
  margin-top: 10px !important;
}
.dashboard .counts {
  margin-top: 35px;
  color: #fff;
}
.dashboard .counts .count {
  padding: 0;
  width: 100%;
  float: left;
}
.dashboard .counts .count li {
  list-style: none;
  height: 264px;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  text-align: center;
}
.dashboard .counts .count li p {
  font-size: 17px;
  min-height: 48px;
}
.dashboard .counts .count li h3 {
  font-size: 65px;
  font-weight: 600;
}
.dashboard .counts .count li:first-child {
  background: url("../images/newSignups.jpg") bottom center #f00a4a;
}
.dashboard .counts .count li:nth-child(2) {
  background: url("../images/prodRewarded.jpg") bottom center #A3E7A1;
}
.dashboard .counts .count li:last-child {
  background: url("../images/recentTrans.jpg") bottom center #00977B;
}

#monthlyReport {
  overflow: auto;
}
#monthlyReport .line {
  stroke: #0c9b81;
  stroke-width: 1;
  fill: none;
}
#monthlyReport .axis {
  shape-rendering: crispEdges;
}
#monthlyReport .x.axis line {
  stroke: rgba(88, 89, 93, 0.12);
}
#monthlyReport .x.axis .minor {
  stroke-opacity: .5;
}
#monthlyReport .x.axis path {
  display: none;
}
#monthlyReport .y.axis line, #monthlyReport .y.axis path {
  fill: none;
  stroke: rgba(88, 89, 93, 0.5);
}
#monthlyReport .axis path,
#monthlyReport .axis line {
  fill: none;
  stroke: rgba(88, 89, 93, 0.3);
  shape-rendering: crispEdges;
}
#monthlyReport .axis text {
  font: 12px;
  fill: rgba(35, 31, 32, 0.5);
}
#monthlyReport .tick text {
  font-size: 12px;
}
#monthlyReport .tick line {
  opacity: 1;
}

.qsTwo, .qsThree, .qsFour, .qsFive, .qsSix, .qsFinish {
  display: none;
}

.punchcard {
  /*display: none;*/
}

.loyalty {
  /*display: none;*/
}

.quickstart {
  position: fixed;
  background-image: url("../images/qsBg.png");
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  overflow-y: auto;
}
.quickstart .content {
  width: 70%;
  margin: 4% auto;
}
.quickstart .steps h3 {
  color: #fff;
  margin-top: 10px;
}
.quickstart .steps .col-md-1-7 {
  width: 14.2%;
}
.quickstart .steps span {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 18px;
  width: 27px;
  height: 27px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}
.quickstart .steps .right {
  float: left;
  margin-left: 10px;
}
.quickstart .steps .right p.t {
  color: #e1e1e1;
  margin-bottom: 5px;
}
.quickstart .steps .right p.d {
  font-size: 11px;
  color: #fff;
}
.quickstart .steps img {
  position: absolute;
  left: 20px;
  bottom: -32px;
  display: none;
}
.quickstart .steps .active span {
  background-color: #f6ae1c;
  border: 0;
}
.quickstart .steps .active img {
  display: block;
}
.quickstart .steps .active p.t {
  color: #f6ae1c;
}
.quickstart .steps .done span {
  background-color: #f6ae1c;
  border: 0;
}
.quickstart .steps .done img {
  display: none;
}
.quickstart .steps .done p.t {
  color: #f6ae1c;
}
.quickstart .qsWrapper {
  background-color: #FAFAF9;
  width: 100%;
  float: left;
  margin-top: 12px;
}
.quickstart .qsWrapper .qsHeader {
  background-color: #fff;
  padding: 24px;
}
.quickstart .qsWrapper .qsHeader h2 {
  font-size: 20px;
  margin: 0;
}
.quickstart .qsWrapper .qsBody {
  padding: 2% 0;
  min-height: 330px;
}
.quickstart .qsWrapper .qsBody .form-group {
  float: left;
  width: 100%;
}
.quickstart .qsWrapper .qsBody .stampsWrap {
  width: 450px;
  margin: 0 auto;
  margin-top: 5%;
}
.quickstart .qsWrapper .qsBody .stampsWrap h4 {
  margin-bottom: 20px;
}
.quickstart .qsWrapper .qsBody .stampsWrap .row {
  margin-bottom: 30px;
}
.quickstart .qsWrapper .qsBody .stampsWrap .input-group-addon {
  border: 0;
  background-color: transparent;
}
.quickstart .qsWrapper .qsBody .stampsWrap input[name="stamps"] {
  height: 70px;
}
.quickstart .qsWrapper .qsBody .stampsWrap label {
  font-weight: normal;
}
.quickstart .qsWrapper .qsBody .design {
  float: left;
}
.quickstart .qsWrapper .qsBody #saveCustomerAppPalette {
  float: none;
  margin-top: 15px;
}
.quickstart .qsWrapper .qsFooter {
  float: left;
  width: 100%;
  padding: 24px;
  color: #9a9da0;
}
.quickstart .qsWrapper .qsFooter button {
  width: 100px;
}
.quickstart .qsWrapper .qsFooter button .fa {
  margin-left: 5px;
  margin-right: 5px;
}
.quickstart .qsWrapper .qsFooter button.nextStep {
  color: #fff;
  background-color: #f6ae1c;
  float: right;
}
.quickstart .qsWrapper .qsFooter button.backStep {
  float: left;
}
.quickstart .qsFinish .qsBody {
  text-align: center;
}
.quickstart .qsFinish .qsBody h3 {
  margin-top: 5%;
}
.quickstart .qsFinish .qsBody button {
  margin-top: 2%;
  border-color: #00B181;
  height: 56px;
  width: 210px;
}

.actionWrapper {
  margin: 10px auto;
  width: 100%;
}
.actionWrapper button {
  width: 48%;
  margin-top: 20px;
  padding: 12px;
}

.fixed-table-toolbar {
  position: relative;
}
.fixed-table-toolbar .pull-right.search {
  position: absolute;
  top: -86px;
  left: -1%;
  width: 300px;
}
.fixed-table-toolbar .pull-right.search input[type="text"] {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0 32px 0 12px !important;
  background: url("../images/sIco.png") no-repeat right center #fff;
}

.pagination-info, .page-list, .pagination {
  font-size: 12px;
}

.account {
  padding: 20px;
}
.account #changePassword {
  margin-top: 30px;
}
.account #changePassword label {
  font-weight: normal;
}

.tooltip {
  z-index: 999;
}

i.number {
  font-style: normal;
  border: 2px solid #CECECE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 24px !important;
  float: left !important;
  height: 24px;
  padding: 4px;
  color: #cecece;
  font-size: 12px !important;
  margin-top: 0 !important;
  text-align: center;
  margin-right: 10px;
}

.prodImgR {
  width: 10.33333%;
}

.itemsRedeemed {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.itemsRedeemed .mobileOnly {
  display: none;
}

.marginTop {
  margin-top: 76px !important;
}

#historyTable .fht-cell {
  height: 0px !important;
}
#historyTable th {
  outline: none;
}

.filterControl {
  position: absolute;
  right: 0;
  top: -80px;
}

.transHistory {
  /*margin-top:32px!important;*/
}

.filterLabel .input-group {
  margin-right: 120px;
  margin-top: 14px;
}

#notes {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 40px;
  z-index: 9;
  background: rgba(255, 187, 62, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;
}
#notes a {
  float: right;
  margin-right: 20px;
  color: #ECFFD6;
  cursor: pointer;
}

.design .btn#btnMobile {
  /*width: 118px;*/
}

#stamps {
  padding: 10px 0;
}
#stamps ul {
  padding: 0;
  margin: 0;
}
#stamps ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
}
#stamps ul li a {
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 14px;
  border: 1px solid #eee;
  background: #fff;
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #999999;
}
#stamps ul li a.bordered {
  border: 2px solid #333;
}
#stamps ul li a:hover, #stamps ul li a.with-stamp {
  background: #999999;
  color: #fff;
}
#stamps ul li .inputHere {
  display: none;
  position: absolute;
  width: 300px;
  background: rgba(0, 123, 117, 0.65);
  padding: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  top: -53px;
  right: 26px;
  z-index: 99;
}
#stamps ul li .inputHere textarea {
  width: 220px;
  float: left;
}
#stamps ul li .inputHere button {
  background-color: #fff;
  color: #333;
}
#stamps .modal {
  text-align: left;
}
#stamps .modal-body {
  background: #fff;
  padding: 0 20px;
}
#stamps .modal-body .fileinput-button {
  background: #E6E9ED;
  width: 100%;
  color: #666464;
  border: none;
  padding: 50px 0;
  position: relative;
  z-index: 2;
}
#stamps .modal-body .fileinput-button canvas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100% !important;
}
#stamps .modal-body .fileinput-button.with-img {
  background: transparent;
  color: #fff;
}
#stamps .modal-body textarea {
  border: 1px solid #d3d0cb;
  border-radius: 5px;
  height: 60px;
}
#stamps .modal-header {
  text-align: center;
}
#stamps .modal-footer {
  border-top: 0;
  padding: 0 20px 20px 20px;
}
#stamps .modal-footer button {
  width: 100%;
}

.stamp-conversion {
  background: #E6E9ED;
  padding: 20px;
}
.stamp-conversion .row {
  margin-bottom: 0;
  padding-bottom: 0;
}
.stamp-conversion .stamp-amount {
  float: left;
  margin-left: 10px;
}
.stamp-conversion .stamp-amount input {
  text-align: right;
  width: 100px;
}
.stamp-conversion .stamp-no {
  float: left;
}

.step5 .btn-file {
  position: relative;
  overflow: hidden;
  font-size: 13px;
  width: 90px;
  height: 32px;
  border: 0;
  background-color: #F6F5F4;
}

.step5 .btn-file input[type=file] {
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  cursor: pointer;
}

.appstoreLogo i {
  font-size: 11px;
  color: #aaa;
}
.appstoreLogo .imgPrev {
  width: 350px;
  height: 350px;
}

.stamp-grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.redemption-name,
.redemption-description,
.redemption-points {
  color: #999999;
}

.redemption-image {
  border: 1px solid #333333;
}

.redemption-header {
  font-weight: bold;
  color: #999999;
}

.mul-color {
  background-color: #ccc;
}

#content.promos {
  background: none !important;
  padding: 0 !important;
}

/* Program Mechanics Fix */
#content.promos.setupPunch,
#content.promos.settings {
  background-color: #fff !important;
  padding: 20px 30px !important;
}

#content section {
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.promos .input-group-addon,
.promos input[type=text] {
  background-color: #e6e9ed;
}

.promos .input-group-addon {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.promos .input-group input {
  border-right: 0;
}

.form-promo-search {
  position: relative;
}

.form-promo-search input[type=text] {
  background: #fff;
  border-radius: 25px;
  /*border:none;*/
  padding-left: 15px;
}

.form-promo-search .fa-search {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  border: 0;
  background: none;
  color: #d3d0cb;
}

.promo-list .fixed-table-body {
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 10px;
}

.promo-list .new-punchcard {
  margin-bottom: -95px;
  border-radius: 4px;
}

.promo-list .fixed-table-toolbar .pull-right.search {
  left: static;
  position: static;
  top: static;
  width: static;
}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
.btn {
  border-radius: 4px;
}

.btn#btnTablet, .btn#btnMobile {
  border-radius: 0;
}

/* Recompile */
.design .mobileFrame .screen1 .screen2box .qrcodeWrap, .design .mobileFrame .screen2 .screen2box .qrcodeWrap {
  float: left;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  background: url("../images/qr.png") no-repeat center;
}

.design .mobileFrame .screen1 .screen2box .design .mobileFrame .screen2 .screen2box {
  color: #00C9FF;
  font-size: 26pt;
}

.design .mobileFrame .screen1 .screen2box .pts_value, .design .mobileFrame .screen2 .screen2box .pts_value {
  color: #333333;
  font-size: 26pt;
}

.design .mobileFrame .screen1 .screen2box .pts, .design .mobileFrame .screen2 .screen2box .pts {
  color: #333333;
  font-size: 10pt;
  font-weight: bold;
  vertical-align: super;
}

.design .mobileFrame .screen1 .screen2box .pts_date, .design .mobileFrame .screen2 .screen2box .pts_date {
  color: #cccccc;
  font-size: 10pt;
}

#flash_message_success {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 40px;
  z-index: 9;
  background: rgba(255, 187, 62, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;
}
#flash_message_success a {
  float: right;
  margin-right: 20px;
  color: #ECFFD6;
  cursor: pointer;
}

#flash_message_error {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 40px;
  z-index: 9;
  background: rgba(196, 32, 90, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;
}
#flash_message_error a {
  float: right;
  margin-right: 20px;
  color: #ECFFD6;
  cursor: pointer;
}

.error-msg {
  color: red;
}

/*== Override: Tab Panel ==*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom: 0;
}

#rightcontent .container #content .navTabsWrap .nav-tabs li {
  margin-right: -2px;
}

/*==  Added: SMS/Push Notifications/Email Blast ==*/
.level-2-tab {
  position: relative;
  top: 15px;
}
.level-2-tab .navTabsWrap {
  background-color: transparent !important;
}
.level-2-tab .tab-content {
  border: 0 !important;
  padding: 0;
}

.smstool .fixed-table-toolbar .pull-right.search {
  top: -173px;
}
.smstool .smsAdd {
  padding: 8px 15px;
  margin-top: 20px;
}
.smstool .newNotif {
  background: #848891;
  margin-left: 10px;
}
.smstool #smsTable tr th:nth-child(5),
.smstool #smsTable tr td:nth-child(5),
.smstool #emailTable tr th:nth-child(5),
.smstool #emailTable tr td:nth-child(5) {
  width: 45%;
}
.smstool #smsTable .delete,
.smstool #emailTable .delete {
  margin-left: 0 !important;
  float: left !important;
}
.stat,
.smstool #smsTable .stat,
.smstool #pushTable .stat,
.smstool #emailTable .stat,
.smstool #segmentTable .stat {
  padding: 3px 7px;
  color: #fff;
  border-radius: 3px;
}
.stat.sActive,
.smstool #smsTable .stat.sActive,
.smstool #pushTable .stat.sActive,
.smstool #emailTable .stat.sActive,
.smstool #segmentTable .stat.sActive {
  background: #f7b94f;
}
.stat.sProcessed,
.smstool #smsTable .stat.sProcessed,
.smstool #pushTable .stat.sProcessed,
.smstool #emailTable .stat.sProcessed,
.smstool #segmentTable .stat.sProcessed {
  background: #2f9b48;
}
.stat.sInactive,
.smstool #smsTable .stat.sInactive,
.smstool #pushTable .stat.sInactive,
.smstool #emailTable .stat.sInactive,
.smstool #segmentTable .stat.sInactive {
  background: #eb3e3e;
}
.smstool #pushTable .delete,
.smstool #pushTable .edit {
  float: left !important;
}
.smstool #pushTable .edit {
  margin-left: 0 !important;
}
.smstool #segmentTable .stat.sActive {
  background: #2f9b48;
}

/* Modals */
.modal .modal-dialog.expandWidth {
  width: 600px;
}
.modal .modal-dialog.expandWidth button {
  width: 48%;
  padding: 12px;
}

#addSMS input[type=text],
#addEmail input[type=text] {
  margin-bottom: 0;
}
#addSMS .publishDate,
#addEmail .publishDate {
  margin-bottom: 20px;
}
#addSMS .input-group-addon,
#addEmail .input-group-addon {
  border-radius: 0;
  border: 0;
  background-color: #fff;
}

#addPushNotif .runDate input[type=text],
#editPushNotif .runDate input[type=text] {
  margin-bottom: 0;
}
#addPushNotif .input-group-addon,
#editPushNotif .input-group-addon {
  border-radius: 0;
  border: 0;
  background-color: #fff;
}
#addPushNotif .input-group-addon.out,
#editPushNotif .input-group-addon.out {
  background-color: #eee !important;
}

#addSMS hr,
#addPushNotif hr,
#addTargetSeg hr,
#addEmail hr,
#editPushNotif hr,
#editTargetSeg hr {
  margin-top: 0;
}
#addSMS .filterInfo input, #addSMS .filterInfo textarea, #addSMS .filterInfo select,
#addPushNotif .filterInfo input,
#addPushNotif .filterInfo textarea,
#addPushNotif .filterInfo select,
#addTargetSeg .filterInfo input,
#addTargetSeg .filterInfo textarea,
#addTargetSeg .filterInfo select,
#addEmail .filterInfo input,
#addEmail .filterInfo textarea,
#addEmail .filterInfo select,
#editPushNotif .filterInfo input,
#editPushNotif .filterInfo textarea,
#editPushNotif .filterInfo select,
#editTargetSeg .filterInfo input,
#editTargetSeg .filterInfo textarea,
#editTargetSeg .filterInfo select {
  margin-bottom: 0 !important;
}

.margT20 {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .modal .modal-dialog.expandWidth {
    width: 400px;
    margin-top: 0px !important;
  }
}
@media (max-width: 450px) {
  .modal .modal-dialog.expandWidth {
    width: 320px;
  }
}
/* Billing Module CSS */
.view-bill-upper {
  background-color: #F2F4F6;
  padding: 10px;
}
.view-bill-upper .title h2 {
  font-family: Open Sans;
  font-size: medium;
  font-weight: normal;
  color: #f58020;
}

.view-bill-statement {
  padding: 10px;
}

.account-summary-link {
  cursor: pointer;
}

.soa_acctNum {
  margin-top: 20px;
  font-size: medium;
}

.view-billing {
  padding: 10px;
}

.billing {
  /*Remove number type spinner*/
  /*Browse Button*/
}
.billing .title h2 {
  font-family: Open Sans;
  font-size: medium;
  font-weight: normal;
  color: #f58020;
}
.billing #frm_payt_cc hr,
.billing #frm_payt_otc hr,
.billing .soa hr {
  border: none;
  height: 1px;
  background: #efefef;
}
.billing .bill_label {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  margin: 0px;
  font-weight: normal;
}
.billing .bill_value,
.billing .bill_value:focus {
  font-family: Open Sans Semibold;
  color: #656565;
  font-size: medium;
  border-style: none;
  padding: 0px;
  margin: 0px;
  background: transparent !important;
  box-shadow: none;
}
.billing #month {
  width: 46%;
}
.billing #day {
  margin: 0px 6px;
}
.billing #day {
  width: 25%;
}
.billing #year {
  width: 25%;
}
.billing .payt_date,
.billing .view_date,
.billing #bill_amt,
.billing #bill_ref_no,
.billing #payment_date,
.billing #paytMethod {
  font-family: Open Sans Semibold;
  color: #656565;
  font-size: medium;
  height: 53px;
  padding-left: 10px;
  box-shadow: none;
}
.billing #bill_upload_btn {
  border-style: none;
  box-shadow: none;
  color: transparent;
}
.billing .bill_btn {
  font-family: Roboto;
  font-size: medium;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 10.5px 0px;
  border-radius: 6px;
}
.billing .bill_btn:hover {
  background-color: #DA5B10;
}
.billing .img_thumb {
  width: 55px;
  height: 55px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-color: pink;
}
.billing #dl_soa_btn {
  margin-right: 12px;
}
.billing .soa_btn {
  font-family: Roboto;
  font-size: medium;
  color: #5a5a5a;
  background-color: transparent;
  border: 1px solid #b5b5b5;
  border-radius: 6px;
  height: 53px;
  padding: 0px 12px;
}
.billing .soa_btn:link,
.billing .soa_btn:visited {
  white-space: nowrap;
  font-family: Roboto;
  font-size: medium;
  color: #5a5a5a;
  background-color: transparent;
  border: 1px solid #b5b5b5;
  border-radius: 6px;
  height: 53px;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
}
.billing .soa_btn:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
.billing #searchDate {
  border-radius: 60px 0px 0px 60px;
  border-right: 0px;
  box-shadow: none;
  font-size: medium;
  height: 42px;
  font-family: Open Sans;
  padding-left: 24px;
  color: #a7a6a6;
}
.billing #calendarSpan {
  border-radius: 0px 60px 60px 0px !important;
  background-color: #ffffff;
  color: #afafaf;
  border-left: 0px;
}
.billing #searchBtn {
  border: none !important;
  box-shadow: none;
}
.billing #searchBtn a {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium;
}
.billing #searchBtn a:hover {
  text-decoration: none;
  color: #EC730F;
}
.billing #searchBtn a:active,
.billing #searchBtn a:visited,
.billing #searchBtn a:link {
  text-decoration: none;
}
.billing td[class=record_num] {
  width: 10%;
  text-align: center;
}
.billing .record_num {
  font-weight: bold;
}
.billing .view_btn {
  font-size: medium;
}
.billing a[class=view_btn]:visited,
.billing a[class=view_btn]:active,
.billing a[class=view_btn]:link {
  text-decoration: none;
  color: #afafaf;
}
.billing a[class=view_btn]:hover {
  text-decoration: none;
  color: #656565;
  cursor: pointer;
  cursor: hand;
}
.billing .bill_hr hr {
  margin-top: 4px;
}
.billing .bill_table td {
  height: 95px;
  border-top: none !important;
}
.billing .soa h3 {
  padding-top: 30px !important;
}
.billing .soa td,
.billing .soa th {
  border-top: none !important;
  padding: 4px 0px !important;
}
.billing .soa hr {
  border-top: dashed 1px;
}
.billing .soa_heading1,
.billing #soa_name {
  font-size: medium;
}
.billing #soa_address {
  padding-left: 10px !important;
  width: 75%;
  color: #555555;
  font-size: medium;
}
.billing .soa_heading1,
.billing .soa_heading2,
.billing .soa_items,
.billing #soa_address,
.billing .soa_amounts,
.billing #soa_name {
  font-family: Open Sans;
}
.billing .soa_heading2,
.billing .soa_note {
  color: #939393;
}
.billing .soa_heading1,
.billing .soa_acctNum {
  font-weight: bold;
}
.billing .soa_totalAmtDue td {
  padding: 12px !important;
}
.billing .breakdown_total td,
.billing .soa_heading2 th {
  padding-top: 12px !important;
}
.billing .soa_items,
.billing .soa_heading2,
.billing .soa_total_label,
.billing .soa_totalAmtDue,
.billing .soa_amounts {
  font-size: medium;
}
.billing .soa_heading1,
.billing .soa_heading2 {
  font-weight: bold;
}
.billing .soa_items {
  color: #535353;
}
.billing .soa_item_list td {
  padding-top: 12px !important;
}
.billing #soa_name {
  color: #555555;
}
.billing .soa_amounts {
  color: #090909;
}
.billing .soa_total_label,
.billing .soa_totalAmtDue {
  color: #2a2a2a;
}
.billing .align_right {
  text-align: right;
}
.billing .orange_box {
  border: 2px solid #f8ae1a;
}
.billing .orange_box td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.billing .account_summary {
  border: 2px solid #f9f9f9;
  padding: 30px 26px !important;
}
.billing .account_summary td {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.billing .account_summary th {
  text-align: center;
  border-bottom: none !important;
}
.billing .soa_note {
  font-family: Open Sans;
  font-size: medium;
}
.billing .usage_breakdown th {
  border-bottom: none !important;
  padding-bottom: 16px !important;
}
.billing #bill_ref_no::-webkit-outer-spin-button,
.billing #bill_ref_no::-webkit-inner-spin-button,
.billing #bill_amt::-webkit-outer-spin-button,
.billing #bill_amt::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.billing label#custom_upload_btn input[type="file"] {
  position: fixed;
  top: -1000px;
}
.billing #custom_upload_btn {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  border: 1px solid #f8ae1a;
  border-radius: 4px;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  color: #f8ae1a;
  height: 53px;
  padding: 12px 40px 0px 40px;
}
.billing #custom_upload_btn:hover {
  background: #F1F1F1;
  cursor: pointer;
  cursor: hand;
}

#paymentModalOTC, #paymentModalCC {
  background-color: rgba(0, 0, 0, 0.4);
  /* The Modal (background) */
  /* Add Animation */
}
#paymentModalOTC .bill_popup h2, #paymentModalCC .bill_popup h2 {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium;
}
#paymentModalOTC .bill_popup p, #paymentModalCC .bill_popup p {
  color: #656565;
  font-family: Open Sans;
  font-size: medium;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#paymentModalOTC .modal, #paymentModalCC .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
#paymentModalOTC .modal-content, #paymentModalCC .modal-content {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 0px;
  padding: 30px;
}
#paymentModalOTC .modal-content .modal-body, #paymentModalCC .modal-content .modal-body {
  background-color: #fff;
}

#paymentModalOTC .modal-content button, #paymentModalCC .modal-content button {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 8px 50px;
  text-align: center;
  border-radius: 6px;
}

#orderCard, #orderCardConfirmation, #orderCardSuccessPrompt, #orderCardNoDesign {
  background-color: rgba(0, 0, 0, 0.4);
}

.redemption .toggle-globe-reward {
  cursor: pointer;
  text-transform: capitalize;
}
.redemption .enabled {
  color: green;
}
.redemption .disabled {
  color: red;
}

.home {
  padding: 20px;
}
.home .spacing {
  margin-top: 40px;
}
.home .module {
  margin: 20px;
  display: inline-flex;
  height: 120px;
  width: 140px;
}
.home .module .module-icon {
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 70px 10px 10px 10px;
  color: #627181;
  background-position: 50% 20px;
}
.home .module .module-icon:hover {
  background-color: #f57f20;
  color: #fff;
}
.home .module .icon-ana {
  background-image: url("../images/icon-ana.png");
  background-repeat: no-repeat;
}
.home .module .icon-ana:hover {
  background-image: url("../images/icon-ana-hover.png");
}
.home .module .icon-pro {
  background-image: url("../images/icon-pro.png");
  background-repeat: no-repeat;
}
.home .module .icon-pro:hover {
  background-image: url("../images/icon-pro-hover.png");
}
.home .module .icon-ach {
  background-image: url("../images/icon-ach.png");
  background-repeat: no-repeat;
}
.home .module .icon-ach:hover {
  background-image: url("../images/icon-ach-hover.png");
}
.home .module .icon-rep {
  background-image: url("../images/icon-rep.png");
  background-repeat: no-repeat;
}
.home .module .icon-rep:hover {
  background-image: url("../images/icon-rep-hover.png");
}
.home .module .icon-des {
  background-image: url("../images/icon-des.png");
  background-repeat: no-repeat;
}
.home .module .icon-des:hover {
  background-image: url("../images/icon-des-hover.png");
}
.home .module .icon-tra {
  background-image: url("../images/icon-tra.png");
  background-repeat: no-repeat;
}
.home .module .icon-tra:hover {
  background-image: url("../images/icon-tra-hover.png");
}
.home .module .icon-man {
  background-image: url("../images/icon-man.png");
  background-repeat: no-repeat;
}
.home .module .icon-man:hover {
  background-image: url("../images/icon-man-hover.png");
}
.home .module .icon-sms {
  background-image: url("../images/icon-sms.png");
  background-repeat: no-repeat;
}
.home .module .icon-sms:hover {
  background-image: url("../images/icon-sms-hover.png");
}
.home .module .icon-add {
  background-image: url("../images/icon-add.png");
  background-repeat: no-repeat;
}
.home .module .icon-add:hover {
  background-image: url("../images/icon-add-hover.png");
}
.home .module .icon-hel {
  background-image: url("../images/icon-hel.png");
  background-repeat: no-repeat;
}
.home .module .icon-hel:hover {
  background-image: url("../images/icon-hel-hover.png");
}
.home .module .icon-set {
  background-image: url("../images/icon-set.png");
  background-repeat: no-repeat;
}
.home .module .icon-set:hover {
  background-image: url("../images/icon-set-hover.png");
}
.home .module .icon-bil {
  background-image: url("../images/icon-bil.png");
  background-repeat: no-repeat;
}
.home .module .icon-bil:hover {
  background-image: url("../images/icon-bil-hover.png");
}
.home .module .icon-usr {
  background-image: url("../images/icon-usr.png");
  background-repeat: no-repeat;
}
.home .module .icon-usr:hover {
  background-image: url("../images/icon-usr-hover.png");
}
/*Rewards table UI -BEGIN*/
#redeem-rows .itemsRedeemed .itemDetails {
  overflow: auto;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 6px;
  padding: 6px;
}
#redeem-rows .itemsRedeemed .itemDetails > div {
  margin: 2px;
}
#redeem-rows .itemsRedeemed .itemDetails .itemDetails .actions {
  padding: 0 !important;
}
#redeem-rows .itemsRedeemed .itemDetails .actions .fa.edit,
#redeem-rows .itemsRedeemed .itemDetails .actions .fa.del {
  margin-top: 0 !important;
}
#redeem-rows .itemsRedeemed .redemption-header-wrap {
  padding: 0;
}
#redeem-rows .itemsRedeemed .itemNameLabel,
#redeem-rows .itemsRedeemed .itemName {
  width: 13%;
}
#redeem-rows .itemsRedeemed .itemName span,
#redeem-rows .itemsRedeemed .itemBranch,
#redeem-rows .itemsRedeemed .itemDesc span,
#redeem-rows .itemsRedeemed .itemPts span {
  color: #333;
  font-weight: 600;
}
#redeem-rows .itemsRedeemed .itemStatus {
  font-weight: 600;
}
#redeem-rows .itemsRedeemed .numbering {
  padding: 0;
  width: 55px;
}

/*Rewards table UI -END*/
/*Rewards catalogue Modal -BEGIN*/
.rewards-item-modal .modal-dialog {
  width: 60%;
}
.rewards-item-modal .modal-dialog .modal-header .close {
  font-size: 32px;
  font-weight: 100;
}
.rewards-item-modal .modal-dialog .modal-content {
  border-radius: 4px !important;
}
.rewards-item-modal .modal-dialog .modal-body {
  background-color: #fff;
}
.rewards-item-modal .modal-dialog .modal-body input, .rewards-item-modal .modal-dialog .modal-body textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.rewards-item-modal .modal-dialog .modal-title {
  text-align: center;
}
.rewards-item-modal .modal-dialog .left-col, .rewards-item-modal .modal-dialog .right-col {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.rewards-item-modal .modal-dialog .right-col {
  margin-left: 22px;
}
.rewards-item-modal .modal-dialog .right-col .preview-img {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  width: 350px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  padding: 106px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
}
.rewards-item-modal .modal-dialog .right-col .points {
  width: 35%;
  display: inline-block;
}
.rewards-item-modal .modal-dialog .right-col .status {
  display: inline-block;
  width: 60%;
  margin-left: 12px;
}
.rewards-item-modal .modal-dialog .right-col .status select {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  width: 100%;
}
.rewards-item-modal .modal-dialog .branches .branch-check-wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 180px;
  overflow-y: scroll;
  width: 100%;
}
.rewards-item-modal .modal-dialog .branches .branch-label {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
  padding: 12px;
  margin: 0;
  cursor: pointer;
}
.rewards-item-modal .modal-dialog .branches input[type=checkbox].options {
  display: none;
}
.rewards-item-modal .modal-dialog .branches input[type=checkbox]:checked + .branch-label {
  background-color: #f7f7f7;
  -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
}
.rewards-item-modal .modal-dialog .branches .fa-check {
  float: right;
}
.rewards-item-modal .modal-dialog .btn-save-redeem {
  background-color: #f6ae1c;
  color: #fff;
  border: 0;
  width: 200px;
}
.rewards-item-modal .modal-dialog .btn-save-redeem:hover {
  background-color: #b47b07;
  color: #fff;
}
.rewards-item-modal .modal-dialog .btn-clear-redeem {
  width: 200px;
}
.rewards-item-modal .modal-dialog .input-label {
  font-weight: 600 !important;
}
.rewards-item-modal .modal-dialog .form-control {
  background-color: #f7f7f7;
}
.rewards-item-modal .modal-dialog .modal-footer {
  text-align: center;
}

/*Rewards catalogue Modal -END*/
/*Punchcard Modal -BEGIN*/
.punchcardModal .modal-dialog {
  width: 60%;
}
.punchcardModal .modal-dialog .modal-content {
  border-radius: 4px !important;
}
.punchcardModal .col-left {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.punchcardModal .col-left .branches .branch-check-wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 180px;
  overflow-y: scroll;
  width: 100%;
}
.punchcardModal .col-left .branches .branch-check-wrap .form-check{
  position: relative;
}
.punchcardModal .col-left .branches .branch-label {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
  padding: 12px;
  margin: 0;
  cursor: pointer;
}
.punchcardModal .col-left .branches input[type=checkbox].options {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.punchcardModal .col-left .branches input[type=checkbox]:checked + .branch-label {
  background-color: #f7f7f7;
  -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
}
.punchcardModal .col-left .branches .fa-check {
  float: right;
}
.punchcardModal .col-right {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  margin-left: 22px;
}
.punchcardModal .col-right .preview-img {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  width: 350px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  padding: 106px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
}
.punchcardModal .saveStamp {
  width: 200px !important;
  float: left;
}
.punchcardModal .clearStamp {
  width: 200px !important;
  float: right;
}

/*Punchcard Modal -END*/