/**
 * Custom MEDIA QUERIES
 * Created by PhpStorm.
 * User: G.ELLURANGGO
 */
/*==========  Media Queries

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .quickstart .content {
    width: 95%;
  }

  .itemsRedeemed .input-group {
    margin: 0 0 10px;
  }

  .itemsRedeemed .mobileOnly {
    display: block;
  }

  .itemsRedeemed.webLabels {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bootstrap-table {
    font-size: 13px;
  }

  #sidemenu #menu ul li a span {
    display: none;
  }

  #sidemenu #menu ul li a i {
    margin-right: 0;
  }

  #sidemenu {
    width: 50px;
    min-width: 0;
  }

  #rightcontent {
    padding-left: 50px;
  }

  .logoholder img {
    max-width: 90%;
    margin: 25px auto !important;
  }

  .modal-dialog {
    margin: 10px auto;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*--------------------- Mobile optimization -------------------*/
.design .tabletTab .tabletFrame .customTablet img.tabletCustomLogo {
  margin: 7px auto 0 auto;
}

@media screen and (max-device-width: 640px) {
  /*--Start Responsive Header--*/
  #rightcontent .header {
    height: auto;
    padding: 0px;
    width: 100%;
  }
  #rightcontent .header .row {
    width: 100%;
    margin: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  #rightcontent .header .row div:first-child {
    padding: 0px;
    margin-left: 12px;
    width: auto;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  #rightcontent .header .row div:first-child h3 {
    margin: 12px;
  }
  #rightcontent .header .row div:nth-child(2) {
    vertical-align: top;
    background-color: #263238;
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  #rightcontent .header .row .howdy {
    margin: 0px;
  }
  #rightcontent .header .row .howdy .btn-group .btn-group button {
    border: 0;
    background-color: #263238;
    font-size: 14px;
    height: auto;
    padding: 2px;
  }
  #rightcontent .header .row .howdy .btn-group .btn-group img {
    padding: 2px 0px;
    width: 24px;
  }

  /*--End Responsive Header--*/
  div.container > div.row:first-child {
    margin: 0px !important;
  }

  .dashboard#content {
    display: table;
    margin-left: 5%;
    width: 90% !important;
  }
  .dashboard h4 {
    font-size: 16px;
  }
  .dashboard li {
    display: block !important;
    width: 100% !important;
    height: 75% !important;
    margin: 0 auto;
  }

  .container {
    padding: 0px !important;
    margin: 0px !important;
  }

  .noTab .row {
    width: auto;
  }

  .promos .actionButton button {
    width: 100%;
    height: 44px;
    margin-bottom: 6px;
  }

  .redemption .addRedeemItem, .redemption .saveButton {
    width: 100%;
    height: 44px;
    margin-bottom: 0px;
  }

  .dashboard .counts .count li:first-child, .dashboard .counts .count li:nth-child(2), .dashboard .counts .count li:last-child {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .design .mobileTablet {
    width: 90%;
    padding: 0px;
    margin: 0 auto;
  }
  .design .mobileTablet button#btnTablet, .design .mobileTablet button#btnMobile {
    width: 50%;
  }
  .design button.saveDesign {
    width: 100% !important;
    height: 44px !important;
  }

  /*Tablet-custom*/
  div#content.design {
    padding-bottom: 120px;
  }

  .design .tabletTab .tabletFrame {
    background: url("../images/ipad.jpg") no-repeat top center;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .design .tabletTab .tabletFrame .customTablet {
    background: url("../images/tabletBg.png") no-repeat center;
    width: 224px;
    height: 140px;
    float: left;
  }
  .design .tabletTab .tabletFrame .customTablet img.tabletCustomLogo {
    width: 25px;
    height: 25px;
    display: block;
  }
  .design .tabletTab .tabletFrame .customTablet .customButton {
    background-color: #00AFEE;
    color: #fff;
    margin-top: 30%;
    border-radius: 4px;
    padding: 0px;
    font-size: 50%;
    height: 18px;
    width: 40%;
  }
  .design .tabletTab .tabletFrame .tabletLayout {
    background: url("../images/tabletCustomBg.jpg") no-repeat center;
    width: 100%;
    height: 43vw;
    margin: 0px;
    float: left;
    background-size: cover;
    border: 12px solid #e6e6e6;
    border-radius: 6px;
  }
  .design .tabletTab .tabletFrame .customTablet {
    background: url("../images/tabletBg.png") no-repeat center;
    width: 100%;
    height: 36vw;
    background-size: 100%;
  }

  .tabletTab .left button.saveDesign {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 210px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 90% !important;
  }

  .mobileTab button#saveCustomerAppPalette {
    clear: both;
    float: left;
    margin-top: 10px;
  }

  .mobileFrame > div {
    padding: 0px 0px !important;
    width: 100% !important;
  }
  .mobileFrame .screen1, .mobileFrame .screen2 {
    width: 100% !important;
  }

  .mobileTab .saveDesign, .mobileTab .mobileFrame .screen1 {
    margin: 0px;
  }
  .mobileTab .left button.saveDesign {
    position: absolute;
    height: 50px;
    margin-top: 1025px;
    left: 0;
    right: 0;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 85% !important;
  }

  .cardTab .right {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .cardTab .right .cardFrame .cardWrap {
    width: 100%;
    height: 43vw;
    margin: 0px;
    float: left;
    background-size: cover;
    border-radius: 6px;
  }
  .cardTab .right .cardFrame .cardWrap .overlay {
    margin-bottom: 0px !important;
  }
  .cardTab .right .cardFrame .cardWrap .overlay .cardLogo {
    width: 14vw;
    height: 14vw;
    margin-top: 22px;
    margin-left: 22px;
  }
  .cardTab .right .cardFrame .cardWrap .overlay .qr {
    width: 22vw;
    height: 22vw;
    margin: 22px 22px 0px 0px;
  }
  .cardTab .left button.saveDesign {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 210px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .settings .noTab .appstoreLogo .imgPrev {
    width: 50vw !important;
    height: 50vw !important;
    margin: 12px 0px;
  }

  .transHistory div.noTab {
    overflow-x: auto;
    padding-left: 12px;
  }
}
