.bt-bg {
  background: #ff6600;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  transition: .1s;
  text-transform: uppercase; }
  .bt-bg:hover {
    background: #ff5400;
    color: #fff; }

.no-bg-br {
  background: none;
  border: 1px solid #ff6600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #ff6600;
  transition: .1s;
  text-transform: uppercase; }
  .no-bg-br:hover {
    background: #ff6600;
    color: #fff; }

.no-bg-brw {
  background: none;
  border: 1px solid #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  line-height: 50px;
  transition: .1s;
  text-transform: uppercase; }
  .no-bg-brw:hover {
    background: #ff5400;
    color: #fff; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.container {
  padding: 0; }

.full {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }

.clear {
  clear: both; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

header, section, footer, aside, nav, main, article, figure {
  display: block;
  border: none !important; }

.error-label {
  color: #c23934;
  font-style: italic;
  font-size: 12px; }
