body {
  font-family: 'Roboto', sans-serif;
  color: #16325c; }

* {
  transition: all 0.3s; }

#homepage-video {
  max-width: 590px;
  width: 100%; }

#signin .modal-dialog {
  max-width: 390px; }
  #signin .modal-dialog .modal-header {
    border: none; }
    #signin .modal-dialog .modal-header .modal-title {
      text-align: center;
      margin-bottom: 15px; }
  #signin .modal-dialog .modal-content {
    padding: 40px;
    border: 0; }
    #signin .modal-dialog .modal-content input[type="text"], #signin .modal-dialog .modal-content input[type="password"] {
      width: 100%;
      background: #f7f9fb;
      padding-left: 15px;
      color: #3a4a66;
      height: 50px;
      line-height: 50px;
      border: 1px solid #d5d9df;
      margin-bottom: 15px;
      border-radius: 5px; }

#signin .modal-footer {
  border: none; }

.continue {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 15px 0; }

.forgot a {
  color: #54698d;
  font-size: 14px;
  text-align: center;
  padding-top: 20px; }

.modal .close {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2; }
  .modal .close .close-white {
    background-color: #fff;
    -webkit-mask-image: url("images/close-icon.svg"); }

#signup .modal-dialog {
  max-width: 920px;
  width: 100%; }
  #signup .modal-dialog .modal-header {
    border: none;
    padding: 0 0 15px; }
    #signup .modal-dialog .modal-header .modal-title {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase; }
  #signup .modal-dialog .modal-content {
    padding: 30px 25px; }
    #signup .modal-dialog .modal-content label {
      font-size: 14px;
      color: #54698d;
      font-weight: normal; }
    #signup .modal-dialog .modal-content input[type="text"] {
      width: 100%;
      background: #f7f9fb;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px; }
    #signup .modal-dialog .modal-content select {
      background-color: #f7f9fb;
      background-image: url(images/sel-arrow.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      width: 100%;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px;
      position: reltive;
      -moz-appearance: none;
      -webkit-appearance: none; }
    #signup .modal-dialog .modal-content .group-field {
      min-height: 80px; }
    #signup .modal-dialog .modal-content img {
      max-width: 100%; }
    #signup .modal-dialog .modal-content #form_signup_button {
      max-width: 300px;
      width: 100%; }

#signup .modal-footer {
  border: none; }

#signup .multiselect {
  width: 100%; }
  #signup .multiselect input[type="checkbox"] {
    display: none; }
    #signup .multiselect input[type="checkbox"] + label {
      background: transparent url("images/radio.png") no-repeat scroll left bottom;
      clear: both;
      display: inline-block;
      padding: 10px 0 0 28px;
      position: relative;
      cursor: pointer;
      text-transform: uppercase; }
    #signup .multiselect input[type="checkbox"]:checked + label {
      background: transparent url("images/radio-checked.png") no-repeat scroll left bottom;
      display: inline-block;
      padding: 10px 0 0 28px;
      cursor: pointer; }

#signup .selectBox {
  position: relative; }
  #signup .selectBox select {
    width: 100%; }
    #signup .selectBox select option:first-child {
      color: #cfd5e1; }

#signup .overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  cursor: pointer; }

#signup .active {
  display: block; }

#signup #checkboxes {
  border: 1px #dadada solid;
  background: #fff;
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 888; }
  #signup #checkboxes:not(:focus) {
    display: none; }
  #signup #checkboxes label {
    display: block;
    text-transform: capitalize; }

.continue {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 15px 0; }

.forgot {
  color: #54698d;
  font-size: 14px;
  text-align: center;
  padding-top: 20px; }

.modal .close {
  position: absolute;
  top: 15px;
  right: 10px; }

.error-label {
  color: #c23934;
  font-style: italic;
  font-size: 12px;
  padding: 5px 0; }

/* Select Package */
#start-basic .modal-dialog, #start-pro .modal-dialog {
  max-width: 700px;
  width: 100%; }

#start-basic .modal-dialog .modal-content, #start-pro .modal-dialog .modal-content {
  overflow: hidden; }

#start-basic .modal-dialog .modal-content .modal-header, #start-pro .modal-dialog .modal-content .modal-header {
  background: url("images/background-medium.svg") no-repeat center/cover;
  color: #fff;
  margin: -1px;
  max-height: 200px;
  text-transform: uppercase; }

#start-basic .modal-dialog .modal-content .modal-header img, #start-pro .modal-dialog .modal-content .modal-header img {
  max-width: 350px;
  width: 100%;
  margin: 0 auto; }

#start-basic .modal-dialog .modal-content .modal-header .close img, #start-pro .modal-dialog .modal-content .modal-header .close img {
  width: 20px; }

#start-basic .modal-dialog .modal-content .modal-body, #start-pro .modal-dialog .modal-content .modal-body {
  margin-top: 100px; }

#start-basic .modal-dialog .modal-content .modal-body h3, #start-pro .modal-dialog .modal-content .modal-body h3 {
  margin: 35px auto 15px;
  text-align: center;
  text-transform: uppercase; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons, #start-pro .modal-dialog .modal-content .modal-body.add-ons {
  padding: 15px 0; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table, #start-pro .modal-dialog .modal-content .modal-body.add-ons table {
  background: #f7f9fb;
  font-size: 9px; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td, #start-pro .modal-dialog .modal-content .modal-body.add-ons table td {
  border-bottom: solid 3px #fff;
  padding: 8px; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td:first-child, #start-basic .modal-dialog .modal-content .modal-body.add-ons table td:last-child {
  width: 60px; }

#start-pro .modal-dialog .modal-content .modal-body.add-ons table td:first-child, #start-pro .modal-dialog .modal-content .modal-body.add-ons table td:last-child {
  width: 60px; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td:nth-child(3), #start-pro .modal-dialog .modal-content .modal-body.add-ons table td:nth-child(3) {
  font-size: 15px;
  text-align: right;
  vertical-align: middle;
  width: 150px; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table p, #start-pro .modal-dialog .modal-content .modal-body.add-ons table p {
  padding: 0;
  margin: 0; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons table span, #start-pro .modal-dialog .modal-content .modal-body.add-ons table span {
  display: block;
  font-size: 15px;
  padding-left: 30px; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="radio"], #start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"] {
  display: none; }

#start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="radio"], #start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"] {
  display: none; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="radio"] + label, #start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"] + label {
  background: url(images/radio.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px;
  top: 10px;
  margin-right: 5px;
  position: relative; }

#start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="radio"] + label, #start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"] + label {
  background: url(images/radio.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px;
  top: 10px;
  margin-right: 5px;
  position: relative; }

#start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="radio"]:checked + label, #start-basic .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"]:checked + label {
  background: url(images/radio-checked.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px; }

#start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="radio"]:checked + label, #start-pro .modal-dialog .modal-content .modal-body.add-ons input[type="checkbox"]:checked + label {
  background: url(images/radio-checked.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px; }

#start-basic .modal-dialog .modal-content .modal-footer, #start-pro .modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding: 0 15px 25px;
  text-align: center; }

#start-basic .modal-dialog .modal-content .modal-footer button, #start-pro .modal-dialog .modal-content .modal-footer button {
  max-width: 250px; }

/* Service Agreemnet */
#service-agreement.modal {
  bottom: inherit; }

#service-agreement .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  padding: 7px 15px;
  text-transform: uppercase; }

#service-agreement .modal-dialog .modal-content .modal-body {
  background: #f7f9fb;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: calc(80vh - 200px); }
  #service-agreement .modal-dialog .modal-content .modal-body object {
    width: 100%;
    min-height: calc(80vh - 200px); }

#service-agreement .modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding: 0 15px 25px; }
  #service-agreement .modal-dialog .modal-content .modal-footer button, #service-agreement .modal-dialog .modal-content .modal-footer input[type="submit"] {
    max-width: 200px;
    width: 100%; }
  #service-agreement .modal-dialog .modal-content .modal-footer button.ghost, #service-agreement .modal-dialog .modal-content .modal-footer input[type="submit"].ghost {
    background: transparent;
    border: solid 1px #ff6600;
    color: #ff6600; }
  #service-agreement .modal-dialog .modal-content .modal-footer .ag-sa {
    padding: 15px; }
  #service-agreement .modal-dialog .modal-content .modal-footer input[type="radio"], #service-agreement .modal-dialog .modal-content .modal-footer input[type="checkbox"] {
    display: none; }
  #service-agreement .modal-dialog .modal-content .modal-footer input[type="radio"] + label, #service-agreement .modal-dialog .modal-content .modal-footer input[type="checkbox"] + label {
    background: url(images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative; }
  #service-agreement .modal-dialog .modal-content .modal-footer input[type="radio"]:checked + label, #service-agreement .modal-dialog .modal-content .modal-footer input[type="checkbox"]:checked + label {
    background: url(images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px; }

#signup-success .su-success, #signup-success .su-packages {
  max-width: 450px;
  width: 100%; }

#rqdemo-confirm .su-success, #rqdemo-confirm .su-packages {
  max-width: 450px;
  width: 100%; }

#su-select-package .su-success, #su-select-package .su-packages {
  max-width: 450px;
  width: 100%; }

#signup-success .su-success img, #signup-success .su-packages img {
  max-width: 120px;
  width: 100%;
  margin: 20px auto; }

#rqdemo-confirm .su-success img, #rqdemo-confirm .su-packages img {
  max-width: 120px;
  width: 100%;
  margin: 20px auto; }

#su-select-package .su-success img, #su-select-package .su-packages img {
  max-width: 120px;
  width: 100%;
  margin: 20px auto; }

#signup-success .su-success .modal-header, #signup-success .su-packages .modal-header {
  border-bottom: 0;
  padding: 0 15px 0; }

#rqdemo-confirm .su-success .modal-header, #rqdemo-confirm .su-packages .modal-header {
  border-bottom: 0;
  padding: 0 15px 0; }

#su-select-package .su-success .modal-header, #su-select-package .su-packages .modal-header {
  border-bottom: 0;
  padding: 0 15px 0; }

#signup-success .su-success .modal-body, #signup-success .su-packages .modal-body {
  padding: 0 20px 0;
  text-align: center; }

#rqdemo-confirm .su-success .modal-body, #rqdemo-confirm .su-packages .modal-body {
  padding: 0 20px 0;
  text-align: center; }

#su-select-package .su-success .modal-body, #su-select-package .su-packages .modal-body {
  padding: 0 20px 0;
  text-align: center; }

#signup-success .su-success .modal-body h2, #signup-success .su-packages .modal-body h2 {
  margin: 0 auto;
  padding: 0 15px; }

#rqdemo-confirm .su-success .modal-body h2, #rqdemo-confirm .su-packages .modal-body h2 {
  margin: 0 auto;
  padding: 0 15px; }

#su-select-package .su-success .modal-body h2, #su-select-package .su-packages .modal-body h2 {
  margin: 0 auto;
  padding: 0 15px; }

#signup-success .su-success .modal-body p, #signup-success .su-packages .modal-body p {
  font-size: 17px; }

#rqdemo-confirm .su-success .modal-body p, #rqdemo-confirm .su-packages .modal-body p {
  font-size: 17px; }

#su-select-package .su-success .modal-body p, #su-select-package .su-packages .modal-body p {
  font-size: 17px; }

#signup-success .su-success .modal-body .su-sign-btn, #signup-success .su-packages .modal-body .su-sign-btn {
  margin-top: 50px; }

#rqdemo-confirm .su-success .modal-body .su-sign-btn, #rqdemo-confirm .su-packages .modal-body .su-sign-btn {
  margin-top: 50px; }

#su-select-package .su-success .modal-body .su-sign-btn, #su-select-package .su-packages .modal-body .su-sign-btn {
  margin-top: 50px; }

#signup-success .su-success .modal-body .su-sign-btn button, #signup-success .su-packages .modal-body .su-sign-btn button {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#rqdemo-confirm .su-success .modal-body .su-sign-btn button, #rqdemo-confirm .su-packages .modal-body .su-sign-btn button {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#su-select-package .su-success .modal-body .su-sign-btn button, #su-select-package .su-packages .modal-body .su-sign-btn button {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#signup-success .su-success .modal-footer, #signup-success .su-packages .modal-footer {
  border-top: 0;
  text-align: center;
  color: #CFD5E1; }

#rqdemo-confirm .su-success .modal-footer, #rqdemo-confirm .su-packages .modal-footer {
  border-top: 0;
  text-align: center;
  color: #CFD5E1; }

#su-select-package .su-success .modal-footer, #su-select-package .su-packages .modal-footer {
  border-top: 0;
  text-align: center;
  color: #CFD5E1; }

#signup-success .su-success .modal-footer em, #signup-success .su-packages .modal-footer em {
  color: #16325c;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 15px;
  font-style: italic; }

#rqdemo-confirm .su-success .modal-footer em, #rqdemo-confirm .su-packages .modal-footer em {
  color: #16325c;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 15px;
  font-style: italic; }

#su-select-package .su-success .modal-footer em, #su-select-package .su-packages .modal-footer em {
  color: #16325c;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 15px;
  font-style: italic; }

#signup-success .su-packages .modal-content, #rqdemo-confirm .su-packages .modal-content, #su-select-package .su-packages .modal-content {
  overflow: hidden;
  border: 0; }

#signup-success .su-packages .modal-header, #rqdemo-confirm .su-packages .modal-header, #su-select-package .su-packages .modal-header {
  background: url("images/background-small.svg") no-repeat;
  background-size: cover;
  max-height: 150px; }

#signup-success .su-packages .modal-header img, #rqdemo-confirm .su-packages .modal-header img, #su-select-package .su-packages .modal-header img {
  max-width: 300px;
  width: 100%;
  position: relative;
  top: 20px; }

#signup-success .su-packages .modal-header .close img, #rqdemo-confirm .su-packages .modal-header .close img, #su-select-package .su-packages .modal-header .close img {
  top: 0;
  margin-top: 0; }

#signup-success .su-packages h3, #rqdemo-confirm .su-packages h3, #su-select-package .su-packages h3 {
  margin-top: 90px;
  margin-bottom: 30px; }

#signup-success .su-packages .modal-footer, #rqdemo-confirm .su-packages .modal-footer, #su-select-package .su-packages .modal-footer {
  margin-bottom: 40px; }

#signup-success .su-packages .modal-footer .continue, #rqdemo-confirm .su-packages .modal-footer .continue, #su-select-package .su-packages .modal-footer .continue {
  max-width: 200px;
  width: 100%; }

#rqdemo-confirm .close {
  top: 0; }

.navbar {
  margin-bottom: 10px; }
  .navbar-brand {
    margin-left: 0 !important; }
  .navbar li {
    padding: 0 6px; }
    .navbar li.active a {
      color: #ff6600 !important;
      background-color: transparent !important; }
    .navbar li a {
      text-transform: uppercase;
      font-size: 12px;
      color: #54698d !important;
      font-weight: 400;
      letter-spacing: 1px; }
      .navbar li a:hover {
        color: #ff6600 !important; }
    .navbar li .sign-in {
      width: 114px;
      height: 40px;
      text-transform: uppercase;
      margin-top: -20px;
      letter-spacing: 1px; }
  .navbar .container {
    height: 90px;
    line-height: 90px;
    padding: 20px 0; }

.navbar-right {
  margin-top: 8px; }

.navbar-toggle {
  z-index: 1049;
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    background-color: #fff !important;
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .icon-bar {
    background-color: #FF6000 !important; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

.footer-sec {
  text-align: center; }

.footer {
  font-size: 13px;
  min-height: 90px;
  background: #41536f;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto; }
  .footer .f-links {
    font-size: 12px;
    margin-top: 43px;
    width: 286px;
    padding: 0; }
    .footer .f-links li {
      padding-right: 15px;
      margin-right: 15px;
      border: 0;
      border-right: 1px solid #ddd;
      display: inline-block; }
      .footer .f-links li:last-child {
        border-right: 0;
        margin-right: 0px;
        padding-right: 0; }
      .footer .f-links li:hover {
        color: #8495af;
        text-decoration: none; }
      .footer .f-links li a {
        float: left;
        height: 13px;
        position: relative;
        top: -4px;
        color: #fff; }
        .footer .f-links li a:hover {
          color: #8495af;
          text-decoration: none; }
  .footer .s-icons {
    text-align: left;
    padding: 0; }
    .footer .s-icons li {
      display: inline-block;
      margin-right: 10px;
      margin-top: 30px;
      width: 34px; }
      .footer .s-icons li a {
        padding-right: 20px;
        border: 0;
        color: #fff; }
        .footer .s-icons li a img {
          width: 34px; }
      .footer .s-icons li:last-child {
        margin-right: 0; }
  .footer .copyright {
    font-size: 12px;
    color: #8492a6;
    margin-top: 40px;
    text-align: right; }

.hp1 {
  overflow: hidden; }

.hp1-content {
  padding: 0;
  text-align: center; }
  .hp1-content .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px; }
    .hp1-content .loyalty-vid img {
      width: 60px; }
    .hp1-content .loyalty-vid a:focus {
      outline: 0; }
  .hp1-content h2 {
    font-size: 45px;
    font-weight: 300;
    padding: 0; }
  .hp1-content .hp1-i {
    font-style: italic;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    max-width: 408px;
    line-height: 160%; }
  .hp1-content .bots {
    margin-top: 20px; }
    .hp1-content .bots .f-trial, .hp1-content .bots .r-demo {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      width: 170px;
      height: 50px; }

.hp1-hero-img img {
  max-width: 137%;
  position: relative;
  right: -13px; }

.hp2 {
  background: transparent url("images/design-management-screen.png") no-repeat scroll -180px 80px/60% auto; }

.hp2-content {
  margin-top: 80px; }
  .hp2-content li {
    margin: 0 0 52px 0;
    display: inline-block; }
    .hp2-content li h2 {
      font-size: 28px;
      font-weight: 300;
      padding: 0 0 10px;
      margin: 0; }
    .hp2-content li .dm-icon {
      margin: 0px 18px 0 0;
      padding: 0;
      max-width: 50px; }
    .hp2-content li span {
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      width: 86%;
      line-height: 30px; }

.hp3 {
  background: transparent url("images/dashboard-screen-01.png") no-repeat scroll right -160px top 50px/60% auto; }

.hp3-content {
  text-align: left;
  margin-top: 120px;
  margin-bottom: 130px; }
  .hp3-content li {
    margin: 0 0 52px 0;
    display: inline-block;
    width: 100%; }
    .hp3-content li h2 {
      font-size: 28px;
      font-weight: 300;
      padding: 0 0 10px;
      margin: 0; }
    .hp3-content li .dm-icon {
      margin: 0px 18px 0 0;
      padding: 0;
      max-width: 50px; }
    .hp3-content li span {
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      width: 83%;
      line-height: 30px; }
  .hp3-content .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px; }
    .hp3-content .loyalty-vid img {
      width: 60px;
      position: relative;
      left: -75px; }
  .hp3-content h2 {
    font-size: 52px;
    font-weight: 300;
    padding: 0; }
  .hp3-content .hp3-i {
    font-style: italic;
    font-size: 18px;
    padding: 20px 0;
    display: block;
    max-width: 408px; }

.ini-footer {
  position: absolute;
  bottom: 0;
  background: url(images/background-small.svg) no-repeat center;
  background-size: cover;
  height: 80px;
  width: 100%; }
  .ini-footer .container {
    margin-left: auto;
    margin-right: auto;
    line-height: 100%; }
    .ini-footer .container .l-label {
      font-size: 32px;
      color: #fff; }
    .ini-footer .container .f-trial, .ini-footer .container .r-demo {
      width: 180px;
      height: 50px;
      font-weight: bold;
      font-size: 11px;
      line-height: 50px; }
    .ini-footer .container div {
      text-align: center;
      line-height: 82px; }
      .ini-footer .container div:focus {
        outline: 0; }
      .ini-footer .container div img {
        max-width: 150px;
        width: 100%; }
  .ini-footer .partners-slider .slick-arrow {
    display: inherit !important; }
  .ini-footer .partners-slider .partner-next, .ini-footer .partners-slider .partner-prev {
    position: absolute;
    top: 65%;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1; }
  .ini-footer .partners-slider .partner-next {
    right: -10%; }
  .ini-footer .partners-slider .partner-prev {
    left: -10%; }
  .ini-footer .partners-slider .fa-angle-right:before,
  .ini-footer .partners-slider .fa-angle-left:before {
    font-size: 35px;
    color: #fff; }

.options {
  text-align: center; }

.hror {
  background: #ff6600 none repeat scroll 0 0;
  border: 1px solid #ff6600;
  clear: both;
  color: #ff6600;
  display: block;
  margin: 50px auto 50px;
  position: relative;
  top: 15px;
  width: 110px; }

.bt-bg {
  background: #ff6600;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: .1s;
  text-transform: uppercase; }
  .bt-bg:hover {
    background: #ff5400;
    color: #fff; }

.bt-bg-gr {
  background: #8492a6;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: .1s;
  text-transform: uppercase; }

.no-bg-br {
  background: none;
  border: 1px solid #ff6600;
  border-radius: 30px;
  color: #ff6600;
  transition: .1s;
  text-transform: uppercase; }
  .no-bg-br:hover {
    background: #ff6600;
    color: #fff; }

.no-bg-brw {
  background: none;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  line-height: 50px;
  transition: .1s;
  text-transform: uppercase; }
  .no-bg-brw:hover {
    background: #ff5400;
    color: #fff; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.padding10 {
  padding: 10; }

.paddingt10 {
  padding-top: 10px; }

.paddingb10 {
  padding-bottom: 10px; }

.paddingt20 {
  padding-top: 20px; }

.paddingb20 {
  padding-bottom: 20px !important; }

.paddingt30 {
  padding-top: 30px; }

.paddingb30 {
  padding-bottom: 30px; }

.full {
  width: 100%;
  margin: 0 auto; }

.clear {
  clear: both; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

header, section, footer, aside, nav, main, article, figure {
  display: block;
  border: none !important; }

.panel {
  margin: 0; }

.checkmark {
  background: url(images/check-icon.svg) no-repeat;
  width: 30px;
  height: 30px;
  display: block; }

.xmark {
  background: url(images/x-icon.svg) no-repeat;
  width: 30px;
  height: 30px;
  display: block; }

/* Product */
button:focus {
  outline: 0; }

.product {
  min-height: 392px;
  display: block;
  font-size: 18px;
  color: #fff;
  background: transparent url("images/background-medium.svg") no-repeat scroll 100% center/100% auto;
  background-position: top center;
  padding: 40px 0; }
  .product .content {
    margin-top: 20px;
    text-align: center;
    font-size: 16px; }
  .product h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 0;
    letter-spacing: 3px; }
  .product .banner-opt {
    position: relative;
    top: 50px; }
    .product .banner-opt h2 {
      color: #16325c;
      margin: 30px auto 10px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase; }
    .product .banner-opt a {
      display: block;
      background: #ff6c00;
      border-radius: 25px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin: 15px auto 35px;
      padding: 13px 0;
      text-transform: uppercase;
      width: 200px;
      text-align: center;
      box-shadow: 0 2px 0 #cc5500; }
      .product .banner-opt a:hover, .product .banner-opt a:focus {
        outline: 0;
        text-decoration: none; }
  .product .basic, .product .pro {
    text-align: center;
    margin: 30px auto;
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: block; }
  .product .opt-desc {
    color: #16325c;
    font-size: 16px; }
    .product .opt-desc .title {
      font-size: 20px; }
    .product .opt-desc .disc {
      font-size: 16px;
      color: #cfd5e1;
      font-style: italic;
      display: block;
      margin-bottom: 20px; }

.opt-desc {
  color: #16325c;
  font-size: 16px; }
  .opt-desc .title {
    font-size: 20px; }
  .opt-desc .disc {
    font-size: 16px;
    color: #cfd5e1;
    font-style: italic;
    display: block;
    margin-bottom: 20px; }

#success.modal .modal-content {
  box-shadow: none;
  border: 1px solid #fff;
  text-align: center;
  padding: 35px 35px; }

#success.modal .success-img {
  width: 110px;
  display: block;
  margin: auto; }

#success.modal a {
  background-color: #ff6c00;
  border: none;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 12px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  width: 200px;
  text-decoration: none; }

/* Success Landing Page */
.signup_success {
  background: #FCF9F6;
  text-align: center;
  padding: 50px 30px; }
  .signup_success h1 {
    font-size: 40px;
    font-weight: 300;
    padding: 0; }
  .signup_success p {
    font-size: 1.35em;
    font-weight: 500;
    font-style: italic; }
  .signup_success a.back_home {
    color: #fff;
    padding: 15px 30px;
    margin: 20px auto;
    display: inline-block; }
    .signup_success a.back_home:hover {
      text-decoration: none; }

.signup_check {
  max-width: 100px;
  margin: 10px auto;
  display: block; }
  .signup_check img {
    max-width: 100%; }

.signup_morenews .more-news-title {
  margin: 50px auto; }

.plan-feat {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 115px;
  overflow: hidden; }
  .plan-feat .plan {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    clear: both; }
  .plan-feat .feat-name1 {
    background: #8492a6;
    min-height: 574px;
    display: block;
    width: 30px;
    float: left; }
    .plan-feat .feat-name1 span {
      transform: rotate(90deg); }
  .plan-feat .plan-label {
    font-size: 16px;
    height: 95px;
    display: block;
    padding: 20px;
    background: #f7f9fb;
    border-bottom: 1px solid #edf0f2; }
  .plan-feat .inc {
    height: 95px;
    display: block;
    background: #f7f9fb;
    border-bottom: 1px solid #edf0f2;
    text-align: center;
    line-height: 95px; }
    .plan-feat .inc span {
      padding-top: 14px;
      display: block;
      line-height: 24px; }
    .plan-feat .inc .checkmark, .plan-feat .inc .xmark {
      top: 37%;
      position: relative;
      margin: 0 auto; }

/* Feature Table */
table.features {
  margin-top: 10px;
  width: 100%; }
  table.features td:first-child {
    width: 30px;
    border-bottom: 0; }
  table.features td:nth-child(2) {
    padding-left: 30px; }
  table.features td:nth-child(3), table.features td:nth-child(4) {
    text-align: center;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px; }
  table.features td:nth-child(5) {
    width: 40px; }
  table.features tr:nth-child(3) td.channels:before {
    color: #fff;
    content: "Channels";
    display: block;
    text-transform: uppercase;
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 30px;
    position: relative;
    top: -8px;
    font-size: 13px; }
  table.features tr:nth-child(10) td.management:before {
    color: #fff;
    content: "Management";
    display: block;
    text-transform: uppercase;
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 30px;
    position: relative;
    top: -3px;
    font-size: 13px; }
  table.features tr:nth-child(15) td.mktg-support:before {
    color: #fff;
    content: "Marketing Support";
    display: block;
    text-transform: uppercase;
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 145px;
    position: absolute;
    top: -12px;
    left: -57px;
    font-size: 13px; }
  table.features td {
    background: #f7f9fb;
    border-bottom: solid 1px #edf0f2;
    color: #16325c;
    padding-top: 15px;
    padding-bottom: 15px; }
    table.features td.channels {
      background: #8492a6; }
    table.features td.management {
      background: #ff6c00; }
    table.features td.mktg-support {
      background: #ffad00;
      position: relative; }
  table.features tr.spacer td {
    height: 20px;
    background: transparent;
    border: 0; }
  table.features thead td {
    background: transparent;
    border: 0; }
    table.features thead td span p {
      margin: 0;
      padding: 0; }
    table.features thead td span h2 {
      margin: 0;
      padding: 0;
      font-weight: 100; }
    table.features thead td span p {
      font-size: 15px; }
    table.features thead td span .value {
      font-size: 40px; }
    table.features thead td span a {
      display: block;
      border-radius: 25px;
      background: #ff6c00;
      color: #fff;
      font-size: 11px;
      font-weight: 500;
      margin: 0 auto;
      padding: 12px 0;
      text-transform: uppercase;
      width: 140px;
      height: 40px;
      letter-spacing: 1px;
      box-shadow: 0 2px 0 0 #cc5500; }
      table.features thead td span a:hover, table.features thead td span a:focus {
        outline: 0;
        text-decoration: none; }
  table.features td.feat-label {
    text-align: center;
    text-transform: uppercase; }
    table.features td.feat-label h2 {
      margin: 0 auto;
      max-width: 300px; }
      table.features td.feat-label h2:after {
        background: #ff6c00;
        content: "";
        display: block;
        height: 3px;
        width: 112px;
        margin: 25px auto 0; }
  table.features td.feats {
    vertical-align: text-top; }
    table.features td.feats h3 {
      margin-bottom: 10px;
      text-transform: uppercase; }
    table.features td.feats.basic h3 {
      color: #8492a6; }
    table.features td.feats.pro h3 {
      color: #f88f33; }
  table.features thead tr:nth-child(2) td {
    padding-top: 0; }
  table.features tr:nth-child(6) td, table.features tr:nth-child(13) td, table.features tr:nth-child(16) td {
    border-bottom: 0; }
  table.features p {
    font-size: 13px; }
  table.features h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 15px; }

/* About Us */
.about {
  text-align: center;
  box-shadow: none; }
  .about h2 {
    padding-top: 0;
    margin: 10px 0 30px;
    text-align: center; }
  .about .about-feat h2 {
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 5px; }
  .about .about-feat img {
    max-width: 190px;
    height: auto; }
  .about .about-feat span {
    font-size: 16px; }
  .about .about-feat .about-titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; }
  .about .about-feat .about-desc {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 90%; }

.about-news {
  background: url(images/background-large.svg) no-repeat center/cover;
  margin-top: 50px;
  border-top: 0; }
  .about-news h2 {
    margin-top: 50px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-align: center; }
  .about-news .news-col {
    height: 300; }
    .about-news .news-col img {
      border-radius: 5px 5px 0 0; }
    .about-news .news-col:hover .news-cont {
      box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2); }
  .about-news .news-cont {
    background: #fff;
    padding: 1px 30px 20px;
    border-radius: 0 0 5px 5px;
    transition: all 0.35s;
    min-height: 240px; }
    .about-news .news-cont .readmore-arr {
      position: relative;
      top: -1px;
      left: 5px; }
    .about-news .news-cont h3 {
      font-size: 21px;
      font-weight: bold; }
    .about-news .news-cont .news-desc {
      font-size: 15px; }
    .about-news .news-cont .read-more {
      font-size: 11px;
      font-weight: bold;
      height: 32px;
      display: block;
      float: none;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ff6c00;
      padding: 0;
      border: none;
      background: none; }
  .about-news .hror {
    background: #ff6600 none repeat scroll 0 0;
    border: 1px solid #fff;
    clear: both;
    color: #ff6600;
    display: block;
    margin: 0px auto 50px;
    position: relative;
    top: 15px;
    width: 100px; }
  .about-news .carousel-indicators li {
    margin: 1px 7px; }
  .about-news .carousel-control {
    background-image: none; }
    .about-news .carousel-control .glyphicon {
      color: #fff; }
    .about-news .carousel-control.right {
      margin-right: -15px; }
    .about-news .carousel-control.left {
      margin-left: -15px; }
  .about-news .about-feat {
    margin-bottom: 70px; }

.about-loyalty {
  text-align: center; }
  .about-loyalty h2 {
    line-height: 41px !important;
    margin-top: 30px;
    padding-top: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px; }
  .about-loyalty img {
    max-width: 60px;
    height: 68px; }
  .about-loyalty .about-col {
    padding: 0;
    margin-bottom: 30px; }
  .about-loyalty .about-titles {
    font-size: 20px;
    font-weight: 500; }
  .about-loyalty .about-desc {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 90%; }

/* AUNTIE ANNES */
.auntie-banner {
  background: url(images/auntie-banner-bg.png) repeat-x;
  background-color: #518ce4;
  min-height: 449px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }

.banner-logo {
  margin: 50px 0;
  max-width: 300px;
  width: 100%; }

.auntie-banner h3 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px; }

.auntie-banner .app-mob {
  min-width: 259px;
  width: 100%;
  text-align: left; }

.news-banner {
  max-width: 380px;
  width: 100%; }

.play-bt {
  width: 155px;
  background: none;
  padding: 0;
  border: none; }
  .play-bt img {
    width: 155px; }

.app-bt {
  background: none;
  width: 155px;
  padding: 0;
  border: none;
  margin-bottom: 10px; }

.banner-box {
  display: block;
  clear: both;
  padding-left: 0;
  padding-bottom: 20px; }

.apppic {
  margin: 0 15px; }
  .apppic img {
    max-width: 240px; }

.app-bt img {
  width: 155px; }

.news_content {
  font-size: 18px;
  line-height: 32px; }
  .news_content h3 {
    margin: 40px 0; }
  .news_content .download {
    padding-top: 60px;
    padding-left: 50px; }
  .news_content .download2 {
    padding: 30px 0; }

.download2 .title, .download .title {
  font-size: 22px; }

.related {
  background: #f7f9fb;
  margin-top: 30px;
  padding: 10px; }
  .related .news-desc {
    background: #fff;
    padding: 15px  20px;
    font-size: 14px;
    line-height: 26px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
  .related .read-more {
    color: #ff6c00; }
  .related .title {
    font-size: 22px;
    margin: 20px 0 0 10px; }
  .related .art {
    padding: 0 10px;
    margin: 18px 0;
    width: 100%; }

.view-related {
  text-align: center; }
  .view-related-all {
    font-size: 14px;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    display: block; }
    .view-related-all:hover {
      text-decoration: none;
      color: #ff6c00; }

.slick-arrow {
  display: none !important; }

/* ATHELETE's FOOT */
.athletes-banner {
  background: url(images/athletes-banner-bg.png) repeat-x;
  background-color: #4d4d4d;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .athletes-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .athletes-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }

/* UNILEVER's FOOT */
.unilever-banner {
  background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #ff8800;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .unilever-banner .banner-logo {
    width: 210px; }
  .unilever-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .unilever-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }

/* GOLD'S GYM */
.goldsgym-banner {
  background-color: #2B2B2B;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .goldsgym-banner .banner-logo {
    width: 90px; }
  .goldsgym-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .goldsgym-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }
  .goldsgym-banner .about-desc {
    margin-bottom: 30px; }

/* MATHEMAGIS */
.mathemagis-banner {
  background-color: #65C8C6;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .mathemagis-banner .banner-logo {
    width: 240px; }
  .mathemagis-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .mathemagis-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }

/* SCOULSCAPE */
.soulscape-banner {
  background-color: #CA9774;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .soulscape-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .soulscape-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }

/* YOGAPLUS */
.yogaplus-banner {
  background-color: #5D82C2;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px; }
  .yogaplus-banner .banner-logo {
    width: 200px; }
  .yogaplus-banner h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px; }
  .yogaplus-banner .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px; }

.padR15 {
  padding-right: 15px !important; }

/* HOW IT WORKS */
.hiw {
  padding: 50px 0;
  text-align: left;
  height: 74%;
  overflow: hidden; }
  .hiw .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px; }
    .hiw .loyalty-vid img {
      width: 60px;
      position: relative;
      left: -75px; }
  .hiw h2 {
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    margin: 50px 0 20px;
    line-height: 35px;
    max-width: 300px; }
  .hiw .hiw1-i {
    font-style: italic;
    font-size: 16px;
    padding: 20px 0;
    display: block;
    max-width: 408px; }
  .hiw .hiw-i {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px; }
  .hiw .bots {
    display: inline-block;
    position: relative;
    top: -155px;
    left: 30px; }
    .hiw .bots .f-trial, .hiw .bots .r-demo {
      width: 170px;
      height: 50px;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 1px; }

.hiw2 {
  padding: 90px 0;
  text-align: left; }
  .hiw2 .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px; }
    .hiw2 .loyalty-vid img {
      width: 60px;
      position: relative;
      left: -75px; }
  .hiw2 h2 {
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    margin: 80px 0 20px;
    line-height: 35px; }
  .hiw2 .hiw1-i {
    font-style: italic;
    font-size: 18px;
    padding: 20px 0;
    display: block;
    max-width: 408px; }
  .hiw2 .hiw-i {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px; }

.panel.step1, .panel.step2, .panel.step3, .panel.step4, .panel.step5 {
  text-align: center; }

.panel.step1 img, .panel.step2 img, .panel.step3 img, .panel.step4 img, .panel.step5 img {
  max-width: 120%; }

.panel.step2 .container img, .panel.step4 .container img {
  margin-left: -15%; }

.panel.step5 .hiw2 {
  padding: 86px 0; }

.panel.step5 .footer .s-icons li {
  padding: inherit; }

.panel.step5 .footer img {
  max-width: 100%;
  margin-left: 0;
  margin-top: 0; }

.panel.step5 .broadcasting {
  margin-top: -6%; }

.ini-footer2 {
  position: relative;
  bottom: 0;
  background: url(images/background-small.svg) no-repeat center bottom;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 81px;
  width: 100%; }
  .ini-footer2 .container {
    height: 100%; }
    .ini-footer2 .container .l-label {
      font-size: 24px;
      color: #fff;
      position: relative;
      top: 20px; }
    .ini-footer2 .container .f-trial, .ini-footer2 .container .r-demo {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 50px;
      width: 170px;
      height: 50px;
      position: relative;
      top: 16px; }
    .ini-footer2 .container .f-trial {
      box-shadow: 0 2px 0 0 #cc5500; }
    .ini-footer2 .container div {
      text-align: left; }
      .ini-footer2 .container div:last-child {
        text-align: right; }
      .ini-footer2 .container div img {
        width: 100px;
        margin-top: 20px; }
      .ini-footer2 .container div div:nth-child(1) img {
        width: 120px; }

.step2, .step4 {
  background: #fcf9f7; }

.step5 img {
  position: relative;
  z-index: 9; }

/* REQUEST DEMO */
.rqdemo {
  min-height: 392px;
  display: block;
  font-size: 18px;
  color: #fff;
  background: transparent url("images/background-medium.svg") no-repeat scroll 100% center/100% auto;
  background-position: top center; }
  .rqdemo .content {
    margin-top: 40px; }
  .rqdemo h2 {
    font-size: 28px;
    font-weight: bold; }
  .rqdemo span {
    font-size: 16px; }

.rq-lowerpart {
  color: #16325c;
  padding-top: 50px; }
  .rq-lowerpart h3 {
    padding-bottom: 20px; }
  .rq-lowerpart li {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 18px; }
    .rq-lowerpart li h4 {
      font-size: 28px;
      font-weight: 300;
      padding-bottom: 10px;
      margin-bottom: 0; }
    .rq-lowerpart li .dm-icon {
      float: left;
      margin-right: 10px;
      position: relative;
      top: 7px;
      width: 38px; }
      .rq-lowerpart li .dm-icon img {
        width: 100%; }
    .rq-lowerpart li span {
      font-size: 16px;
      font-weight: 300; }
  .rq-lowerpart form {
    background: #f7f9fb;
    border-radius: 5px;
    padding: 40px 45px;
    color: #54698d;
    margin-bottom: 50px;
    text-align: left; }
    .rq-lowerpart form h2 {
      color: #16325c;
      padding: 0;
      margin: 0 0 20px; }
    .rq-lowerpart form label {
      font-size: 14px;
      color: #54698d;
      font-weight: normal; }
    .rq-lowerpart form .group-field {
      padding: 0;
      margin: 5px 0; }
    .rq-lowerpart form input[type="text"] {
      width: 100%;
      background: #ffffff;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px; }
      .rq-lowerpart form input[type="text"].mobile {
        border-radius: 0 5px 5px 0; }
    .rq-lowerpart form .multiselect {
      width: 100%; }
      .rq-lowerpart form .multiselect input[type="checkbox"] {
        display: none; }
        .rq-lowerpart form .multiselect input[type="checkbox"] + label {
          background: transparent url("images/radio.png") no-repeat scroll left bottom;
          clear: both;
          display: inline-block;
          padding: 10px 0 0 28px;
          position: relative;
          cursor: pointer;
          text-transform: uppercase; }
        .rq-lowerpart form .multiselect input[type="checkbox"]:checked + label {
          background: transparent url("images/radio-checked.png") no-repeat scroll left bottom;
          display: inline-block;
          padding: 10px 0 0 28px;
          cursor: pointer; }
    .rq-lowerpart form .selectBox {
      position: relative; }
      .rq-lowerpart form .selectBox select {
        width: 100%; }
        .rq-lowerpart form .selectBox select option:first-child {
          color: #cfd5e1; }
    .rq-lowerpart form .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      cursor: pointer; }
    .rq-lowerpart form .active {
      display: block; }
    .rq-lowerpart form #checkboxes {
      border: 1px #dadada solid;
      background: #fff;
      padding: 10px;
      max-height: 300px;
      overflow-y: scroll;
      position: absolute;
      z-index: 888; }
      .rq-lowerpart form #checkboxes:not(:focus) {
        display: none; }
      .rq-lowerpart form #checkboxes label {
        display: block;
        text-transform: capitalize; }
    .rq-lowerpart form select {
      background-color: #ffffff;
      background-image: url(images/sel-arrow.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      width: 100%;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px;
      position: reltive;
      -moz-appearance: none;
      -webkit-appearance: none; }
      .rq-lowerpart form select option:first-child {
        color: #cfd5e1; }
    .rq-lowerpart form img {
      max-width: 100%; }
    .rq-lowerpart form textarea {
      border: 1px solid #d5d9df; }
      .rq-lowerpart form textarea::-webkit-input-placeholder, .rq-lowerpart form textarea::-moz-placeholder, .rq-lowerpart form textarea:-ms-input-placeholder, .rq-lowerpart form textarea:-moz-placeholder {
        color: #cfd5e1; }
    .rq-lowerpart form em {
      font-style: italic; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    background: url(images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative; }
  input[type="radio"]:checked + label {
    background: url(images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px; }

/* Info Page */
.aCenter {
  text-align: center; }

.aLeft {
  text-align: left; }

.aRight {
  text-align: right; }

.info-page-head {
  background: url("images/background-small.svg") no-repeat center/cover;
  color: #fff;
  padding: 0; }
  .info-page-head h2 {
    padding: 20px 0; }

.info-page-body p {
  font-size: 15px; }

.info-page-body .glyphicon {
  color: #6f6d68;
  margin-right: 5px; }

.info-page-body .panel {
  box-shadow: none;
  height: auto !important; }

.info-page-body .panel-default, .info-page-body .panel-heading {
  background-color: transparent;
  border: 0 !important; }

.info-page-body .panel-default .panel-title, .info-page-body .panel-heading .panel-title {
  color: #343535; }

.info-page-body .panel-default .panel-body, .info-page-body .panel-heading .panel-body {
  font-size: 13px;
  padding-left: 40px; }

.info-page-body .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0 !important; }

.info-page-body .accordion-toggle:hover, .info-page-body .accordion-toggle:focus {
  text-decoration: none; }

.info-page-body table {
  max-width: 970px;
  width: 100%;
  margin: 0 auto; }
  .info-page-body table td {
    font-size: 14px;
    padding: 5px;
    vertical-align: text-top; }
    .info-page-body table td:first-child {
      padding-left: 15px;
      width: 150px; }
  .info-page-body table#definitions td {
    border-bottom: solid 1px #efefef;
    padding: 8px 5px; }
    .info-page-body table#definitions td:first-child {
      font-weight: 500;
      padding-right: 20px; }
  .info-page-body table#definitions tr:last-child td {
    border-bottom: 0; }

/* Jump Anchors */
.jump-anchors {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  text-align: center; }
  .jump-anchors.speciale {
    bottom: 15px;
    padding-right: 5px;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    transform: scale(0.7); }

.back-anchors {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center; }
  .back-anchors.speciale {
    text-align: center;
    z-index: 999;
    transform: scale(0.7); }

.panel {
  border-radius: 0; }
  .panel.home {
    height: 100vh; }
    .panel.home .full {
      padding: 0; }
  .panel.conduct {
    height: initial !important;
    border: 0;
    box-shadow: none; }
    .panel.conduct .col-md-4:nth-child(1) .about-desc {
      margin-bottom: 20px; }
  .panel .full {
    padding: 40px 0; }
    .panel .full.hp3 {
      padding: 0; }
    .panel .full.hiw2 {
      padding: 90px 0; }

/* Service Agreement */
.content.revamp {
  background: #f7f9fb;
  font-size: 14px;
  overflow-x: hidden; }
  .content.revamp p {
    font-size: 14px;
    margin: 0; }
  .content.revamp h3, .content.revamp h4 {
    margin: 15px 0 3px; }
  .content.revamp h3 {
    font-size: 2.5rem; }
  .content.revamp table td:first-child {
    padding: 10px 8px 10px 8px; }
  .content.revamp .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%; }

select.empty {
  color: #cfd5e1 !important; }
  select.empty option {
    color: #3a4a66 !important; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1050; }

/* Newsroom */
.newsroom .grid-item {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  text-align: center; }
  .newsroom .grid-item--big {
    max-width: 690px;
    height: 491px;
    background: #efefef; }
    .newsroom .grid-item--big .item-content-title {
      font-size: 22px; }
  .newsroom .grid-item--small {
    max-width: 330px;
    height: 237px; }
    .newsroom .grid-item--small .item-content-title {
      font-size: 18px; }
    .newsroom .grid-item--small .item-content-brand {
      transform: translateY(-20px); }
  .newsroom .grid-item .item-content {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
    .newsroom .grid-item .item-content-brand {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 2;
      width: 100%; }
    .newsroom .grid-item .item-content-title {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      color: #fff;
      font-weight: 600;
      width: 100%;
      padding: 10px 15px;
      text-align: left; }

/* More News */
.more-news {
  margin-bottom: 15px; }
  .more-news-title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700; }
    .more-news-title:after {
      content: '';
      position: absolute;
      width: 100px;
      height: 2px;
      display: block;
      background: #FF6C00;
      left: calc(50% - 50px);
      bottom: 0; }
  .more-news .item-content-header {
    width: 100%;
    height: 170px;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; }
    .more-news .item-content-header img {
      max-width: 100%; }
  .more-news .item-content-body {
    background: #F7F9FB;
    padding: 25px; }
    .more-news .item-content-body .title-small,
    .more-news .item-content-body .date-small {
      font-size: 13px;
      color: #8F9295; 
    }
      .more-news .item-content-body .title-small:not(.date-small),
      .more-news .item-content-body .date-small:not(.date-small) {
        text-transform: uppercase;
        font-weight: 500;
        color: #8492A6; }
    .more-news .item-content-body h4 {
      color: #16325C;
      font-weight: 400;
      font-size: 21px;
      height: 50px;
      overflow: hidden; }
  .more-news .mr-news-item {
    width: 32.8%;
    margin-bottom: 25px; }

/* News Item */
.news-item {
  text-align: left; }
  .news-item .title-small,
  .news-item .date-small {
    font-size: 13px;
    color: #8F9295; }
    .news-item .title-small:not(.date-small),
    .news-item .date-small:not(.date-small) {
      text-transform: uppercase;
      font-weight: 500;
      color: #8492A6; }
  .news-item .title {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px; }
  .news-item-banner {
    min-height: calc(540px - 40px);
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 20px 0;
    margin-top: 30px; }
    .news-item-banner_mobile {
      text-align: center;
      max-width: 100%; }
      .news-item-banner_mobile img {
        max-width: 100%; }
    .news-item-banner_desc {
      padding: 80px 40px 40px 15px; }
      .news-item-banner_desc p {
        font-size: 18px; }
    .news-item-banner .news-item-download {
      text-align: left; }
  .news-item-brand img {
    max-width: 300px; }
  .news-item-brief {
    padding: 30px 0; }
    .news-item-brief p:not(:last-child) {
      margin-bottom: 20px; }
  .news-item h3.title-h3 {
    margin: 40px 0 10px;
    text-align: center; }
  .news-item-body {
    padding: 30px 0; }
    .news-item-body p {
      font-size: 17px;
      text-align: center;
      max-width: 800px;
      margin: 0 auto 30px;
      line-height: 2; }
  .news-item-appblock, .news-item-downloadblock {
    background: #F7F9FB;
    padding: 30px 20px;
    text-align: center; }
    .news-item-appblock h3.block-title,
    .news-item-appblock p, .news-item-downloadblock h3.block-title,
    .news-item-downloadblock p {
      text-align: center; }
    .news-item-appblock p, .news-item-downloadblock p {
      font-size: 17px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
      .news-item-appblock p a, .news-item-downloadblock p a {
        color: #16325C; }
    .news-item-appblock .mobile-screenshots, .news-item-downloadblock .mobile-screenshots {
      margin-top: 30px; }
      .news-item-appblock .mobile-screenshots .apppic, .news-item-downloadblock .mobile-screenshots .apppic {
        text-align: center;
        margin-bottom: 15px !important; }
        .news-item-appblock .mobile-screenshots .apppic p, .news-item-downloadblock .mobile-screenshots .apppic p {
          max-width: 260px;
          margin: 15px auto 0; }
        .news-item-appblock .mobile-screenshots .apppic img, .news-item-downloadblock .mobile-screenshots .apppic img {
          max-width: 260px; }
    .news-item-appblock:not(.news-item-appblock), .news-item-downloadblock:not(.news-item-appblock) {
      background: #fff;
      padding-bottom: 50px; }
      .news-item-appblock:not(.news-item-appblock) p, .news-item-downloadblock:not(.news-item-appblock) p {
        max-width: 800px;
        margin: 0 auto; }
    .news-item-appblock .news-item-download, .news-item-downloadblock .news-item-download {
      margin: 40px auto; }
  .news-item-download {
    text-align: center; }
    .news-item-download .news-download-link {
      display: inline-block;
      width: 157px;
      height: 48px;
      border-radius: 100px;
      border: solid 1px #fff;
      margin-right: 5px;
      margin-bottom: 7px; }
      .news-item-download .news-download-link img {
        width: 157px; }

.related {
  margin-bottom: 0; }
  .related .more-news-title {
    margin-bottom: 45px; }
    .related .more-news-title:after {
      bottom: -15px; }
  .related .item-content-body {
    background: #fff; }

.xsocial-share {
  position: fixed;
  z-index: 9;
  width: 50px;
  text-align: center;
  background: #fff;
  padding: 5px 0;
  color: #4d4d4d;
  top: calc(50% - 265px/2); }
  .xsocial-share .ic {
    padding: 7px 5px; }

@media (min-width: 768px) and (max-width: 992px) {
  /* Home */
  .navbar li {
    padding: 0; }
  .auntie-banner .app-mob, .athletes-banner .app-mob {
    max-width: 300px; }
  .hp1 {
    background-position-y: 23%;
    background-size: 60%; }
  .hp1-content .loyalty-vid {
    margin-top: 20px; }
  .hp1-content h2 {
    font-size: 40px; }
  .hp1-hero-img img {
    max-width: 154%;
    top: 55px;
    right: 7px; }
  /* Newsroom */
  .newsroom.more-news .mr-news-item {
    width: 49.8%;
    float: left; } }

@media (min-width: 768px) {
  /* Navbar */
  #success .modal-dialog {
    width: 350px; } }

@media (min-width: 992px) {
  .hidden-md {
    display: none !important; }
  /* Footer */
  .ini-footer, .ini-footer2 {
    background-size: 102%; }
  /* Request Demo */
  .rqdemo {
    background-size: 180%; } }

@media (max-width: 1199px) {
  /* Newsroom */
  .newsroom .grid-item--big {
    max-width: 550px; }
  .newsroom .grid-item--small {
    max-width: 360px;
    margin-left: 5px; } }

@media (max-width: 992px) {
  /* Modal */
  .related .news-desc {
    max-width: 340px; }
  #signup .modal-dialog .modal-content {
    padding-left: 0;
    padding-right: 0; }
    #signup .modal-dialog .modal-content .group-field {
      min-height: inherit; }
  /* Home */
  .hp1-content h2 {
    margin-left: 30px; }
  .hp1-content .hp1-i {
    max-width: 350px; }
  .hp2, .hp3 {
    background-position: center top 5%; }
  .hp2-content, .hp3-content {
    margin-top: 55%; }
  /* About */
  .about .hror {
    margin: 15px auto 40px; }
  .about .about-desc {
    margin-bottom: 40px; }
  .about-news .about-feat {
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .about-news .carousel-indicators {
    bottom: -35px !important; }
  .about-news .news-cont {
    padding: 15px 25px 25px;
    min-height: 220px; }
    .about-news .news-cont h3 {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0; }
  /* How it Works */
  .hiw {
    padding: 0; }
    .hiw .hiw-content {
      text-align: center; }
      .hiw .hiw-content h2 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto; }
      .hiw .hiw-content .hiw-i {
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto; }
    .hiw img {
      max-width: 90%;
      margin: 20px auto; }
  .hiw2 img {
    max-width: 90%;
    margin: 20px auto; }
  .hiw .bots, .hiw2 .bots {
    margin-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }
  .hiw h2 {
    max-width: inherit; }
  .hiw2 {
    padding: 30px 0;
    text-align: center; }
    .hiw2 h2 {
      max-width: inherit;
      margin-top: 0; }
  .panel:not(.home) {
    height: auto; }
  .panel.step1 img, .panel.step2 img, .panel.step3 img, .panel.step4 img, .panel.step5 img {
    max-width: 90%; }
  .panel.step2 .container img, .panel.step4 .container img {
    margin-left: auto; }
  .panel.step5 img {
    margin-top: 12%; }
  /* Request Demo */
  .rqdemo {
    background-size: 180%; }
    .rqdemo .content h2 {
      margin-left: 0;
      margin-right: 0; }
  /* Footer */
  .ini-footer2 {
    padding-bottom: 35px; }
    .ini-footer2 .container .l-label {
      display: block;
      font-size: 2.5rem;
      line-height: 110%;
      margin: 0 auto 21px; }
    .ini-footer2 .container button {
      margin-left: auto;
      margin-right: auto; }
    .ini-footer2 .container div {
      line-height: inherit;
      text-align: center; }
      .ini-footer2 .container div:last-child {
        text-align: center; }
  .footer .s-icons, .footer .copyright {
    text-align: center; }
  .footer .f-links {
    margin: 18px auto 0;
    text-align: center; }
  .footer .copyright {
    margin: 9px auto; }
  .footer .s-icons li {
    margin-top: 7px; }
  /* Newsroom */
  .newsroom .grid-item--big {
    max-width: 400px; }
  .newsroom .grid-item--small {
    max-width: 290px;
    margin-left: 5px; }
  .newsroom .grid-item .item-content-brand {
    padding: 20px; }
    .newsroom .grid-item .item-content-brand img {
      max-width: 100%; }
  /* News Item */
  .news-item-banner_mobile img {
    max-width: 300px; }
  .news-item-banner_desc {
    padding: 10px 30px;
    text-align: center; }
    .news-item-banner_desc .news-item-download {
      text-align: center; }
  .news-item-brand img {
    max-width: 200px; }
  .news-item-body {
    padding: 30px; } }

@media (max-width: 916px) {
  .ini-footer .partners-slider .partner-next, .ini-footer .partners-slider .partner-prev {
    top: 60%; }
  .ini-footer .partners-slider .partner-next {
    right: -5%; }
  .ini-footer .partners-slider .partner-prev {
    left: -5%; } }

@media (max-width: 841px) {
  .ini-footer .partners-slider .partner-next {
    right: -3%; }
  .ini-footer .partners-slider .partner-prev {
    left: -3%; } }

@media (max-width: 812px) {
  .ini-footer .partners-slider .partner-next, .ini-footer .partners-slider .partner-prev {
    display: none !important; } }

@media (max-width: 768px) {
  .animated {
    transition-duration: 5s; }
  /* Panel */
  .panel {
    height: auto !important; }
  /* Animate */
  .navbar.wow {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important; }
  /* Modal */
  #signin {
    padding-right: 0 !important; }
  #signup .modal-dialog, #start-basic .modal-dialog, #start-pro .modal-dialog {
    width: inherit; }
  #signin .modal-dialog, #signup-success .modal-dialog {
    margin-left: auto;
    margin-right: auto; }
  /* Navbar */
  .navbar .navbar-header {
    float: none;
    margin-left: 0;
    margin-right: 0; }
  .navbar .navbar-toggle {
    display: initial; }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px; }
  .navbar .navbar-nav > li, .navbar .navbar-right {
    float: none !important; }
  /* Mobile Navbar */
  .navbar-default .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1048; }
    .navbar-default .navbar-collapse .full-mobile {
      display: table;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: scale(0);
      transition: .2s;
      opacity: 0;
      visibility: hidden; }
      .navbar-default .navbar-collapse .full-mobile .navbar-nav {
        display: table-cell;
        vertical-align: middle; }
        .navbar-default .navbar-collapse .full-mobile .navbar-nav li {
          padding: 10px 6px;
          text-align: center; }
          .navbar-default .navbar-collapse .full-mobile .navbar-nav li a {
            color: #fff !important; }
          .navbar-default .navbar-collapse .full-mobile .navbar-nav li .sign-in {
            color: #fff;
            border-color: #fff; }
    .navbar-default .navbar-collapse.collapse.in .full-mobile {
      transform: scale(1);
      opacity: 1;
      visibility: visible; }
      .navbar-default .navbar-collapse.collapse.in .full-mobile .nav {
        background: #FF6000; }
  /* Home */
  .hp1 {
    background-position: center bottom 33%;
    background-size: 42%; }
  .hp1-content {
    width: 100%; }
    .hp1-content .loyalty-vid {
      margin: 0 auto; }
      .hp1-content .loyalty-vid img {
        left: inherit; }
    .hp1-content h2 {
      font-size: 3rem;
      text-align: center; }
    .hp1-content .hp1-i {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 0 10px;
      text-align: center; }
    .hp1-content .bots {
      line-height: 80%;
      text-align: center; }
      .hp1-content .bots button {
        margin: 0 auto; }
  .hp1-hero-img {
    width: 100%;
    padding-bottom: 80px; }
    .hp1-hero-img img {
      max-width: 380px;
      width: 100%;
      right: 0;
      margin-top: 20px; }
  .hp2, .hp3 {
    background-position: center top 5%;
    background-size: 85%; }
  .hp2-content, .hp3-content {
    margin-top: 58%; }
  .hp2-content li, .hp3-content li {
    margin-bottom: 20px; }
  .hp2-content li .dm-icon {
    margin: 0; }
  .hp3-content {
    padding-left: 15px; }
    .hp3-content li .dm-icon {
      margin: 0; }
  /* Products */
  .product {
    background-size: auto 300px;
    background-position: top; }
  table.features td:nth-child(2) {
    padding-left: 15px; }
  table.features td:nth-child(3), table.features td:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px; }
  table.features td:nth-child(5) {
    width: 0; }
  /* Request Demo */
  .rqdemo {
    background-size: 180%; }
    .rqdemo .content {
      text-align: center; }
  .rq-lowerpart h3 {
    text-align: center; }
  .rq-lowerpart li {
    padding-bottom: 10px; }
  /* Footer */
  .ini-footer {
    min-height: inherit;
    height: 50px;
    margin-left: -5px;
    width: calc(100% + 5px); }
    .ini-footer .container div img {
      margin-top: 0;
      max-width: 60px;
      position: relative;
      top: -15px; }
  /* Newsroom */
  .newsroom.more-news .mr-news-item {
    width: 49.8%;
    float: left; } }

@media (max-width: 749px) {
  /* Newsroom */
  .newsroom .grid-item {
    height: 250px; }
    .newsroom .grid-item--big {
      max-width: inherit; }
      .newsroom .grid-item--big .item-content-brand {
        transform: translateY(-20px); }
    .newsroom .grid-item--small {
      max-width: inherit;
      margin-left: 0; } }

@media (max-width: 680px) {
  /* How it Works */
  .hiw-content h2, .hiw2-content h2 {
    max-width: 500px;
    margin: 0 auto 20px; } }

@media (max-width: 650px) {
  /* Newsroom */
  .newsroom.more-news .mr-news-item {
    width: 100%;
    float: none; }
  .newsroom.more-news .item-content-header {
    height: 200px; }
  .newsroom.more-news .item-content-body h4 {
    height: initial; } }

@media (max-width: 600px) {
  /* Modal */
  .jump-anchors {
    display: none; }
  #start-basic .add-ons table td:first-child, #start-basic .add-ons table td:last-child {
    width: 0 !important; }
  #start-pro .add-ons table td:first-child, #start-pro .add-ons table td:last-child {
    width: 0 !important; }
  /* Footer */
  .footer .f-links {
    width: inherit; }
  /* Home */
  .hp1 {
    background-position: center bottom 33%;
    background-size: 51%; }
  .hp2, .hp3 {
    background-position: center top 3%; }
  .hp2-content, .hp3-content {
    margin-top: 62%;
    margin-bottom: 0; }
  .hp2-content h2, .hp3-content h2 {
    font-size: 2.5rem !important; }
  .hp2-content span, .hp3-content span {
    font-size: 15px !important;
    line-height: 150% !important; }
  .hp2-content li, .hp3-content li {
    margin-bottom: 24px; }
  .hp2-content li span, .hp3-content li span {
    width: 100%; }
  /* Products */
  table.features td.feat-label h2 {
    font-size: 20px;
    max-width: 150px;
    position: relative;
    top: 28px; }
  table.features td.feats h3 {
    font-size: 18px; }
  table.features td.feats p {
    font-size: 12px; }
  table.features td.feats h2 {
    font-size: 20px; }
    table.features td.feats h2 .value {
      font-size: 27px; }
  table.features td.feats a {
    width: 100px;
    height: 35px;
    padding: 10px 0; }
  /* Request Demo */
  .rqdemo {
    background-size: 250%; }
  .rq-lowerpart li h4 {
    font-size: 2.5rem !important; }
  .rq-lowerpart li span {
    font-size: 15px !important;
    line-height: 150% !important; }
  .rq-lowerpart li .dm-icon {
    max-width: 38px;
    width: 100%;
    margin-right: 0; } }

@media (max-width: 560px) {
  .sa-menu {
    display: none; } }

@media (max-width: 480px) {
  /* Navbar */
  .news_content .download {
    padding-left: 0;
    padding-right: 0; }
  .banner-box {
    padding: 0; }
  .navbar {
    margin-bottom: 0; }
  /* Home */
  .hp1 {
    background-position: center bottom 35%;
    background-size: 73%; }
  .hp1-content h2 {
    font-size: 2.5rem;
    margin-top: 10px; }
  .hp1-content .hp1-i {
    font-size: 16px; }
  .hp1-content .bots {
    margin-top: 7px; }
  /* About */
  .about h2 {
    font-size: 2.75rem;
    margin-top: 0;
    margin-bottom: 5px; }
  .about .about-titles {
    font-size: 1.75rem;
    line-height: initial; }
  .about .about-desc {
    font-size: 1.25rem; }
  .about-loyalty h2 {
    margin-top: 25px;
    font-size: 2.25rem;
    line-height: 140% !important; }
  .about-loyalty img {
    max-width: 50px;
    height: auto; }
  .about-news {
    padding-bottom: 10px; }
    .about-news h2 {
      font-size: 2.5rem;
      margin: 20px auto 0; }
    .about-news .hror {
      margin-bottom: 40px; }
  .news-cont .news-titles {
    font-size: 1.75rem;
    line-height: initial; }
  .news-cont .news-desc {
    font-size: 1.25rem !important; }
  /* How it Works */
  .hiw {
    line-height: 100%; }
    .hiw .bots button {
      margin-left: auto;
      margin-right: auto; }
  .hiw2 .bots button {
    margin-left: auto;
    margin-right: auto; }
  .hiw-content h2, .hiw2-content h2 {
    font-size: 2.5rem;
    line-height: 120% !important;
    max-width: 350px; }
  .panel.step1 img, .panel.step2 img, .panel.step3 img, .panel.step4 img, .panel.step5 img {
    max-width: 100%; }
  .panel.step2 .container img, .panel.step4 .container img {
    margin-left: 0; }
  .panel.step5 img {
    margin-top: 3%; }
  /* Products */
  .product .banner-opt .col-md-5, .product .banner-opt .opt-desc {
    padding-left: 0;
    padding-right: 0; }
  .plan-feat .container {
    padding-left: 0;
    padding-right: 0; }
  /* Request Demo */
  .rqdemo {
    background-size: 320%; }
  /* Footer */
  .ini-footer2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: -2px; }
    .ini-footer2 .container .r-demo {
      margin-bottom: 10px; }
    .ini-footer2 .container .l-label {
      font-size: 2rem; } }

@media (max-width: 420px) {
  /* Homepage */
  .hp1-content .bots .r-demo {
    margin-bottom: 15px; } }

@media (max-width: 400px) {
  /* Sign Up Captcha */
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; }
  /* Products */
  .plan-feat .container {
    overflow-x: scroll; }
    .plan-feat .container table.features .feat-label, .plan-feat .container table.features .feats {
      position: relative;
      left: -20px; }
  /* How it Works */
  .hiw .bots .r-demo, .hiw .bots .f-trial {
    display: block; }
  /* Request Demo */
  .rqdemo {
    background-size: 370%; }
  .rq-lowerpart form {
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 360px) {
  /* Request Demo */
  .rqdemo {
    background-size: 400%; } }

@media (max-width: 320px) {
  /* Home */
  .hp1 {
    background: none; }
  .hp1-hero-img img {
    display: none; }
  .hp2, .hp3 {
    background-position: center top 2%; }
  /* How it Works */
  .hiw h2 {
    font-size: 3rem; }
  .hiw2 h2 {
    font-size: 3rem; }
  .hiw2 img {
    margin: 0 auto 10px; }
  /* Request Demo */
  .rqdemo {
    background-size: 450%; } }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
