body {
  background-color: #E6E9ED; }

.noBorderRadius {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

#rightcontent .header .howdy button, #rightcontent .container #content .fixed-table-container {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

#sidemenu {
  position: fixed;
  left: 0;
  min-width: 240px;
  width: 240px;
  float: left;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index: 3; }
  #sidemenu .logoholder {
    height: 76px;
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #f5f5f5; }
    #sidemenu .logoholder img {
      margin: 17px auto;
      display: block; }
  #sidemenu #menu {
    background: #fff;
    float: left;
    width: 100%;
    /* Highlight Active Menu */ }
    #sidemenu #menu ul {
      padding: 0;
      float: left;
      width: 100%; }
      #sidemenu #menu ul li {
        list-style: none;
        width: 100%;
        float: left; }
        #sidemenu #menu ul li a {
          color: #627181;
          display: block;
          float: left;
          width: 100%;
          outline: none;
          position: relative;
          font-family: 'Open Sans', sans-serif; }
          #sidemenu #menu ul li a i {
            height: 40px;
            width: 50px;
            float: left;
            margin-right: 14px; }
          #sidemenu #menu ul li a span {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            height: 40px; }
        #sidemenu #menu ul li:hover, #sidemenu #menu ul li.active {
          background-color: #f8f8f8; }
    #sidemenu #menu a:hover, #sidemenu #menu a:active {
      text-decoration: none; }
    #sidemenu #menu li.active a {
      text-decoration: none; }
    #sidemenu #menu .icon {
      background-repeat: no-repeat; }
    #sidemenu #menu li.das .icon {
      background-position: 0 -10px;
      background-image: url("../images/menu_icons.png"); }
    #sidemenu #menu li.merchant .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -60px; }
    #sidemenu #menu li.management .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -304px; }
    #sidemenu #menu li.settings .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -495px; }
    #sidemenu #menu li.rewards .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -110px; }
    #sidemenu #menu li.billing .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -700px; }
    #sidemenu #menu li.prospects .icon {
      background-position: 0 1px;
      background-image: url("../images/menu_icons.png");
      background-position-y: -545px; }
    #sidemenu #menu li.activ {
      background-color: #f2f2f2; }
      #sidemenu #menu li.activ a > i {
        background-color: #f57f20; }
      #sidemenu #menu li.activ .icon {
        background-image: url("../images/menu_icons_hover.png"); }
      #sidemenu #menu li.activ a {
        color: #161616;
        font-weight: 600; }
    #sidemenu #menu li.clientlogos-menu .icon {
      padding-left: 32px;
      position: relative;
      font-style: normal; }
      #sidemenu #menu li.clientlogos-menu .icon:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 10px;
        left: 15px;
        content: "\f024";
        color: #949594; }
    #sidemenu #menu li.news-menu .icon {
      padding-left: 32px;
      position: relative;
      font-style: normal; }
      #sidemenu #menu li.news-menu .icon:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 10px;
        left: 15px;
        content: "\f1ea";
        color: #949594; }
    #sidemenu #menu li.home-menu .icon {
      padding-left: 32px;
      position: relative;
      font-style: normal; }
      #sidemenu #menu li.home-menu .icon:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 10px;
        left: 15px;
        content: "\f015";
        color: #949594; }

#rightcontent {
  float: left;
  width: 100%;
  padding-left: 240px;
  background-color: #e7e7e7;
  margin: 0;
  min-height: 100%; }
  #rightcontent .header {
    height: 76px;
    width: 100%;
    background: #4b4f55;
    padding: 0 35px;
    float: left; }
    #rightcontent .header h3 {
      font-weight: normal;
      margin-top: 24px;
      color: #fff; }
    #rightcontent .header .howdy {
      margin-top: 10px; }
      #rightcontent .header .howdy .btn-group {
        float: right; }
      #rightcontent .header .howdy img {
        margin-right: 10px; }
      #rightcontent .header .howdy button {
        border: 0;
        font-size: 15px; }
        #rightcontent .header .howdy button .caret {
          margin-left: 10px; }
        #rightcontent .header .howdy button:hover {
          background-color: #fefefe; }
        #rightcontent .header .howdy button.dropdown-toggle {
          box-shadow: 0 0 0;
          background-color: #4b4f55;
          color: #fff; }
      #rightcontent .header .howdy .dropdown-menu {
        width: 100%; }
  #rightcontent .container {
    width: 100%;
    padding: 0 35px; }
    #rightcontent .container .search {
      margin-top: 18px;
      float: left; }
      #rightcontent .container .search input[type="text"] {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        padding: 0 12px;
        height: 42px; }
      #rightcontent .container .search button {
        border-color: #ccc;
        background-color: #fff;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        border-left: 0;
        outline: 0;
        padding: 10px 12px;
        height: 42px; }
        #rightcontent .container .search button i {
          color: #AEAAA5; }
    #rightcontent .container #content {
      background-color: #fff;
      margin-top: 18px;
      float: left;
      width: 100%;
      min-height: 400px; }
      #rightcontent .container #content .navTabsWrap {
        background-color: #F2F4F6;
        float: left;
        width: 100%;
        border-bottom: 1px solid #ddd; }
        #rightcontent .container #content .navTabsWrap .nav-tabs {
          float: left;
          border-bottom: 0; }
          #rightcontent .container #content .navTabsWrap .nav-tabs li {
            margin-bottom: -2px; }
            #rightcontent .container #content .navTabsWrap .nav-tabs li a {
              border-radius: 0;
              margin-right: 0;
              margin-top: -1px;
              color: #747474;
              font-weight: 500;
              background-image: url("../images/navtabsborder.jpg");
              background-position: right center;
              background-repeat: no-repeat; }
            #rightcontent .container #content .navTabsWrap .nav-tabs li.active a {
              font-weight: 600;
              background-image: none; }
        #rightcontent .container #content .navTabsWrap .addNew {
          float: right;
          color: #747474;
          padding: 10px 15px; }
      #rightcontent .container #content .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        min-height: 400px;
        padding: 1%; }
      #rightcontent .container #content .data-table {
        color: #575454;
        border: 0;
        margin-top: 15px; }
        #rightcontent .container #content .data-table td, #rightcontent .container #content .data-table th {
          border: 0 !important; }
        #rightcontent .container #content .data-table .edit, #rightcontent .container #content .data-table .delete {
          color: #C7C0BA;
          margin-left: 20px;
          float: right; }
        #rightcontent .container #content .data-table tbody tr {
          background-color: #F2F4F6;
          border-bottom: 1px solid #fff; }
          #rightcontent .container #content .data-table tbody tr:hover {
            background-color: #FFF6D8; }
        #rightcontent .container #content .data-table.management tr td:last-child, #rightcontent .container #content .data-table.management tr th:last-child {
          border-left: 0; }
      #rightcontent .container #content .fixed-table-container {
        border: 0; }

.add-merchant {
  margin: 10px 0; }

.merchants-table-row-div {
  margin-top: 20px; }
  .merchants-table-row-div .enabled-disabled-toggle {
    cursor: pointer;
    text-transform: capitalize; }
  .merchants-table-row-div .enabled {
    color: green; }
  .merchants-table-row-div .disabled {
    color: red; }

.merchant-view .tab-pane {
  padding: 20px; }

.merchant-view form {
  margin-top: 20px; }

.merchant-view .spacing {
  padding: 15px; }

.merchant-view .status-label {
  font-weight: bold; }

.merchant-view .status-options label, .merchant-view .modules-options label {
  font-weight: normal; }

.merchant-view .status-options .form-group, .merchant-view .modules-options .form-group {
  margin-bottom: 0px; }

.merchant-view .merchant-view-buttons .btn-primary {
  color: #fff;
  background-color: #f6ae1c;
  border-color: transparent; }

.merchant-view .error {
  color: red; }

.merchant-view #enabled-disabled-toggle {
  cursor: pointer; }
  .merchant-view #enabled-disabled-toggle:hover {
    color: #f6ae1c; }

#enabled-disabled-toggle-modal {
  background-color: rgba(0, 0, 0, 0.6); }
  #enabled-disabled-toggle-modal #enabled-disabled-reason {
    resize: none;
    height: 200px;
    width: 100%; }
  #enabled-disabled-toggle-modal .btn-primary {
    color: #fff;
    background-color: #f6ae1c;
    border-color: transparent; }

#management-branches-view, #management-employees-view, #management-customers-view, #management-points-view, .management-rewards, .management-rewards-add, #management-transactions-view, .management-rewards, #management-billing-view {
  margin-top: 20px;
  padding: 20px; }

#management-branches-view label, #management-employees-view label, #management-customers-view label, #management-points-view label, .management-rewards label, .management-rewards-add label, #management-transactions-view label, .management-rewards label, #management-billing-view label {
  color: #969595;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px; }

#management-branches-view .delete-reward, #management-employees-view .delete-reward, #management-customers-view .delete-reward, #management-points-view .delete-reward, .management-rewards .delete-reward, .management-rewards-add .delete-reward, #management-transactions-view .delete-reward, .management-rewards .delete-reward, #management-billing-view .delete-reward {
  cursor: pointer; }

#management-branches-view h4, #management-employees-view h4, #management-customers-view h4, #management-points-view h4, .management-rewards h4, .management-rewards-add h4, #management-transactions-view h4, .management-rewards h4, #management-billing-view h4 {
  font-size: 21px;
  color: #666464;
  margin-bottom: 25px; }

#management-branches-view table .rewards-img, #management-employees-view table .rewards-img, #management-customers-view table .rewards-img, #management-points-view table .rewards-img, .management-rewards table .rewards-img, .management-rewards-add table .rewards-img, #management-transactions-view table .rewards-img, .management-rewards table .rewards-img, #management-billing-view table .rewards-img {
  max-width: 65px; }

#management-branches-view table td.is_deleted_text, #management-employees-view table td.is_deleted_text, #management-customers-view table td.is_deleted_text, #management-points-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, .management-rewards-add table td.is_deleted_text, #management-transactions-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, #management-billing-view table td.is_deleted_text {
  text-transform: capitalize; }

#management-branches-view table .enabled, #management-employees-view table .enabled, #management-customers-view table .enabled, #management-points-view table .enabled, .management-rewards table .enabled, .management-rewards-add table .enabled, #management-transactions-view table .enabled, .management-rewards table .enabled, #management-billing-view table .enabled {
  color: green; }

#management-branches-view table .disabled, #management-employees-view table .disabled, #management-customers-view table .disabled, #management-points-view table .disabled, .management-rewards table .disabled, .management-rewards-add table .disabled, #management-transactions-view table .disabled, .management-rewards table .disabled, #management-billing-view table .disabled {
  color: red; }

#management-branches-view .btn-rush, #management-employees-view .btn-rush, #management-customers-view .btn-rush, #management-points-view .btn-rush, .management-rewards .btn-rush, .management-rewards-add .btn-rush, #management-transactions-view .btn-rush, .management-rewards .btn-rush, #management-billing-view .btn-rush {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }

#management-branches-view .btn-rush:hover, #management-branches-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#management-employees-view .btn-rush:hover, #management-employees-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#management-customers-view .btn-rush:hover, #management-customers-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#management-points-view .btn-rush:hover, #management-points-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.management-rewards .btn-rush:hover, .management-rewards .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.management-rewards-add .btn-rush:hover, .management-rewards-add .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#management-transactions-view .btn-rush:hover, #management-transactions-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.management-rewards .btn-rush:hover, .management-rewards .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#management-billing-view .btn-rush:hover, #management-billing-view .btn-rush:active {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

#settings-view {
  padding: 15px;
  min-height: 600px; }
  #settings-view .settings-view-buttons .btn-primary {
    color: #fff;
    background-color: #f6ae1c;
    border-color: transparent; }

.management-rewards-add textarea {
  resize: none;
  min-height: 300px; }

.management-rewards-add .btn-file {
  position: relative;
  overflow: hidden; }
  .management-rewards-add .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.error-msg {
  color: red !important; }

.yellow-btn {
  color: #fff !important;
  background-color: #f6ae1c !important;
  border-color: transparent !important; }

#deposit_upload_btn {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  border: 1px solid #f8ae1a;
  border-radius: 4px;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  color: #f8ae1a;
  height: 53px;
  padding: 12px 40px 0px 40px; }
  #deposit_upload_btn #deposit_slip {
    position: fixed;
    top: -1000px; }
  #deposit_upload_btn span {
    cursor: pointer; }

/* Billing Module CSS */
.view-bill-upper {
  background-color: #F2F4F6;
  padding: 10px; }
  .view-bill-upper .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020; }

.view-bill-statement {
  padding: 10px; }

.account-summary-link {
  cursor: pointer; }

.soa_acctNum {
  margin-top: 20px;
  font-size: medium; }

.view-billing {
  padding: 10px; }

.billing {
  /*Remove number type spinner*/
  /*Browse Button*/ }
  .billing .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020; }
  .billing #frm_payt_cc hr, .billing #frm_payt_otc hr, .billing .soa hr {
    border: none;
    height: 1px;
    background: #efefef; }
  .billing .bill_label {
    font-family: Open Sans;
    color: #afafaf;
    font-size: medium;
    margin: 0px;
    font-weight: normal; }
  .billing .bill_value {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background: transparent !important;
    box-shadow: none; }
    .billing .bill_value:focus {
      font-family: Open Sans Semibold;
      color: #656565;
      font-size: medium;
      border-style: none;
      padding: 0px;
      margin: 0px;
      background: transparent !important;
      box-shadow: none; }
  .billing #month {
    width: 46%; }
  .billing #day {
    margin: 0px 6px;
    width: 25%; }
  .billing #year {
    width: 25%; }
  .billing .payt_date, .billing .view_date, .billing #bill_amt, .billing #bill_ref_no, .billing #payment_date, .billing #paytMethod {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    height: 53px;
    padding-left: 10px;
    box-shadow: none; }
  .billing #bill_upload_btn {
    border-style: none;
    box-shadow: none;
    color: transparent; }
  .billing .bill_btn {
    font-family: Roboto;
    font-size: medium;
    color: white;
    background-color: #ea6a1d;
    border: none;
    padding: 10.5px 0px;
    border-radius: 6px; }
    .billing .bill_btn:hover {
      background-color: #DA5B10; }
  .billing .img_thumb {
    width: 55px;
    height: 55px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: pink; }
  .billing #dl_soa_btn {
    margin-right: 12px; }
  .billing .soa_btn {
    font-family: Roboto;
    font-size: medium;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding: 0px 12px; }
    .billing .soa_btn:link, .billing .soa_btn:visited {
      white-space: nowrap;
      font-family: Roboto;
      font-size: medium;
      color: #5a5a5a;
      background-color: transparent;
      border: 1px solid #b5b5b5;
      border-radius: 6px;
      height: 53px;
      padding-top: 12px;
      text-align: center;
      text-decoration: none; }
    .billing .soa_btn:hover {
      background-color: #F1F1F1;
      cursor: pointer;
      cursor: hand;
      text-decoration: none; }
  .billing #searchDate {
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
    box-shadow: none;
    font-size: medium;
    height: 42px;
    font-family: Open Sans;
    padding-left: 24px;
    color: #a7a6a6; }
  .billing #calendarSpan {
    border-radius: 0px 60px 60px 0px !important;
    background-color: #ffffff;
    color: #afafaf;
    border-left: 0px; }
  .billing #searchBtn {
    border: none !important;
    box-shadow: none; }
    .billing #searchBtn a {
      color: #f58020;
      font-family: Open Sans;
      font-size: medium; }
      .billing #searchBtn a:hover {
        text-decoration: none;
        color: #EC730F; }
      .billing #searchBtn a:active, .billing #searchBtn a:visited, .billing #searchBtn a:link {
        text-decoration: none; }
  .billing td[class=record_num] {
    width: 10%;
    text-align: center; }
  .billing .record_num {
    font-weight: bold; }
  .billing .view_btn {
    font-size: medium; }
  .billing a[class=view_btn]:visited, .billing a[class=view_btn]:active, .billing a[class=view_btn]:link {
    text-decoration: none;
    color: #afafaf; }
  .billing a[class=view_btn]:hover {
    text-decoration: none;
    color: #656565;
    cursor: pointer;
    cursor: hand; }
  .billing .bill_hr hr {
    margin-top: 4px; }
  .billing .bill_table td {
    height: 95px;
    border-top: none !important; }
  .billing .soa h3 {
    padding-top: 30px !important; }
  .billing .soa td, .billing .soa th {
    border-top: none !important;
    padding: 4px 0px !important; }
  .billing .soa hr {
    border-top: dashed 1px; }
  .billing .soa_heading1, .billing #soa_name {
    font-size: medium; }
  .billing #soa_address {
    padding-left: 10px !important;
    width: 75%;
    color: #555555;
    font-size: medium; }
  .billing .soa_heading1, .billing .soa_heading2, .billing .soa_items, .billing #soa_address, .billing .soa_amounts, .billing #soa_name {
    font-family: Open Sans; }
  .billing .soa_heading2, .billing .soa_note {
    color: #939393; }
  .billing .soa_heading1, .billing .soa_acctNum {
    font-weight: bold; }
  .billing .soa_totalAmtDue td {
    padding: 12px !important; }
  .billing .breakdown_total td, .billing .soa_heading2 th {
    padding-top: 12px !important; }
  .billing .soa_items, .billing .soa_heading2, .billing .soa_total_label, .billing .soa_totalAmtDue, .billing .soa_amounts {
    font-size: medium; }
  .billing .soa_heading1, .billing .soa_heading2 {
    font-weight: bold; }
  .billing .soa_items {
    color: #535353; }
  .billing .soa_item_list td {
    padding-top: 12px !important; }
  .billing #soa_name {
    color: #555555; }
  .billing .soa_amounts {
    color: #090909; }
  .billing .soa_total_label, .billing .soa_totalAmtDue {
    color: #2a2a2a; }
  .billing .align_right {
    text-align: right; }
  .billing .orange_box {
    border: 2px solid #f8ae1a; }
    .billing .orange_box td {
      padding-top: 20px !important;
      padding-bottom: 20px !important; }
  .billing .account_summary {
    border: 2px solid #f9f9f9;
    padding: 30px 26px !important; }
    .billing .account_summary td {
      padding-left: 8px !important;
      padding-right: 8px !important; }
    .billing .account_summary th {
      text-align: center;
      border-bottom: none !important; }
  .billing .soa_note {
    font-family: Open Sans;
    font-size: medium; }
  .billing .usage_breakdown th {
    border-bottom: none !important;
    padding-bottom: 16px !important; }
  .billing #bill_ref_no::-webkit-outer-spin-button, .billing #bill_ref_no::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .billing #bill_amt::-webkit-outer-spin-button, .billing #bill_amt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .billing label#custom_upload_btn input[type="file"] {
    position: fixed;
    top: -1000px; }
  .billing #custom_upload_btn {
    font-family: Roboto;
    font-size: medium;
    font-weight: normal;
    border: 1px solid #f8ae1a;
    border-radius: 4px;
    margin: 0 auto;
    background: transparent;
    display: inline-block;
    color: #f8ae1a;
    height: 53px;
    padding: 12px 40px 0px 40px; }
    .billing #custom_upload_btn:hover {
      background: #F1F1F1;
      cursor: pointer;
      cursor: hand; }

#paymentModalOTC, #paymentModalCC {
  background-color: rgba(0, 0, 0, 0.4);
  /* The Modal (background) */
  /* Add Animation */ }

#paymentModalOTC .bill_popup h2, #paymentModalCC .bill_popup h2 {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium; }

#paymentModalOTC .bill_popup p, #paymentModalCC .bill_popup p {
  color: #656565;
  font-family: Open Sans;
  font-size: medium; }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

#paymentModalOTC .modal, #paymentModalCC .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content */
#paymentModalOTC .modal-content, #paymentModalCC .modal-content {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 0px;
  padding: 30px; }

#paymentModalOTC .modal-content .modal-body, #paymentModalCC .modal-content .modal-body {
  background-color: #fff; }

#paymentModalOTC .modal-content button, #paymentModalCC .modal-content button {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 8px 50px;
  text-align: center;
  border-radius: 6px; }

.home {
  padding: 20px; }
  .home .spacing {
    margin-top: 40px; }
  .home .module {
    margin: 20px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 120px;
    width: 140px; }
    .home .module .module-icon {
      height: 100%;
      width: 100%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding: 70px 10px 10px 10px;
      color: #627181;
      background-position: 50% 20px; }
      .home .module .module-icon:hover {
        background-color: #f57f20;
        color: #fff; }
      .home .module .module-icon.icon-merchant {
        background-image: url("../images/icon-merchant.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-merchant:hover {
          background-image: url("../images/icon-merchant-hover.png"); }
      .home .module .module-icon.icon-management {
        background-image: url("../images/icon-management.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-management:hover {
          background-image: url("../images/icon-management-hover.png"); }
      .home .module .module-icon.icon-rewards {
        background-image: url("../images/icon-rewards.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-rewards:hover {
          background-image: url("../images/icon-rewards-hover.png"); }
      .home .module .module-icon.icon-billing {
        background-image: url("../images/icon-billing.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-billing:hover {
          background-image: url("../images/icon-billing-hover.png"); }
      .home .module .module-icon.icon-prospects {
        background-image: url("../images/icon-prospects.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-prospects:hover {
          background-image: url("../images/icon-prospects-hover.png"); }
      .home .module .module-icon.icon-settings {
        background-image: url("../images/icon-settings.png");
        background-repeat: no-repeat; }
        .home .module .module-icon.icon-settings:hover {
          background-image: url("../images/icon-settings-hover.png"); }
      .home .module .module-icon .icon.icon-home {
        position: relative;
        font-style: normal; }
      .home .module .module-icon .icon.icon-home:before {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 30px;
        bottom: 30px;
        content: "\f015";
        color: #949594; }
      .home .module .module-icon:hover .icon.icon-home:before {
        color: #fff;
      }
      .home .module .module-icon .icon.icon-home:hover {
        color: #fff; }
      .home .module .module-icon .icon.icon-news {
        position: relative;
        font-style: normal; }
      .home .module .module-icon .icon.icon-news:before {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 30px;
        bottom: 30px;
        content: "\f1ea";
        color: #949594; }
      .home .module .module-icon:hover .icon.icon-news:before {
        color: #fff;
      }
      .home .module .module-icon .icon.icon-clientlogos {
        position: relative;
        font-style: normal; }
      .home .module .module-icon .icon.icon-clientlogos:before {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 30px;
        bottom: 30px;
        content: "\f024";
        color: #949594; }
      .home .module .module-icon:hover .icon.icon-clientlogos:before {
        color: #fff;
      }

/** ADMIN CMS **/
.admin-cms {
  font-family: 'Open Sans', sans-serif;
  margin-top: 90px !important;
  margin-bottom: 20px;
  /* Forms & Inputs */
  /* News */
  /* Client Logos */ }
  .admin-cms .dataTables_scrollBody {
    border-bottom: 0 !important; }
  .admin-cms .fixed-table-toolbar .pull-right.search {
    position: absolute;
    top: -115px;
    width: 300px;
    margin-top: 10px !important; }
    .admin-cms .fixed-table-toolbar .pull-right.search input[type="text"] {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      padding: 0 32px 0 12px !important;
      background: url(../images/sIco.png) no-repeat right center #fff;
      font-weight: 600; }
  .admin-cms .data-table {
    margin-top: 0 !important;
    border-collapse: collapse; }
    .admin-cms .data-table thead th {
      color: #464646;
      font-size: 14px;
      padding: 13px 20px 13px 8px;
      background: #f0f0f0; }
    .admin-cms .data-table tbody tr {
      border-bottom: solid 1px #efefef !important; }
      .admin-cms .data-table tbody tr td {
        background-color: #fff;
        color: #707070;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px; }
        .admin-cms .data-table tbody tr td:first-child {
          font-weight: 600; }
        .admin-cms .data-table tbody tr td i.fa {
          margin-right: 5px; }
        .admin-cms .data-table tbody tr td .edit, .admin-cms .data-table tbody tr td .delete {
          float: none !important; }
          .admin-cms .data-table tbody tr td .edit:focus, .admin-cms .data-table tbody tr td .delete:focus {
            outline: 0; }
  .admin-cms .vis-published {
    color: #707070; }
  .admin-cms .vis-draft {
    color: #b9b9b9; }
  .admin-cms .vis-select {
    border-radius: 3px;
    border: solid 1px #e8e8e8;
    color: #a2a2a2;
    padding: 6px;
    width: 80px;
    /* Reset Appearance */
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* New Dropdown Arrow */
    background-image: linear-gradient(45deg, transparent 50%, #a2a2a2 50%), linear-gradient(135deg, #a2a2a2 50%, transparent 50%);
    background-position: calc(100% - 10px) 1em, calc(100% - 5px) 1em;
    background-size: 6px 5px,
 6px 5px;
    background-repeat: no-repeat; }
    .admin-cms .vis-select.vis-visible {
      color: #f6ae1c;
      font-weight: 600; }
    .admin-cms .vis-select.vis-hidden {
      color: #a2a2a2; }
    .admin-cms .vis-select.vis-visible option, .admin-cms .vis-select.vis-hidden option {
      color: #707070; }
  .admin-cms .scrollX-table {
    overflow-x: auto; }
  .admin-cms .bottom {
    padding: 10px; }
    .admin-cms .bottom .pagination-detail,
    .admin-cms .bottom .page-list,
    .admin-cms .bottom .dataTables_length,
    .admin-cms .bottom .dataTables_info {
      font-size: 12px; }
    .admin-cms .bottom .page-list,
    .admin-cms .bottom .dataTables_length {
      margin-bottom: 10px;
      font-weight: 600; }
    .admin-cms .bottom .dataTables_length {
      margin-bottom: 0; }
    .admin-cms .bottom .dataTables_paginate {
      padding-bottom: 20px; }
  .admin-cms form label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #5a5a5a;
    display: block;
    font-weight: 600; }
  .admin-cms form input, .admin-cms form textarea, .admin-cms form select {
    margin-bottom: 20px;
    border-color: transparent;
    border: solid 1px #e2e2e2;
    border-radius: 0;
    background: #f7f7f7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none; }
    .admin-cms form input:focus, .admin-cms form textarea:focus, .admin-cms form select:focus {
      border: solid 1px #e2e2e2;
      box-shadow: none;
      outline: 0; }
  .admin-cms form input[type="text"] {
    padding: 0 12px;
    height: 42.2px; }
    .admin-cms form input[type="text"]:disabled {
      background: #fff; }
  .admin-cms form .btn-file {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    height: 40px;
    border: 0;
    background-color: #c9c9c9;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    top: 2px;
    margin-bottom: 20px; }
  .admin-cms form input[type="file"] {
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    cursor: pointer; }
  .admin-cms form .imgwrap {
    display: block;
    max-width: 100%;
    overflow: hidden;
    background: #ebebeb; }
  .admin-cms form .imgprev[src=""] {
    background: black; }
  .admin-cms form i {
    font-size: 12px;
    color: #bcbcbc;
    position: relative;
    top: -15px;
    display: block; }
  .admin-cms form button {
    width: 48%;
    padding: 12px; }
    .admin-cms form button.btn-primary {
      color: #fff;
      background-color: #f6ae1c;
      border-color: transparent; }
      .admin-cms form button.btn-primary:focus {
        outline: 0; }
    .admin-cms form button:focus {
      outline: 0; }
      .admin-cms form button:focus:active {
        border-color: transparent;
        background-color: #f6ae1c; }
  .admin-cms.createnew {
    margin-top: 60px !important;
    /* TinyMCE Editor */
    /* Spectrum Color Picker */ }
    .admin-cms.createnew .content {
      background-color: #fff;
      margin-top: 18px;
      float: none;
      width: 100%;
      min-height: 400px;
      padding: 30px 20px; }
      .admin-cms.createnew .content-title {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 600;
        color: #5a5a5a; }
      .admin-cms.createnew .content input[type="file"] {
        right: initial;
        left: 0; }
      .admin-cms.createnew .content.button-wrap {
        background-color: transparent;
        padding: 0; }
        .admin-cms.createnew .content.button-wrap button {
          width: initial;
          font-weight: 600; }
          .admin-cms.createnew .content.button-wrap button.draft {
            color: #fff;
            background-color: #c9c9c9;
            margin-left: 10px; }
            .admin-cms.createnew .content.button-wrap button.draft:hover {
              border-color: #c9c9c9; }
    .admin-cms.createnew textarea {
      resize: none; }
    .admin-cms.createnew .textarea-editor {
      padding: 10px;
      width: 100% !important;
      min-height: 350px; }
    .admin-cms.createnew .mce-tinymce button {
      width: initial;
      padding: 4px 6px; }
    .admin-cms.createnew .mce-tinymce i.mce-caret {
      display: inherit; }
    .admin-cms.createnew .mce-tinymce #mceu_17 i.mce-caret {
      top: 0; }
    .admin-cms.createnew .mce-tinymce #mceu_24 i.mce-ico {
      top: 0; }
    .admin-cms.createnew .mce-tinymce #mceu_24 i.mce-caret {
      top: inherit; }
    .admin-cms.createnew .sp-replacer {
      background: #ebebeb;
      border-color: #e2e2e2 !important;
      padding: 0;
      overflow: initial;
      margin-bottom: 20px;
      border-radius: 4px; }
    .admin-cms.createnew .sp-preview {
      width: 46px;
      height: 38px;
      border: 0;
      margin-top: -2px;
      margin-left: -1px;
      margin-right: 0;
      transform: translateY(1px);
      border-radius: 4px 0 0 4px;
      overflow: hidden; }
    .admin-cms.createnew .sp-dd {
      padding: 10px 14px;
      font-size: 16px;
      color: #bcbcbc; }
  .admin-cms-extratop {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 40px; }
    .admin-cms-extratop .back-icon {
      width: 30px;
      height: 30px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: url("../images/news-back-icon.png") no-repeat center/30px;
      margin-right: 10px;
      position: relative;
      top: 10px; }
    .admin-cms-extratop a {
      color: #bcbcbc;
      font-size: 15px;
      font-weight: 600; }
      .admin-cms-extratop a:hover {
        color: #bcbcbc;
        text-decoration: none; }
    .admin-cms-extratop h3 {
      font-weight: 600;
      color: #5a5a5a;
      margin-top: 30px; }
  .admin-cms.clientlogos {
    margin-top: 60px !important;
    /* Add outline while dragging row */ }
    .admin-cms.clientlogos thead th:first-child {
      background-image: none; }
    .admin-cms.clientlogos tfoot th {
      opacity: 0;
      font-size: 0; }
    .admin-cms.clientlogos td:first-child {
      text-align: center;
      font-size: 21px;
      color: #bcbcbc;
      background-image: url("../images/re-order-icon.png");
      background-repeat: no-repeat;
      background-size: 40% 20%;
      background-position: center;
      overflow: hidden;
      text-indent: -100px; }
      .admin-cms.clientlogos td:first-child:hover {
        cursor: move; }
    .admin-cms.clientlogos .dt-rowReorder-moving {
      border-left: solid 5px #f6ae1c; }
  .admin-cms .logo-thumb {
    width: 70px;
    height: 50px;
    display: block;
    background-color: #e5e5e5;
    border-radius: 3px; }
    .admin-cms .logo-thumb img {
      max-width: 70px;
      max-height: 50px;
    }

.button-toolbar {
  position: relative;
  bottom: -75px;
  /* Client Logos */ }
  .button-toolbar .btn.btn-primary, .button-toolbar .btn.btn-primary:active:focus {
    background-color: #f6ae1c;
    border-color: transparent;
    outline: 0; }
  .button-toolbar.clientlogos {
    bottom: initial;
    top: 40px; }

/* Admin CMS Modal */
.admin-cms-modal .modal {
  font-family: 'Open Sans', sans-serif; }
  .admin-cms-modal .modal-dialog {
    width: 430px;
    transform: translate(0, 0); }
  .admin-cms-modal .modal.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out; }
  .admin-cms-modal .modal-header {
    height: 50px;
    font-size: 18px;
    padding: 15px 34px;
    border-bottom: 0; }
  .admin-cms-modal .modal-content {
    border-radius: 0; }
    .admin-cms-modal .modal-content span.ex {
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer; }
      .admin-cms-modal .modal-content span.ex i {
        font-size: 20px;
        color: #E9E6E3; }
  .admin-cms-modal .modal-body {
    padding: 15px 34px;
    background-color: #F0F3F5; }
    .admin-cms-modal .modal-body form label {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      color: #a3a3a3; }
    .admin-cms-modal .modal-body form input, .admin-cms-modal .modal-body form textarea, .admin-cms-modal .modal-body form select {
      margin-bottom: 20px;
      border-color: transparent;
      border: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      font-family: 'Open Sans', sans-serif; }
    .admin-cms-modal .modal-body form input[type="text"] {
      padding: 0 12px;
      height: 42.2px; }
      .admin-cms-modal .modal-body form input[type="text"]:disabled {
        background: #fff; }
    .admin-cms-modal .modal-body form .btn-file {
      position: relative;
      overflow: hidden;
      font-size: 14px;
      height: 40px;
      border: 0;
      background-color: #c9c9c9;
      color: #fff;
      display: block;
      padding: 10px;
      font-weight: 600;
      top: 2px; }
    .admin-cms-modal .modal-body form input[type="file"] {
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      display: block;
      cursor: pointer; }
    .admin-cms-modal .modal-body form i {
      font-size: 12px;
      color: #bcbcbc;
      position: relative;
      top: -15px; }
    .admin-cms-modal .modal-body form button {
      width: 48%;
      padding: 12px; }
      .admin-cms-modal .modal-body form button.btn-primary {
        color: #fff;
        background-color: #f6ae1c;
        border-color: transparent; }

/* Spectrun Container */
.sp-container {
  transition: none; }

/* TinyMCE */
.mce-combobox button {
  padding: 6px 6px !important; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */

