html{
	body{
	background: #000 url("../images/header-bg.jpg") no-repeat center top fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	 background-size: cover;
  	 font-size: 16px;
	}
}

$font-reg: Open Sans Regular;
$font-semi: Open Sans Semibold;
$font-bold: Open Sans Bold;

.overlay{
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.header-section{
	background: rgba(0, 0, 0, 0.5);
	height: 700px;
}

.header-section2{
	background: rgba(0, 0, 0, 0.5);
	height: 342px;
}



.navigation{
	padding: 30px 0;
	margin: 0
}


.navbar-brand{
	color: #fff;
}

.mobile-nav{
	float: right;
	padding: 0;
	margin-top: 0;
	li{
		display: inline-block;
		margin: 0 0 0 15px;
		a{
			color: #fff!important;
			display: block;
			text-transform: uppercase;	
			font-family: $font-reg;
			text-decoration: none;
			padding: 10px 12px;
			border-radius: 4px;
			font-size: 14px;
			letter-spacing: 1px;
		}
		a:hover{
			background: #ffa726;

		}
	}
}

#head-content{
	.headings{
		text-align: center;
		color: #fff;
		font-family: $font-reg;
		margin: 4% 0 4%;
		h1{font-size: 40px}
		h2{font-size: 30px;
			margin: 0px;
		}
	}
	.start-btn{
		width: 400px;
		border: 2px solid #ffa726;
		padding: 10px;
		margin: 0% auto 2%;
		text-align: center;
		color: #fff;
		display: block;
		font-size: 20px;
		font-family: $font-bold;
		line-height: 22px;
		letter-spacing: 1px;
		border-radius: 6px;
		text-transform: uppercase;
		span{
			font-family: $font-reg;
			display: block;
			font-size: 16px;
		}
	}
	.start-btn:hover{
		background: rgba(0, 0, 0, 0.3);
		border: 2px solid #ffa726;
		color: #fff;
		text-decoration: none;
	}

	.banner{
		img{
			display: block;
			margin: 0 auto}

	}

}

/*content*/

.required{
	color:#ff0000;
}

.content3{
	padding: 60px 0 60px;
	background: #fff;
	text-align: center;

	.about{
		text-align: left;
		line-height: 30px;
		color: #787878;
	}

}


.login{
		background: transparent;
		padding-top: 100px;


		.forgot-pass{
			padding: 20px 10px 10px 10px!important;
			p {
				font-weight: normal;
			}
			
		}


	.form{
		margin: 0px auto;
		text-align: center;
		width: 383px;
		border-radius: 5px;
		padding: 75px 20px 60px;
		background-color:#fff;

		img{
			margin-bottom: 20px;
		}

		input{
			height: 44px;
			font-size: 20px;
		}

		p{
			line-height: 30px;
			color: #787878;
		}

		.start-btn{
		height: 45px;
		border: 2px solid #ffa726;
		padding: 10px;
		text-align: center;
		color: #787878;
		display: block;
		font-size: 20px;
		font-family: $font-bold;
		line-height: 22px;
		letter-spacing: 1px;
		border-radius: 6px;
		text-transform: uppercase;
		span{
			font-family: $font-reg;
			display: block;
			font-size: 16px;
		}
	}
	.start-btn:hover{
		background-color: #ffa726;
		border: 2px solid #ffa726;
		color: #fff;
		text-decoration: none;
	}

	}

.modal-dialog {
    width: 484px;
}

}


.content{
	padding: 170px 0 60px;
	background: #fff;




	h2{
		text-align: center;
		margin-bottom: 50px;
	}
	.support-box{
		text-align: center;
		p{
			margin: 20px 0;
			color: #5f6666;
		}
	}
}

.styled-select {
	background: url("../images/registration_dropdown_icon2.png") no-repeat;
	background-position: right;
	background-image: 50px;
   width: 100%;
   height: 45px;
   overflow: hidden;
   position: relative;
   border-radius: 5px;
   border: 1px solid #ccc;

   select {
	   background: transparent;
	   height: 45px;
	   width: 100%;
	   padding: 2px 10px 0;
	   font-size: 16px;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 34px;
	   -webkit-appearance: none;
	   -moz-appearance: none;
		   -webkit-appearance: none;
		   appearance: none;

	   }
   }

.styled-input::before {
	background: url("../images/registration_company_icon.png") no-repeat left;
	background-image: 50px;
   width: 100%;
   height: 45px;
   overflow: hidden;
   position: relative;
   border-radius: 5px;
   border: 1px solid #ccc;

   input {
	   background: transparent;
	   height: 45px;
	   width: 100%;
	   padding: 2px 10px 100px;
	   font-size: 16px;
	   line-height: 1;
	   border: 0;
	   border-radius: 0;
	   height: 34px;
	   -webkit-appearance: none;
	   -moz-appearance: none;
		   -webkit-appearance: none;
		   appearance: none;

	   }
   }

.modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
.modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom {
padding-right: 17px;
}

.space{
	display: block;
	padding-top: 10%;
}

.content2{
	padding: 40px 100px 60px;
	background: #fff;
	h2{
		text-align: center;
		margin-bottom: 50px;
	}


	.check{
		display: block;
		background: transparent;
		margin-top: -94px;
		text-align:center;
		font-size: 24px;
		font-style:  $font-reg;
		color: #787878;

		img{
			margin-bottom: 54px;
		}

			.start-btn{
				width: 206px!important;
			}
	}

	.container{
			width: 909px!important;


				label{
						font-weight: 100;
						font-size: 16px;
						color:#666666;
					
				}


				input, select{
						height: 45px;
						font-size: 20px;
						
					}

				textarea{
					height: 80px;
					font-size: 20px; 
				}	


				 #credit-card{
				 	
				 }

				.payment{
					padding-top: 30px;

				}

				.start-btn{
					width: 200px;
					border: 2px solid #ffa726;
					padding: 20px 10px;
					margin: 0% auto 2%;
					text-align: center;
					color: #666666;
					display: block;
					font-size: 20px;
					font-family: $font-bold;
					line-height: 22px;
					letter-spacing: 1px;
					border-radius: 6px;
					text-transform: uppercase;
					text-decoration: none;
					span{
						font-family: $font-reg;
						display: block;
						font-size: 16px;
						font-weight: bold;
						
					}
				}


				.start-btn:hover{
						color: #fff
					
					}

				.start-btn2{
					width: 300px;
					border: 2px solid #99cc01;
					padding: 10px 30px;
					margin: 0% auto 2%;
					text-align: center;
					color: #fff;
					display: block;
					font-size: 20px;
					font-family: $font-bold;
					line-height: 22px;
					letter-spacing: 1px;
					border-radius: 6px;
					text-transform: uppercase;
					text-decoration: none;
					background-color: #99cc01;
					span{
						font-family: $font-reg;
						display: block;
						font-size: 16px;
						font-weight: bold;
						
					}

				}

					.start-btn2:hover{
						text-decoration: none;
						color: #fff;
					}	

					.start-btn:hover{
						background: #ffa727;
						color: #fff
					}
					.package{
						width: 448px;					
						float: left;
						position: relative;
						margin-top: 10px;
						border-left: 1px solid #fff;

						#punch-card{

								width: 100%;
								font-family: $font-semi;
								.left{
									text-align: left;
									padding: 5px 30px;
								}
								.center{
									text-align: center;
								}

							
						}

							td{
								padding:10px 5px;
								color: #615f5f;
							}
							th{
								text-align: center;
								background: #615f60;
								color:#fff;
							}
							.loyalty{
								background: #ffa726!important;
							}

							.card{
								background: #444242!important;
							}
							tr:nth-child(even) {background: #eee}
							tr:nth-child(odd) {background: #e7e7e7}
					}

					.loyalty{
						background: #ffa726;
					}	

					.top{
						 -webkit-transform: scale(1.05); 
   						 -moz-transform: scale(1.05);
   						 -o-transform: scale(1.05);
   						 transform: scale(1.05);
						 box-shadow: 1px 2px 10px #888888;
						 //top: -20px;
						 z-index: 1;
					}

					.top{
						-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
					}
}	


				   

	.support-box{
		text-align: center;
		p{
			margin: 20px 0;
			color: #5f6666;
		}
	}
}


/*modal*/

#modal-package{
	label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:22px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}


.vlad{background-image:url(../images/vlad.png);}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	font-weight: 100;
	padding-left:43px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

font-family: $font-semi;
h3, h2{
	margin: 2px!important;
}

h5{
		line-height: 6px;
}


	.left{
			text-align: left;
			padding: 5px 30px;
		}
		.center{
			text-align: center;
		}

	td{
			padding:10px 5px;
			color: #615f5f;
		}
		th{
			text-align: center;
			background: #615f60;
			color:#fff;
			padding-bottom: 20px;
		}
		.loyalty{
			background: #ffa726!important;
		}
		tr:nth-child(even) {background: #fff}
		tr:nth-child(odd) {background: #eee}


}

.button-package{
	padding: 20px 30px;
	.start-btn3{
	width: 100%;
	border: 2px solid #99cc01;
	padding: 10px 30px;
	margin: 0% auto 2%;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 18px;
	font-family: $font-bold;
	line-height: 22px;
	letter-spacing: 1px;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #99cc01;
	span{
		font-family: $font-reg;
		display: block;
		font-size: 16px;
		font-weight: bold;
		
	}

}
	.start-btn3:hover{
		text-decoration: none;
		color: #fff;
		background-color: #a5d025;
	}	

	.start-btn{
		width: 311px;
		border: 2px solid #ffa726;
		padding: 10px 28px;
		margin: 0% auto 2%;
		text-align: center;
		color: #666666;
		display: block;
		font-size: 18px;
		font-family: $font-bold;
		line-height: 22px;
		//letter-spacing: 1px;
		border-radius: 6px;
		text-transform: uppercase;
		text-decoration: none;
		span{
			font-family: $font-reg;
			display: block;
			font-size: 16px;
			font-weight: bold;
			
		}

	}	

	.start-btn:hover{
		background-color: #ffa726;
		border: 2px solid #ffa726;
		color: #fff;
		text-decoration: none;
	}

}

#modal-dimension .modal-dialog {
	margin: 10% auto;
}


.modal-container{
	//padding: 50px 30px;
}

.modal-content .close {
    position: absolute;
    right: 15px;
    top: 12px;
        color: #fff; 
    opacity: 10;
}

.modal-dialog {
	width:717px;
}


/*clients*/
.clients{
	background: url("../images/partner-bg.jpg") no-repeat;
	padding: 70px 0 70px;
	overflow: hidden;
	position: relative;
	.foreground{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.4);				
	}
	h2{ text-align: center;
		color: #fff;	
		margin: 0 0 40px;
		position: relative;
		z-index: 9;	
	}
	.partner{
		span{
			width: 180px;
			height: 180px;
			margin: 15px auto;
			background: #fff;
			display: block;
			border-radius: 100%;
			border: 2px solid #fff;
			overflow: hidden;
			position: relative;
		}		
	}
}

footer{
	background: #413f3f;
	border-top: 2px solid #f15a09;
	padding: 30px 0 0;
	ul.footer-nav{
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 28px;
		li a{
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			font-family: $font-semi;
			}
			a:hover{
			color: #f5c564;
			text-decoration: none;
			}	
	}
}

ul.footer-contact{	
	padding: 0;
	margin: 0;
	li{
		list-style: none;
		color: #b3b2b2;
		line-height: 28px;
		font-size: 14px;
		i{
			padding: 0 12px 0 0;
		}
		a{
			color: #a8a7a7;						
		}
		a:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}

.social-media{
	margin-bottom: 12px;
	a{
		display: inline-block;
		color: #fff;
		padding: 0 18px 0 0;
		font-size: 22px;
	}
}

.copyright{
	background: #302e2e;
	margin-top: 20px;
	p{
		margin-bottom: 0;
		text-align: center;
		color: #fff;
		padding: 12px 0;
		span{
			font-size: 12px;
			color: #979797;
		}
	}
}



@media (max-width: 1199px){
	
}
@media (max-width: 991px){}
@media (max-width: 768px){

	.form{
		width: 100%!important;
	}


	.navigation{
		padding: 0;
		.mobile-nav-icon{
			margin:10px 0 0 0;
			width: auto;
			height: auto;
			padding: 0;
			border-radius:0;
			border: none;
			i{
				font-size: 25px;
			}
		}
		.navbar-brand{
			padding: 12px 0!important;
			color: #fff;
		}
	}

	.banner{
		img{
			width: 90%;
			margin: 0 auto;
		}
	}
	#head-content{
		.headings{
			h1{
				font-size: 30px;
			}
			h2{
				font-size: 20px;
			}
		}
	}
	
	.start-btn{
		width: 100%!important;
	}

	.mobile-nav-icon{
		border: 1px solid #fff;
		width: 50px;
		height: 50px;
		color: #fff;
	}

	.mobile-nav{
		background: #fff;
		width: 100%;
		ul{			
			width: 100%;
			position: relative;
			left: 0;
			right: 0;
			li{
				width: 100%;
				a{
					width: 100%;
					color: #000!important;
					border-radius: 0;
				}
			}
		}

	}

	.clients{
		h2{
			margin-bottom: 20px!important;
		}
		.partner{
			span{
			width: 100%!important;
			height: 100%!important;
			img{
				width: 100%;
			}
		}
	}
}


	

}
@media (max-width: 768px){


}

@media (max-width: 480px){

.form{
		width: 100%;
	}	

	.content{
		padding: 170px 0 20px!important;
	}
}


