.footer-sec {
  text-align: center;
}

.footer {
  font-size: 13px;
  min-height: 90px;
  background: #41536f;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  .f-links {
    font-size: 12px;
    margin-top: 43px;
    width: 286px;
    padding: 0;
    li {
      padding-right: 15px;
      margin-right: 15px;
      border: 0;
      border-right: 1px solid #ddd;
      display: inline-block;
      &:last-child {
        border-right: 0;
        margin-right: 0px;
        padding-right: 0;
      }
      &:hover {
        color: #8495af;
        text-decoration: none;
      }
      a {
        float: left;
        height: 13px;
        position: relative;
        top: -4px;
        color: #fff;
        &:hover {
          color: #8495af;
          text-decoration: none;
        }
      }
    }
  }
  .s-icons {
    text-align: left;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      margin-top: 30px;
      width: 34px;
      a {
        padding-right: 20px;
        border: 0;
        color: #fff;
        img {
          width: 34px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: #8492a6;
    margin-top: 40px;
  }
}