@media (min-width: 768px) and (max-width: 992px) {
  /* Home */
  .navbar li {
    padding: 0;
  }
  .auntie-banner .app-mob, .athletes-banner .app-mob {
    max-width: 300px;
  }
  .hp1 {
    background-position-y: 23%;
    background-size: 60%;
  }
  .hp1-content {
    .loyalty-vid {
      margin-top: 20px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .hp1-hero-img img {
    max-width: 154%;
    top: 55px;
    right: 7px;
  }
}

@media (min-width: 768px) {
  /* Navbar */
  .navbar .container .navbar-brand {
    margin-left: 15px;
  }
  #success .modal-dialog {
    width: 350px;
  }
}

@media (min-width: 992px) {
  .hidden-md {
    display: none !important;
  }
  /* Footer */
  .ini-footer, .ini-footer2 {
    background-size: 102%;
  }
  /* Request Demo */
  .rqdemo {
    background-size: 180%;
  }
}

@media (max-width: 992px) {
  /* Modal */
  .related .news-desc {
    max-width: 340px;
  }
  #signup .modal-dialog .modal-content {
    padding-left: 0;
    padding-right: 0;
    .group-field {
      min-height: inherit;
    }
  }
  /* Home */
  .hp1-content {
    h2 {
      margin-left: 30px;
    }
    .hp1-i {
      max-width: 350px;
    }
  }
  .hp2, .hp3 {
    background-position: center top 5%;
  }
  .hp2-content, .hp3-content {
    margin-top: 55%;
  }
  /* About */
  .about {
    .hror {
      margin: 15px auto 40px;
    }
    .about-desc {
      margin-bottom: 40px;
    }
  }
  .about-news {
    .about-feat {
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
    .carousel-indicators {
      bottom: -35px !important;
    }
    .news-cont {
      padding: 15px 25px 25px;
      min-height: 220px;
      h3 {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  /* How it Works */
  .hiw {
    padding: 0;
    .hiw-content {
      text-align: center;
      h2 {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .hiw-i {
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
      }
    }
    img {
      max-width: 90%;
      margin: 20px auto;
    }
  }
  .hiw2 img {
    max-width: 90%;
    margin: 20px auto;
  }
  .hiw .bots, .hiw2 .bots {
    margin-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .hiw h2 {
    max-width: inherit;
  }
  .hiw2 {
    h2 {
      max-width: inherit;
      margin-top: 0;
    }
    padding: 30px 0;
    text-align: center;
  }
  .panel {
    &.step1 img, &.step2 img, &.step3 img, &.step4 img, &.step5 img {
      max-width: 90%;
    }
    &.step2 .container img, &.step4 .container img {
      margin-left: auto;
    }
    &.step5 img {
      margin-top: 1%;
    }
  }
  /* Request Demo */
  .rqdemo {
    background-size: 180%;
    .content h2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  /* Footer */
  .ini-footer2 {
    padding-bottom: 35px;
    .container {
      .l-label {
        display: block;
        font-size: 2.5rem;
        line-height: 110%;
        margin: 0 auto 21px;
      }
      button {
        margin-left: auto;
        margin-right: auto;
      }
      div {
        line-height: inherit;
      }
    }
  }
  .footer {
    .s-icons, .copyright {
      text-align: center;
    }
    .f-links {
      margin: 18px auto 0;
      text-align: center;
    }
    .copyright {
      margin: 9px auto;
    }
    .s-icons li {
      margin-top: 7px;
    }
  }
}

@media (max-width: 768px) {
  .animated {
    transition-duration: 5s;
  }
  /* Panel */
  .panel:not(.home) {
    height: auto !important;
  }
  /* Animate */
  .navbar.wow {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important;
  }
  /* Modal */
  #signin {
    padding-right: 0 !important;
  }
  #signup .modal-dialog, #start-basic .modal-dialog, #start-pro .modal-dialog {
    width: inherit;
  }
  #signin .modal-dialog, #signup-success .modal-dialog {
    margin-left: auto;
    margin-right: auto;
  }
  /* Navbar */
  .navbar {
    .navbar-header {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
    .navbar-toggle {
      display: initial;
    }
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-nav > li, .navbar-right {
      float: none !important;
    }
  }
  /* Mobile Navbar */
  .navbar-default .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1048;
    .full-mobile {
      display: table;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: scale(0);
      transition: .2s;
      opacity: 0;
      visibility: hidden;
      .navbar-nav {
        display: table-cell;
        vertical-align: middle;
        li {
          padding: 10px 6px;
          text-align: center;
          a {
            color: #fff !important;
          }
          .sign-in {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
    &.collapse.in .full-mobile {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      .nav {
        background: #FF6000;
      }
    }
  }
  /* Home */
  .hp1 {
    background-position: center bottom 33%;
    background-size: 42%;
  }
  .hp1-content {
    width: 100%;
    .loyalty-vid {
      margin: 0 auto;
      img {
        left: inherit;
      }
    }
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    .hp1-i {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 0 10px;
      text-align: center;
    }
    .bots {
      line-height: 80%;
      text-align: center;
      button {
        margin: 0 auto;
      }
    }
  }
  .hp1-hero-img {
    width: 100%;
    padding-bottom: 80px;
    img {
      max-width: 380px;
      width: 100%;
      right: 0;
      margin-top: 20px;
    }
  }
  .hp2, .hp3 {
    background-position: center top 5%;
    background-size: 85%;
  }
  .hp2-content, .hp3-content {
    margin-top: 58%;
  }
  .hp2-content li, .hp3-content li {
    margin-bottom: 20px;
  }
  .hp2-content li .dm-icon {
    margin: 0;
  }
  .hp3-content {
    li .dm-icon {
      margin: 0;
    }
    padding-left: 15px;
  }
  /* Products */
  .product {
    background-size: auto 300px;
    background-position: top;
  }
  table.features td {
    &:nth-child(2) {
      padding-left: 15px;
    }
    &:nth-child(3), &:nth-child(4) {
      padding-left: 5px;
      padding-right: 5px;
    }
    &:nth-child(5) {
      width: 0;
    }
  }
  /* Request Demo */
  .rqdemo {
    background-size: 180%;
    .content {
      text-align: center;
    }
  }
  .rq-lowerpart {
    h3 {
      text-align: center;
    }
    li {
      padding-bottom: 10px;
    }
  }
  /* Footer */
  .ini-footer {
    min-height: inherit;
    height: 50px;
    margin-left: -5px;
    width: calc(100% + 5px);
    .container div img {
      margin-top: 0;
      max-width: 60px;
      position: relative;
      top: -15px;
    }
  }
}

@media (max-width: 680px) {
  /* How it Works */
  .hiw-content h2, .hiw2-content h2 {
    max-width: 500px;
    margin: 0 auto 20px;
  }
}

@media (max-width: 600px) {
  /* Modal */
  .jump-anchors {
    display: none;
  }
  #start-basic .add-ons table td {
    &:first-child, &:last-child {
      width: 0 !important;
    }
  }
  #start-pro .add-ons table td {
    &:first-child, &:last-child {
      width: 0 !important;
    }
  }
  /* Footer */
  .footer .f-links {
    width: inherit;
  }
  /* Home */
  .hp1 {
    background-position: center bottom 33%;
    background-size: 51%;
  }
  .hp2, .hp3 {
    background-position: center top 3%;
  }
  .hp2-content, .hp3-content {
    margin-top: 62%;
    margin-bottom: 0;
  }
  .hp2-content h2, .hp3-content h2 {
    font-size: 2.5rem !important;
  }
  .hp2-content span, .hp3-content span {
    font-size: 15px !important;
    line-height: 150% !important;
  }
  .hp2-content li, .hp3-content li {
    margin-bottom: 24px;
  }
  .hp2-content li span, .hp3-content li span {
    width: 100%;
  }
  /* Products */
  table.features td {
    &.feat-label h2 {
      font-size: 20px;
      max-width: 150px;
      position: relative;
      top: 28px;
    }
    &.feats {
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
      h2 {
        font-size: 20px;
        .value {
          font-size: 27px;
        }
      }
      a {
        width: 100px;
        height: 35px;
        padding: 10px 0;
      }
    }
  }
  /* Request Demo */
  .rqdemo {
    background-size: 250%;
  }
  .rq-lowerpart li {
    h4 {
      font-size: 2.5rem !important;
    }
    span {
      font-size: 15px !important;
      line-height: 150% !important;
    }
    .dm-icon {
      max-width: 38px;
      width: 100%;
      margin-right: 0;
    }
  }
}

@media (max-width: 560px) {
  .sa-menu {
    display: none;
  }
}

@media (max-width: 480px) {
  /* Navbar */
  .news_content .download {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-box {
    padding: 0;
  }
  .navbar {
    margin-bottom: 0;
  }
  /* Home */
  .hp1 {
    background-position: center bottom 35%;
    background-size: 73%;
  }
  .hp1-content {
    h2 {
      font-size: 2.5rem;
      margin-top: 10px;
    }
    .hp1-i {
      font-size: 16px;
    }
    .bots {
      margin-top: 7px;
    }
  }
  /* About */
  .about {
    h2 {
      font-size: 2.75rem;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .about-titles {
      font-size: 1.75rem;
      line-height: initial;
    }
    .about-desc {
      font-size: 1.25rem;
    }
  }
  .about-loyalty {
    h2 {
      margin-top: 25px;
      font-size: 2.25rem;
      line-height: 140% !important;
    }
    img {
      max-width: 50px;
      height: auto;
    }
  }
  .about-news {
    padding-bottom: 10px;
    h2 {
      font-size: 2.5rem;
      margin: 20px auto 0;
    }
    .hror {
      margin-bottom: 40px;
    }
  }
  .news-cont {
    .news-titles {
      font-size: 1.75rem;
      line-height: initial;
    }
    .news-desc {
      font-size: 1.25rem !important;
    }
  }
  /* How it Works */
  .hiw {
    line-height: 100%;
    .bots button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .hiw2 .bots button {
    margin-left: auto;
    margin-right: auto;
  }
  .hiw-content h2, .hiw2-content h2 {
    font-size: 2.5rem;
    line-height: 120% !important;
    max-width: 350px;
  }
  .panel {
    &.step1 img, &.step2 img, &.step3 img, &.step4 img, &.step5 img {
      max-width: 100%;
    }
    &.step2 .container img, &.step4 .container img {
      margin-left: 0;
    }
    &.step5 img {
      margin-top: 3%;
    }
  }
  /* Products */
  .product .banner-opt {
    .col-md-5, .opt-desc {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .plan-feat .container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Request Demo */
  .rqdemo {
    background-size: 320%;
  }
  /* Footer */
  .ini-footer2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: -2px;
    .container {
      .r-demo {
        margin-bottom: 10px;
      }
      .l-label {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 420px) {
  /* Homepage */
  .hp1-content .bots .r-demo {
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  /* Sign Up Captcha */
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  /* Products */
  .plan-feat .container {
    overflow-x: scroll;
    table.features {
      .feat-label, .feats {
        position: relative;
        left: -20px;
      }
    }
  }
  /* How it Works */
  .hiw .bots {
    .r-demo, .f-trial {
      display: block;
    }
  }
  /* Request Demo */
  .rqdemo {
    background-size: 370%;
  }
  .rq-lowerpart form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 360px) {
  /* Request Demo */
  .rqdemo {
    background-size: 400%;
  }
}

@media (max-width: 320px) {
  /* Home */
  .hp1 {
    background: none;
  }
  .hp1-hero-img img {
    display: none;
  }
  .hp2, .hp3 {
    background-position: center top 2%;
  }
  /* How it Works */
  .hiw h2 {
    font-size: 3rem;
  }
  .hiw2 {
    h2 {
      font-size: 3rem;
    }
    img {
      margin: 0 auto 10px;
    }
  }
  /* Request Demo */
  .rqdemo {
    background-size: 450%;
  }
}

/*# sourceMappingURL=style.css.map */