@import 'variables';

.hror {
  background: #ff6600 none repeat scroll 0 0;
  border: 1px solid #ff6600;
  clear: both;
  color: #ff6600;
  display: block;
  margin: 50px auto 50px;
  position: relative;
  top: 15px;
  width: 110px;
}

.bt-bg {
  background: #ff6600;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: .1s;
  text-transform: uppercase;
  &:hover {
    background: #ff5400;
    color: #fff;
  }
}

.bt-bg-gr {
  background: #8492a6;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: .1s;
  text-transform: uppercase;
}

.no-bg-br {
  background: none;
  border: 1px solid #ff6600;
  border-radius: 30px;
  color: #ff6600;
  transition: .1s;
  text-transform: uppercase;
  &:hover {
    background: #ff6600;
    color: #fff;
  }
}

.no-bg-brw {
  background: none;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  line-height: 50px;
  transition: .1s;
  text-transform: uppercase;
  &:hover {
    background: #ff5400;
    color: #fff;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.padding10 {
  padding: 10;
}

.paddingt10 {
  padding-top: 10px;
}

.paddingb10 {
  padding-bottom: 10px;
}

.paddingt20 {
  padding-top: 20px;
}

.paddingb20 {
  padding-bottom: 20px !important;
}

.paddingt30 {
  padding-top: 30px;
}

.paddingb30 {
  padding-bottom: 30px;
}

.full {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
  border: none !important;
}

.panel {
  margin: 0;
}

.checkmark {
  background: url(images/check-icon.svg) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}

.xmark {
  background: url(images/x-icon.svg) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}