#homepage-video {
  max-width: 590px;
  width: 100%;
}

#signin {
  .modal-dialog {
    max-width: 390px;
    .modal-header {
      border: none;
      .modal-title {
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .modal-content {
      padding: 40px;
      border: 0;
      input {
        &[type="text"], &[type="password"] {
          width: 100%;
          background: #f7f9fb;
          padding-left: 15px;
          color: #3a4a66;
          height: 50px;
          line-height: 50px;
          border: 1px solid #d5d9df;
          margin-bottom: 15px;
          border-radius: 5px;
        }
      }
    }
  }
  .modal-footer {
    border: none;
  }
}

.continue {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 15px 0;
}

.forgot {
  color: #54698d;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2;
  .close-white {
    background-color: #fff;
    -webkit-mask-image: url("images/close-icon.svg");
  }
}

#signup {
  .modal-dialog {
    max-width: 920px;
    width: 100%;
    .modal-header {
      border: none;
      padding: 0 0 15px;
      .modal-title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .modal-content {
      padding: 30px 25px;
      label {
        font-size: 14px;
        color: #54698d;
        font-weight: normal;
      }
      input[type="text"] {
        width: 100%;
        background: #f7f9fb;
        padding-left: 15px;
        color: #3a4a66;
        height: 40px;
        line-height: 40px;
        border: 1px solid #d5d9df;
        border-radius: 5px;
      }
      select {
        background-color: #f7f9fb;
        background-image: url(images/sel-arrow.png);
        background-repeat: no-repeat;
        background-position: right 10px center;
        width: 100%;
        padding-left: 15px;
        color: #3a4a66;
        height: 40px;
        line-height: 40px;
        border: 1px solid #d5d9df;
        border-radius: 5px;
        position: reltive;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      .group-field {
        min-height: 80px;
      }
      img {
        max-width: 100%;
      }
      #form_signup_button {
        max-width: 300px;
        width: 100%;
      }
    }
  }
  .modal-footer {
    border: none;
  }
  .multiselect {
    width: 100%;
    input[type="checkbox"] {
      display: none;
      + label {
        background: transparent url("images/radio.png") no-repeat scroll left bottom;
        clear: both;
        display: inline-block;
        padding: 10px 0 0 28px;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
      }
      &:checked + label {
        background: transparent url("images/radio-checked.png") no-repeat scroll left bottom;
        display: inline-block;
        padding: 10px 0 0 28px;
        cursor: pointer;
      }
    }
  }
  .selectBox {
    position: relative;
    select {
      width: 100%;
      option:first-child {
        color: #cfd5e1;
      }
    }
  }
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
  }
  .active {
    display: block;
  }
  #checkboxes {
    border: 1px #dadada solid;
    background: #fff;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    z-index: 888;
    &:not(:focus) {
      display: none;
    }
    label {
      display: block;
      text-transform: capitalize;
    }
  }
}

.continue {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 15px 0;
}

.forgot {
  color: #54698d;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 10px;
}

.error-label {
  color: #c23934;
  font-style: italic;
  font-size: 12px;
  padding: 5px 0;
}

/* Select Package */

#start-basic .modal-dialog, #start-pro .modal-dialog {
  max-width: 700px;
  width: 100%;
}

#start-basic .modal-dialog .modal-content, #start-pro .modal-dialog .modal-content {
  overflow: hidden;
}

#start-basic .modal-dialog .modal-content .modal-header, #start-pro .modal-dialog .modal-content .modal-header {
  background: url("images/background-medium.svg") no-repeat (center / cover);
  color: #fff;
  margin: -1px;
  max-height: 200px;
  text-transform: uppercase;
}

#start-basic .modal-dialog .modal-content .modal-header img, #start-pro .modal-dialog .modal-content .modal-header img {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

#start-basic .modal-dialog .modal-content .modal-header .close img, #start-pro .modal-dialog .modal-content .modal-header .close img {
  width: 20px;
}

#start-basic .modal-dialog .modal-content .modal-body, #start-pro .modal-dialog .modal-content .modal-body {
  margin-top: 100px;
}

#start-basic .modal-dialog .modal-content .modal-body h3, #start-pro .modal-dialog .modal-content .modal-body h3 {
  margin: 35px auto 15px;
  text-align: center;
  text-transform: uppercase;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons, #start-pro .modal-dialog .modal-content .modal-body.add-ons {
  padding: 15px 0;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table, #start-pro .modal-dialog .modal-content .modal-body.add-ons table {
  background: #f7f9fb;
  font-size: 9px;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td, #start-pro .modal-dialog .modal-content .modal-body.add-ons table td {
  border-bottom: solid 3px #fff;
  padding: 8px;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td {
  &:first-child, &:last-child {
    width: 60px;
  }
}

#start-pro .modal-dialog .modal-content .modal-body.add-ons table td {
  &:first-child, &:last-child {
    width: 60px;
  }
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table td:nth-child(3), #start-pro .modal-dialog .modal-content .modal-body.add-ons table td:nth-child(3) {
  font-size: 15px;
  text-align: right;
  vertical-align: middle;
  width: 150px;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table p, #start-pro .modal-dialog .modal-content .modal-body.add-ons table p {
  padding: 0;
  margin: 0;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons table span, #start-pro .modal-dialog .modal-content .modal-body.add-ons table span {
  display: block;
  font-size: 15px;
  padding-left: 30px;
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"], &[type="checkbox"] {
    display: none;
  }
}

#start-pro .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"], &[type="checkbox"] {
    display: none;
  }
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"] + label, &[type="checkbox"] + label {
    background: url(images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative;
  }
}

#start-pro .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"] + label, &[type="checkbox"] + label {
    background: url(images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative;
  }
}

#start-basic .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"]:checked + label, &[type="checkbox"]:checked + label {
    background: url(images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
  }
}

#start-pro .modal-dialog .modal-content .modal-body.add-ons input {
  &[type="radio"]:checked + label, &[type="checkbox"]:checked + label {
    background: url(images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
  }
}

#start-basic .modal-dialog .modal-content .modal-footer, #start-pro .modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding: 0 15px 25px;
  text-align: center;
}

#start-basic .modal-dialog .modal-content .modal-footer button, #start-pro .modal-dialog .modal-content .modal-footer button {
  max-width: 250px;
}

/* Service Agreemnet */

#service-agreement {
  &.modal {
    bottom: inherit;
  }
  .modal-dialog .modal-content {
    .modal-header {
      border-bottom: 0;
      padding: 7px 15px;
      text-transform: uppercase;
    }
    .modal-body {
      background: #f7f9fb;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      max-height: calc(80vh - 200px);
      object {
        width: 100%;
        min-height: calc(80vh - 200px);
      }
    }
    .modal-footer {
      border-top: 0;
      padding: 0 15px 25px;
      button, input[type="submit"] {
        max-width: 200px;
        width: 100%;
      }
      button.ghost, input[type="submit"].ghost {
        background: transparent;
        border: solid 1px #ff6600;
        color: #ff6600;
      }
      .ag-sa {
        padding: 15px;
      }
      input {
        &[type="radio"], &[type="checkbox"] {
          display: none;
        }
        &[type="radio"] + label, &[type="checkbox"] + label {
          background: url(images/radio.png);
          height: 22px;
          width: 22px;
          display: inline-block;
          padding: 0 0 0 0px;
          top: 10px;
          margin-right: 5px;
          position: relative;
        }
        &[type="radio"]:checked + label, &[type="checkbox"]:checked + label {
          background: url(images/radio-checked.png);
          height: 22px;
          width: 22px;
          display: inline-block;
          padding: 0 0 0 0px;
        }
      }
    }
  }
}

#signup-success {
  .su-success, .su-packages {
    max-width: 450px;
    width: 100%;
  }
}

#rqdemo-confirm {
  .su-success, .su-packages {
    max-width: 450px;
    width: 100%;
  }
}

#su-select-package {
  .su-success, .su-packages {
    max-width: 450px;
    width: 100%;
  }
}

#signup-success {
  .su-success img, .su-packages img {
    max-width: 120px;
    width: 100%;
    margin: 20px auto;
  }
}

#rqdemo-confirm {
  .su-success img, .su-packages img {
    max-width: 120px;
    width: 100%;
    margin: 20px auto;
  }
}

#su-select-package {
  .su-success img, .su-packages img {
    max-width: 120px;
    width: 100%;
    margin: 20px auto;
  }
}

#signup-success {
  .su-success .modal-header, .su-packages .modal-header {
    border-bottom: 0;
    padding: 0 15px 0;
  }
}

#rqdemo-confirm {
  .su-success .modal-header, .su-packages .modal-header {
    border-bottom: 0;
    padding: 0 15px 0;
  }
}

#su-select-package {
  .su-success .modal-header, .su-packages .modal-header {
    border-bottom: 0;
    padding: 0 15px 0;
  }
}

#signup-success {
  .su-success .modal-body, .su-packages .modal-body {
    padding: 0 20px 0;
    text-align: center;
  }
}

#rqdemo-confirm {
  .su-success .modal-body, .su-packages .modal-body {
    padding: 0 20px 0;
    text-align: center;
  }
}

#su-select-package {
  .su-success .modal-body, .su-packages .modal-body {
    padding: 0 20px 0;
    text-align: center;
  }
}

#signup-success {
  .su-success .modal-body h2, .su-packages .modal-body h2 {
    margin: 0 auto;
    padding: 0 15px;
  }
}

#rqdemo-confirm {
  .su-success .modal-body h2, .su-packages .modal-body h2 {
    margin: 0 auto;
    padding: 0 15px;
  }
}

#su-select-package {
  .su-success .modal-body h2, .su-packages .modal-body h2 {
    margin: 0 auto;
    padding: 0 15px;
  }
}

#signup-success {
  .su-success .modal-body p, .su-packages .modal-body p {
    font-size: 17px;
  }
}

#rqdemo-confirm {
  .su-success .modal-body p, .su-packages .modal-body p {
    font-size: 17px;
  }
}

#su-select-package {
  .su-success .modal-body p, .su-packages .modal-body p {
    font-size: 17px;
  }
}

#signup-success {
  .su-success .modal-body .su-sign-btn, .su-packages .modal-body .su-sign-btn {
    margin-top: 50px;
  }
}

#rqdemo-confirm {
  .su-success .modal-body .su-sign-btn, .su-packages .modal-body .su-sign-btn {
    margin-top: 50px;
  }
}

#su-select-package {
  .su-success .modal-body .su-sign-btn, .su-packages .modal-body .su-sign-btn {
    margin-top: 50px;
  }
}

#signup-success {
  .su-success .modal-body .su-sign-btn button, .su-packages .modal-body .su-sign-btn button {
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

#rqdemo-confirm {
  .su-success .modal-body .su-sign-btn button, .su-packages .modal-body .su-sign-btn button {
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

#su-select-package {
  .su-success .modal-body .su-sign-btn button, .su-packages .modal-body .su-sign-btn button {
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

#signup-success {
  .su-success .modal-footer, .su-packages .modal-footer {
    border-top: 0;
    text-align: center;
    color: #CFD5E1;
  }
}

#rqdemo-confirm {
  .su-success .modal-footer, .su-packages .modal-footer {
    border-top: 0;
    text-align: center;
    color: #CFD5E1;
  }
}

#su-select-package {
  .su-success .modal-footer, .su-packages .modal-footer {
    border-top: 0;
    text-align: center;
    color: #CFD5E1;
  }
}

#signup-success {
  .su-success .modal-footer em, .su-packages .modal-footer em {
    color: #16325c;
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 15px;
    font-style: italic;
  }
}

#rqdemo-confirm {
  .su-success .modal-footer em, .su-packages .modal-footer em {
    color: #16325c;
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 15px;
    font-style: italic;
  }
}

#su-select-package {
  .su-success .modal-footer em, .su-packages .modal-footer em {
    color: #16325c;
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 15px;
    font-style: italic;
  }
}

#signup-success .su-packages .modal-content, #rqdemo-confirm .su-packages .modal-content, #su-select-package .su-packages .modal-content {
  overflow: hidden;
  border: 0;
}

#signup-success .su-packages .modal-header, #rqdemo-confirm .su-packages .modal-header, #su-select-package .su-packages .modal-header {
  background: url("images/background-small.svg") no-repeat;
  background-size: cover;
  max-height: 150px;
}

#signup-success .su-packages .modal-header img, #rqdemo-confirm .su-packages .modal-header img, #su-select-package .su-packages .modal-header img {
  max-width: 300px;
  width: 100%;
  position: relative;
  top: 20px;
}

#signup-success .su-packages .modal-header .close img, #rqdemo-confirm .su-packages .modal-header .close img, #su-select-package .su-packages .modal-header .close img {
  top: 0;
  margin-top: 0;
}

#signup-success .su-packages h3, #rqdemo-confirm .su-packages h3, #su-select-package .su-packages h3 {
  margin-top: 90px;
  margin-bottom: 30px;
}

#signup-success .su-packages .modal-footer, #rqdemo-confirm .su-packages .modal-footer, #su-select-package .su-packages .modal-footer {
  margin-bottom: 40px;
}

#signup-success .su-packages .modal-footer .continue, #rqdemo-confirm .su-packages .modal-footer .continue, #su-select-package .su-packages .modal-footer .continue {
  max-width: 200px;
  width: 100%;
}

#rqdemo-confirm .close {
  top: 0;
}