@import 'variables';

.bt-bg {
	background:$c-orange;
	border:none;
	@include border-radius(30px);
	color:#fff;
	transition:.1s;
	text-transform:uppercase;

	&:hover {
		background:#ff5400;
		
		color:#fff;
	}
}

.no-bg-br {
	background:none;
	border:1px solid $c-orange;
	@include border-radius(30px);
	color:$c-orange;
	transition:.1s;
	text-transform:uppercase;

	&:hover {
		background:$c-orange;
		color:#fff;
	}
}

.no-bg-brw {
	background:none;
	border:1px solid #fff;
	@include border-radius(30px);
	color:#fff;
	line-height:50px;
	transition:.1s;
	text-transform:uppercase;

	&:hover {
		background:#ff5400;
		color:#fff;

	}
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



.container {
	padding:0;
}
.full {
	max-width:1366px;
	width:100%;
	margin:0 auto;
}
.clear {
	clear:both; 
 }
 ul, ol {
	padding:0;
	margin:0; 
 }
 li {
	list-style:none; 
 }

 header, section, footer, aside, nav, main, article, figure {
    display: block;
    border:none !important;
}


.error-label {
	color:#c23934;
	font-style:italic;	
	font-size:12px;
}