@font-face {
  font-family: 'Fs Elliot Bold';
  src: url("../fonts/FS Elliot Pro-Bold.otf"); }
@font-face {
  font-family: 'Fs Elliot Reg';
  src: url("../fonts/FS Elliot Pro-Regular.otf"); }
@font-face {
  font-family: 'Fs Elliot Light';
  src: url("../fonts/FS Elliot Pro-Light.otf"); }
@font-face {
  font-family: 'Fs Elliot Thin';
  src: url("../fonts/FS Elliot Pro-Thin.otf"); }
@font-face {
  font-family: 'Fs Elliot Heavy';
  src: url("../fonts/FS Elliot Pro-Heavy.otf"); }
.header {
  text-align: center;
  color: #005BAB;
  position: relative;
  margin-bottom: 40px;
  font-family: 'Fs Elliot Reg';
  font-size: 26px; }
  .header::after {
    content: '';
    position: absolute;
    background-color: #005BAB;
    height: 2px;
    width: 30px;
    margin: 0 auto;
    bottom: -20px;
    left: 0;
    right: 0; }
  .header.no-line {
    font-family: 'Fs Elliot Reg';
    clear: both; }
    .header.no-line::after {
      content: none; }

#items div.it {
  text-align: center;
  background-color: #F6FBFF;
  padding: 40px 35px;
  border-radius: 3px;
  margin-bottom: 10px; }
  #items div.it:hover {
    box-shadow: 0px 6px 12px -2px #c4c4c4; }
  #items div.it img {
    display: block;
    margin: auto; }
  #items div.it h3 {
    font-family: 'Fs Elliot Bold';
    color: #596977;
    font-size: 20px; }
  #items div.it p {
    font-family: 'Fs Elliot Light';
    color: #596977;
    font-size: 15px;
    line-height: 1.7; }
  #items div.it > div {
    height: 170px;
    overflow: hidden; }
  #items div.it button {
    background-color: #6B85B3;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: 'Fs Elliot Light'; }
    #items div.it button.extrapad {
      padding: 10px 50px; }
    #items div.it button.na {
      color: #6B85B3;
      font-family: 'Fs Elliot Light';
      background-color: transparent; }

#banner-carousel {
  font-family: 'Fs Elliot Reg'; }
  #banner-carousel .carousel-caption {
    text-align: left;
    font-family: 'Fs Elliot Light';
    text-shadow: none;
    right: 10%;
    left: 10%;
    bottom: 90px; }
    #banner-carousel .carousel-caption .left-block {
      display: inline-block;
      width: 35%; }
      #banner-carousel .carousel-caption .left-block h3 {
        font-family: 'Fs Elliot Bold';
        font-size: 28px;
        margin-bottom: 18px; }
      #banner-carousel .carousel-caption .left-block p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.3; }
    #banner-carousel .carousel-caption .right-block {
      display: inline-block;
      width: 60%;
      float: right; }
      #banner-carousel .carousel-caption .right-block img {
        margin-top: -30px; }
    #banner-carousel .carousel-caption .quote {
      font-family: 'Fs Elliot Thin';
      font-size: 33px;
      width: 610px; }
    #banner-carousel .carousel-caption .name {
      font-family: 'Fs Elliot Thin';
      font-size: 20px;
      line-height: 1.3; }
    #banner-carousel .carousel-caption.extraTop {
      bottom: 210px;
      right: 12%;
      left: 12%; }
  #banner-carousel .carousel-control.left, #banner-carousel .carousel-control.right {
    height: 50px;
    width: 50px;
    margin: auto;
    background-image: none !important;
    opacity: 1; }
  #banner-carousel .carousel-control.left {
    left: 40px; }
  #banner-carousel .carousel-control.right {
    right: 40px; }

.testimonials-wrapper {
  background-image: url("../images/bg-testimonials.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 486px; }

#testimonials .item {
  height: 460px; }
#testimonials .carousel-caption {
  font-family: 'Fs Elliot Reg';
  text-shadow: none;
  bottom: 58px;
  text-align: center; }
  #testimonials .carousel-caption h3 {
    position: relative;
    font-size: 28px;
    margin-bottom: 20px;
    margin-bottom: 50px; }
    #testimonials .carousel-caption h3::after {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 30px;
      margin: 0 auto;
      bottom: -20px;
      left: 0;
      right: 0; }
  #testimonials .carousel-caption p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 0px 70px; }
#testimonials .carousel-control.left, #testimonials .carousel-control.right {
  height: 50px;
  margin: auto;
  background-image: none !important;
  opacity: 1; }
#testimonials .carousel-control.left {
  left: 30px; }
#testimonials .carousel-control.right {
  right: 30px; }
#testimonials .testimonial-photo {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 17px; }
  #testimonials .testimonial-photo img {
    width: 100%; }
#testimonials .t-position {
  color: #16F1BC; }

.padY60 {
  padding: 60px 0px; }

.padY40 {
  padding: 40px 0px; }

.rq-lowerpart {
  color: #16325c;
  padding-top: 50px; }
  .rq-lowerpart h3 {
    padding-bottom: 20px;
    color: #005BAB;
    font-family: 'Fs Elliot Reg';
    font-size: 25px; }
  .rq-lowerpart ul {
    padding: 0px; }
  .rq-lowerpart li {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 18px;
    color: #516271;
    font-family: 'Fs Elliot Light'; }
    .rq-lowerpart li h4 {
      font-family: 'Fs Elliot Reg';
      font-size: 20px;
      margin-bottom: 0;
      color: #516271; }
    .rq-lowerpart li .dm-icon {
      float: left;
      margin-right: 10px;
      position: relative;
      top: 7px;
      width: 38px; }
      .rq-lowerpart li .dm-icon img {
        width: 100%; }
    .rq-lowerpart li span {
      font-size: 16px;
      font-weight: 300; }
  .rq-lowerpart form {
    font-family: 'Fs Elliot Reg';
    background: #F6FBFF;
    border-radius: 5px;
    padding: 40px 45px;
    color: #516271;
    margin-bottom: 50px;
    text-align: left; }
    .rq-lowerpart form h2 {
      color: #596977;
      padding: 0;
      margin: 0 0 20px;
      font-size: 25px; }
    .rq-lowerpart form label {
      font-size: 14px;
      color: #516271;
      font-family: 'Fs Elliot Thin'; }
    .rq-lowerpart form .group-field {
      padding: 0;
      margin: 5px 0; }
    .rq-lowerpart form input[type="text"] {
      width: 100%;
      background: #ffffff;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px; }
      .rq-lowerpart form input[type="text"].mobile {
        border-radius: 0 5px 5px 0; }
    .rq-lowerpart form .multiselect {
      width: 100%; }
      .rq-lowerpart form .multiselect input[type="checkbox"] {
        display: none; }
      .rq-lowerpart form .multiselect input[type="checkbox"] + label {
        background: transparent url("../images/radio.png") no-repeat scroll left bottom;
        clear: both;
        display: inline-block;
        padding: 10px 0 0 28px;
        position: relative;
        cursor: pointer;
        text-transform: uppercase; }
      .rq-lowerpart form .multiselect input[type="checkbox"]:checked + label {
        background: transparent url("../images/radio-checked.png") no-repeat scroll left bottom;
        display: inline-block;
        padding: 10px 0 0 28px;
        cursor: pointer; }
    .rq-lowerpart form .selectBox {
      position: relative; }
    .rq-lowerpart form .selectBox select {
      width: 100%; }
      .rq-lowerpart form .selectBox select option:first-child {
        color: #cfd5e1; }
    .rq-lowerpart form .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      cursor: pointer; }
    .rq-lowerpart form .active {
      display: block; }
    .rq-lowerpart form #checkboxes {
      border: 1px #dadada solid;
      background: #fff;
      padding: 10px;
      max-height: 300px;
      overflow-y: scroll;
      position: absolute;
      z-index: 888; }
      .rq-lowerpart form #checkboxes:not(:focus) {
        display: none; }
    .rq-lowerpart form #checkboxes label {
      display: block;
      text-transform: capitalize; }
    .rq-lowerpart form select {
      background-color: #ffffff;
      background-image: url(../images/sel-arrow.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      width: 100%;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px;
      position: reltive;
      -moz-appearance: none;
      -webkit-appearance: none; }
      .rq-lowerpart form select option:first-child {
        color: #cfd5e1; }
    .rq-lowerpart form img {
      max-width: 100%; }
    .rq-lowerpart form textarea {
      border: 1px solid #d5d9df; }
      .rq-lowerpart form textarea::-webkit-input-placeholder {
        color: #cfd5e1; }
      .rq-lowerpart form textarea::-moz-placeholder {
        color: #cfd5e1; }
      .rq-lowerpart form textarea:-ms-input-placeholder {
        color: #cfd5e1; }
      .rq-lowerpart form textarea:-moz-placeholder {
        color: #cfd5e1; }
    .rq-lowerpart form em {
      font-style: italic; }
    .rq-lowerpart form button.continue {
      font-size: 14px;
      text-align: center;
      width: 80%;
      border: none;
      color: #fff;
      margin: 0 auto;
      display: block;
      border-radius: 30px;
      padding: 15px 0;
      background-color: #6B85B3; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  background: url(../images/radio.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px;
  top: 10px;
  margin-right: 5px;
  position: relative; }

input[type="radio"]:checked + label {
  background: url(../images/radio-checked.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  padding: 0 0 0 0px; }

.nopadding-left {
  padding-left: 0px; }

footer {
  text-align: center;
  background-color: #264057;
  font-family: 'Fs Elliot Reg';
  color: #788B9A;
  padding: 28px 0px;
  font-size: 12px; }

.ra {
  color: #005BAB !important;
  text-decoration: none;
  border: 1px solid #005BAB;
  border-radius: 30px;
  padding: 10px 30px !important;
  font-family: 'Fs Elliot Reg'; }

.navbar {
  height: 110px;
  margin-bottom: 0px !important;
  border: none;
  background-color: transparent; }
  .navbar-right {
    margin-right: 45px;
    margin-top: 33px; }
  .navbar-brand {
    margin-top: 15px; }
    .navbar-brand.globe-logo {
      margin-left: 35px !important; }

.rush-logo {
  position: relative;
  margin-left: 2px !important;
  display: inline-block;
  margin-top: 22px; }
  .rush-logo::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 1px;
    left: 0px;
    top: 0px;
    background-color: #dedede; }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .extraTop {
    bottom: 120px !important; } }

@media screen and (min-width: 992px) and (max-width: 1024px) {
  /* Banner */
  #banner-carousel .carousel-caption {
    bottom: 40px; }
    #banner-carousel .carousel-caption .left-block p {
      font-size: 16px !important; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Banner */
  #banner-carousel .carousel-control {
    display: none; }
  #banner-carousel .item.active.loyalty {
    min-height: 530px; }
  #banner-carousel .item.active.pro {
    min-height: 650px; }
  #banner-carousel .item.active.basic {
    min-height: 650px; }
  #banner-carousel .carousel-caption {
    bottom: 0px; }
    #banner-carousel .carousel-caption .left-block {
      width: 100%; }
      #banner-carousel .carousel-caption .left-block p {
        font-size: 16px; }
        #banner-carousel .carousel-caption .left-block p:not(:last-child) {
          margin-bottom: 10px; }
    #banner-carousel .carousel-caption .right-block {
      float: none;
      width: 100%; }
      #banner-carousel .carousel-caption .right-block img {
        display: block;
        margin: auto;
        width: 50%; }
  #banner-carousel .extraTop {
    bottom: 100px !important;
    right: 4% !important;
    left: 4% !important; }
    #banner-carousel .extraTop .quote {
      font-size: 25px; }
    #banner-carousel .extraTop .name {
      font-size: 15px; }

  #testimonials .carousel-caption {
    width: 100%;
    left: 0px;
    top: 10px !important; }
  #testimonials .left-block {
    display: inline-block;
    float: right;
    width: 700px;
    text-align: left; }
    #testimonials .left-block p {
      padding-left: 0px !important;
      padding-right: 50px !important; }
  #testimonials .right-block {
    display: inline-block;
    float: left;
    width: 230px; }
    #testimonials .right-block .testimonial-photo {
      margin-top: -30px; } }

@media screen and (min-width: 525px) and (max-width: 768px) {
  /* Banner */
  #banner-carousel .item.active.loyalty {
    min-height: 530px; }
  #banner-carousel .item.active.pro {
    min-height: 650px; }
  #banner-carousel .item.active.basic {
    min-height: 650px; }
  #banner-carousel .carousel-control {
    display: none; }
  #banner-carousel .carousel-caption {
    width: 100%;
    position: absolute;
    left: 0px;
    padding: 20px;
    top: -20px; }
    #banner-carousel .carousel-caption .left-block {
      width: 100%; }
      #banner-carousel .carousel-caption .left-block h3 {
        font-size: 18px;
        margin-bottom: 8px; }
      #banner-carousel .carousel-caption .left-block p {
        font-size: 15px; }
        #banner-carousel .carousel-caption .left-block p:not(:last-child) {
          margin-bottom: 4px; }
    #banner-carousel .carousel-caption .right-block {
      float: none;
      width: 100%; }
      #banner-carousel .carousel-caption .right-block img {
        display: block;
        margin: auto;
        width: 100%; }
  .extraTop {
    top: 80px !important;
    right: 4% !important;
    left: 4% !important; }
    .extraTop .quote {
      font-size: 23px !important;
      padding-right: 180px; }
    .extraTop .name {
      font-size: 15px !important; }

  #testimonials .carousel-caption {
    bottom: 18px; }

  .navbar-brand.globe-logo {
    margin-left: 8px !important; }

  .navbar-right {
    float: right; }
    .navbar-right li a {
      margin: -67.5px -170px;
      width: 206px;
      font-size: 14px;
      padding: 9px 18px !important; } }

@media screen and (min-width: 320px) and (max-width: 525px) {
  /* Banner */
  #banner-carousel {
    margin-top: 45px; }
    #banner-carousel .item.active.loyalty {
      min-height: 360px; }
    #banner-carousel .item.active.pro {
      min-height: 400px; }
    #banner-carousel .item.active.basic {
      min-height: 420px; }
    #banner-carousel .carousel-control {
      display: none; }
    #banner-carousel .carousel-caption {
      width: 100%;
      position: absolute;
      left: 0px;
      padding: 20px;
      top: -20px; }
      #banner-carousel .carousel-caption .left-block {
        width: 100%; }
        #banner-carousel .carousel-caption .left-block h3 {
          font-size: 15px;
          margin-bottom: 8px; }
        #banner-carousel .carousel-caption .left-block p {
          font-size: 11px; }
          #banner-carousel .carousel-caption .left-block p:not(:last-child) {
            margin-bottom: 4px; }
      #banner-carousel .carousel-caption .right-block {
        float: none;
        width: 100%; }
        #banner-carousel .carousel-caption .right-block img {
          display: block;
          margin: auto;
          width: 100%; }
  .extraTop {
    top: 0px !important;
    right: 1% !important;
    left: 1% !important; }
    .extraTop .quote {
      font-size: 20px !important;
      padding-right: 375px !important;
      line-height: 1; }
    .extraTop .name {
      font-size: 12px !important; }

  #testimonials .carousel-caption {
    bottom: 80px; }
    #testimonials .carousel-caption h3 {
      font-size: 18px !important;
      line-height: 1.2;
      margin-bottom: 30px; }
    #testimonials .carousel-caption p {
      padding: 0px 0px;
      font-size: 14px;
      line-height: 1.3; }
  #testimonials .left {
    left: 5px !important; }
  #testimonials .right {
    right: 5px !important; } }
@media screen and (min-width: 320px) and (max-width: 525px) {
  .navbar-right {
    margin: 25px 0px 0px 0px !important; }
    .navbar-right li {
      text-align: center;
      width: 100%; }
      .navbar-right li a {
        width: 300px;
        display: block;
        margin: auto; }
  .navbar-header {
    text-align: center; }
  .navbar-brand {
    width: 48%; }
    .navbar-brand.globe-logo {
      margin-left: 10px !important;
      margin-top: 20px !important; }
      .navbar-brand.globe-logo img {
        width: 140px; }
    .navbar-brand.rush-logo::before {
      left: 10px !important; }
    .navbar-brand * {
      display: inline-block;
      margin: auto; } }

@media (min-width: 768px) {
  #emailModal .modal-dialog {
    width: 490px; }
  #success .modal-dialog {
    width: 350px; } }

.modal .modal-content {
  box-shadow: none;
  border: 1px solid #fff; }
  .modal .modal-content .close {
    margin-top: 20px;
    margin-right: 20px; }

#success .modal-content {
  text-align: center;
  padding: 30px 30px; }
  #success .modal-content h3 {
    font-family: 'Fs Elliot Bold';
    padding-bottom: 5px; }
  #success .modal-content small {
    font-family: 'Fs Elliot Reg';
    color: #516271; }
#success .success-img {
  width: 110px;
  display: block;
  margin: auto; }
#success a {
  background-color: #6B85B3;
  border: none;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: 'Fs Elliot Light';
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  width: 200px;
  text-decoration: none; }

#emailForm {
  padding: 0px 50px; }
  #emailForm input[type="submit"] {
    background-color: #6B85B3;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: 'Fs Elliot Light';
    padding: 10px 100px;
    display: block;
    margin: 0 auto; }
  #emailForm input[type="text"] {
    font-family: 'Fs Elliot Reg';
    width: 100%;
    background: #F6FBFF;
    padding-left: 15px;
    color: #3a4a66;
    height: 50px;
    line-height: 40px;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 17px; }
  #emailForm textarea {
    font-family: 'Fs Elliot Reg';
    width: 100%;
    background: #F6FBFF;
    padding-left: 15px;
    color: #3a4a66;
    line-height: 40px;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 17px; }
