@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800,600);
body {
  font-family: 'Open Sans'; }

nav {
  margin: 0px !important;
  min-height: 60px !important; }

section {
  background-color: #F8AE1A;
  padding: 50px 0;
  color: #fff; }
  section .envelope-imgs {
    position: relative; }
    section .envelope-imgs img {
      position: absolute; }
      section .envelope-imgs img.medium {
        width: 80px;
        right: 130px;
        top: 20px; }
      section .envelope-imgs img.small {
        width: 70px;
        right: 50px;
        top: -20px; }

main .left-block {
  padding: 50px 15px; }
  main .left-block > h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3f3f3f;
    position: relative;
    margin-bottom: 40px; }
  main .left-block p {
    color: #747474; }

main .right-block {
  padding: 50px 50px;
  background-color: #FCFCFC; }
  main .right-block > h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3f3f3f;
    position: relative;
    margin-bottom: 40px; }
    main .right-block > h3::after {
      content: ' ';
      width: 70px;
      height: 2px;
      background: #D71F3A;
      position: absolute;
      left: 0;
      bottom: -20px; }
  main .right-block form .chosen-container {
    margin-bottom: 15px;
    display: inline-block;
    width: 100% !important; }
    main .right-block form .chosen-container .chosen-choices {
      border-radius: 2px;
      padding: 4px 18px;
      min-height: 40px;
      background: none;
      background-color: #fff;
      border-color: #dedede !important;
      box-shadow: none;
      background-image: none; }
      main .right-block form .chosen-container .chosen-choices li {
        border-color: #e3e3e3;
        background-color: #f6f6f6;
        background-image: none !important; }
        main .right-block form .chosen-container .chosen-choices li.search-choice {
          padding: 8px 21px 7px 9px; }
        main .right-block form .chosen-container .chosen-choices li .search-choice-close {
          top: 10px; }
        main .right-block form .chosen-container .chosen-choices li.search-field {
          background-color: transparent !important; }
          main .right-block form .chosen-container .chosen-choices li.search-field input {
            background: #fff !important;
            border-color: none; }
    main .right-block form .chosen-container .chosen-single {
      border-radius: 2px;
      padding: 7px 20px;
      height: 40px;
      background: none;
      background-color: #fff;
      border-color: #dedede !important;
      box-shadow: none; }
      main .right-block form .chosen-container .chosen-single div {
        width: 30px; }
        main .right-block form .chosen-container .chosen-single div > b {
          background-size: 10px 7px !important;
          background-position: 0px 16px !important;
          background: url("../images/icons/arrow-down.png") no-repeat 0px 2px; }
      main .right-block form .chosen-container .chosen-single > span {
        font-size: 15px; }
      main .right-block form .chosen-container .chosen-single.chosen-default > span {
        color: #dedede; }
    main .right-block form .chosen-container .chosen-drop {
      border-radius: 2px;
      padding: 0;
      background: none;
      background-color: #fff;
      border-color: #dedede !important; }
      main .right-block form .chosen-container .chosen-drop .chosen-results {
        padding: 0;
        margin: 0; }
        main .right-block form .chosen-container .chosen-drop .chosen-results .highlighted {
          background-color: #f2f2f2;
          background-image: none;
          color: #353535; }
        main .right-block form .chosen-container .chosen-drop .chosen-results li {
          padding: 10px 20px !important; }
  main .right-block form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 0px !important;
    text-indent: 15px;
    height: 41px;
    color: #dedede;
    background-size: 10px 7px !important;
    background-position: right 20px top 18px !important;
    background: #fff url("../images/icons/arrow-down.png") no-repeat; }
    main .right-block form select.form-control option {
      color: black; }
    main .right-block form select.form-control option:first-child {
      color: grey; }
    main .right-block form select.form-control.empty {
      color: grey; }
  main .right-block form .form-control {
    border-radius: 2px;
    box-shadow: none;
    padding: 20px 20px;
    font-size: 15px;
    margin-bottom: 15px;
    border-color: #dedede; }
    main .right-block form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #dedede; }
    main .right-block form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #dedede; }
    main .right-block form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #dedede; }
    main .right-block form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #dedede; }
  main .right-block form label {
    margin-bottom: 10px; }

.center {
  text-align: center; }

.btn-round {
  border-radius: 20px !important;
  padding: 6px 22px !important;
  color: #fff;
  background: #f8ae1a;
  box-shadow: 0px -1px 7px #b4a171 !important;
  margin-top: 10px;
  width: 200px; }
  .btn-round:hover {
    color: #fff; }

footer {
  padding: 40px 0px;
  background-color: #F9F9F9;
  height: 200px; }
  footer .footer-content > span {
    display: block;
    color: #b6b6b6;
    font-size: 11px;
    margin: 10px 0; }
  footer .footer-content label {
    display: block; }
  footer .footer-content .social-icons {
    margin: 10px;
    color: #9d9d9d;
    text-align: center;
    width: 20px;
    font-size: 20px; }
    footer .footer-content .social-icons:hover {
      color: #F8AE1A; }
    footer .footer-content .social-icons:first-child {
      margin-left: 0px !important; }

.tix input[type=radio], .tix input[type=checkbox] {
  display: none; }

.tix label {
  padding-left: 25px !important;
  font-weight: 400;
  font-size: 14px;
  margin: 2px 2px -3px 2px;
  cursor: pointer; }

.tix input[type=radio] + label, .tix input[type=checkbox] + label {
  height: 20px;
  display: inline-block;
  padding: 0 0px 0 0px;
  background-position: 2px 2px !important;
  background: url("../images/icons/checkbox.png") no-repeat; }

.tix input[type=radio]:checked + label, .tix input[type=checkbox]:checked + label {
  background: url("../images/icons/checkbox-checked.png") no-repeat;
  display: inline-block;
  background-position-x: 1px; }

.drp-down {
  position: relative; }
  .drp-down .field {
    background-size: 10px 7px !important;
    background-position: right 20px top 18px !important;
    background: #fff url("../images/icons/arrow-down.png") no-repeat;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px 20px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #dedede;
    text-align: left;
    color: #dedede;
    line-height: 0; }
    .drp-down .field.active {
      color: #333; }
  .drp-down .content {
    display: none;
    border: 1px solid #dedede;
    padding: 6px 12px;
    height: 170px;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    border-radius: 3px;
    z-index: 2;
    background: #fff;
    width: 100%; }
    .drp-down .content.open {
      display: block; }
    .drp-down .content .done {
      font-weight: 700;
      cursor: pointer; }
