@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translate(0px, 10px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

#mechanics-per-product .search {
  margin-top: -43px !important; }
  #mechanics-per-product .search label {
    display: initial;
    font-weight: normal; }

#mechanics-per-product button[href="#addMechanicsPprod"] {
  position: relative;
  top: 15px; }

#mechanics-per-product #mechanicsPprodTable {
  border: 0;
  font-size: 14px;
  margin-top: 17px; }
  #mechanics-per-product #mechanicsPprodTable th {
    border: 0;
    color: #575454;
    font-size: 14px;
    padding: 8px 20px 8px 8px; }
    #mechanics-per-product #mechanicsPprodTable th.action {
      width: 150px; }
  #mechanics-per-product #mechanicsPprodTable tbody tr:nth-child(odd) {
    background-color: #F2F4F6; }
  #mechanics-per-product #mechanicsPprodTable tbody tr td {
    border: 0; }
    #mechanics-per-product #mechanicsPprodTable tbody tr td .edit,
    #mechanics-per-product #mechanicsPprodTable tbody tr td .delete {
      color: #C7C0BA;
      margin-left: 0 !important; }
    #mechanics-per-product #mechanicsPprodTable tbody tr td .edit {
      margin-right: 15px; }
  #mechanics-per-product #mechanicsPprodTable_length {
    font-size: 12px;
    margin-top: 10px; }
  #mechanics-per-product #mechanicsPprodTable_info {
    font-size: 12px; }
  #mechanics-per-product #mechanicsPprodTable_wrapper {
    width: 100%;
    margin: 0 auto; }
    #mechanics-per-product #mechanicsPprodTable_wrapper .bootstrap-table {
      overflow-x: auto; }

#mechanics-per-product .import {
  color: #C7C0BA; }

#mechanics-per-product .fixed-table-body {
  height: calc(100% - 40px); }

#mechanics-per-product .adjustTop {
  margin-top: -125px !important; }

#mechanics-per-product .alert {
  position: relative;
  top: 15px; }

.clearfix {
  clear: both; }

/* Modal Branch */
#addMechanicsPprod .modal-dialog .branches .branch-check-wrap,
#addMechanicsPprod .modal-dialog .ebranches .branch-check-wrap,
#editMechanicsPprod .modal-dialog .branches .branch-check-wrap,
#editMechanicsPprod .modal-dialog .ebranches .branch-check-wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 180px;
  overflow-y: scroll;
  width: 100%; }

#addMechanicsPprod .modal-dialog .branches .branch-label,
#addMechanicsPprod .modal-dialog .ebranches .branch-label,
#editMechanicsPprod .modal-dialog .branches .branch-label,
#editMechanicsPprod .modal-dialog .ebranches .branch-label {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
  padding: 12px;
  margin: 0;
  cursor: pointer; }

#addMechanicsPprod .modal-dialog .branches input[type=checkbox].options,
#addMechanicsPprod .modal-dialog .ebranches input[type=checkbox].options,
#editMechanicsPprod .modal-dialog .branches input[type=checkbox].options,
#editMechanicsPprod .modal-dialog .ebranches input[type=checkbox].options {
  display: none; }

#addMechanicsPprod .modal-dialog .branches input[type=checkbox]:checked + .branch-label,
#addMechanicsPprod .modal-dialog .ebranches input[type=checkbox]:checked + .branch-label,
#editMechanicsPprod .modal-dialog .branches input[type=checkbox]:checked + .branch-label,
#editMechanicsPprod .modal-dialog .ebranches input[type=checkbox]:checked + .branch-label {
  background-color: #f7f7f7;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25); }

#addMechanicsPprod .modal-dialog .branches .fa-check,
#addMechanicsPprod .modal-dialog .ebranches .fa-check,
#editMechanicsPprod .modal-dialog .branches .fa-check,
#editMechanicsPprod .modal-dialog .ebranches .fa-check {
  float: right; }

#addMechanicsPprod .modal-dialog .bootstrap-select,
#editMechanicsPprod .modal-dialog .bootstrap-select {
  margin-bottom: 20px;
  height: 42.2px;
  border-radius: 0; }
  #addMechanicsPprod .modal-dialog .bootstrap-select .dropdown-toggle,
  #editMechanicsPprod .modal-dialog .bootstrap-select .dropdown-toggle {
    width: 100%;
    border: 0; }

.modal .prod_stamps_default {
  max-height: 250px;
  overflow-y: auto;
  clear: both;
  margin-bottom: 20px; }

.modal .prod_stamps_item {
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
  position: relative;
  clear: both; }
  .modal .prod_stamps_item .delete_stamp_row {
    position: absolute;
    bottom: -35px;
    cursor: pointer;
    padding: 10px; }
    .modal .prod_stamps_item .delete_stamp_row .fa {
      color: #E0DEDB; }

.modal .prod_add_stamps {
  text-align: center; }
  .modal .prod_add_stamps button.add_prod_stamp {
    border: 0;
    padding: 10px;
    max-width: 100px; }

/*# sourceMappingURL=style.css.map */
