#voucher .search {
  margin-top: -43px !important; }
  #voucher .search label {
    display: initial;
    font-weight: normal; }

#voucher button[href="#addVoucherItem"], #voucher button[href="#importVoucherItems"] {
  position: relative;
  top: 15px; }

#vouchersTable {
  border: 0;
  font-size: 14px;
  margin-top: 17px; }
  #vouchersTable th {
    border: 0;
    color: #575454;
    font-size: 14px;
    padding: 8px 20px 8px 8px; }
    #vouchersTable th.action {
      width: 150px; }
  #vouchersTable tbody tr:nth-child(odd) {
    background-color: #F2F4F6; }
  #vouchersTable tbody tr td {
    border: 0; }
    #vouchersTable tbody tr td .edit,
    #vouchersTable tbody tr td .delete {
      color: #C7C0BA;
      margin-left: 0 !important; }
    #vouchersTable tbody tr td .edit {
      margin-right: 15px; }
  #vouchersTable_length {
    font-size: 12px;
    margin-top: 10px; }
  #vouchersTable_info {
    font-size: 12px; }
  #vouchersTable_wrapper {
    width: 100%;
    margin: 0 auto; }
    #vouchersTable_wrapper .bootstrap-table {
      overflow-x: auto; }

#voucher .import {
  color: #C7C0BA; }

#voucher .fixed-table-body {
  height: calc(100% - 40px); }

#voucher .adjustTop {
  margin-top: -125px !important; }

#voucher .alert {
  position: relative;
  top: 15px; }

.clearfix {
  clear: both; }

.voucher-modal .modal-dialog .branches .branch-check-wrap,
.voucher-modal .modal-dialog .ebranches .branch-check-wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 180px;
  overflow-y: scroll;
  width: 100%; }

.voucher-modal .modal-dialog .branches .branch-label,
.voucher-modal .modal-dialog .ebranches .branch-label {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
  padding: 12px;
  margin: 0;
  cursor: pointer; }

.voucher-modal .modal-dialog .branches input[type=checkbox].options,
.voucher-modal .modal-dialog .ebranches input[type=checkbox].options {
  display: none; }

.voucher-modal .modal-dialog .branches input[type=checkbox]:checked + .branch-label,
.voucher-modal .modal-dialog .ebranches input[type=checkbox]:checked + .branch-label {
  background-color: #f7f7f7;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25); }

.voucher-modal .modal-dialog .branches .fa-check,
.voucher-modal .modal-dialog .ebranches .fa-check {
  float: right; }

.voucher-modal .modal-header {
  text-align: center; }

.voucher-modal .browse-vc {
  border: 0;
  padding: 12px 0 !important;
  width: initial !important; }

.voucher-modal .file-vc {
  display: none; }

.voucher-modal .padding-right-0 {
  padding-right: 0; }

.voucher-modal .padding-lr-12 {
  padding: 12px !important; }

.toggle-status {
  background: transparent;
  border: 0; }

/* Voucher Codes */
#content.voucherCodes {
  margin-top: 76px !important; }
  #content.voucherCodes .search {
    margin-top: -102px; }
    #content.voucherCodes .search label {
      display: initial !important;
      font-weight: normal; }
  #content.voucherCodes #voucherCodesTable {
    border: 0;
    font-size: 14px;
    margin-top: 17px; }
    #content.voucherCodes #voucherCodesTable th {
      border: 0;
      color: #575454;
      font-size: 14px;
      padding: 8px 20px 8px 8px; }
      #content.voucherCodes #voucherCodesTable th.action {
        width: 150px; }
    #content.voucherCodes #voucherCodesTable tbody tr:nth-child(odd) {
      background-color: #F2F4F6; }
    #content.voucherCodes #voucherCodesTable tbody tr td {
      border: 0; }
      #content.voucherCodes #voucherCodesTable tbody tr td .edit,
      #content.voucherCodes #voucherCodesTable tbody tr td .delete {
        color: #C7C0BA;
        margin-left: 0 !important; }
      #content.voucherCodes #voucherCodesTable tbody tr td .edit {
        margin-right: 15px; }
    #content.voucherCodes #voucherCodesTable_length {
      font-size: 12px;
      margin-top: 10px; }
    #content.voucherCodes #voucherCodesTable_info {
      font-size: 12px; }
    #content.voucherCodes #voucherCodesTable_wrapper {
      width: 100%;
      margin: 0 auto; }
      #content.voucherCodes #voucherCodesTable_wrapper .bootstrap-table {
        overflow-x: auto; }

/*# sourceMappingURL=style.css.map */
