/**
 * Custom CSS
 * Created by PhpStorm.
 * User: G.ELLURANGGO
 */
html,body{
  //position: relative;
}
.font-family {
  font-family: 'Open Sans', sans-serif;
}
a,a:hover,a:active,a:focus {
  text-decoration: none;
  outline: none;
}
button, select {
  outline: none;
}
.noBorderRadius{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.noBoxShadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.form-control{
  @extend .noBoxShadow;
}
.saveButton,.resetButton{
  font-size:16px;
  height:44px;
  width:142px;
}
.spacing {
  margin-top:40px !important;
}
i.fa {
  margin-right: 5px;
}
.form-control{
  padding: 6px 8px;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.noPadRight{
  padding-right: 0;
}
.noPadLeft{
  padding-left: 0;
}
body{
  @extend .font-family;
  background-color: #E6E9ED;
}
.hex {
  float: left;
  background-color: #F8F8F7;
  border:1px solid #E9E8E5;
  height: 28px;
  width: 90px;
  margin-left: -28px;
  text-align: right;
  padding-right: 5px;
  font-size: 11px;
  line-height: 25px;
}
#sidemenu {
  position: fixed;
  left:0;
  min-width: 240px;
  //width: 17%;
  width:240px;
  float: left;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index:3;
  @extend .font-family;
  .logoholder {
    height:76px;
    float: left;
    // background: #0F1A21;
    width:100%;
    overflow:hidden;
    border-bottom: solid 1px #f5f5f5;
    img{
      margin:17px auto;
      display:block;
    }
  }

  #menu {
    background: #fff;
    float: left;
    width: 100%;
    ul{
      padding: 0;
      float: left;
      width: 100%;
    }
    ul li{
      list-style: none;
      width: 100%;
      float: left;
      //border-bottom: 1px solid #152023;
      a{
        color: #627181;
        display: block;
        float: left;
        width: 100%;
        outline: none;
        /*overflow: hidden;*/
        position: relative;
        i {
          height: 40px;
          width: 50px;
          // background: #000;
          float: left;
          margin-right:14px;
        }
        span{
          display: flex;
          align-items: center;
          height: 40px;
        }
      }
    }
    ul li:hover, ul li.active {
      background-color: #f8f8f8;
    }
    // ul li:hover a > i,ul li.active a > i{
    //   background-color: #007B75;
    // }
    // li:hover a,li.active a{
    //   color: #fff;
    // }

    a:hover, a:active,li.active a {
      text-decoration: none;
    }
    // a:hover .icon, li.active a .icon {
    //   background-image: url("../images/menu_icons_hover.png");
    // }
    .icon {
      background-repeat: no-repeat;
      background-image: url("../images/menu_icons.png");
    }
    li.das .icon{
      background-position: 0 1px;
    }
    li.ana .icon{
      background-position: 0 -146px;
    }
    li.man .icon{
      background-position: 0 -293px;
    }
    li.mer .icon{
      background-position: 0 -294px;
    }
    li.add .icon{
      background-position: 0 -391px;
    }
    li.des .icon{
      background-position: 0 -194px;
    }
    li.pro .icon{
      background-position: 0 -46px;
    }
    li.ach .icon{
      background-position: 0 -97px;
    }
    li.rep .icon{
      background-position: 0 -636px;
    }
    li.tra .icon{
      background-position: 0 -243px;
    }
    li.hel .icon{
      background-position: 0 -436px;
    }
    li.usr .icon{
      background-position: 0 -536px;
    }
    li.out .icon{
      background-position: 0 -586px;
    }
    li.sms .icon {
      background-position: 0 -339px;
    }
    li.set .icon {
      background-position: 0 -484px;
    }
    li.bil .icon {
      background-position: 0 -688px;
    }
    li.event-attendees .icon{
      background-position: 0 -293px;
    }
    li.att .icon {
      background-position: 0 -740px;
    }
    li.cls .icon {
      background-position: 0 -785px;
    }

    /* Highlight Active Menu */
    li.activ {
      background-color: #f2f2f2;

      a > i {
        background-color: #f57f20;
      }
      .icon {
        background-image: url('../images/menu_icons_hover.png');
      }
      a {
        color: #161616;
        font-weight: 600;
      }
    }
  }

}

#rightcontent {
  float: left;
  width: 100%;
  padding-left: 240px;
  background-color: #e7e7e7;
  margin: 0;
  .header {
    height: 76px;
    width: 100%;
    background: #4b4f55;
    padding: 0 35px;
    float: left;

    h3{
      font-weight: normal;
      margin-top: 24px;
      color: #fff;
    }
    .howdy {
      margin-top: 10px;
      .btn-group {
        float: right;
      }
      img{
        margin-right: 10px;
      }
      button{
        border: 0;
        font-size: 15px;
        @extend .noBorderRadius;
        .caret {
          margin-left: 10px;
        }
      }
      button:hover{
        background-color: #fefefe;
      }
      button.dropdown-toggle {
        -webkit-box-shadow: 0 0 0;
         box-shadow: 0 0 0;
        background-color: #4b4f55;
        color: #fff;
      }
      .dropdown-menu {
        width: 100%;
      }
    }
  }
  .container {
    width:100%;
    padding: 0 35px;
    .search {
      margin-top: 18px;
      float: left;

      input[type="text"]{
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        padding: 0 12px;
        height: 42px;
      }
      button{
        border-color:#ccc;
        background-color: #fff;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        border-left: 0;
        outline: 0;
        padding: 10px 12px;
        height:42px;
        i{
          color: #AEAAA5;
        }
      }
    }
    #content {
      background-color: #fff;
      margin-top:18px;
      float: left;
      width: 100%;
      min-height: 400px;
      .navTabsWrap {
        background-color: #F2F4F6;
        float: left;
        width:100%;
        border-bottom: 1px solid #ddd;
        .nav-tabs {
          float: left;
          border-bottom: 0;
          li{
            margin-bottom: -2px;
          }
          li a{
            border-radius: 0;
            margin-right: 0;
            margin-top: -1px;
            color: #747474;
            font-weight: 500;
            background-image: url("../images/navtabsborder.jpg");
            background-position: right center;
            background-repeat: no-repeat;
          }
          li.active a {
            font-weight: 600;
            background-image: none;
          }
        }
        .addNew {
          float: right;
          color: #747474;
          padding:10px 15px;
        }
      }

      .tab-content{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        min-height: 400px;
        padding: 1%;
      }
      .data-table {
        color: #575454;
        border: 0;
        margin-top:15px;
          td,th {
            border:0!important;
          }
          .edit,.delete{
            color: #C7C0BA;
            margin-left: 20px;
            float: right;
          }
          tbody tr {
            background-color:#F2F4F6;
            border-bottom:1px solid #fff;
          }
          tbody tr:hover {
            background-color: #FFF6D8;
          }
      }
      .data-table.management {
        tr td:last-child,tr th:last-child {
          border-left: 0;
        }
      }
      .fixed-table-container{
        border: 0;
        @extend .noBorderRadius;
      }
    }
  }
}

.modal {
  .modal-dialog{
    width:430px;
  }
  .modal-header{
    height: 50px;
    font-size: 18px;
    padding: 15px 34px;
    border-bottom:0;
  }
  .modal-content {
    @extend .noBorderRadius;
    span.ex {
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer;
      i{
        font-size:20px;
        color: #E9E6E3;
      }
    }
  }
  .modal-body {
    padding: 15px 34px;
    background-color: #F0F3F5;
    label {
      font-weight: normal;
      color:#a3a3a3;
    }
    input,textarea, select{
      @extend .noBorderRadius;
      margin-bottom: 20px;
      border-color:transparent;
    }
    input[type="text"]{
      padding: 0 12px;
      height: 42.2px;
    }
    select {
      height:42.2px;
    }
    textarea {
      width:100%;
      resize:none;
    }
  }

}
#addBranch,#addEmployee,#addTablet,#merchantDetails,#addUser  {
  button{
    width:48%;
    padding:12px;

  }
  label[for=fourDigit] a i{
    color:#a3a3a3;
  }
}

@keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
  animation: clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease;
}
.withIco {
  font-size:16px;
  color:#666464;
  margin-bottom: 20px;
  img {
    margin-right: 10px;
  }
}
.design {
  padding:20px 30px;
  .cardTab,
  .tabletTab {
    display:none;
  }
  .mobileTab,
  .cardTab,
  .tabletTab,
  .stampIconTab{
    //border:1px solid;
    float: left;
    width:100%;
    .col-md-4{
      /*padding:0;*/
      .col-xs-12{
        margin:10px 0 20px 0;
      }
    }
  }
  .btn#btnTablet,
  .btn#btnCard,
  .btn#btnMobile,
  .btn#btnStampIcon {
    float: left;
    /*width:85px;*/
    height:40px;
  }

  .imgPrev {
    float: left;
    margin-right: 20px;
    width: 63px;
  }
  .mobileTablet {
    margin-top:30px;
    margin-bottom:20px;
  }
  .left {
    .col-md-12 {
      margin-top:30px;
    }
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    font-size:13px;
    width:90px;
    height:32px;
    border:0;
    // background-color: #F6F5F4;
    background-color: #e8e8e8;
  }
  .btn-file input[type=file] {
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    cursor: pointer;
  }
  .uploadLogo,.addBackImage,.choosePalete,.upStampC,.upStampG,.cardUploadLogo,.cardAddBackImage,.cardAddBackColor,.tabletUploadLogo,.tabletAddBackImage,.tabletChoosePalete{
    i {
      font-size:10px;
      color:#cccaca;
      width:100%;
      float: left;
      margin-top:10px;
    }
    .sp{
      float: left;
      width:100%;
      color:#a29f9f;
      font-size:12px;
      margin-bottom:5px;
    }
  }
  .upStampG {
    margin-top: 15px;
  }
  .choosePalete,.tabletChoosePalete{
    .sp-replacer {
      float: left;
    }
    .customPaletteBox{
      //display: none;
      margin-top: 10px;
      float: left;
    }
    .hex {
      @extend .hex;
    }
    .col-md-4{
      /*padding:0;*/
      /*.col-xs-12{
        margin:8px 0;
      }*/
      i{
        font-size:12px;
        font-style: normal;
        color:#a7a7a7;
        margin-bottom:9px;
      }
    }
    .presetPalette{
      //width:230px;
      float: left;
      button{
        width:174px;
        padding:0;
        border:0;
        .p1,.p2,.p3,.tp1,.tp2,.tp3{
          width:46px;
          height:38px;
          float: left;
        }
      }
      button#tabletPrePalette {
        width: 128px;
      }
      .caret{
        border:0;
        float: right;
        height:38px;
        width:36px;
        background:url("../images/caret.png") no-repeat center #F0EFED;

      }
      .prePaletteMnu,.tabletPrePaletteMnu{
        right: -176px;
        left: inherit;
        padding: 24px 26px;
        margin-top: -90%;
        li{
          margin-bottom: 12px;
          a{
            display: block;
            padding:0;
            i{
              width:58px;
              height:38px;
              float: left;
              margin:0;
            }
          }
          span{
            color:#818181;
            font-size:11px;
          }
        }
        li.palette1 {
          i:first-child{
            background-color:#222532;
          }
          i:nth-child(2){
            background-color:#009573;
          }
          i:last-child{
            background-color:#8CE994;
          }
        }
        li.palette2 {
          i:first-child{
            background-color:#43062E;
          }
          i:nth-child(2){
            background-color:#922648;
          }
          i:last-child{
            background-color:#F90047;
          }
        }
        li.palette3 {
          i:first-child{
            background-color:#2F2F2C;
          }
          i:nth-child(2){
            background-color:#005B67;
          }
          i:last-child{
            background-color:#00A8A0;
          }
        }
        li.palette4 {
          i:first-child{
            background-color:#FFF7EA;
          }
          i:nth-child(2){
            background-color:#00ECFF;
          }
          i:last-child{
            background-color:#00CBD6;
          }
        }


      }
    }
    .savePalette{
      float: right;
      width:102px;
      border:1px solid #C3BFB9;
      //display: none;
    }
  }
  .saveDesign {
    @extend .saveButton;
    margin-top:30px;
  }
  .right{
    text-align: center;
  }

  .mobileFrame{
    .screen1{
      float: right!important;
      .customMobileBgImg{
        background-image: url("../images/fidelityMobileDesignBg.jpg");
      }
    }
    .screen1,.screen2{
      background: url("../images/androidFrame.jpg") no-repeat top center;
      float: left;
      width:237px;
      height: 462px;
      margin:58px auto 0;
      .customMobileBgImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .customMobileBgImg,.customMobileBgColor, .screen2box {
        width:216px;
        margin:42px auto 0 auto;
        height:382px;
      }
      .inside{
        width:100%;
        height:382px;
        background: url("../images/fidelityMobileDesign.png") top center no-repeat;
        .customLogo{
          margin:46px auto 0 auto;
          height:120px;
          width:120px
        }
      }
      .screen2box {
        background-color: #F3F7F5;
        .topPane{
          height:26px;
          width:100%;
          float: left;
          background-color: #00C9FF;
          // background-image: url("../images/topPane.png");
        }
        .text {
          height:60px;
          float: left;
          padding:15px 0;
          width:100%;
          text-align: center;
          background-color: #f4f4f4;
          p{
            font-size:8px;
          }
        }
        .stampWrap{
          float: left;
          width:100%;
          padding-top: 10px;

          ul {
            padding:0;
            text-align: center;
            li{
              border:1px solid #00D4FE;
              margin-bottom: 26px;
              color: #00D4FE;
              margin-right: 20px;
              font-size:17px;
              padding:8px 0;
              display: inline-block;
              width:42px;
              height:42px;
              list-style: none;
              -webkit-border-radius:50%;
              -moz-border-radius:50%;
              border-radius:50%;
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              &:nth-child(3n+3){
                margin-right:0;
              }
            }
            li.g{
              border-color: #B7EBF5;
              color: #B7EBF5;
            }
          }
        }
        .redeem{
          width:174px;
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          border-radius:5px;
          font-size:12px;
          color: #fff;
          font-weight: 600;
          background-color: #00C9FF;
        }
      }
    }
  }
  .design #topPaneLabel {
    top: 10%;
    position: relative;
  }
  .cardFrame {
    //display: none;
    text-align: center;
    .cardWrap {
      margin:88px auto;
      max-width:505px;
      height:305px;
      background-color: #ECEAE8;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      border-radius:6px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .overlay {
        float: left;
        width:100%;
        height:100%;
      }
      .cardLogo{
        margin: 46px 0 0 41px;
        width:109px;
        height:109px;
        float: left;
      }
      .qr{
        float: right;
        margin: 46px 46px 0 0;
      }
    }
  }
  .cardTab{
    .hexwrap{
      float: left;
      //margin-left:28px;
      .hex{
        width:100px;
        @extend .hex;
      }
      .sp-replacer{
        float: left;
      }
    }
  }
  .tabletTab{
    .tabletFrame{
      background:url("../images/ipad.jpg") no-repeat top center;
      margin: 58px auto 0;
      width:493px;
      height:340px;
      .tabletLayout{
        background: url("../images/tabletCustomBg.jpg") no-repeat center;
        width: 447px;
        height: 280px;
        margin: 37px 0 0 22px;
        float: left;
        background-size: cover;
      }
      .customTablet{
        background:url("../images/tabletBg.png") no-repeat center;
        width: 448px;
        height: 280px;
        float: left;
        img.tabletCustomLogo {
          width: 60px;
          margin-top: 12px;
          height: 60px;
        }
        .customButton{
          background-color: #00AFEE;
          color: #fff;
          margin: 0 auto;
          display: block;
          margin-top: 126px;
          border-radius: 4px;
          width: 176px;
        }
      }
    }
  }
}

.noTab{
  padding:1%;
  table.data-table{
    margin-top:0!important;
  }
}

.forAddBtn{
  margin-top:18px;
  .input-group{
    float: right;
    width:182px;
    .input-group-addon{
      border:0;
      background-color: transparent;
    }
    select{
      @extend .noBorderRadius;
    }
  }
  .btn-default {
    background-color: #fff;
    float: right;
    height:40px;
    width:124px;
    padding: 10px;
  }
}
.setupPunch{
  .row{
    width:360px;
    //border:1px solid #222;

  }
  .input-group{
    float: right;
    //width:182px;
    .input-group-addon{
      border:0;
      background-color: transparent;
    }
    select{
      @extend .noBorderRadius;
    }
  }
}
.setupPunch.promos .input-group input {
  border-right: 1px solid #D3D0CB;
}

.promos, .achiveUnlock, .redemption{
  .fa.del,.fa.edit{
    margin-top: 12px;
    margin-left: 10px;
    color:#D5D8E1;
  }
  .pts{
    background-color: #eeeeee!important;
    border: 1px solid #ccc!important;
    border-left: 0!important;
  }
  .rProdImg{
    .imgPrev {
      width:63px;
    }
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    font-size:13px;
    width:90px;
    height:42px;
    border: 1px solid #D3D0CB;
    background-color: #F6F5F4;
    padding: 10px;
  }
  .btn-file input[type=file] {
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    cursor: pointer;
  }
  #rDescription{
    min-height:42px;
    /*min-width:250px;*/
  }
  .fordatepkr {
      input {
        border-right:none;
      }
      .input-group-addon {
        border:1px solid #D3D0CB;
        @extend .noBorderRadius;
        border-left:none;
      }
    }
  .addAchievement {
    margin:30px 0;
  }
  .input-group-addon {
    background-color: transparent;
    border:0;
    padding-left: 0;
    &:last-child{
     padding-left: 10px!important;
    }
  }
  padding:20px 30px;
  .row{
    margin-bottom: 20px;
  }
  h4{
    font-size:21px;
    color: #666464;
    margin-bottom: 25px;
  }
  h5{
    font-size:19px;
    color:#111315;
  }
  label,h6 {
    color: #969595;
    font-weight:400;
    font-size:14px;
    margin-top:10px;
  }
  .form-control {
    height:42px;
    border:1px solid #D3D0CB;
    @extend .noBorderRadius;
  }
  .amountProduct a{
    font-size:14px;
    color: #b9b8b8;
    float: left;
    padding: 0 15px;
    &:first-child{
      border-right: 1px solid;
    }
    &.active,&:hover {
      font-weight: 600;
      color:#438787;
    }
  }
  .earningReward1,.earningReward2{
    background-color: #F6F7F9;
    padding:26px 34px;
    float: left;
    width:100%;
    margin-top:12px;
    margin-bottom: 20px;
    .form-control{
      float: left;
      //width:65px;
    }
    .input-group-addon {
      background-color: transparent;
      border:0;
      padding-left: 0;
      &:last-child{
       padding-left: 10px!important;
      }
    }
    .rewards,.prodWrap{
      margin-bottom: 10px;
      float: left;
      width:100%;
    }
    .addReward {
      background-color: #E5E7ED;
      border:0;
      font-size:13px;
      margin-top:20px
    }

  }
  .earningReward2{
    display: none;
    .fa.del{
      color:#D6D8DF;
      font-size: 16px;
      line-height: 38px;
    }
  }

}
#merchantDetails {
  .modal-dialog {
    width: 542px;
  }
  input {
    background-color: transparent;
    cursor: text;
    margin-bottom: 6px;
  }
  select{
    margin-bottom:6px;
    background-color: transparent;
    border: 1px solid #ccc;
  }
  label{
    margin-top:8px;
  }
  #merchDepSlip{
    margin-top:6px;
  }

  .form-group{
    margin-bottom: 5px;
  }
}
.actionButton{
  margin-top:20px;
}
#addUser {
  .radio{
    margin-top:0;
  }
}


.dashboard {
  background-color: transparent!important;
  width:100%;
  float: left;
  margin-top: 10px!important;
  .counts{
    margin-top:35px;
    color: #fff;
    .count{
      padding:0;
      width: 100%;
      float: left;
      li{
        list-style: none;
        height:264px;
        //float: left;
        display: table-cell;
        vertical-align: middle;
        //width:33.3%;
        width:180px;
        text-align: center;
        //padding-top: 10%;
        p{
          font-size:17px;
          min-height: 48px;
        }
        h3{
          font-size:65px;
          font-weight:600;
        }
      }
      li:first-child{
        background: url("../images/newSignups.jpg") bottom center #f00a4a;
      }
      li:nth-child(2){
        background: url("../images/prodRewarded.jpg") bottom center #A3E7A1;
      }
      li:last-child{
        background: url("../images/recentTrans.jpg") bottom center #00977B;
      }
    }
  }

}



//dashboard d3 css
#monthlyReport{
  overflow: auto;
  .line {
    stroke: rgb(12, 155, 129);
    stroke-width: 1;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: rgba(88, 89, 93, .12);
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: rgba(88, 89, 93, .5);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: rgba(88, 89, 93, .3);
    shape-rendering: crispEdges;
  }

  .axis text {
    font: 12px;
    fill: rgba(35, 31, 32, .5);
  }
  .tick text{
    font-size: 12px;
  }

  .tick line{
    opacity: 1;
  }
}


//-- quickstart
.qsTwo,.qsThree,.qsFour,.qsFive,.qsSix,.qsFinish{
  display: none;
}
.punchcard{
  /*display: none;*/
}
.loyalty{
  /*display: none;*/
}
.quickstart {
  //display: none;
  position: fixed;
  background-image: url("../images/qsBg.png");
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height:100%;
  overflow-y: auto;
  .content{
    width:70%;
    //border: 1px solid #fff;
    margin: 4% auto;
  }
  .steps{
    h3{
      color:#fff;
      margin-top: 10px;
    }
    .col-md-1-7{
      width:14.2%;
    }
    span{
      float: left;
      -webkit-border-radius:100%;
      -moz-border-radius:100%;
      border-radius:100%;
      font-size: 18px;
      width: 27px;
      height: 27px;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
    }
    .right{
      float: left;
      margin-left: 10px;
      p.t{
        // color:#f6ae1c;
        color:#e1e1e1;
        margin-bottom: 5px;
      }
      p.d{
        font-size:11px;
        color:#fff;
      }
    }
    img {
      position: absolute;
      left: 20px;
      // bottom: -20px;
      bottom: -32px;
      display: none;
    }

    .active {
      span{
        background-color: #f6ae1c;
        border:0;
      }
      img{
        display: block;
      }
      p.t{
        color:#f6ae1c;
      }
    }
    .done{
      span{
        background-color: #f6ae1c;
        border:0;
      }
      img {
        display: none;
      }
      p.t{
        color:#f6ae1c;
      }
    }
  }
  .qsWrapper{
    background-color: #FAFAF9;
    width:100%;
    float: left;
    margin-top: 12px;
    .qsHeader{
      background-color: #fff;
      padding:24px ;
      h2{
        font-size: 20px;
        margin: 0;
      }
    }
    .qsBody{
      padding:2% 0;
      min-height: 330px;;
      input, select, textarea{
        @extend .noBorderRadius;
      }
      .form-group{
        float: left;
        width:100%;
      }
      .stampsWrap{
        width:450px;
        margin:0 auto;
        margin-top:5%;
        h4{
          margin-bottom:20px ;
        }
        .row{
          margin-bottom: 30px;
        }
        .input-group-addon{
          border:0;
          background-color: transparent;
        }
        input[name="stamps"]{
          height:70px;
        }
        label{
          font-weight:normal;
        }
      }
      .design{
        float: left;
      }
      #saveCustomerAppPalette {
        float: none;
        margin-top: 15px;
      }
    }
    .qsFooter{
      float: left;
      width:100%;
      padding: 24px;
      color: #9a9da0;
      button{
        width: 100px;
        .fa{
          margin-left: 5px;
          margin-right: 5px;
        }
        &.nextStep{
          color:#fff;
          background-color: #f6ae1c;
          float: right;
        }
        &.backStep{
          float: left;
        }
      }
    }
  }
  .qsFinish .qsBody{
    text-align: center;
    h3{
      margin-top:5%;
    }
    button{
      margin-top: 2%;
      border-color: #00B181;
      height:56px;
      width:210px;
    }
  }
}

.actionWrapper{
  margin: 10px auto;
  width: 100%;
  button{
    width: 48%;
    margin-top:20px;
    padding: 12px;
  }
}
.fixed-table-toolbar{
  position: relative;
  .pull-right.search{
    position: absolute;
    top: -86px;
    left: -1%;
    width: 300px;

    input[type="text"]{
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        padding: 0 32px 0 12px!important;
        background: url("../images/sIco.png") no-repeat right center #fff;
    }
  }
}
.pagination-info,.page-list,.pagination{
    font-size:12px;
}
.account {
  #changePassword{
    margin-top:30px;
    label {
      font-weight:normal;
    }
  }
  padding:20px;
}
.tooltip{
  z-index:999;
}

i.number {
  font-style: normal;
  border: 2px solid #CECECE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 24px!important;
  float: left!important;
  height: 24px;
  padding: 4px;
  color: #cecece;
  font-size: 12px!important;
  margin-top: 0!important;
  text-align: center;
  margin-right: 10px;
}
.prodImgR{
    width: 10.33333%;
}
.itemsRedeemed{
  margin-bottom:10px;
  float: left;
  width: 100%;

  // Labels redemption on screen size < 992px
  .mobileOnly {
    display: none;
  }
}
.marginTop{
  margin-top:76px!important;
}
#historyTable{
  .fht-cell{
    height: 0px!important;
  }
  th {
    outline:none;
  }
}
.filterControl {
  position: absolute;
  right: 0;
  top: -80px;
}
.transHistory{
  /*margin-top:32px!important;*/
}
.filterLabel{
  .input-group{
    margin-right: 120px;
    margin-top: 14px;
  }
}
#notes {
  width: 100%;
  position: fixed;
  top:0;
  min-height: 40px;
  z-index: 9;
  // background: rgba(0, 123, 117, 0.85);
  background: rgba(255, 187, 62, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;
  a{
    float: right;
    margin-right: 20px;
    color: #ECFFD6;
    cursor: pointer;
  }
}
.design .btn#btnMobile{
    /*width: 118px;*/
}

#stamps {
  // background: #fff;
    padding: 10px 0;
    // width: 260px;
  ul {
    padding:0;
    margin: 0;
    // text-align:center;
    li{
      list-style:none;
      display:inline-block;
      text-align:center;
      margin-right: 20px;
      margin-bottom:10px;
      position:relative;
      a{
        height: 45px;
        width:45px;
        line-height:45px;
        font-size:14px;
        border:1px solid #eee;
        background: #fff;
        float:left;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        color:#999999;
      }
      a.bordered {
        border:2px solid #333;
      }
      a:hover, a.with-stamp {
        background:#999999;
        color:#fff;
      }
      .inputHere {
        display:none;
        position: absolute;
        width: 300px;
        background: rgba(0, 123, 117, 0.65);
        padding: 10px;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        top: -53px;
        right: 26px;
        z-index: 99 ;
        textarea{
          width:220px;
          float:left;
        }
        button{
          background-color:#fff;
          color:#333;
        }
      }
    }
  }

  // Added
  .modal {
    text-align: left;
  }
  .modal-body {
    background:#fff;
    padding:0 20px;

    .fileinput-button {
      background:#E6E9ED;
      width:100%;
      color:#666464;
      border:none;
      padding:50px 0;
      position:relative;
      z-index:2;

      canvas{
        position:absolute;
        z-index:-1;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-size:100% 100% !important;
      }
    }

    .fileinput-button.with-img {
      background:transparent;
      color:#fff;
    }

    textarea {
      border: 1px solid #d3d0cb;
      border-radius: 5px;
      height:60px;
    }
  }
  .modal-header {
    text-align: center;
  }
  .modal-footer {
    border-top:0;
    padding:0 20px 20px 20px;

    button {
      width:100%;
    }
  }
}
// Added
.stamp-conversion {
  background:#E6E9ED;
  padding:20px ;

  .row {
    margin-bottom:0;
    padding-bottom:0;
  }

  .stamp-amount {
    float:left;
    margin-left: 10px;

    input {
      text-align: right;
      width:100px;
    }
  }

  .stamp-no {
    float:left;
  }
}
.step5 .btn-file {
  position: relative;
  overflow: hidden;
  font-size:13px;
  width:90px;
  height:32px;
  border:0;
  background-color: #F6F5F4;
}
.step5 .btn-file input[type=file] {
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  cursor: pointer;
}
.appstoreLogo {
  i{
    font-size:11px;
    color:#aaa;
  }

  .imgPrev {
    width: 350px;
    height: 350px;
  }
}
// end

.stamp-grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

// Added redemption
.redemption-name,
.redemption-description,
.redemption-points {
  color: #999999;
}
.redemption-image {
  border: 1px solid #333333;
}
.redemption-header {
  font-weight: bold;
  color: #999999;
}
.mul-color {
  background-color: #ccc;
}
#content.promos {
  background:none !important;
  padding:0 !important;
}
/* Program Mechanics Fix */
#content.promos.setupPunch,
#content.promos.settings {
  background-color: #fff !important;
  padding: 20px 30px !important;
}
#content section {
  padding:20px 30px;
  background:#fff;
  margin-bottom: 10px;
  border:1px solid #ccc;
}
.promos .input-group-addon,
.promos input[type=text] {
  background-color:#e6e9ed ;
}
.promos .input-group-addon {
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.promos .input-group input{
  border-right:0;
}
.form-promo-search {
  position:relative;
}
.form-promo-search input[type=text] {
  background:#fff;
  border-radius:25px;
  /*border:none;*/
  padding-left:15px;
}
.form-promo-search .fa-search {
  position: absolute;
  right:15px;
  top:10px;
  font-size:18px;
  border:0;
  background:none;
  color:#d3d0cb;
}
.promo-list .fixed-table-body {
  padding:20px 30px;
  background:#fff;
  margin-bottom: 10px;
}
.promo-list .new-punchcard {
  margin-bottom: -95px;
  border-radius: 4px;
}
.promo-list .fixed-table-toolbar .pull-right.search {
  left:static;
  position:static;
  top:static;
  width:static;
}

//custom grid
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1-5 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

.btn {
  border-radius: 4px;
}
.btn#btnTablet, .btn#btnMobile {
  border-radius: 0;
}

/* Recompile */
.design .mobileFrame .screen1 .screen2box .qrcodeWrap, .design .mobileFrame .screen2 .screen2box .qrcodeWrap {
  float: left;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  background: url("../images/qr.png") no-repeat center;
}
.design .mobileFrame .screen1 .screen2box .design .mobileFrame .screen2 .screen2box {
  color: #00C9FF;
  font-size: 26pt;
}
.design .mobileFrame .screen1 .screen2box .pts_value, .design .mobileFrame .screen2 .screen2box .pts_value {
  color: #333333;
  font-size: 26pt;
}
.design .mobileFrame .screen1 .screen2box .pts, .design .mobileFrame .screen2 .screen2box .pts {
  color: #333333;
  font-size: 10pt;
  font-weight: bold;
  vertical-align: super;
}
.design .mobileFrame .screen1 .screen2box .pts_date, .design .mobileFrame .screen2 .screen2box .pts_date {
  color: #cccccc;
  font-size: 10pt;
}
#flash_message_success {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 40px;
  z-index: 9;
  background: rgba(255, 187, 62, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;

  a {
    float: right;
    margin-right: 20px;
    color: #ECFFD6;
    cursor: pointer;
  }
}

#flash_message_error {
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 40px;
  z-index: 9;
  background: rgba(196, 32, 90, 0.85);
  text-align: center;
  color: #fff;
  line-height: 36px;

  a {
    float: right;
    margin-right: 20px;
    color: #ECFFD6;
    cursor: pointer;
  }
}

.error-msg {
  color: red;
}

/*== Override: Tab Panel ==*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom: 0;
}
#rightcontent .container #content .navTabsWrap .nav-tabs li {
  margin-right: -2px;
}
/*==  Added: SMS/Push Notifications/Email Blast ==*/
.level-2-tab {
  position: relative;
  top: 15px;

  .navTabsWrap {
    // background-color: #FFF6D8 !important;
    background-color: transparent !important;
  }
  .tab-content {
    border: 0 !important;
    padding: 0;
  }
}
.smstool  {
  .fixed-table-toolbar .pull-right.search {
    top: -173px;
  }
  .smsAdd {
    padding: 8px 15px;
    margin-top: 20px;
  }
  .newNotif {
    background: #848891;
    margin-left: 10px;
  }
  #smsTable,
  #emailTable {
    tr th:nth-child(5),
    tr td:nth-child(5) {
      width: 45%;
    }
    .delete {
      margin-left: 0 !important;
      float: left !important;
    }
  }
  #smsTable,
  #pushTable,
  #emailTable,
  #segmentTable {
    .stat {
      padding: 3px 7px;
      color: #fff;
      border-radius: 3px;
    }
    .stat.sActive {
      background: #f7b94f;
    }
    .stat.sProcessed {
      background: #2f9b48;
    }
    .stat.sProcessing {
      background: #4b73fa;
    }
    .stat.sInactive {
      background: #eb3e3e;
    }
  }
  #pushTable {
    .delete,
    .edit {
      float: left !important;
    }
    .edit {
      margin-left: 0 !important;
    }
  }
  #segmentTable {
    .stat.sActive {
      background: #2f9b48;
    }
  }
}

/* Modals */
.modal .modal-dialog.expandWidth {
  width: 600px;

  button {
    width: 48%;
    padding: 12px;
  }
}
#addSMS,
#addEmail {
  input[type=text] {
    margin-bottom: 0;
  }
  .publishDate {
    margin-bottom: 20px;
  }
  .input-group-addon {
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
}
#addPushNotif,
#editPushNotif {
  .runDate input[type=text] {
    margin-bottom: 0;
  }
  .input-group-addon {
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
  .input-group-addon.out {
    background-color: #eee !important;
  }
}
#addSMS,
#addPushNotif,
#addTargetSeg,
#addEmail,
#editPushNotif,
#editTargetSeg {
  hr {
    margin-top: 0;
  }
  .filterInfo {
    input, textarea, select {
      margin-bottom: 0 !important;
    }
  }
}
.margT20 {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .modal .modal-dialog.expandWidth {
    width: 400px;
    margin-top: 0px !important;
  }
}
@media (max-width: 450px) {
  .modal .modal-dialog.expandWidth {
    width: 320px;
  }
}

/* Billing Module CSS */

.view-bill-upper {
  background-color: #F2F4F6;
  padding: 10px;

  .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020;
  }

}

.view-bill-statement {
  padding: 10px;
}

.account-summary-link {
  cursor: pointer;
}

.soa_acctNum {
  margin-top: 20px;
  font-size: medium;
}

.view-billing {
  padding: 10px;
}

.billing {
  .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020;
  }
  #frm_payt_cc hr,
  #frm_payt_otc hr,
  .soa hr {
    border: none;
    height: 1px;
    background: #efefef;
  }
  .bill_label {
    font-family: Open Sans;
    color: #afafaf;
    font-size: medium;
    margin: 0px;
    font-weight: normal;
  }
  .bill_value,
  .bill_value:focus {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background: transparent!important;
    box-shadow: none;
  }
  #month {
    width: 46%;
  }
  #day {
    margin: 0px 6px;
  }
  #day {
    width: 25%;
  }
  #year {
    width: 25%;
  }
  .payt_date,
  .view_date,
  #bill_amt,
  #bill_ref_no,
  #payment_date,
  #paytMethod {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    height: 53px;
    padding-left: 10px;
    box-shadow: none;
  }
  #bill_upload_btn {
    border-style: none;
    box-shadow: none;
    color: transparent;
  }
  .bill_btn {
    font-family: Roboto;
    font-size: medium;
    color: white;
    background-color: #ea6a1d;
    border: none;
    padding: 10.5px 0px;
    border-radius: 6px;
  }
  .bill_btn:hover {
    background-color: #DA5B10;
  }
  .img_thumb {
    width: 55px;
    height: 55px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: pink;
  }
  #dl_soa_btn {
    margin-right: 12px;
  }
  .soa_btn {
    font-family: Roboto;
    font-size: medium;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding: 0px 12px;
  }
  .soa_btn:link,
  .soa_btn:visited {
    white-space: nowrap;
    font-family: Roboto;
    font-size: medium;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
  }
  .soa_btn:hover {
    background-color: #F1F1F1;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
  }
  #searchDate {
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
    box-shadow: none;
    font-size: medium;
    height: 42px;
    font-family: Open Sans;
    padding-left: 24px;
    color: #a7a6a6;
  }
  #calendarSpan {
    border-radius: 0px 60px 60px 0px!important;
    background-color: #ffffff;
    color: #afafaf;
    border-left: 0px;
  }
  #searchBtn {
    border: none!important;
    box-shadow: none;
  }
  #searchBtn a {
    color: #f58020;
    font-family: Open Sans;
    font-size: medium;
  }
  #searchBtn a:hover {
    text-decoration: none;
    color: #EC730F;
  }
  #searchBtn a:active,
  #searchBtn a:visited,
  #searchBtn a:link {
    text-decoration: none;
  }
  td[class=record_num]{
     width:10%;
     text-align:center;
  }
  .record_num {
    font-weight: bold;
  }
  .view_btn {
    font-size: medium;
  }
  a[class=view_btn]:visited,
  a[class=view_btn]:active,
  a[class=view_btn]:link {
    text-decoration: none;
    color: #afafaf;
  }
  a[class=view_btn]:hover {
    text-decoration: none;
    color: #656565;
    cursor: pointer;
    cursor: hand;
  }
  .bill_hr hr {
    margin-top: 4px;
  }
  .bill_table td {
    height: 95px;
    border-top: none !important;
  }
  .soa h3 {
    padding-top: 30px!important;
  }
  .soa td,
  .soa th {
    border-top: none !important;
    padding: 4px 0px!important;
  }
  .soa hr {
    border-top: dashed 1px;
  }
  .soa_heading1,
  #soa_name {
    font-size: medium;
  }
  #soa_address {
    padding-left: 10px!important;
    width: 75%;
    color: #555555;
    font-size: medium;
  }
  .soa_heading1,
  .soa_heading2,
  .soa_items,
  #soa_address,
  .soa_amounts,
  #soa_name {
    font-family: Open Sans;
  }
  .soa_heading2,
  .soa_note {
    color: #939393;
  }
  .soa_heading1,
  .soa_acctNum {
    font-weight: bold;
  }
  .soa_totalAmtDue td {
    padding: 12px!important;
  }
  .breakdown_total td,
  .soa_heading2 th {
    padding-top: 12px!important;
  }
  .soa_items,
  .soa_heading2,
  .soa_total_label,
  .soa_totalAmtDue,
  .soa_amounts {
    font-size: medium;
  }
  .soa_heading1,
  .soa_heading2 {
    font-weight: bold;
  }
  .soa_items {
    color: #535353;
  }
  .soa_item_list td {
    padding-top: 12px!important;
  }
  #soa_name {
    color: #555555;
  }
  .soa_amounts {
    color: #090909;
  }
  .soa_total_label,
  .soa_totalAmtDue {
    color: #2a2a2a;
  }
  .align_right {
    text-align: right;
  }
  .orange_box {
    border: 2px solid #f8ae1a;
  }
  .orange_box td {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .account_summary {
    border: 2px solid #f9f9f9;
    padding: 30px 26px!important;
  }
  .account_summary td {
    padding-left: 8px!important;
    padding-right: 8px!important;
  }
  .account_summary th {
    text-align: center;
    border-bottom: none!important;
  }
  .soa_note {
    font-family: Open Sans;
    font-size: medium;
  }
  .usage_breakdown th {
    border-bottom: none!important;
    padding-bottom: 16px!important;
  }
  /*Remove number type spinner*/

  #bill_ref_no::-webkit-outer-spin-button,
  #bill_ref_no::-webkit-inner-spin-button,
  #bill_amt::-webkit-outer-spin-button,
  #bill_amt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /*Browse Button*/

  label#custom_upload_btn input[type="file"] {
    position: fixed;
    top: -1000px;
  }
  #custom_upload_btn {
    font-family: Roboto;
    font-size: medium;
    font-weight: normal;
    border: 1px solid #f8ae1a;
    border-radius: 4px;
    margin: 0 auto;
    background: transparent;
    display: inline-block;
    color: #f8ae1a;
    height: 53px;
    padding: 12px 40px 0px 40px;
  }
  #custom_upload_btn:hover {
    background: #F1F1F1;
    cursor: pointer;
    cursor: hand;
  }
}

#paymentModalOTC, #paymentModalCC {
  background-color: rgba(0, 0, 0, 0.4);

  .bill_popup h2 {
    color: #f58020;
    font-family: Open Sans;
    font-size: medium;
  }
  .bill_popup p {
    color: #656565;
    font-family: Open Sans;
    font-size: medium;
  }
  /* The Modal (background) */

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }
}

#paymentModalOTC .modal, #paymentModalCC .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

  /* Modal Content */
#paymentModalOTC .modal-content, #paymentModalCC .modal-content {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 0px;
  padding: 30px;

  .modal-body {
    background-color: #fff;
  }
}

#paymentModalOTC .modal-content button, #paymentModalCC .modal-content button {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 8px 50px;
  text-align: center;
  border-radius: 6px;
}

#orderCard, #orderCardConfirmation, #orderCardSuccessPrompt, #orderCardNoDesign {
  background-color: rgba(0, 0, 0, 0.4);
}

.redemption {
  .toggle-globe-reward { cursor: pointer; text-transform: capitalize; }
  .enabled { color: green;  }
  .disabled { color: red; }
}

.home {
  padding: 20px;
  
  .spacing {
    margin-top: 40px;
  }

  .module {
    margin: 20px;
    display: inline-flex;
    height: 120px;
    width: 140px;
    
    .module-icon {
      height: 100%;
      width: 100%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding: 70px 10px 10px 10px;
      color: #627181;
      background-position: 50% 20px;
    }

    .module-icon:hover {
      background-color: #f57f20;
      color: #fff;
    }

    .icon-ana {
      background-image: url('../images/icon-ana.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-ana-hover.png');
      }
    }

    .icon-pro {
      background-image: url('../images/icon-pro.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-pro-hover.png');
      }
    }

    .icon-ach {
      background-image: url('../images/icon-ach.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-ach-hover.png');
      }
    }

    .icon-rep {
      background-image: url('../images/icon-rep.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-rep-hover.png');
      }
    }

    .icon-des {
      background-image: url('../images/icon-des.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-des-hover.png');
      }
    }

    .icon-tra {
      background-image: url('../images/icon-tra.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-tra-hover.png');
      }
    }

    .icon-man {
      background-image: url('../images/icon-man.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-man-hover.png');
      }
    }
    
    .icon-sms {
      background-image: url('../images/icon-sms.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-sms-hover.png');
      }
    }

    .icon-add {
      background-image: url('../images/icon-add.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-add-hover.png');
      }
    }

    .icon-hel {
      background-image: url('../images/icon-hel.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-hel-hover.png');
      }
    }

    .icon-set {
      background-image: url('../images/icon-set.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-set-hover.png');
      }
    }

    .icon-bil {
      background-image: url('../images/icon-bil.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-bil-hover.png');
      }
    }

    .icon-usr {
      background-image: url('../images/icon-usr.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-usr-hover.png');
      }
    }

    .icon-att {
      background-image: url('../images/icon-event.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-event-hover.png');
      }
    }

    .icon-cls {
      background-image: url('../images/icon-class.png');
      background-repeat: no-repeat;

      &:hover {
        background-image: url('../images/icon-class-hover.png');
      }
    }


  }

}

/*Rewards table UI -BEGIN*/
#redeem-rows{
  .itemsRedeemed{
    .itemDetails{
      overflow: auto;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 6px;
      padding: 6px;

      & > div{
        margin: 2px;
      }
      .itemDetails .actions{
        padding: 0 !important;
      }
      .actions{
        .fa.edit,
        .fa.del{
          margin-top: 0 !important;
        }
      }
    }
    .redemption-header-wrap{
      padding: 0;
    }
    .itemNameLabel,
    .itemName{
      width: 13%;
    }
    .itemName span,
    .itemBranch,
    .itemDesc span,
    .itemPts span{
      color: #333;
      font-weight: 600;
    }
    .itemStatus{
      font-weight: 600;
    }
    .numbering{
      padding: 0;
      width: 55px;
    }
  }
}
/*Rewards table UI -END*/
/*Rewards catalogue Modal -BEGIN*/
.rewards-item-modal .modal-dialog{
  width: 60%;

  .modal-header .close{
    font-size: 32px;
    font-weight: 100;
  }
  .modal-content{
    border-radius: 4px !important;
  }
   .modal-body{
    background-color: #fff;

    input,textarea{
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .modal-title{
    text-align: center;
  }

  .left-col,.right-col{
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
  .right-col{
    margin-left: 22px;

    .preview-img{
      border: 1px solid #ccc;
        border-radius: 4px;
        height: 200px;
        width: 350px;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        text-align: center;
        padding: 106px;
        color: rgba(51, 51, 51, 0.5);
        font-size: 14px;
    }
    .points{
      width: 35%;
      display: inline-block;
    }
    .status{
      display: inline-block;
      width: 60%;
      margin-left: 12px;

      select{
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 34px;
        width: 100%;
      }
    }
  }
  .branches{
    .branch-check-wrap
    {
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 180px;
      overflow-y: scroll;
      width: 100%;

      .form-check{
        position: relative;
      }

    }
    .branch-label{
      background-color: #fff;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #f0f3f5;
      padding: 12px;
      margin: 0;
      cursor: pointer;
    }
    input[type=checkbox].options{
          display: inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          background: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
    }
    input[type=checkbox]:checked + .branch-label{
        background-color: #f7f7f7;
        -moz-box-shadow:   inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
       -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
       box-shadow:         inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
    }
    .fa-check{
      float: right;
    }
  }
  .btn-save-redeem{
    background-color: #f6ae1c;
    color: #fff;
    border: 0;
    width: 200px;

    &:hover{
      background-color: #b47b07;
      color: #fff;
    }
  }
  .btn-clear-redeem{
    width: 200px;
  }
  .input-label{
    font-weight: 600 !important;
  }
  .form-control{
    background-color: #f7f7f7;
  }
  .modal-footer{
    text-align: center;
  }
}
/*Rewards catalogue Modal -END*/
/*Punchcard Modal -BEGIN*/
.punchcardModal{
  .modal-dialog{
    width: 60%;

    .modal-content{
      border-radius: 4px !important;
    }
  }
  .col-left{
    width: 48%;
    display: inline-block;
    vertical-align: top;

    .branches{
      .branch-check-wrap{
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 180px;
        overflow-y: scroll;
        width: 100%;
      }
      .branch-label{
        background-color: #fff;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #f0f3f5;
        padding: 12px;
        margin: 0;
        cursor: pointer;
      }
      input[type=checkbox].options{
        display: none;
      }
      input[type=checkbox]:checked + .branch-label{
        background-color: #f7f7f7;
        -moz-box-shadow:   inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
       -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
       box-shadow:         inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
      }
      .fa-check{
        float: right;
      }
    }
  }
  .col-right{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-left: 22px;

    .preview-img {
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 200px;
      width: 350px;
      background-size: contain !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      text-align: center;
      padding: 106px;
      color: rgba(51, 51, 51, 0.5);
      font-size: 14px;
    }
  }
  .saveStamp{
    width: 200px !important;
    float: left;
  }
  .clearStamp{
    width: 200px !important;
    float: right;
  }
}
/*Punchcard Modal -END*/

.tab-pane#branch {
  .qr-code-buttons-container {
    margin-top: 15px;
    a.btn:first-child {
      margin-right: 10px;
    }
  }
}
