.navbar {
  margin-bottom: 10px;
  &-brand {
    margin-left: 0 !important;
  }
  li {
    padding: 0 6px;
    &.active {
      a {
        color: #ff6600 !important;
        background-color: transparent !important;
      }
    }
    a {
      text-transform: uppercase;
      font-size: 12px;
      color: #54698d !important;
      font-weight: 400;
      letter-spacing: 1px;
      &:hover {
        color: #ff6600 !important;
      }
    }
    .sign-in {
      width: 114px;
      height: 40px;
      text-transform: uppercase;
      margin-top: -20px;
      letter-spacing: 1px;
    }
  }
  .container {
    height: 90px;
    line-height: 90px;
    padding: 20px 0;
  }
}

.navbar-right {
  margin-top: 8px;
}

.navbar-toggle {
  z-index: 1049;
  border: none;
  background: transparent !important;
  &:hover {
    background: transparent !important;
  }
  .icon-bar {
    background-color: #fff !important;
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .icon-bar {
      background-color: #FF6000 !important;
    }
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}