.hp1 {
  overflow: hidden;
}

.hp1-content {
  padding: 0;
  text-align: center;
  .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px;
    img {
      width: 60px;
      // position: relative;
      // left: calc(-25% + 67px);
    }
    a:focus {
      outline: 0;
    }
  }
  h2 {
    font-size: 45px;
    font-weight: 300;
    padding: 0;
  }
  .hp1-i {
    font-style: italic;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    max-width: 408px;
    line-height: 160%;
  }
  .bots {
    margin-top: 20px;
    .f-trial, .r-demo {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      width: 170px;
      height: 50px;
    }
  }
}

.hp1-hero-img img {
  max-width: 137%;
  position: relative;
  right: -13px;
}

.hp2 {
  background: transparent url("images/design-management-screen.png") no-repeat scroll -180px 80px/60% auto;
}

.hp2-content {
  margin-top: 80px;
  li {
    margin: 0 0 52px 0;
    display: inline-block;
    h2 {
      font-size: 28px;
      font-weight: 300;
      padding: 0 0 10px;
      margin: 0;
    }
    .dm-icon {
      margin: 0px 18px 0 0;
      padding: 0;
      max-width: 50px;
    }
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      width: 86%;
      line-height: 30px;
    }
  }
}

.hp3 {
  background: transparent url("images/dashboard-screen-01.png") no-repeat scroll right -160px top 50px/60% auto;
}

.hp3-content {
  // padding: 0;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 130px;
  li {
    margin: 0 0 52px 0;
    display: inline-block;
    width: 100%;
    h2 {
      font-size: 28px;
      font-weight: 300;
      padding: 0 0 10px;
      margin: 0;
    }
    .dm-icon {
      margin: 0px 18px 0 0;
      padding: 0;
      max-width: 50px;
    }
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      width: 83%;
      line-height: 30px;
    }
  }
  .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px;
    img {
      width: 60px;
      position: relative;
      left: -75px;
    }
  }
  h2 {
    font-size: 52px;
    font-weight: 300;
    padding: 0;
  }
  .hp3-i {
    font-style: italic;
    font-size: 18px;
    padding: 20px 0;
    display: block;
    max-width: 408px;
  }
}

.ini-footer {
  position: absolute;
  bottom: 0;
  background: url(images/background-small.svg) no-repeat center;
  background-size: cover;
  height: 80px;
  width: 100%;
  .container {
    // max-width: 800px;
    // max-width: inherit;
    // width: 96%;
    margin-left: auto;
    margin-right: auto;
    line-height: 100%;
    .l-label {
      font-size: 32px;
      color: #fff;
    }
    .f-trial, .r-demo {
      width: 180px;
      height: 50px;
      font-weight: bold;
      font-size: 11px;
      line-height: 50px;
    }
    div {
      text-align: center;
      line-height: 82px;
      &:focus {
          outline: 0;
      }
      img {
        max-width: 150px;
        width: 100%;
      }
    }
  }
  // Partners Slider
  .partners-slider {
    .slick {
      &-arrow {
        display: inherit !important;
      }
    }
    .partner {
      &-next,
      &-prev {
        position: absolute;
        top: 65%;
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        z-index: 1;
      }
      &-next {
        right: -10%;
      }
      &-prev {
          left: -10%;
      }
    }
    .fa-angle-right:before,
    .fa-angle-left:before {
        font-size: 35px;
        color: #fff;
    }
  }
}

.options {
  text-align: center;
}