/* Product */

button:focus {
  outline: 0;
}

.product {
  min-height: 392px;
  display: block;
  font-size: 18px;
  color: #fff;
  background: transparent url("images/background-medium.svg") no-repeat scroll 100% (center / 100%) auto;
  background-position: top center;
  padding: 40px 0;
  .content {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 0;
    letter-spacing: 3px;
  }
  .banner-opt {
    position: relative;
    top: 50px;
    h2 {
      color: #16325c;
      margin: 30px auto 10px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
    }
    a {
      display: block;
      background: #ff6c00;
      border-radius: 25px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin: 15px auto 35px;
      padding: 13px 0;
      text-transform: uppercase;
      width: 200px;
      text-align: center;
      box-shadow: 0 2px 0 #cc5500;
      &:hover, &:focus {
        outline: 0;
        text-decoration: none;
      }
    }
  }
  .basic, .pro {
    text-align: center;
    margin: 30px auto;
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: block;
  }
  .opt-desc {
    color: #16325c;
    font-size: 16px;
    .title {
      font-size: 20px;
    }
    .disc {
      font-size: 16px;
      color: #cfd5e1;
      font-style: italic;
      display: block;
      margin-bottom: 20px;
    }
  }
}

.opt-desc {
  color: #16325c;
  font-size: 16px;
  .title {
    font-size: 20px;
  }
  .disc {
    font-size: 16px;
    color: #cfd5e1;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
  }
}

#success.modal {
  .modal-content {
    box-shadow: none;
    border: 1px solid #fff;
    text-align: center;
    padding: 35px 35px;
  }
  .success-img {
    width: 110px;
    display: block;
    margin: auto;
  }
  a {
    background-color: #ff6c00;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 12px;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    width: 200px;
    text-decoration: none;
  }
}
/* Success Landing Page */
.signup {
    &_success {
        background: #FCF9F6;
        text-align: center;
        padding: 50px 30px;
        h1 {
            font-size: 40px;
            font-weight: 300;
            padding: 0;
        }
        p {
            font-size: 1.35em;
            font-weight: 500;
            font-style: italic;
        }
        a.back_home {
            color: #fff;
            padding: 15px 30px;
            margin: 20px auto;
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &_check {
        max-width: 100px;
        margin: 10px auto;
        display: block;
        img {
            max-width: 100%;
        }
    }
    &_morenews {
        .more-news-title {
            margin: 50px auto;
        }
    }
}

.plan-feat {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 115px;
  overflow: hidden;
  .plan {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    clear: both;
  }
  .feat-name1 {
    background: #8492a6;
    min-height: 574px;
    display: block;
    width: 30px;
    float: left;
    span {
      transform: rotate(90deg);
    }
  }
  .plan-label {
    font-size: 16px;
    height: 95px;
    display: block;
    padding: 20px;
    background: #f7f9fb;
    border-bottom: 1px solid #edf0f2;
  }
  .inc {
    height: 95px;
    display: block;
    background: #f7f9fb;
    border-bottom: 1px solid #edf0f2;
    text-align: center;
    line-height: 95px;
    span {
      padding-top: 14px;
      display: block;
      line-height: 24px;
    }
    .checkmark, .xmark {
      top: 37%;
      position: relative;
      margin: 0 auto;
    }
  }
}

/* Feature Table */

table.features {
  margin-top: 10px;
  width: 100%;
  td {
    &:first-child {
      width: 30px;
      border-bottom: 0;
    }
    &:nth-child(2) {
      padding-left: 30px;
    }
    &:nth-child(3), &:nth-child(4) {
      text-align: center;
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:nth-child(5) {
      width: 40px;
    }
  }
  tr {
    &:nth-child(3) td.channels:before {
      color: #fff;
      content: "Channels";
      display: block;
      text-transform: uppercase;
      /* IE 9 */
      /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      width: 30px;
      position: relative;
      top: -8px;
      font-size: 13px;
    }
    &:nth-child(10) td.management:before {
      color: #fff;
      content: "Management";
      display: block;
      text-transform: uppercase;
      /* IE 9 */
      /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      width: 30px;
      position: relative;
      top: -3px;
      font-size: 13px;
    }
    &:nth-child(15) td.mktg-support:before {
      color: #fff;
      content: "Marketing Support";
      display: block;
      text-transform: uppercase;
      /* IE 9 */
      /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      width: 145px;
      position: absolute;
      top: -12px;
      left: -57px;
      font-size: 13px;
    }
  }
  td {
    background: #f7f9fb;
    border-bottom: solid 1px #edf0f2;
    color: #16325c;
    padding-top: 15px;
    padding-bottom: 15px;
    &.channels {
      background: #8492a6;
    }
    &.management {
      background: #ff6c00;
    }
    &.mktg-support {
      background: #ffad00;
      position: relative;
    }
  }
  tr.spacer td {
    height: 20px;
    background: transparent;
    border: 0;
  }
  thead td {
    background: transparent;
    border: 0;
    span {
      p {
        margin: 0;
        padding: 0;
      }
      h2 {
        margin: 0;
        padding: 0;
        font-weight: 100;
      }
      p {
        font-size: 15px;
      }
      .value {
        font-size: 40px;
      }
      a {
        display: block;
        border-radius: 25px;
        background: #ff6c00;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        margin: 0 auto;
        padding: 12px 0;
        text-transform: uppercase;
        width: 140px;
        height: 40px;
        letter-spacing: 1px;
        box-shadow: 0 2px 0 0 #cc5500;
        &:hover, &:focus {
          outline: 0;
          text-decoration: none;
        }
      }
    }
  }
  td {
    &.feat-label {
      text-align: center;
      text-transform: uppercase;
      h2 {
        margin: 0 auto;
        max-width: 300px;
        &:after {
          background: #ff6c00;
          content: "";
          display: block;
          height: 3px;
          width: 112px;
          margin: 25px auto 0;
        }
      }
    }
    &.feats {
      vertical-align: text-top;
      h3 {
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      &.basic h3 {
        color: #8492a6;
      }
      &.pro h3 {
        color: #f88f33;
      }
    }
  }
  thead tr:nth-child(2) td {
    padding-top: 0;
  }
  tr {
    &:nth-child(6) td, &:nth-child(13) td, &:nth-child(16) td {
      border-bottom: 0;
    }
  }
  p {
    font-size: 13px;
  }
  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 15px;
  }
}

/* About Us */

.about {
  text-align: center;
  box-shadow: none;
  h2 {
    padding-top: 0;
    margin: 10px 0 30px;
    text-align: center;
  }
  .about-feat {
    h2 {
      font-size: 28px;
      letter-spacing: 3px;
      margin-bottom: 5px;
    }
    img {
      max-width: 190px;
      height: auto;
    }
    span {
      font-size: 16px;
    }
    .about-titles {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
    .about-desc {
      font-size: 16px;
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
  }
}

.about-news {
  background: url(images/background-large.svg) no-repeat (center / cover);
  // padding-bottom: 70px;
  margin-top: 50px;
  border-top: 0;
  h2 {
    margin-top: 50px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
  }
  .news-col {
    height: 300;
    img {
      border-radius: 5px 5px 0 0;
    }
    &:hover .news-cont {
      box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2);
    }
  }
  .news-cont {
    background: #fff;
    padding: 1px 30px 20px;
    border-radius: 0 0 5px 5px;
    transition: all 0.35s;
    min-height: 240px;
    .readmore-arr {
      position: relative;
      top: -1px;
      left: 5px;
    }
    h3 {
      font-size: 21px;
      font-weight: bold;
    }
    .news-desc {
      font-size: 15px;
    }
    .read-more {
      font-size: 11px;
      font-weight: bold;
      height: 32px;
      display: block;
      float: none;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ff6c00;
      padding: 0;
      border: none;
      background: none;
    }
  }
  .hror {
    background: #ff6600 none repeat scroll 0 0;
    border: 1px solid #fff;
    clear: both;
    color: #ff6600;
    display: block;
    margin: 0px auto 50px;
    position: relative;
    top: 15px;
    width: 100px;
  }
  .carousel-indicators li {
    margin: 1px 7px;
  }
  .carousel-control {
    background-image: none;
    .glyphicon {
      color: #fff;
    }
    &.right {
      margin-right: -15px;
    }
    &.left {
      margin-left: -15px;
    }
  }
  .about-feat {
    margin-bottom: 70px;
  }
}

.about-loyalty {
  text-align: center;
  h2 {
    line-height: 41px !important;
    margin-top: 30px;
    padding-top: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
  }
  img {
    max-width: 60px;
    height: 68px;
  }
  .about-col {
    padding: 0;
    margin-bottom: 30px;
  }
  .about-titles {
    font-size: 20px;
    font-weight: 500;
  }
  .about-desc {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

/* AUNTIE ANNES */

.auntie-banner {
  background: url(images/auntie-banner-bg.png) repeat-x;
  background-color: #518ce4;
  min-height: 449px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

.banner-logo {
  margin: 50px 0;
  max-width: 300px;
  width: 100%;
}

.auntie-banner {
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
  }
}

.news-banner {
  max-width: 380px;
  width: 100%;
}

.play-bt {
  width: 155px;
  background: none;
  padding: 0;
  border: none;
  img {
    width: 155px;
  }
}

.app-bt {
  background: none;
  width: 155px;
  padding: 0;
  border: none;
  margin-bottom: 10px;
}

.banner-box {
  display: block;
  clear: both;
  padding-left: 0;
  padding-bottom: 20px;
}

.apppic {
  margin: 0 15px;
  img {
    max-width: 240px;
  }
}

.app-bt img {
  width: 155px;
}

.news_content {
  font-size: 18px;
  line-height: 32px;
  h3 {
    margin: 40px 0;
  }
  .download {
    padding-top: 60px;
    padding-left: 50px;
  }
  .download2 {
    padding: 30px 0;
  }
}

.download2 .title, .download .title {
  font-size: 22px;
}

.related {
  background: #f7f9fb;
  margin-top: 30px;
  padding: 10px;
  .news-desc {
    background: #fff;
    padding: 15px  20px;
    font-size: 14px;
    line-height: 26px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .read-more {
    color: #ff6c00;
  }
  .title {
    font-size: 22px;
    margin: 20px 0 0 10px;
  }
  .art {
    padding: 0 10px;
    margin: 18px 0;
    width: 100%;
  }
}
.view-related {
  text-align: center;
  &-all {
    font-size: 14px;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    background: rgba(0,0,0,.2);
    display: block;
    &:hover {
      text-decoration: none;
      color: #ff6c00;
    }
  }
}

.slick-arrow {
  display: none !important;
}

.about-feat .slick-slider {}

/* ATHELETE's FOOT */

.athletes-banner {
  background: url(images/athletes-banner-bg.png) repeat-x;
  background-color: #4d4d4d;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
}

/* UNILEVER's FOOT */

.unilever-banner {
  background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #ff8800;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  .banner-logo {
    width: 210px;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
}

/* GOLD'S GYM */
.goldsgym-banner {
  // background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #2B2B2B;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  .banner-logo {
    width: 90px;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
  .about-desc {
    margin-bottom: 30px;
  }
}

/* MATHEMAGIS */
.mathemagis-banner {
  // background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #65C8C6;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  .banner-logo {
    width: 240px;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
}

/* SCOULSCAPE */
.soulscape-banner {
  // background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #CA9774;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  .banner-logo {
    // width: 210px;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
}

/* YOGAPLUS */
.yogaplus-banner {
  // background: url(images/unilever-banner-bg.png) repeat-y;
  background-color: #5D82C2;
  min-height: 567px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  .banner-logo {
    width: 200px;
  }
  h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .app-mob {
    min-width: 259px;
    width: 100%;
    text-align: left;
    padding-top: 70px;
  }
}
.padR15 {
  padding-right: 15px !important;
}

/* HOW IT WORKS */

.hiw {
  padding: 50px 0;
  text-align: left;
  height: 74%;
  overflow: hidden;
  .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px;
    img {
      width: 60px;
      position: relative;
      left: -75px;
    }
  }
  h2 {
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    margin: 50px 0 20px;
    line-height: 35px;
    max-width: 300px;
  }
  .hiw1-i {
    font-style: italic;
    font-size: 16px;
    padding: 20px 0;
    display: block;
    max-width: 408px;
  }
  .hiw-i {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  .bots {
    display: inline-block;
    position: relative;
    top: -155px;
    left: 30px;
    .f-trial, .r-demo {
      width: 170px;
      height: 50px;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 1px;
    }
  }
}

.hiw2 {
  padding: 90px 0;
  text-align: left;
  .loyalty-vid {
    text-align: center;
    margin: 44px 0 5px;
    img {
      width: 60px;
      position: relative;
      left: -75px;
    }
  }
  h2 {
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    margin: 80px 0 20px;
    line-height: 35px;
  }
  .hiw1-i {
    font-style: italic;
    font-size: 18px;
    padding: 20px 0;
    display: block;
    max-width: 408px;
  }
  .hiw-i {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
}

.panel {
  &.step1, &.step2, &.step3, &.step4, &.step5 {
    text-align: center;
  }
  &.step1 img, &.step2 img, &.step3 img, &.step4 img, &.step5 img {
    max-width: 120%;
  }
  &.step2 .container img, &.step4 .container img {
    margin-left: -15%;
  }
  &.step5 {
    .hiw2 {
      padding: 86px 0;
    }
    .footer {
      .s-icons li {
        padding: inherit;
      }
      img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
      }
    }
    .broadcasting {
      margin-top: -6%;
    }
  }
}

.ini-footer2 {
  position: relative;
  bottom: 0;
  background: url(images/background-small.svg) no-repeat center bottom;
  background-size: cover;
  top: 0;
  left: 0;
  min-height: 81px;
  width: 100%;
  .container {
    height: 100%;
    .l-label {
      font-size: 24px;
      color: #fff;
      position: relative;
      top: 20px;
    }
    .f-trial, .r-demo {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 50px;
      width: 170px;
      height: 50px;
      position: relative;
      top: 16px;
    }
    .f-trial {
      box-shadow: 0 2px 0 0 #cc5500;
    }
    div {
      text-align: left;
      &:last-child {
        text-align: right;
      }
      img {
        width: 100px;
        margin-top: 20px;
      }
      div:nth-child(1) img {
        width: 120px;
      }
    }
  }
}

.step2, .step4 {
  background: #fcf9f7;
}

.step5 img {
  position: relative;
  z-index: 9;
}

/* REQUEST DEMO */

.rqdemo {
  min-height: 392px;
  display: block;
  font-size: 18px;
  color: #fff;
  background: transparent url("images/background-medium.svg") no-repeat scroll 100% (center / 100%) auto;
  background-position: top center;
  .content {
    margin-top: 40px;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  span {
    font-size: 16px;
  }
}

.rq-lowerpart {
  color: #16325c;
  padding-top: 50px;
  h3 {
    padding-bottom: 20px;
  }
  li {
    display: inline-block;
    padding-bottom: 30px;
    font-size: 18px;
    h4 {
      font-size: 28px;
      font-weight: 300;
      padding-bottom: 10px;
      margin-bottom: 0;
    }
    .dm-icon {
      float: left;
      margin-right: 10px;
      position: relative;
      top: 7px;
      width: 38px;
      img {
        width: 100%;
      }
    }
    span {
      font-size: 16px;
      font-weight: 300;
    }
  }
  form {
    background: #f7f9fb;
    border-radius: 5px;
    padding: 40px 45px;
    color: #54698d;
    margin-bottom: 50px;
    text-align: left;
    h2 {
      color: #16325c;
      padding: 0;
      margin: 0 0 20px;
    }
    label {
      font-size: 14px;
      color: #54698d;
      font-weight: normal;
    }
    .group-field {
      padding: 0;
      margin: 5px 0;
    }
    input[type="text"] {
      width: 100%;
      background: #ffffff;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px;
      &.mobile {
        border-radius: 0 5px 5px 0;
      }
    }
    .multiselect {
      width: 100%;
      input[type="checkbox"] {
        display: none;
        + label {
          background: transparent url("images/radio.png") no-repeat scroll left bottom;
          clear: both;
          display: inline-block;
          padding: 10px 0 0 28px;
          position: relative;
          cursor: pointer;
          text-transform: uppercase;
        }
        &:checked + label {
          background: transparent url("images/radio-checked.png") no-repeat scroll left bottom;
          display: inline-block;
          padding: 10px 0 0 28px;
          cursor: pointer;
        }
      }
    }
    .selectBox {
      position: relative;
      select {
        width: 100%;
        option:first-child {
          color: #cfd5e1;
        }
      }
    }
    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      cursor: pointer;
    }
    .active {
      display: block;
    }
    #checkboxes {
      border: 1px #dadada solid;
      background: #fff;
      padding: 10px;
      max-height: 300px;
      overflow-y: scroll;
      position: absolute;
      z-index: 888;
      &:not(:focus) {
        display: none;
      }
      label {
        display: block;
        text-transform: capitalize;
      }
    }
    select {
      background-color: #ffffff;
      background-image: url(images/sel-arrow.png);
      background-repeat: no-repeat;
      background-position: right 10px center;
      width: 100%;
      padding-left: 15px;
      color: #3a4a66;
      height: 40px;
      line-height: 40px;
      border: 1px solid #d5d9df;
      border-radius: 5px;
      position: reltive;
      -moz-appearance: none;
      -webkit-appearance: none;
      option:first-child {
        color: #cfd5e1;
      }
    }
    img {
      max-width: 100%;
    }
    textarea {
      border: 1px solid #d5d9df;
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
        color: #cfd5e1;
      }
    }
    em {
      font-style: italic;
    }
  }
}

input[type="radio"] {
  display: none;
  + label {
    background: url(images/radio.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
    top: 10px;
    margin-right: 5px;
    position: relative;
  }
  &:checked + label {
    background: url(images/radio-checked.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
  }
}

/* Info Page */

.aCenter {
  text-align: center;
}

.aLeft {
  text-align: left;
}

.aRight {
  text-align: right;
}

.info-page-head {
  background: url("images/background-small.svg") no-repeat (center / cover);
  color: #fff;
  padding: 0;
  h2 {
    padding: 20px 0;
  }
}

.info-page-body {
  p {
    font-size: 15px;
  }
  .glyphicon {
    color: #6f6d68;
    margin-right: 5px;
  }
  .panel {
    box-shadow: none;
    height: auto !important;
  }
  .panel-default, .panel-heading {
    background-color: transparent;
    border: 0 !important;
  }
  .panel-default .panel-title, .panel-heading .panel-title {
    color: #343535;
  }
  .panel-default .panel-body, .panel-heading .panel-body {
    font-size: 13px;
    padding-left: 40px;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0 !important;
  }
  .accordion-toggle {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  table {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    td {
      font-size: 14px;
      padding: 5px;
      vertical-align: text-top;
      &:first-child {
        padding-left: 15px;
        width: 150px;
      }
    }
    &#definitions {
      td {
        border-bottom: solid 1px #efefef;
        padding: 8px 5px;
        &:first-child {
          font-weight: 500;
          padding-right: 20px;
        }
      }
      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}

/* Jump Anchors */

.jump-anchors {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  text-align: center;
  &.speciale {
    bottom: 15px;
    padding-right: 5px;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    transform: scale(.7);

  }
}

.back-anchors {
  position: absolute;
  top: 5px;
  left: 0;
  right:0;
  width: 100%;
  text-align: center;
  &.speciale {
    text-align: center;
    z-index: 999;
    transform: scale(.7);
  }
}


.panel {
  border-radius: 0;
  &.home {
    height: 100vh;
    .full {
      padding: 0;
    }
  }
  &.conduct {
    height: initial !important;
    border: 0;
    box-shadow: none;
    .col-md-4:nth-child(1) .about-desc {
      margin-bottom: 20px;
    }
  }
  .full {
    padding: 40px 0;
    &.hp3 {
      padding: 0;
    }
    &.hiw2 {
      padding: 90px 0;
    }
  }
}

/* Service Agreement */

.content.revamp {
  background: #f7f9fb;
  font-size: 14px;
  overflow-x: hidden;
  p {
    font-size: 14px;
    margin: 0;
  }
  h3, h4 {
    margin: 15px 0 3px;
  }
  h3 {
    font-size: 2.5rem;
  }
  table td:first-child {
    padding: 10px 8px 10px 8px;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

select.empty {
  color: #cfd5e1 !important;
  option {
    color: #3a4a66 !important;
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1050;
}

/* Newsroom */
.newsroom {
    .grid-item {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        overflow: hidden;
        text-align: center;
        &--big {
            max-width: 690px;
            height: 491px;
            background: #efefef;
            .item-content {
                &-title {
                    font-size: 22px;
                }
            }
        }
        &--small {
            max-width: 330px;
            height: 237px;
            .item-content {
                &-title {
                    font-size: 18px;
                }
                &-brand {
                    transform: translateY(-20px);
                }
            }
        }
        .item {
            &-content {
                display: table;
                vertical-align: middle;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                &-brand {
                    display: table-cell;
                    vertical-align: middle;
                    position: relative;
                    z-index: 2;
                    width: 100%;
                }
                &-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    color: #fff;
                    font-weight: 600;
                    width: 100%;
                    padding: 10px 15px;
                    text-align: left;
                }
            }
        }
    }
}
/* More News */
.more-news {
    margin-bottom: 15px;
    &-title {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 700;
        &:after {
            content: '';
            position: absolute;
            width: 100px;
            height: 2px;
            display: block;
            background: #FF6C00;
            left: calc(50% - 50px);
            bottom: 0;
        }
    }
    .item-content {
        &-header {
            width: 100%;
            height: 170px;
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            img {
                max-width: 100%;
            }
        }
        &-body {
            background: #F7F9FB;
            padding: 25px;
            .title-small,
            .date-small {
                font-size: 13px;
                color: #8F9295;
                &:not(.date-small) {
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #8492A6;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            h4 {
                color: #16325C;
                font-weight: 400;
                font-size: 21px;
                height: 50px;
                overflow: hidden;
            }
        }
    }
    .mr-news-item {
        width: 32.8%;
        margin-bottom: 25px;
    }
}
/* News Item */
.news-item {
    text-align: left;
    .title-small,
    .date-small {
        font-size: 13px;
        color: #8F9295;
        &:not(.date-small) {
            text-transform: uppercase;
            font-weight: 500;
            color: #8492A6;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
    .title {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    &-banner {
        min-height: calc(540px - 40px);
        color: #fff;
        font-size: 18px;
        line-height: 32px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        padding: 20px 0;
        margin-top: 30px;
        &_mobile {
            text-align: center;
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
        &_desc {
            padding: 80px 40px 40px 15px;
            p {
                font-size: 18px;
            }
        }
        .news-item-download {
            text-align: left;
        }
    }
    &-brand {
        img {
            max-width: 300px;
        }
    }
    &-brief {
        padding: 30px 0;
        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    h3.title-h3 {
        margin: 40px 0 10px;
        text-align: center;
    }
    &-body {
        padding: 30px 0;
        p {
            font-size: 17px;
            text-align: center;
            max-width: 800px;
            margin: 0 auto 30px;
            line-height: 2;
        }
    }
    &-appblock,
    &-downloadblock {
        background: #F7F9FB;
        padding: 30px 20px;
        text-align: center;
        h3.block-title,
        p {
            text-align: center;
        }
        p {
            font-size: 17px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            a {
                color: #16325C;
            }
        }
        .mobile-screenshots {
            margin-top: 30px;
            .apppic {
                text-align: center;
                margin-bottom: 15px !important;
                p {
                    max-width: 260px;
                    margin: 15px auto 0;
                }
                img {
                    max-width: 260px;
                }
            }
        }
        &:not(.news-item-appblock) {
            background: #fff;
            padding-bottom: 50px;
            p {
                max-width: 800px;
                margin: 0 auto;
            }
        }
        .news-item-download {
            margin: 40px auto;
        }
    }
    &-download {
        text-align: center;
        .news-download-link {
            display: inline-block;
            width: 157px;
            height: 48px;
            border-radius: 100px;
            border: solid 1px #fff;
            margin-right: 5px;
            margin-bottom: 7px;
            img {
                width: 157px;
            }
        }
    }
}
.related {
    margin-bottom: 0;
    .more-news-title {
        margin-bottom: 45px;
        &:after {
            bottom: -15px;
        }
    }
    .item-content-body {
        background: #fff;
    }
}
.xsocial-share {
    position: fixed;
    z-index: 9;
    width: 50px;
    text-align: center;
    background: #fff;
    padding: 5px 0;
    color: #4d4d4d;
    top: calc(50% - 265px/2);
    .ic {
        padding: 7px 5px;
    }
}