/* Chart Variables */
$chartTitleFontColor: rgba(245, 127, 32, 1);

/* pie charts*/
$smsColor: rgba(212, 31, 57, 1);
$merchantAppColor: rgba(245, 127, 32, 1);
$customerAppColor: rgba(92, 92, 92, 1);
$customerWebColor: rgba(172, 173, 204, 1);
$cardColor: rgba(138, 139, 164, 1);
