@import "variables";
@import "fonts";
html,body {
    background-color: #e7e7e7;
}

[class^="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

/* Chart global style */
.chart-title {
    color: $chartTitleFontColor;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    &.border-bottom {
        padding-bottom: 15px;
        border-bottom: 1px solid #e4e4e4;
    }
}
.chart-sub-title {
    color: $chartTitleFontColor;
    font-family: "Open Sans";
    font-size: 14px;
    color:#575454;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}

/* Pie Charts */
.charts-wrapper {
    .chart-details {
        display: inline-block;
        background-color: #fff;
        width: 200px;
        height: 266px;
        vertical-align: top;
        margin-right: -4px;
        padding: 0px 29px;
        .pie-legends {
            list-style: none;
            padding-left: 0px;
            font-family: 'Open Sans';
            font-size: 12px;
            li {
                margin-top: 10px;
                &:nth-child(1){
                    &::before {
                        content:"|||";
                        background-color: $smsColor;
                        color: $smsColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(2){
                    &::before {
                        content:"|||";
                        background-color: $merchantAppColor;
                        color:  $merchantAppColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(3){
                    &::before {
                        content:"|||";
                        background-color: $customerAppColor;
                        color:  $customerAppColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(4){
                    &::before {
                        content:"|||";
                        background-color: $customerWebColor;
                        color:  $customerWebColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(5){
                    &::before {
                        content:"|||";
                        background-color: $cardColor;
                        color: $cardColor;
                        margin-right: 10px;
                    }
                }
            }
        }
        &.visit-chart-details, &.tpb-chart-details {
            height: 300px !important;
            .profile-d {
                height: 185px;
                h3 {
                    font-size: 15px;
                    font-weight: 600;
                    color: #48505d;
                    margin-bottom: 5px;
                }
                small {
                    color: #4b4f55;
                }
            }
        }
        &.top-branches {
            height: 300px !important;
            width: 100%;
            table {
                font-size: 12px;
                td {
                    border: none;
                }
                tr {
                    // display: block;
                }
                tr:nth-child(even){
                    background-color: #f6f6f6;
                }
                thead, tbody {
                    display:block;
                    max-height: 160px;
                }
                tbody {
                    overflow-y:auto;
                    overflow-x: hidden;
                }
            }
        }
    }
    .chart-wrapper, .bar-chart-wrapper, .visit-chart-wrapper, .tpb-chart-wrapper, .profile-chart-wrapper,.txn-chart-wrapper {
        display: inline-block;
        width: 275px;
        height: 266px;
        background-color: #f6f6f6;
		&.small-pie {
			width: 84px !important;
		    height: 8px !important;
		}
        .ct-perfect-fourth {
            height: 100%;
        }
        .ct-chart, .ct-member_sum {
            svg {
                margin:auto;
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;
            }
        }
		.ct-chart .ct-label {
			fill: rgb(255, 255, 255);
			font-size: 1.5rem;
		}
		.ct-member_sum .ct-label{
		    fill: rgb(255, 255, 255);
		    font-size: 1.05rem;
		}
        .pie-chart-v1 {
            fill: $smsColor;
            stroke: $smsColor;
        }
        .pie-chart-v2 {
            fill: $merchantAppColor;
            stroke: $merchantAppColor;
        }
        .pie-chart-v3 {
            fill: $customerAppColor;
            stroke: $customerAppColor;
        }
        .pie-chart-v4 {
            fill: $customerWebColor;
            stroke: $customerWebColor;
        }
        .pie-chart-v5 {
            fill: $cardColor;
            stroke: $cardColor;
        }
    }
     .bar-chart-wrapper {
         padding: 10px;
     }
     .txn-chart-wrapper {
         width: 275px !important;
         padding-top: 35px;
     }
     .visit-chart-wrapper, .tpb-chart-wrapper, .profile-chart-wrapper {
         padding: 10px;
         height: 300px;
         width: 540px !important;
         .tpb-chart-img {
             display: inline-block;
             img {
                 display: block;
                 &:first-child {
                     margin: 50px 0px;
                 }
             }
         }
         .profile-chart-img {
             display: inline-block;
             img {
                 display: block;
                 &:first-child {
                     margin-bottom: 50px;
                 }
                 &:last-child {
                     margin-bottom: 30px;
                 }
             }
         }
         .profile-chart-details {
              display: inline-block;
              .profile-ul {
                  list-style: none;
                  padding-left: 0px;
                  text-align: center;
                  li {
                      position: relative;
                      display: inline-block;
                      width: 50px;
                      height: 100px;
                     div {
                         position:absolute;
                         width: 100%;
                         background-color:  rgba(212, 31, 57, 1);
                     }

                  }
                  &.fm {
                       margin-bottom: 0px;
                        border-bottom: 2px solid rgba(212, 31, 57, 1);
                        li {
                            margin: -5px 20px;
                            label {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin-left: auto;
                                margin-right: auto;
                                color: #f57f20;
                            }
                        }
                      li div {
                           bottom:0px;
                           background-color:  rgba(212, 31, 57, 1);
                      }
                  }
                  &.m {
                       border-top: 2px solid rgba(88, 98, 113, 1);
                       li {
                           margin: 0px 20px;
                           label {
                               position: absolute;
                               top: 0;
                               left: 0;
                               right: 0;
                               margin-left: auto;
                               margin-right: auto;
                               color: #f57f20;
                           }
                       }
                      li div {
                           top:0px;
                           background-color: rgba(88, 98, 113, 1);
                      }
                  }
              }
              .profile-bwn {
                  margin-bottom: 0px;
                  background-color: #fff;
                  list-style: none;
                  padding-left: 0px;
                  li {
                      display: inline-block;
                      padding: 10px;
                      margin: 0px 17px;

                  }
              }
          }
         .tbp-chart-details {
             display: inline-block;
             .tpb-chart {
                 list-style: none;
                 padding-left: 0px;
                 text-align: center;
                 > li {
                     display: inline-block;
                     margin: 0px 10px;
                     > ul {
                         list-style: none;
                         padding-left: 0px;
                         li {
                             font-size: 10px;
                             color: #fff;
                             margin-bottom: 3px;
                             padding: 5px 10px;
                             &:last-child {
                                 margin-bottom: 0px;
                             }
                         }
                     }
                 }
                 &.fm {
                     margin-bottom: 0px;
                     border-bottom: 2px solid rgba(212, 31, 57, 1);
                     > li{
                         width: 70px;
                         > ul > li {
                             background-color:  rgba(212, 31, 57, 1);
                         }
                     }
                 }
                 &.m {
                     border-top: 2px solid rgba(88, 98, 113, 1);
                     > li{
                         width: 70px;
                         > ul > li {
                             background-color: rgba(88, 98, 113, 1);
                        }
                     }
                 }
             }
             .tbp-bwn {
                 margin-bottom: 0px;
                 background-color: #fff;
                 list-style: none;
                 padding-left: 0px;
                 li {
                     display: inline-block;
                     padding: 10px;
                     margin: 0px 15px;

                 }
             }
         }
     }
}
.tile {
    background-color: #fff;
    font-family: "Open Sans";
    .tile-icon {
        vertical-align: top;
        display:inline-block;
        width: 80px;
        height: 77px;
        position: relative;
        &.red {
            background-color: rgba(212, 31, 57, 1);
        }
        &.orange {
            background-color:  rgba(245, 127, 32, 1);
        }
        &.gray {
            background-color: rgba(92, 92, 92, 1);
        }
        img {
            position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    }
    .tile-content {
        height: 77px;
        display:inline-block;
        color: #767676;
        width: 280px;
        text-align: center;
        h3 {
            font-weight: 700;
            font-size: 25px;
            margin-top: 13px;
            margin-bottom: 5px;
        }
        small {
            margin-left: auto;
            margin-right: auto;
            font-size: 11px;
        }
    }
}
.card {
    font-family: 'Open Sans';
    background-color: #fff;
    border-bottom: 3px solid #c9c9c9;
    .card-header{
        padding:15px 16px;
        margin:0px;
        font-size: 11px;
        text-transform: uppercase;
        color:#767676;
        border-bottom: 1px solid #e4e4e4;
    }
    .card-content {
        padding: 10px 16px;
        font-weight: 700;
        font-size: 25px;
        color: #4b4f55;
         .label {
             font-size: 10px;
             line-height: 1px;
             float: right;
             margin-top: 10px;
             padding: 8px 10px;
             font-weight: 600;
             background-color: #f57f20;
             &.red {
                 background-color: #d41f39;
             }
             &.orange {
                 background-color:  rgba(245, 127, 32, 1);
             }
             &.gray {
                 background-color: rgba(92, 92, 92, 1);
             }
         }
    }
    &.pie-legend {
        padding: 6.5px 10px;
        img {
            display: inline-block;
            vertical-align: middle;
        }
        .pie-legends {
            vertical-align: middle;
            display: inline-block;
            list-style: none;
            padding-left: 15px;
            font-family: 'Open Sans';
            font-size: 11px;
            li {
                margin-top: 10px;
                &:nth-child(1){
                    &::before {
                        content:"|||";
                        background-color: $smsColor;
                        color: $smsColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(2){
                    &::before {
                        content:"|||";
                        background-color: $merchantAppColor;
                        color:  $merchantAppColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(3){
                    &::before {
                        content:"|||";
                        background-color: $customerAppColor;
                        color:  $customerAppColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(4){
                    &::before {
                        content:"|||";
                        background-color: $customerWebColor;
                        color:  $customerWebColor;
                        margin-right: 10px;
                    }
                }
                &:nth-child(5){
                    &::before {
                        content:"|||";
                        background-color: $cardColor;
                        color:  $cardColor;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.c-select {
    background-color: #fafafa;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    padding: 5px 15px;
    font-family: 'Open Sans';
    font-size: 11px !important;
    position: relative;
    label {
        font-weight: normal;
        margin: 0px;
        &::before {
            content:"|||";
            margin-right: 10px;
        }
        $colors-list: rgba(212, 31, 57, 1) rgba(245, 127, 32, 1) rgba(92, 92, 92, 1) rgba(172, 173, 204, 1) rgba(138, 139, 164, 1);
        @each $current-color in $colors-list {
            $i: index($colors-list, $current-color);
            &.label-#{$i} {
                &::before {
                    background-color: $current-color;
                    color:  $current-color;
                }
            }
        }
    }
    .pie-legends {
        display: none;
        font-size: 11px !important;
        position:absolute;
        border: 1px solid #e9e9e9;
        width: calc(100% + 2px);
        left: -1px;
        z-index: 1;
        background-color: #ffffff;
        top: 30px;
        border-radius: 3px;
        padding: 0px 10px 10px 15px !important;
        li {
            cursor: pointer;
            &:hover {
                background-color: #fafafa;
            }
        }
    }
}
.txn-legends {
    margin-top: 10px;;
    list-style: none;
    padding-left: 45px;
    font-family: 'Open Sans';
    font-size: 12px !important;
    color: #4b4f55;
    li {
        margin-bottom: 10px;
        &:nth-child(1){
            &::before {
                content:" ";
                margin-right: 10px;
                background-image: url('../images/this-week-line.png');
                width: 40px;
                position: absolute;
                height:12px;
                left: 35px;
                margin-top: 3px;
            }
        }
        &:nth-child(2){
            &::before {
                content:" ";
                margin-right: 10px;
                background-image: url('../images/prev-week-line.png');
                width: 40px;
                position: absolute;
                height:12px;
                left: 35px;
                margin-top: 3px;
            }
        }
    }
}
@media (min-width: 992px){
    .tile > .tile-content {
        width: 220px;
    }
}
