#productQR tr th:last-child {
    width: 28%;
}
#productQR tr td:last-child .edit,
#productQR tr td:last-child .delete {
    position: relative;
    top: 6px;
}
.productQR .modal-dialog .branches .branch-check-wrap,
.productQR .modal-dialog .ebranches .branch-check-wrap {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 180px;
    overflow-y: scroll;
    width: 100%;
}
.productQR .modal-dialog .branches .branch-label,
.productQR .modal-dialog .ebranches .branch-label {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #f0f3f5;
    padding: 12px;
    margin: 0;
    cursor: pointer;
}
.productQR .modal-dialog .branches input[type=checkbox].options,
.productQR .modal-dialog .ebranches input[type=checkbox].options {
    display: none;
}
.productQR .modal-dialog .branches input[type=checkbox]:checked + .branch-label,
.productQR .modal-dialog .ebranches input[type=checkbox]:checked + .branch-label {
    background-color: #f7f7f7;
    -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
}
.productQR .modal-dialog .branches .fa-check,
.productQR .modal-dialog .ebranches .fa-check {
    float: right;
}
.qr-status-options .qr-status-label {
    margin-right: 10px;
}
.qr-status-options .qr-status-label i.fa {
    width: 10px;
}
.qr-status-options .qr-status-label i.fa.fa-check-square-o {
    color: green;
}