#voucher {
    .search {
        margin-top: -43px !important;
        label {
            display: initial;
            font-weight: normal;
        }
    }
    button[href="#addVoucherItem"], button[href="#importVoucherItems"] {
        position: relative;
        top: 15px;
    }
    &sTable {
        border: 0;
        font-size: 14px;
        margin-top: 17px;
        th {
            border: 0;
            color: #575454;
            font-size: 14px;
            padding: 8px 20px 8px 8px;
            &.action {
                width: 150px;
            }
        }
        tbody tr {
            &:nth-child(odd) {
                background-color: #F2F4F6;
            }
            td {
                border: 0;
                .edit,
                .delete {
                    color: #C7C0BA;
                    margin-left: 0 !important;
                }
                .edit {
                    margin-right: 15px;
                }
            }
        }
        &_length {
            font-size: 12px;
            margin-top: 10px;
        }
        &_info {
            font-size: 12px;
        }
        &_wrapper {
            width: 100%;
            margin: 0 auto;
            .bootstrap-table {
                overflow-x: auto;
            }
        }
    }
    .import {
        color: #C7C0BA;
    }
    .fixed-table-body {
        height: calc(100% - 40px);
    }
    .adjustTop {
        margin-top: -125px !important;
    }
    .alert {
        position: relative;
        top: 15px;
    }
}
.clearfix {
    clear: both;
}
.voucher-modal {
    .modal {
        &-dialog {
            .branches,
            .ebranches {
                .branch {
                    &-check-wrap {
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        height: 180px;
                        overflow-y: scroll;
                        width: 100%;
                    }
                    &-label {
                        background-color: #fff;
                        display: inline-block;
                        width: 100%;
                        border-bottom: 1px solid #f0f3f5;
                        padding: 12px;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                input[type=checkbox].options {
                    display: none;
                }
                input[type=checkbox]:checked + .branch-label {
                    background-color: #f7f7f7;
                    -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
                    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
                    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
                }
                .fa-check {
                    float: right;
                }
            }
        }
        &-header {
            text-align: center;
        }
    }
    .browse-vc {
        border: 0;
        padding: 12px 0 !important;
        width: initial !important;
    }
    .file-vc {
        display: none;
    }
    .padding-right-0 {
        padding-right: 0;
    }
    .padding-lr-12 {
        padding: 12px !important;
    }
}
.toggle-status {
    background: transparent;
    border: 0;
}
/* Voucher Codes */
#content.voucherCodes {
    margin-top: 76px !important;
    .search {
        margin-top: -100px;
        label {
            display: initial !important;
            font-weight: normal;
        }
    }
    #voucherCodesTable {
        border: 0;
        font-size: 14px;
        margin-top: 17px;
        th {
            border: 0;
            color: #575454;
            font-size: 14px;
            padding: 8px 20px 8px 8px;
            &.action {
                width: 150px;
            }
        }
        tbody tr {
            &:nth-child(odd) {
                background-color: #F2F4F6;
            }
            td {
                border: 0;
                .edit,
                .delete {
                    color: #C7C0BA;
                    margin-left: 0 !important;
                }
                .edit {
                    margin-right: 15px;
                }
            }
        }
        &_length {
            font-size: 12px;
            margin-top: 10px;
        }
        &_info {
            font-size: 12px;
        }
        &_wrapper {
            width: 100%;
            margin: 0 auto;
            .bootstrap-table {
                overflow-x: auto;
            }
        }
    }
}