@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/*
 * Base structure
 */
html,
body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #16325C;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
.inner {
  padding: 30px; }

/*
 * Cover
 */
.cover {
  padding: 0 20px; }
  .cover-heading {
    padding-bottom: 10px; }
  .cover .btn-lg {
    background: #FD7500;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    max-width: 180px;
    width: 100%; }
  .cover .timeout-body {
    line-height: 190%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%; }
    .cover .timeout-body .timeout-p {
      font-size: 17px;
      padding-top: 7px;
      padding-bottom: 7px; }

.align-center {
  text-align: center; }

.hour-glass {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100px; }
