#punchcard{
	header{
		@media(max-width:$screen-xs-max){
			height:auto !important;
		}
	}
	.content{
		h1{
		    border: none !important;
			margin-bottom: 6px !important;
		}
		.expiration{
			text-align: center;
		}
		.dial{
			background: #f5f9f8;
		    padding: 24px;
		    margin: 0 auto;
		    width: 100%;
		    max-width: 1200px;
		    text-align: center;
   			margin-bottom: 81px;
		    &> ul{
		    	text-align: center;
		    	li{
		    		           width: 136px;
							    border: 1px solid #01c8df;
							    border-radius: 82px;
							    height: 136px;
							    padding: 34px;
							    font-size: 46px;
							    color: #01c8df;
							    margin: 0 46px;
							    @media(max-width:$screen-sm-max){
									   margin-bottom: 12px;
							    }
							    @media(max-width:$screen-xs-max){
								    margin: 0 auto;
    								margin-bottom: 12px;
							    }
							    @media(min-width:$screen-md-min){
									&.lowDial{
										right: -115px;
									}
							    }
					    &#_5 , &#_7{
					    	position:relative;
					    	i{
					    		    position: absolute;
								    font-size: 39px;
								    right: 2px;
								    top: 97px;
								    color: #fbdc0f;
					    	}
					    }
		    	}
		    }
		    .btn{
		    	&.redeem{
					background-color: #db1934;
				    padding: 18px 12px;
				    color: #fff;
				    width: 300px;
				    position: relative;
				    top: 44px;
				    font-size: em(18);
		    	}
		    }
		}
	}
}