#redeem,#punchcard{
	.wrapper{
		header{
			background-image: url('../images/redeem-head-bg.png');
			background-repeat:no-repeat;
			background-position:top left;
			background-color: #f8f9fb;
			padding: 15px;
			@media(max-width:$screen-xs-max){
				    background-size: 385%;
				    height: 468px;
			}
			@extend .clearfix;
			.quickprofile{
				
				@include make-sm-column(6);
				@include make-md-column(7);
				@extend .clearfix;
				.profile-image{
					@include make-sm-column(4);
					img{
						@extend .img-responsive;
						margin:0 auto;
					}
					.image{
						background-color:#d1d3d2;
						border-radius: 75px;
    					padding: 28px 30px;
						text-align: center;
						i{
							font-size:6em;
						}
					}
				}
				.info{
					@include make-sm-column(8);
					@media(max-width:$screen-xs-max){
						text-align: center;
					}
					.name{
						font-size: em(47);
						margin-bottom:0;
						@media(max-width:$screen-sm-max){
							    font-size: em(36);
						}
					}
					.membersince{
						font-size:em(15);
					}
					.logout{
						@media(max-width:$screen-xs-max){
							display: inline-block;
						    margin-bottom: 0;
						    font-weight: normal;
						    text-align: center;
						    vertical-align: middle;
						    touch-action: manipulation;
						    cursor: pointer;
						    background-image: none;
						    border: 1px solid transparent;
						    white-space: nowrap;
						    padding: 6px 12px;
						    font-size: 14px;
						    line-height: 1.42857;
						    border-radius: 4px;
						    -webkit-user-select: none;

						        color: #333;
						    background-color: #fff;
						    border-color: #ccc;
						}
					}
				}
			}
			.points-count{
				@include make-sm-column(6);
				@include make-md-column(5);
				@extend .clearfix;
				top: 45px;
				@media(max-width:$screen-xs-max){
					top:56px;
				}
				.points{
					
					@include make-sm-column(4);
					@include make-md-column(6);
					font-size: em(73.36);
					color:#00c6dc;
					border-right:3px solid #eaf0ed;
					text-align: right;
    				padding-top: 1px;
    				@media(max-width:$screen-xs-max){
    					border-right:0;
    					border-bottom:2px solid #eaf0ed;
    					text-align: center;
    				}
    				@media(max-width:$screen-sm-max){
						font-size:em(45);
    				}
				}
				.time{
					
					@include make-sm-column(8);
					@include make-md-column(6);
					border-left:3px solid #eaf0ed;
					text-align: center;
    				padding: 26px 0;
    				padding-right:35px;
    				@media(max-width:$screen-xs-max){
    					border-left:0;
    					border-top:2px solid #eaf0ed;
    					padding-right:0;
    				}
    				@media(max-width:$screen-sm-max){
						padding: 6px 0;
    				}
					.currentpoints-label{
						font-size: em(21.95);
						margin-bottom: 0;
					}
					.time-date{
						.date{
							font-size: em(16.46);
							color:#aeaeae;
							@media(max-width:$screen-xs-max){
		    					color:#A03A3A;
		    				}
						}
					}
				}
			}
		}

		.content{
			h1{
				text-align: center;
			    border-bottom: 1px dotted #787878;
			    margin: 42px auto 36px auto;
			    width: 100%;
			    max-width: 340px;
			    color:#787878;
			    padding-bottom:12px;
			}
			.redeem-grid{
				@extend .clearfix;
			}
			.redeem-item{
				@include make-sm-column(6);
				@include make-md-column(4);
				position: relative;
				cursor: pointer;
				margin-bottom: 24px;
				.image-holder{
					background-image:url('../images/pizza-imgpholder.jpg');
					max-width: 380px;
					height:246px;
					position: relative;
					border-radius: 6px 6px 0 0;
					margin:0 auto;
					.overlay{
						position: absolute;
					    max-width: 380px;
					    width: 100%;
					    height: 246px;
					    z-index: 2;
					    top: 0;	
					    background-color: rgba(32, 32, 32, 0.42);
					    border-radius: 6px 6px 0 0;
					    text-align: center;
					    .points{
					    	display:none;
					    	color:#fff;
					    	font-size: em(22);
					    }
					    .fa-wrapper{
					    	 display:none;
					    	 padding:4px;
					    	 max-width: 83px;
						     margin: 12px auto;
						     border-radius: 10px;
					    	.fa.fa-gift{
					    		 font-size: 4.9em;
					    	}
					    	img{
					    		border-radius:8px;
					    	}
					    }
					   
					    &:hover{
					    	background-color:rgba(32, 32, 32, 0.68);
					    	padding: 46px 12px 0 12px;
					    	.fa-wrapper,.points{
					    		display:block;
					    	}
					    }
					}
				}
				figure{
					border:1px solid #E4E4E4;
					border-radius: 0 0 6px 6px;
					margin:0 auto;
					max-width: 380px;
					padding:12px;
					p{
						font-size:em(18); 
					}
					.circle-points{
						    padding: 15px;
						    background-color: #ff004e;
						    width: 69px;
						    border-radius: 60px;
						    color: #fff;
						    text-align: center;
						    position: absolute;
						    top: 214px;
						    right: 48px;
						    z-index: 3;
						    line-height: 14px;
						    height: 69px;
					    span{
					    	font-size:em(27.68);
					    	line-height: 23px;
					    }
					}
				}
				
			}
		}
	}
}