@import 'fonts';


body {
  font-family: 'Open Sans';
}
nav {
	margin: 0px !important;
	min-height: 60px !important;
}
section {
	background-color: #F8AE1A;
    padding: 50px 0;
    color: #fff;
    .envelope-imgs {
    	position:relative;
    	img {
    		position: absolute;
    		&.medium {
    		    width: 80px;
			    right: 130px;
			    top: 20px;
    		}
    		&.small {
    			width: 70px;
			    right: 50px;
			    top: -20px;
    		}
    	}
    }
}
main {
	.left-block {
		padding: 50px 15px;
		> h3 {
			text-transform: uppercase;
			font-size: 16px;
		    font-weight: 600;
		    color: #3f3f3f;
		    position: relative;
		    margin-bottom: 40px;
		}
		p {
			color: #747474;
		}
	}
	.right-block {
		padding: 50px 50px;
		background-color: #FCFCFC;
		> h3 {
			text-transform: uppercase;
			font-size: 16px;
		    font-weight: 600;
		    color: #3f3f3f;
		    position: relative;
		    margin-bottom: 40px;
		    &::after {
		    	content:' ';
		    	width: 70px;
		    	height: 2px;
		    	background: #D71F3A;
		    	position: absolute;
		    	left:0;
		    	bottom: -20px;

		    }
		}
		form {
			.chosen-container {
				margin-bottom: 15px;
				display: inline-block;
				width: 100% !important;
				.chosen-choices {
					border-radius: 2px;
				    padding: 4px 18px;
				    min-height: 40px;
			        background: none;
				    background-color: #fff;
				    border-color: #dedede !important;
				    box-shadow: none;
				    background-image: none;
				    li {
				    	border-color: #e3e3e3;
				    	background-color: #f6f6f6;
			    		background-image: none !important;
			    		&.search-choice {
		    			    padding: 8px 21px 7px 9px;
			    		}
				    	.search-choice-close {
				    		top: 10px;
				    	}
				    	&.search-field {
				    		background-color: transparent !important;
				    		input {
					    		background: #fff !important;
					    		border-color: none;
				    		}
				    	}
				    }
				}
				.chosen-single {
					border-radius: 2px;
				    padding: 7px 20px;
				    height: 40px;
			        background: none;
				    background-color: #fff;
				    border-color: #dedede !important;
				    box-shadow: none;
				    div{
			    	    width: 30px;
					    > b {
				    	    background-size: 10px 7px !important;
					    	background-position: 0px 16px !important;
					    	background: url('../images/icons/arrow-down.png') no-repeat 0px 2px;
					    }
				    } 
				    > span {
				    	font-size: 15px;
				    }
				    &.chosen-default {
				    	> span {
				    		color: #dedede;
					    }
				    }
				}
				.chosen-drop {
					border-radius: 2px;
				    padding: 0;
				    background: none;
				    background-color: #fff;
				    border-color: #dedede !important;
				    .chosen-results {
				    	padding: 0;
				    	margin: 0;
				    	.highlighted {
				    		background-color: #f2f2f2;
				    		background-image: none;
							color: #353535;
				    	}
				    	li {
			    		    padding: 10px 20px !important;
				    	}
				    }
				}
			}
			select.form-control{
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    text-indent: 1px;
			    text-overflow: '';
			    padding: 0px !important;
		        text-indent: 15px;
			    height: 41px;
			    color: #dedede;
	    		background-size: 10px 7px !important;
			    background-position: right 20px top 18px !important;
		    	background: #fff url('../images/icons/arrow-down.png') no-repeat;
			    option {
					color: black;
				}
				option:first-child {
					color: grey;
				}
				&.empty {
					color: grey;
				}
		    }
			.form-control {
				border-radius: 2px;
			    box-shadow: none;
			    padding: 20px 20px;
			    font-size: 15px;
			    margin-bottom: 15px;
			    border-color: #dedede;
			    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #dedede;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #dedede;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #dedede;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #dedede;
				}
			}
			label {
			    margin-bottom: 10px;
			}
		}
	}
}
.center {
	text-align: center;
}
.btn-round {
	border-radius: 20px !important;
    padding: 6px 22px !important;
    color: #fff;
    background: #f8ae1a;
    box-shadow: 0px -1px 7px #b4a171 !important;
	margin-top: 10px;
    width: 200px;
    &:hover {
    	color: #fff;
    }
}
footer {
    padding: 40px 0px;
	background-color: #F9F9F9;
	height: 200px;
	.footer-content {
		> span {
			display: block;
		    color: #b6b6b6;
		    font-size: 11px;
		    margin: 10px 0;
		}
		label {
			display: block;
		}
		.social-icons {
			margin: 10px;
			color: #9d9d9d;
			text-align: center;
			width: 	20px;
			font-size: 20px;
			&:hover {
				color: #F8AE1A;
			}
			&:first-child {
				margin-left: 0px !important;
			}
		}
	}
}
.tix {
	input[type=radio], input[type=checkbox]{
        display:none;
    }
    label {
        padding-left: 25px !important;
        font-weight: 400;
        font-size: 14px;
        margin: 2px 2px -3px 2px;
        cursor: pointer;
    }
    input[type=radio] + label , input[type=checkbox] + label {
        height: 20px;
        display:inline-block;
        padding: 0 0px 0 0px;
        background-position: 2px 2px !important;
        background:url('../images/icons/checkbox.png') no-repeat;

    }
    input[type=radio]:checked + label, input[type=checkbox]:checked + label {
        background:url('../images/icons/checkbox-checked.png') no-repeat;
        display:inline-block;
        background-position-x: 1px;
    }
	
}
.drp-down {
	position: relative;
	.field {
		background-size: 10px 7px !important;
	    background-position: right 20px top 18px !important;
    	background: #fff url('../images/icons/arrow-down.png') no-repeat;
		border-radius: 2px;
	    box-shadow: none;
	    padding: 20px 20px;
	    font-size: 15px;
	    margin-bottom: 15px;
	    border: 1px solid #dedede;
	    text-align: left;
	    color: #dedede;
	    line-height: 0;
	    &.active {
	    	color:#333;
	    }
	}
	.content {
		display: none;
	    border: 1px solid #dedede;
        padding: 6px 12px;
	    height: 170px;
	    overflow-y: auto;
	    position: absolute;
		top: 45px;
		border-radius: 3px;
		z-index: 2;
		background: #fff;
		width: 100%;
		&.open {
			display: block;
		}
		.done {
			font-weight: 700;
			cursor: pointer;
		}
	}
}