.event-attendees-mgmt {
    background: red;
}
.input-group {
    margin-bottom: 20px;
    .input-group-addon {
        border: 0;
    }
    input[type="text"] {
        margin-bottom: 0;
    }
}
input[type="checkbox"].attendanceYes {
    border: solid 1px #ccc;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}
.attendance {
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    &.no {
        background: #d9534e;
    }
    &.yes {
        background: #5ab95e;
    }
}
#attendeesTable {
    td:nth-child(5) {
        text-align: center;
    }
    .edit,
    .delete {
        float: none !important;
    }
    .edit {
        margin-left: 0 !important;
    }
    th {
        padding: 10px 8px;
        vertical-align: middle;
    }
}
#uploadAttendees {
    .btn-file {
        position: relative;
        overflow: hidden;
        font-size: 13px;
        width: 90px;
        height: 32px;
        border: 0;
        background-color: #d4d4d4;
        margin-top: 15px;
        input[type=file] {
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            display: block;
            cursor: pointer;
        }
    }
    #data_filename {
        position: relative;
        top: 8px;
    }
    label {
        color: #3a3a3a;
    }
}
#confirmAttendance {
    p {
        text-align: center;
        width: 100%;
        color: #3a3a3a;
    }
}
/* Data Table Override */
.dataTables_filter {
    display: none;
}
.dataTables_wrapper .dataTables_info,
.dataTables_length {
    float: none;
}
.dataTables_length {
    padding-top: 0.755em;
    label {
        font-weight: normal;
    }
}