@keyframes animateElement{
	0% {
	  opacity:0;
	  transform:  translate(0px,10px);
	}
	100% {
	  opacity:1;
	  transform:  translate(0px,0px);
	}
}
#mechanics-per-product {
    .search {
        margin-top: -43px !important;
        label {
            display: initial;
            font-weight: normal;
        }
    }
    button[href="#addMechanicsPprod"] {
        position: relative;
        top: 15px;
    }
    #mechanicsPprodTable {
        border: 0;
        font-size: 14px;
        margin-top: 17px;
        th {
            border: 0;
            color: #575454;
            font-size: 14px;
            padding: 8px 20px 8px 8px;
            &.action {
                width: 150px;
            }
        }
        tbody tr {
            &:nth-child(odd) {
                background-color: #F2F4F6;
            }
            td {
                border: 0;
                .edit,
                .delete {
                    color: #C7C0BA;
                    margin-left: 0 !important;
                }
                .edit {
                    margin-right: 15px;
                }
            }
        }
        &_length {
            font-size: 12px;
            margin-top: 10px;
        }
        &_info {
            font-size: 12px;
        }
        &_wrapper {
            width: 100%;
            margin: 0 auto;
            .bootstrap-table {
                overflow-x: auto;
            }
        }
    }
    .import {
        color: #C7C0BA;
    }
    .fixed-table-body {
        height: calc(100% - 40px);
    }
    .adjustTop {
        margin-top: -125px !important;
    }
    .alert {
        position: relative;
        top: 15px;
    }
}
.clearfix {
    clear: both;
}
/* Modal Branch */
#addMechanicsPprod,
#editMechanicsPprod {
    .modal-dialog {
        .branches .branch-check-wrap,
        .ebranches .branch-check-wrap {
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 180px;
            overflow-y: scroll;
            width: 100%;
        }
        .branches .branch-label,
        .ebranches .branch-label {
            background-color: #fff;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #f0f3f5;
            padding: 12px;
            margin: 0;
            cursor: pointer;
        }
        .branches input[type=checkbox].options,
        .ebranches input[type=checkbox].options {
            display: none;
        }
        .branches input[type=checkbox]:checked + .branch-label,
        .ebranches input[type=checkbox]:checked + .branch-label {
            background-color: #f7f7f7;
            -moz-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.25);
        }
        .branches .fa-check,
        .ebranches .fa-check {
            float: right;
        }
        .bootstrap-select {
            margin-bottom: 20px;
            height: 42.2px;
            border-radius: 0;
            .dropdown-toggle {
                width: 100%;
                border: 0;
            }
        }
    }
}
.modal {
    .prod_ {
        &stamps_default {
            max-height: 250px;
            overflow-y: auto;
            clear: both;
            margin-bottom: 20px;
        }
        &stamps_item {
            animation: animateElement linear .3s;
            animation-iteration-count: 1;
            position: relative;
            clear: both;
            .delete_stamp_row {
                position: absolute;
                bottom: -35px;
                cursor: pointer;
                padding: 10px;
                .fa {
                    color: #E0DEDB;
                }
            }
        }
    }
    .prod_add_stamps {
        text-align: center;
        button.add_prod_stamp {
            border: 0;
            padding: 10px;
            max-width: 100px;
        }
    }
}