.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.class-mgmt {
    margin-bottom: 20px;
    
    .packageAdd {
        padding: 8px 15px;
        margin-top: 20px;

    }
}
#addPackage,
#editPackage,
#addInstructor,
#editInstructor,
#addClass,
#editClass,
#addClassSched,
#editClassSched,
#editClassList {
    .design {
        padding: 0 21px;
    }
    .req-size {
        color: #a3a3a3;
        font-style: italic;
        font-size: 11px;
    }
    .error-msg {
        font-size: 11px;
        padding: 5px 0;
    }
    .bootstrap-select.form-control {
        margin-bottom: 25px !important;
    }
    button[data-toggle="dropdown"] {
        width: 100%;
        background: #fff;
        border: 0;
        border-radius: 0;
        float: none;
        display: block;
    }
    button[data-toggle="dropdown"] {
        outline: 0 !important;
    }
    .disabled button[data-toggle="dropdown"] {
        background: #eee;
    }
    .bs-actionsbox {
        .actions-btn {
            padding: 5px 10px;
            width: 50%;
            &.bs-actions-selected {
                background: #d69209;
                color: #fff;
            }
            &:focus {
                outline: 0 !important;
            }
        }
    }
}
#addClassSched,
#editClassSched,
#editClassList {
    .repeat {
        position: relative;
        z-index: 9;
        margin-top: 25px;
        &-pop {
            display: none;
            position: absolute;
            width: 650px;
            left: -10px;
            bottom: 60px;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 0 25px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 0 25px rgba(0,0,0,.3);
            -moz-box-shadow: 0 0 25px rgba(0,0,0,.3);
            h5 {
                margin-top: 20px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .rep-done {
                position: absolute;
                top: 20px;
                right: 15px;
                padding: 0;
                background: transparent;
                text-transform: uppercase;
                color: #f6ae1c;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                }
            }
            i.fa {
                margin-right: 0;
            }
            .rep-freq .input-group-addon {
                font-size: 12px;
            }
            input,
            .bootstrap-select button {
                border: solid 1px #ccc;
            }
            .rep-end {
                .rep-opts {
                    float: left;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    input {
                        vertical-align: text-top;
                    }
                    label {
                        position: relative;
                        top: 10px;
                    }
                }
                .datetimepicker {
                    width: 138px;
                    margin-left: 10px;
                }
            }
            .repeat-on {
                label {
                    margin-right: 10px;
                }
            }
            &:after {
                content: "";
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;                
                border-top: 15px solid #fff;
            }            
            .input-group-addon {
                border: solid 1px #ccc !important;
                border-left: 0 !important;
            }
        }
    }
    .input-group {
        .bootstrap-select.form-control {
            height: 20px;
        }       
        input[type="text"] {
            margin-bottom: 0 !important;
        }
        .input-group-addon {
            padding: 6px 9px;
            border: 0;
        }
    }
}
#stampModal {
    .modal {
      text-align: left;
    }
    .modal-body {
        background: #fff;
        padding: 0 20px;

        .fileinput-button {
            background: #E6E9ED;
            width: 100%;
            color: #666464;
            border: none;
            padding: 50px 0;
            position: relative;
            z-index: 2;
        }
        .fileinput-button canvas {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: 100% 100% !important;
        }
        .fileinput-button.with-img {
            background: transparent;
            color: #fff;
        }
        textarea {
            border: 1px solid #d3d0cb;
            border-radius: 5px;
            height: 60px;
        }
    }
    
    .modal-header {
        text-align: center;
    }
    .modal-footer {
        border-top: 0;
        padding: 0 20px 20px 20px;

        button {
            width: 100%;
        }
    }
}
#managePackageStamp{
    #stamps{
        max-height: 350px;
        overflow-y: scroll;

        ul{
            li{
                margin-right: 18px;
            }
        }
    }
}
/* Class Lists */
#classlists {
    h4 {
        display: inline-block;
        margin-top: 25px;
    }
    p {
        padding-top: 0;
        margin-top: -4px;
        color: #999999;
    }
    h4,
    p {
        margin-left: -10px;
        margin-right: -10px;
    }
    .cal-icon {
        background: #66c5c7;
        width: 22px;
        height: 22px;
        display: table;
        text-align: center;
        border-radius: 50%;
        float: right;
        position: relative;
        top: -2px;
        margin-left: 7px;
        .fa {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
            font-size: 11px;
        }
    }
    #classListTable {
        tr.group {
            td {
                background: #fff;
                font-size: 12px;
                font-weight: 700;
                padding-top: 20px !important;
            }
        }
        tr {
            td:nth-child(7) {
                color: #C7C0BA;
                a {
                    color: #C7C0BA;
                }
            }
        }
    }
}
tfoot {
    th {
        padding-top: 10px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(7) {
            display: none;
        }
        select {
            padding: 5px;
            border: solid 1px #ccc;
            border-radius: 3px;
            font-weight: 600;
            font-size: 13px;
            color: #777;
            margin-right: 7px;
            max-width: 150px;
            width: 100%;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            padding-right: 7px;
        }
    }
}
.hidden-data {
    display: none;
}

#classListUpdateType,
#cancelClassList {
    .modal-header {
        padding: 15px;
    }
    .modal-body {
        background: #fdfdfd;
        padding: 0 34px;
    }
    .form-group .row {
        margin-left: -17px;
        margin-right: -17px;
        padding: 10px 0;
        border-bottom: solid 1px #eee;

        &:last-child {
            border-bottom: 0;
        }

        .col-md-2 {
            text-align: center;
        }
        .col-md-10 {
            h5 {
                margin-bottom: 5px;
                font-weight: 600;
                color: #777;
            }
            p {
                color: #999;
                font-size: 13px;
            }
        }
        .cancel-ico {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: table;
            text-align: center;
            background: #66c5c7;
            margin: 9px 10px;

            .fa {
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                font-size: 18px;
            }
        }

        .confirm-container{
            .start_date_range, 
            .end_date_range{
                font-size: 12px;
                margin: 0;
                height: 30px;
                padding: 0 6px;
                border: 1px solid #ccc;
            }
            .input-group-addon{
                padding: 3px;
                font-size: 11px;
            }
        }
    }
}
#classListTable_length {
    clear: both;
    margin-top: 0.755em;
    label {
        font-weight: normal;
    }
}
.filter-calendar {
    text-align: right;
    padding-top: 10px;
    .fil-date {
        border: solid 1px #ccc;
        padding: 4px 7px;
        border-radius: 15px;
        background: transparent;
        width: 80px;
        font-size: 13px;
        color: #777;
        display: inline-block;
        text-align: center;
        a {
            color: #777;
        }
        .fa {
            position: relative;
            top: 3px;
            margin-right: 0 !important;
            &.fa-caret-left {
            float: left;
            }
            &.fa-caret-right {
                float: right;
            }
        }        
    }
    input {
        border: solid 1px #ccc;
        padding: 4px 7px;
        border-radius: 15px;
        background: transparent;
        width: 120px;
        font-size: 13px;
        color: #777;
        display: inline-block;
        
        &:focus {
            outline: 0;
        }
    }
    #yadcf-filter-wrapper--external_filter_container,
    #yadcf-filter-wrapper--previous_booking_date_filter,
    .yadcf-filter-reset-button,
    .yadcf-filter-wrapper,
    .yadcf-filter-wrapper-inner,
    span {
        display: inline-block;
        vertical-align: text-top;
    }
    input, span {
        margin-right: 7px;
    }
    span {
        color: #777;
        position: relative;
        top: 4px;
        font-size: 13px;
    }
    .yadcf-filter-reset-button {
        border: solid 1px #ccc;
        padding: 4px 7px;
        border-radius: 15px;
        font-size: 13px;
        color: #777;
    }
}
#editClassList {
    .form-control {
        height: 43px;
    }
}
/*
* Add Client to Class
*/
.add-client {
    margin-top: 20px;

    .smsAdd {
        margin-top: 0px;
    }

    label {
        font-weight: normal;
    }

    input[name="add-client"] {
        display: initial;
        width: initial;
    }

    .tally {
        position: relative;
        top: 5px;
    }
}
.class-details {
    background: #4b4f55;
    color: #fff;
    margin-left: 5px;
    width: calc(100% - 10px);

    .cd-header {
        font-size: 17px;
        font-weight: 400;
    }
}
#memberReservationsTable {
    th,
    td {
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            text-align: center;
        }

        .delete {
            float: none !important;
            margin-left: 0 !important;
        }
    }
    td {        
        &:first-child {
            color: #307fc1;
            font-weight: 600;
        }
    }
    th {
        padding: 5px;
    }
}
.show {
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: initial !important;
    font-weight: 600;
    padding: 5px;

    &.yes {
        background: #5ab95b;
    }

    &.no {
        background: #e34f4b;
    }
}
.buttons-excel {
    display: none !important;
}
.exportExcel {
    color: #898989;
    background-color: transparent;
    border: solid 1px #7b736b;
    margin: 5px auto;
}

/*
* Customer Details
*/
#customer-profile-view {
    &.hidden {
        display: none;
    }
    #customer-details {
        float: left;
        width: 100%;
        margin-top: 40px;
        min-height: 400px;
        .profile-details {
            margin: 30px auto;
        }
        .navTabsWrap {
            background-color: #F2F4F6;
            clear: both;
            width: 100%;
            .nav-tabs {
                li.active {
                    a {
                        border-bottom: solid 1px #fff;
                        font-weight: 600;
                    }
                }
                &>li>a {
                    border-radius: 0;
                    border-right: solid 1px #ddd;
                    color: #747474;
                    margin-left: -1px;
                    margin-right: 0;
                }
                &>li:first-child a {
                    margin-left: 0;
                }
            }
        }
        .media {
            &-left.infoImg {
                border-radius: 50%;
                overflow: hidden;
                padding-right: 0;
            }
            &-body {
                .infoS {
                    margin: 0 0 3px;
                }
                .infoF {
                    color: #71706b;
                    font-weight: 600;
                }
                .info-wrap {
                    padding-left: 20px;
                }
            }
            
        }
        .tab-content {
            background: #fff;
            border: 1px solid #ddd;
            margin-top: -1px;
            min-height: 400px;
            padding: 1%;
            .fixed-table-container,
            table {
                border: 0;
            }
            table {
                border-collapse: initial;
                border-spacing: 0 10px;
                td, th {
                    border: 0;
                }
                th {
                    color: #575454;
                    font-weight: 600px;
                    padding: 8px;
                }
                td {
                    background: #f7f7f7;
                    border-bottom: solid 1px #fff;
                }
            }
            .custom-filter {
                &-custbookings,
                &-custhistory {
                    margin-bottom: 15px;
                }
            }
        }
        /* Customer Package Table */
        #customerpackage {
            tr {
                &.group {
                    background-color: transparent !important;
                    td {
                        background: transparent;
                        color: #ff6a15;
                        font-weight: 700;
                        padding-top: 15px !important;
                    }
                }
            }
        }
        .exportExcel-btn {
            color: #898989;
            background-color: transparent;
            border: solid 1px #7b736b;
            margin: 5px auto;
        }
    }
}
// CLASS LIST - MULTIPLE BOOKING
.multi-book {
    float: right;
    right: -45px;
    top: -37px;
}
#multibook-client {
    .multibook-total {
        text-align: center;
    }
}