.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.class-mgmt {
  margin-bottom: 20px; }
  .class-mgmt .packageAdd {
    padding: 8px 15px;
    margin-top: 20px; }

#addPackage .design,
#editPackage .design,
#addInstructor .design,
#editInstructor .design,
#addClass .design,
#editClass .design,
#addClassSched .design,
#editClassSched .design,
#editClassList .design {
  padding: 0 21px; }

#addPackage .req-size,
#editPackage .req-size,
#addInstructor .req-size,
#editInstructor .req-size,
#addClass .req-size,
#editClass .req-size,
#addClassSched .req-size,
#editClassSched .req-size,
#editClassList .req-size {
  color: #a3a3a3;
  font-style: italic;
  font-size: 11px; }

#addPackage .error-msg,
#editPackage .error-msg,
#addInstructor .error-msg,
#editInstructor .error-msg,
#addClass .error-msg,
#editClass .error-msg,
#addClassSched .error-msg,
#editClassSched .error-msg,
#editClassList .error-msg {
  font-size: 11px;
  padding: 5px 0; }

#addPackage .bootstrap-select.form-control,
#editPackage .bootstrap-select.form-control,
#addInstructor .bootstrap-select.form-control,
#editInstructor .bootstrap-select.form-control,
#addClass .bootstrap-select.form-control,
#editClass .bootstrap-select.form-control,
#addClassSched .bootstrap-select.form-control,
#editClassSched .bootstrap-select.form-control,
#editClassList .bootstrap-select.form-control {
  margin-bottom: 25px !important; }

#addPackage button[data-toggle="dropdown"],
#editPackage button[data-toggle="dropdown"],
#addInstructor button[data-toggle="dropdown"],
#editInstructor button[data-toggle="dropdown"],
#addClass button[data-toggle="dropdown"],
#editClass button[data-toggle="dropdown"],
#addClassSched button[data-toggle="dropdown"],
#editClassSched button[data-toggle="dropdown"],
#editClassList button[data-toggle="dropdown"] {
  width: 100%;
  background: #fff;
  border: 0;
  border-radius: 0;
  float: none;
  display: block; }

#addPackage button[data-toggle="dropdown"],
#editPackage button[data-toggle="dropdown"],
#addInstructor button[data-toggle="dropdown"],
#editInstructor button[data-toggle="dropdown"],
#addClass button[data-toggle="dropdown"],
#editClass button[data-toggle="dropdown"],
#addClassSched button[data-toggle="dropdown"],
#editClassSched button[data-toggle="dropdown"],
#editClassList button[data-toggle="dropdown"] {
  outline: 0 !important; }

#addPackage .disabled button[data-toggle="dropdown"],
#editPackage .disabled button[data-toggle="dropdown"],
#addInstructor .disabled button[data-toggle="dropdown"],
#editInstructor .disabled button[data-toggle="dropdown"],
#addClass .disabled button[data-toggle="dropdown"],
#editClass .disabled button[data-toggle="dropdown"],
#addClassSched .disabled button[data-toggle="dropdown"],
#editClassSched .disabled button[data-toggle="dropdown"],
#editClassList .disabled button[data-toggle="dropdown"] {
  background: #eee; }

#addPackage .bs-actionsbox .actions-btn,
#editPackage .bs-actionsbox .actions-btn,
#addInstructor .bs-actionsbox .actions-btn,
#editInstructor .bs-actionsbox .actions-btn,
#addClass .bs-actionsbox .actions-btn,
#editClass .bs-actionsbox .actions-btn,
#addClassSched .bs-actionsbox .actions-btn,
#editClassSched .bs-actionsbox .actions-btn,
#editClassList .bs-actionsbox .actions-btn {
  padding: 5px 10px;
  width: 50%; }
  #addPackage .bs-actionsbox .actions-btn.bs-actions-selected,
  #editPackage .bs-actionsbox .actions-btn.bs-actions-selected,
  #addInstructor .bs-actionsbox .actions-btn.bs-actions-selected,
  #editInstructor .bs-actionsbox .actions-btn.bs-actions-selected,
  #addClass .bs-actionsbox .actions-btn.bs-actions-selected,
  #editClass .bs-actionsbox .actions-btn.bs-actions-selected,
  #addClassSched .bs-actionsbox .actions-btn.bs-actions-selected,
  #editClassSched .bs-actionsbox .actions-btn.bs-actions-selected,
  #editClassList .bs-actionsbox .actions-btn.bs-actions-selected {
    background: #d69209;
    color: #fff; }
  #addPackage .bs-actionsbox .actions-btn:focus,
  #editPackage .bs-actionsbox .actions-btn:focus,
  #addInstructor .bs-actionsbox .actions-btn:focus,
  #editInstructor .bs-actionsbox .actions-btn:focus,
  #addClass .bs-actionsbox .actions-btn:focus,
  #editClass .bs-actionsbox .actions-btn:focus,
  #addClassSched .bs-actionsbox .actions-btn:focus,
  #editClassSched .bs-actionsbox .actions-btn:focus,
  #editClassList .bs-actionsbox .actions-btn:focus {
    outline: 0 !important; }

#addClassSched .repeat,
#editClassSched .repeat,
#editClassList .repeat {
  position: relative;
  z-index: 9;
  margin-top: 25px; }
  #addClassSched .repeat-pop,
  #editClassSched .repeat-pop,
  #editClassList .repeat-pop {
    display: none;
    position: absolute;
    width: 650px;
    left: -10px;
    bottom: 60px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); }
    #addClassSched .repeat-pop h5,
    #editClassSched .repeat-pop h5,
    #editClassList .repeat-pop h5 {
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600; }
    #addClassSched .repeat-pop .rep-done,
    #editClassSched .repeat-pop .rep-done,
    #editClassList .repeat-pop .rep-done {
      position: absolute;
      top: 20px;
      right: 15px;
      padding: 0;
      background: transparent;
      text-transform: uppercase;
      color: #f6ae1c;
      font-weight: 600; }
      #addClassSched .repeat-pop .rep-done:hover,
      #editClassSched .repeat-pop .rep-done:hover,
      #editClassList .repeat-pop .rep-done:hover {
        cursor: pointer; }
    #addClassSched .repeat-pop i.fa,
    #editClassSched .repeat-pop i.fa,
    #editClassList .repeat-pop i.fa {
      margin-right: 0; }
    #addClassSched .repeat-pop .rep-freq .input-group-addon,
    #editClassSched .repeat-pop .rep-freq .input-group-addon,
    #editClassList .repeat-pop .rep-freq .input-group-addon {
      font-size: 12px; }
    #addClassSched .repeat-pop input,
    #addClassSched .repeat-pop .bootstrap-select button,
    #editClassSched .repeat-pop input,
    #editClassSched .repeat-pop .bootstrap-select button,
    #editClassList .repeat-pop input,
    #editClassList .repeat-pop .bootstrap-select button {
      border: solid 1px #ccc; }
    #addClassSched .repeat-pop .rep-end .rep-opts,
    #editClassSched .repeat-pop .rep-end .rep-opts,
    #editClassList .repeat-pop .rep-end .rep-opts {
      float: left;
      margin-right: 10px; }
      #addClassSched .repeat-pop .rep-end .rep-opts:last-child,
      #editClassSched .repeat-pop .rep-end .rep-opts:last-child,
      #editClassList .repeat-pop .rep-end .rep-opts:last-child {
        margin-right: 0; }
      #addClassSched .repeat-pop .rep-end .rep-opts input,
      #editClassSched .repeat-pop .rep-end .rep-opts input,
      #editClassList .repeat-pop .rep-end .rep-opts input {
        vertical-align: text-top; }
      #addClassSched .repeat-pop .rep-end .rep-opts label,
      #editClassSched .repeat-pop .rep-end .rep-opts label,
      #editClassList .repeat-pop .rep-end .rep-opts label {
        position: relative;
        top: 10px; }
    #addClassSched .repeat-pop .rep-end .datetimepicker,
    #editClassSched .repeat-pop .rep-end .datetimepicker,
    #editClassList .repeat-pop .rep-end .datetimepicker {
      width: 138px;
      margin-left: 10px; }
    #addClassSched .repeat-pop .repeat-on label,
    #editClassSched .repeat-pop .repeat-on label,
    #editClassList .repeat-pop .repeat-on label {
      margin-right: 10px; }
    #addClassSched .repeat-pop:after,
    #editClassSched .repeat-pop:after,
    #editClassList .repeat-pop:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff; }
    #addClassSched .repeat-pop .input-group-addon,
    #editClassSched .repeat-pop .input-group-addon,
    #editClassList .repeat-pop .input-group-addon {
      border: solid 1px #ccc !important;
      border-left: 0 !important; }

#addClassSched .input-group .bootstrap-select.form-control,
#editClassSched .input-group .bootstrap-select.form-control,
#editClassList .input-group .bootstrap-select.form-control {
  height: 20px; }

#addClassSched .input-group input[type="text"],
#editClassSched .input-group input[type="text"],
#editClassList .input-group input[type="text"] {
  margin-bottom: 0 !important; }

#addClassSched .input-group .input-group-addon,
#editClassSched .input-group .input-group-addon,
#editClassList .input-group .input-group-addon {
  padding: 6px 9px;
  border: 0; }

#stampModal .modal {
  text-align: left; }

#stampModal .modal-body {
  background: #fff;
  padding: 0 20px; }
  #stampModal .modal-body .fileinput-button {
    background: #E6E9ED;
    width: 100%;
    color: #666464;
    border: none;
    padding: 50px 0;
    position: relative;
    z-index: 2; }
  #stampModal .modal-body .fileinput-button canvas {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100% !important; }
  #stampModal .modal-body .fileinput-button.with-img {
    background: transparent;
    color: #fff; }
  #stampModal .modal-body textarea {
    border: 1px solid #d3d0cb;
    border-radius: 5px;
    height: 60px; }

#stampModal .modal-header {
  text-align: center; }

#stampModal .modal-footer {
  border-top: 0;
  padding: 0 20px 20px 20px; }
  #stampModal .modal-footer button {
    width: 100%; }

#managePackageStamp #stamps {
  max-height: 350px;
  overflow-y: scroll; }
  #managePackageStamp #stamps ul li {
    margin-right: 18px; }

/* Class Lists */
#classlists h4 {
  display: inline-block;
  margin-top: 25px; }

#classlists p {
  padding-top: 0;
  margin-top: -4px;
  color: #999999; }

#classlists h4,
#classlists p {
  margin-left: -10px;
  margin-right: -10px; }

#classlists .cal-icon {
  background: #66c5c7;
  width: 22px;
  height: 22px;
  display: table;
  text-align: center;
  border-radius: 50%;
  float: right;
  position: relative;
  top: -2px;
  margin-left: 7px; }
  #classlists .cal-icon .fa {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 11px; }

#classlists #classListTable tr.group td {
  background: #fff;
  font-size: 12px;
  font-weight: 700;
  padding-top: 20px !important; }

#classlists #classListTable tr td:nth-child(7) {
  color: #C7C0BA; }
  #classlists #classListTable tr td:nth-child(7) a {
    color: #C7C0BA; }

tfoot th {
  padding-top: 10px; }
  tfoot th:nth-child(1), tfoot th:nth-child(2), tfoot th:nth-child(3), tfoot th:nth-child(7) {
    display: none; }
  tfoot th select {
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    color: #777;
    margin-right: 7px;
    max-width: 150px;
    width: 100%; }
  tfoot th:nth-child(4), tfoot th:nth-child(5), tfoot th:nth-child(6) {
    padding-right: 7px; }

.hidden-data {
  display: none; }

#classListUpdateType .modal-header,
#cancelClassList .modal-header {
  padding: 15px; }

#classListUpdateType .modal-body,
#cancelClassList .modal-body {
  background: #fdfdfd;
  padding: 0 34px; }

#classListUpdateType .form-group .row,
#cancelClassList .form-group .row {
  margin-left: -17px;
  margin-right: -17px;
  padding: 10px 0;
  border-bottom: solid 1px #eee; }
  #classListUpdateType .form-group .row:last-child,
  #cancelClassList .form-group .row:last-child {
    border-bottom: 0; }
  #classListUpdateType .form-group .row .col-md-2,
  #cancelClassList .form-group .row .col-md-2 {
    text-align: center; }
  #classListUpdateType .form-group .row .col-md-10 h5,
  #cancelClassList .form-group .row .col-md-10 h5 {
    margin-bottom: 5px;
    font-weight: 600;
    color: #777; }
  #classListUpdateType .form-group .row .col-md-10 p,
  #cancelClassList .form-group .row .col-md-10 p {
    color: #999;
    font-size: 13px; }
  #classListUpdateType .form-group .row .cancel-ico,
  #cancelClassList .form-group .row .cancel-ico {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: table;
    text-align: center;
    background: #66c5c7;
    margin: 9px 10px; }
    #classListUpdateType .form-group .row .cancel-ico .fa,
    #cancelClassList .form-group .row .cancel-ico .fa {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-size: 18px; }
  #classListUpdateType .form-group .row .confirm-container .start_date_range,
  #classListUpdateType .form-group .row .confirm-container .end_date_range,
  #cancelClassList .form-group .row .confirm-container .start_date_range,
  #cancelClassList .form-group .row .confirm-container .end_date_range {
    font-size: 12px;
    margin: 0;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ccc; }
  #classListUpdateType .form-group .row .confirm-container .input-group-addon,
  #cancelClassList .form-group .row .confirm-container .input-group-addon {
    padding: 3px;
    font-size: 11px; }

#classListTable_length {
  clear: both;
  margin-top: 0.755em; }
  #classListTable_length label {
    font-weight: normal; }

.filter-calendar {
  text-align: right;
  padding-top: 10px; }
  .filter-calendar .fil-date {
    border: solid 1px #ccc;
    padding: 4px 7px;
    border-radius: 15px;
    background: transparent;
    width: 80px;
    font-size: 13px;
    color: #777;
    display: inline-block;
    text-align: center; }
    .filter-calendar .fil-date a {
      color: #777; }
    .filter-calendar .fil-date .fa {
      position: relative;
      top: 3px;
      margin-right: 0 !important; }
      .filter-calendar .fil-date .fa.fa-caret-left {
        float: left; }
      .filter-calendar .fil-date .fa.fa-caret-right {
        float: right; }
  .filter-calendar input {
    border: solid 1px #ccc;
    padding: 4px 7px;
    border-radius: 15px;
    background: transparent;
    width: 120px;
    font-size: 13px;
    color: #777;
    display: inline-block; }
    .filter-calendar input:focus {
      outline: 0; }
  .filter-calendar #yadcf-filter-wrapper--external_filter_container,
  .filter-calendar #yadcf-filter-wrapper--previous_booking_date_filter,
  .filter-calendar .yadcf-filter-reset-button,
  .filter-calendar .yadcf-filter-wrapper,
  .filter-calendar .yadcf-filter-wrapper-inner,
  .filter-calendar span {
    display: inline-block;
    vertical-align: text-top; }
  .filter-calendar input, .filter-calendar span {
    margin-right: 7px; }
  .filter-calendar span {
    color: #777;
    position: relative;
    top: 4px;
    font-size: 13px; }
  .filter-calendar .yadcf-filter-reset-button {
    border: solid 1px #ccc;
    padding: 4px 7px;
    border-radius: 15px;
    font-size: 13px;
    color: #777; }

#editClassList .form-control {
  height: 43px; }

/*
* Add Client to Class
*/
.add-client {
  margin-top: 20px; }
  .add-client .smsAdd {
    margin-top: 0px; }
  .add-client label {
    font-weight: normal; }
  .add-client input[name="add-client"] {
    display: initial;
    width: initial; }
  .add-client .tally {
    position: relative;
    top: 5px; }

.class-details {
  background: #4b4f55;
  color: #fff;
  margin-left: 5px;
  width: calc(100% - 10px); }
  .class-details .cd-header {
    font-size: 17px;
    font-weight: 400; }

#memberReservationsTable th:nth-child(2), #memberReservationsTable th:nth-child(6), #memberReservationsTable th:nth-child(7), #memberReservationsTable th:nth-child(8), #memberReservationsTable th:nth-child(9),
#memberReservationsTable td:nth-child(2),
#memberReservationsTable td:nth-child(6),
#memberReservationsTable td:nth-child(7),
#memberReservationsTable td:nth-child(8),
#memberReservationsTable td:nth-child(9) {
  text-align: center; }

#memberReservationsTable th .delete,
#memberReservationsTable td .delete {
  float: none !important;
  margin-left: 0 !important; }

#memberReservationsTable td:first-child {
  color: #307fc1;
  font-weight: 600; }

#memberReservationsTable th {
  padding: 5px; }

.show {
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: initial !important;
  font-weight: 600;
  padding: 5px; }
  .show.yes {
    background: #5ab95b; }
  .show.no {
    background: #e34f4b; }

.buttons-excel {
  display: none !important; }

.exportExcel {
  color: #898989;
  background-color: transparent;
  border: solid 1px #7b736b;
  margin: 5px auto; }

/*
* Customer Details
*/
#customer-profile-view.hidden {
  display: none; }

#customer-profile-view #customer-details {
  float: left;
  width: 100%;
  margin-top: 40px;
  min-height: 400px;
  /* Customer Package Table */ }
  #customer-profile-view #customer-details .profile-details {
    margin: 30px auto; }
  #customer-profile-view #customer-details .navTabsWrap {
    background-color: #F2F4F6;
    clear: both;
    width: 100%; }
    #customer-profile-view #customer-details .navTabsWrap .nav-tabs li.active a {
      border-bottom: solid 1px #fff;
      font-weight: 600; }
    #customer-profile-view #customer-details .navTabsWrap .nav-tabs > li > a {
      border-radius: 0;
      border-right: solid 1px #ddd;
      color: #747474;
      margin-left: -1px;
      margin-right: 0; }
    #customer-profile-view #customer-details .navTabsWrap .nav-tabs > li:first-child a {
      margin-left: 0; }
  #customer-profile-view #customer-details .media-left.infoImg {
    border-radius: 50%;
    overflow: hidden;
    padding-right: 0; }
  #customer-profile-view #customer-details .media-body .infoS {
    margin: 0 0 3px; }
  #customer-profile-view #customer-details .media-body .infoF {
    color: #71706b;
    font-weight: 600; }
  #customer-profile-view #customer-details .media-body .info-wrap {
    padding-left: 20px; }
  #customer-profile-view #customer-details .tab-content {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: -1px;
    min-height: 400px;
    padding: 1%; }
    #customer-profile-view #customer-details .tab-content .fixed-table-container,
    #customer-profile-view #customer-details .tab-content table {
      border: 0; }
    #customer-profile-view #customer-details .tab-content table {
      border-collapse: initial;
      border-spacing: 0 10px; }
      #customer-profile-view #customer-details .tab-content table td, #customer-profile-view #customer-details .tab-content table th {
        border: 0; }
      #customer-profile-view #customer-details .tab-content table th {
        color: #575454;
        font-weight: 600px;
        padding: 8px; }
      #customer-profile-view #customer-details .tab-content table td {
        background: #f7f7f7;
        border-bottom: solid 1px #fff; }
    #customer-profile-view #customer-details .tab-content .custom-filter-custbookings, #customer-profile-view #customer-details .tab-content .custom-filter-custhistory {
      margin-bottom: 15px; }
  #customer-profile-view #customer-details #customerpackage tr.group {
    background-color: transparent !important; }
    #customer-profile-view #customer-details #customerpackage tr.group td {
      background: transparent;
      color: #ff6a15;
      font-weight: 700;
      padding-top: 15px !important; }
  #customer-profile-view #customer-details .exportExcel-btn {
    color: #898989;
    background-color: transparent;
    border: solid 1px #7b736b;
    margin: 5px auto; }

.multi-book {
  float: right;
  right: -45px;
  top: -37px; }

#multibook-client .multibook-total {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
