@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html body {
    background: #000 url("../images/banner-img.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
}

/* Bootstrap Extra CSS */
div.bg-danger {
    padding:10px;
    font-size:14px;
    margin-bottom:10px;
    border-radius: 4px;
}

div.bg-danger p {
    padding:5px 0;
    margin:0;
}

/*RUSH Terms and Conditions CSS*/
h2.rush-terms {
    color: #909090;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align:left!important;
}

p.special {
    padding-bottom:1px;
}

a.nav-text {
    font-size:16px; 
    font-weight:bold;
}

.table-annex {
    border: 1px solid #dcdcdc; 
    color:#6b6c6c;
}

.td-decor {
    padding: 10px 10px 10px 10px; 
    border-bottom:1px solid #dcdcdc;
}

.td-bg {
    padding: 10px 10px 10px 10px; 
    border-bottom:1px solid #dcdcdc;
    background-color:#fbfbfb;
}

.definitions-text{
    padding: 0 0 0 10px; 
    background-color:#fbfbfb; 
    font-weight:bold;
}

.annex-table-row {
    padding:5px 5px 5px 5px; 
    border: 1px solid #dcdcdc;
    color:#6b6c6c;
    text-align:center; 
    font-size:14px;
}

.annex-table-text {
    text-align:center; 
    font-size:14px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #dcdcdc;
}

.annex-text {
    text-align:center; 
    font-size:14px; 
    padding: 10px 10px 10px 10px;
    border: 1px solid #dcdcdc;
}

.checkbox-terms {
    color:#6b6c6c;
    padding-top: 40px;  
    padding-bottom:30px;
    margin:0 auto;
    display:block;
}

.agree-btn {
    max-width: 300px;
    border: 2px solid #ea6a1d;
    background: #ea6a1d;
    padding: 10px 35px 15px;
    text-align: center;
    color: #fff!important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    display:block;
    margin:0 auto;
    }

.agree-btn:hover{
    background: #f8ae1a;
    border: 2px solid #f8ae1a;
    color: #fff!important;
    font-weight:bold;
    text-decoration: none;
}

.tr-annex {
    padding:5px 5px 5px 5px; 
    border: 1px solid #dcdcdc;
}

/*End of Terms and Conditions CSS*/

/*RUSH Terms and Conditions CSS Modal */

.agree-modal-punchcard .modal-dialog
, .agree-modal-loyalty .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

.agree-modal-punchcard .modal-dialog .modal-content
, .agree-modal-loyalty .modal-dialog .modal-content {
    height: 100%;
    width: 96%;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.agree-modal-punchcard .modal-dialog .modal-content .modal-container
, .agree-modal-loyalty .modal-dialog .modal-content .modal-container {
    width: 100%;
    height: 100%;
}

.agree-modal-punchcard .modal-dialog .modal-content .modal-container table
, .agree-modal-loyalty .modal-dialog .modal-content .modal-container table {
    width: 100%;
    height: 100%;
}

.agree-modal-punchcard .modal-dialog .modal-content .rush-terms
, .agree-modal-loyalty .modal-dialog .modal-content .rush-terms {
    display: none;
}

.serviceAgreement {
    text-align: left;
    background-color: #ffffff;
    font-size: 14px;
}

.saContainer {
    height: 100vh;
}

.saContent {
    height: 60%;
    overflow: auto;
}

.saContent div, .saContent tr th, .saContent tr td {
    background-color: #eeeeee;
}

.saButton {
    height: 40%;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    opacity: .6;
}

/*End of Terms and Conditions CSS Modal*/

/*RUSH FAQ Page CSS*/

h4.rush-faq {
    font-weight:bold;
    color: #333333;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 18px;
}

h4.rush-try {
    padding: 30px 0px 0px 0px; 
    text-align:center;
}

.container .try-btn {
    max-width: 300px;
    min-width: 40px;
    border: 2px solid #ffa726;
    padding: 20px 10px;
    margin: 0% auto 2%;
    margin-top: 40px;
    text-align: center;
    color: #666666;
    display: block;
    font-size: 20px;
    font-family: Open Sans Bold;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
}

.container .try-btn:hover {
    background: #ffa727;
    color: #fff!important;

}

hr {
    margin-top:60px;
}

/*End of FAQ CSS*/

.chosen-container {
    font-size: 20px!important;
}
#others,
#others2 {
    display: none;
}
#industry_chosen,
#loyalty_chosen,
#objective_chosen{
    min-width: 100%!important;
    max-width: 100%!important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
}
.chosen-container-multi .chosen-choices {
    border: 0px !important;
    background-color: #fff;   
    border-radius: 5px;
    min-height: 45px!important;
    background: rgba(0, 0, 0, 0) url("../images/registration_dropdown_icon2.png") no-repeat scroll right center!important;
    width: 100%!important;
}
.chosen-container-multi .chosen-choices li.search-choice {
    padding: 13px!important;
    background-image: none!important;
    box-shadow: none!important;
    border: none!important;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
a:focus,
a:hover {
    text-decoration: none;
}
.form-width {
    max-width: 50%;
}
.form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.header-section {
    height: 636px;
}
.header-section2 {
    background: rgba(0, 0, 0, 0.5);
    height: 140px;
}
.navigation {
    padding: 30px 0;
    margin: 0;
}
.navbar-brand {
    color: #fff; 
    float: none!important;
    /* added 032916 */
    margin: 10px 0;
    outline: 0;
}
.navbar-brand img {
    display: block;
    margin: 0 auto;
    outline: 0;
}
.mobile-nav {
    float: right;
    padding: 0;
    margin-top: 0;
}
.mobile-nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}
.mobile-nav li a {
    color: #fff !important;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    letter-spacing: 1px;
}
.mobile-nav li a:hover {
    color: #ffa726!important;
    background: transparent;
}
.mobile-nav li a.active {
    border: solid 1px #ffae00;
    color: #ffae00!important;
    font-weight: 400;
    padding: 10px 15px;
}
.mobile-nav li:last-child a:hover {
    color: #fff!important;
    background: #ffae00;
}
.mobile-nav li a:focus {
    background: transparent;
}
#rush-logo {
    background: url(../images/rush-logo-white.png) no-repeat;
    width: 205px;
    height: 59px;
    cursor: pointer;
    margin-top: 15px;
    float: left;
    display: block;
    z-index: 9999;
    position: relative;;
}
#head-content .headings {
    text-align: center;
    color: #fff;
    font-family: Open Sans Regular;
    margin: 0 0 4%;
}
#head-content .headings h1 {
    font-size: 40px; 
}
#head-content .headings h2 {
    font-size: 30px;
    margin: 0px; 
}
#head-content .start-btn {
    width: 400px;
    border: 2px solid #ea6a1d;
    background: #ea6a1d;
    padding: 10px 15px;
    margin: 0% auto 2%;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
}
#head-content .start-btn span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
}
#head-content .start-btn:hover {
    background: rgba(234, 106, 29, 0);
    border: 2px solid #ea6a1d;
    color: #fff;
    text-decoration: none;
}
#head-content .banner img {
    display: block;
    margin: 0 auto;
}

/*content*/
.required {
    color: #ff0000;
}
.content3 {
    padding: 60px 0 60px;
    background: #fff;
    text-align: center;
}
.content3 .about {
    text-align: left;
    line-height: 30px;
    color: #787878;
}
.login {
    background: transparent;
    padding-top: 100px;
}
.login .forgot-pass {
    padding: 20px 10px 10px 10px !important;
}
.login .forgot-pass p {
    font-weight: normal;
}
.login .form {
    margin: 0px auto;
    text-align: center;
    width: 383px;
    border-radius: 5px;
    padding: 75px 20px 60px;
    background-color: #fff;
}
.login .form img {
    margin-bottom: 20px;
}
.login .form input {
    height: 44px;
    font-size: 20px;
}
.login .form p {
    line-height: 30px;
    color: #787878;
}
.login .form .start-btn {
    height: 45px;
    border: 2px solid #ffa726;
    padding: 10px;
    text-align: center;
    color: #787878;
    display: block;
    font-size: 20px;
    font-family: Open Sans Bold;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    text-transform: uppercase;
}
.login .form .start-btn span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
}
.login .form .start-btn:hover {
    background-color: #ffa726;
    border: 2px solid #ffa726;
    color: #fff;
    text-decoration: none;
}
.login .modal-dialog {
    width: 484px;
}
.content {
    padding: 60px 0;
    background: #fff;
}
.content h2 {
    text-align: center;
    margin-bottom: 50px;
}
.content .support-box {
    text-align: center;
}
.content .support-box p {
    margin: 20px 0;
    color: #5f6666;
}
.styled-select {
    background: url("../images/registration_dropdown_icon2.png") no-repeat;
    background-position: right;
    background-image: 50px;
    width: 100%;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.styled-select select {
    background: transparent;
    height: 45px;
    width: 100%;
    padding: 2px 10px 0;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.styled-input::before {
    background: url("../images/registration_company_icon.png") no-repeat left;
    background-image: 50px;
    width: 100%;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.styled-input::before input {
    background: transparent;
    height: 45px;
    width: 100%;
    padding: 2px 10px 100px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
.modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom {
    padding-right: 17px;
}
.space {
    display: block;
    padding-top: 10%;
}
.content2 {
    min-height: 500px;
    padding: 40px 100px 60px;
    background: #fff;
}
.content2 h2 {
    text-align: center;
    margin-bottom: 50px;
}
.content2 .check {
    display: block;
    background: transparent;
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    font-style: Open Sans Regular;
    color: #787878;
}

.content2 .check .spamMessage {
    font-size: 14px;
    white-space: nowrap;
}
.content2 .check img {
    margin-bottom: 54px;
}
.content2 .check .start-btn {
    width: 206px !important;
}
@media (min-width: 1200px){

    .content2 .container {
        width: 909px;
    }
}

@media (min-width: 1024px){

    .content2 .container {
        width: 750px;
    }
}
.content2 .container .contact-title {
    color: #555555;
   font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content2 .container .contact-text {
    color: #555555;
    font-size: 18px;
}
.content2 .container .form-input-div {
    margin-bottom: 10px;
}
.content2 .container .form-input-div span {
    font-size: 15px;
    color: #999999;
    font-style: italic;
}
.content2 .container label {
    font-weight: 100;
    font-size: 16px;
    color: #666666;
}
.content2 .container input, .content2 .container select {
    height: 45px;
    font-size: 20px;
}
.content2 .container textarea {
    height: 80px;
    font-size: 20px;
}
.content2 .container .payment {
    padding-top: 30px;
}
.content2 .container .start-btn {
    width: 300px;
    border: 2px solid #ffa726;
    padding: 20px 10px;
    margin: 0% auto 2%;
    text-align: center;
    color: #666666;
    display: block;
    font-size: 20px;
    font-family: Open Sans Bold;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
}
.content2 .container .start-btn span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.content2 .container .start-btn:hover {
    color: #fff;
}
.content2 .container .start-btn2 {
    width: 300px;
    border: 2px solid #99cc01;
    padding: 10px 30px;
    margin: 0% auto 2%;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 20px;
    font-family: Open Sans Bold;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #99cc01;
}
.content2 .container .start-btn2 span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.content2 .container .start-btn2:hover {
    text-decoration: none;
    color: #fff;
}
.content2 .container .start-btn:hover {
    background: #ffa727;
    color: #fff;
}
.content2 .container .package {
    width: 448px;
    float: left;
    position: relative;
    margin-top: 10px;
    border-left: 1px solid #fff;
}
.content2 .container .package #punch-card {
    width: 100%;
    font-family: Open Sans Semibold;
}
.content2 .container .package #punch-card .left {
    text-align: left;
    padding: 5px 30px;
}
.content2 .container .package #punch-card .center {
    text-align: center;
}
.content2 .container .package td {
    padding: 10px 5px;
    color: #615f5f;
}
.content2 .container .package th {
    text-align: center;
    background: #615f60;
    color: #fff;
}
.content2 .container .package .loyalty {
    background: #ffa726 !important;
}
.content2 .container .package .card {
    background: #444242 !important;
}
.content2 .container .package tr:nth-child(even) {
    background: #eee;
}
.content2 .container .package tr:nth-child(odd) {
    background: #e7e7e7;
}
.content2 .container .loyalty {
    background: #ffa726;
}
.content2 .container .top {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 1px 2px 10px #888888;
    z-index: 1;
}
.content2 .container .top {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.content2 .support-box {
    text-align: center;
}
.content2 .support-box p {
    margin: 20px 0;
    color: #5f6666;
}

/*modal*/
#modal-package {
    font-family: Open Sans Semibold;
}
#modal-package label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#modal-package input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
#modal-package input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 22px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}
#modal-package input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}
#modal-package .vlad {
    background-image: url(../images/vlad.png);
}
#modal-package input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    font-weight: 100;
    padding-left: 43px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}
#modal-package input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
    background-position: 0 -20px;
}
#modal-package h3, #modal-package h2 {
    margin: 2px !important;
    text-align: center;
}
#modal-package h5 {
    line-height: 6px;
}
#modal-package .left {
    text-align: left;
    padding: 5px 30px;
}
#modal-package .center {
    text-align: center;
}
#modal-package tr:even-child(odd){
    background: #fff!important;
}
#modal-package td {
    padding: 10px 30px;
    color: #615f5f;
}
#modal-package td:first-child {
    font-weight: bold;
    color: #3c3c3c;
}
#modal-package td:last-child {
    text-align: right;
}
#modal-package td input{
    margin-right: 6px!important;
}
#modal-package th {
    text-align: center;
    background: #615f60;
    color: #fff;
    padding-bottom: 20px;
}
#modal-package .loyalty {
    background: #ffa726 !important;
}
#modal-package tr:nth-child(even) {
    background: #fff;
}
#modal-package tr:nth-child(odd) {
    background: #eee;
}
.button-package {
padding: 20px 30px;
}
.button-package .start-btn3 {
    width: 54%;
    border: 2px solid #99cc01;
    padding: 10px 30px;
    margin: 0% auto 2%;
    text-align: center;
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: Open Sans Bold;
    line-height: 22px;
    letter-spacing: 1px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #99cc01;
}
.button-package .start-btn3 span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.button-package .start-btn3:hover {
    text-decoration: none;
    color: #fff;
    background-color: #a5d025;
}
.button-package .start-btn {
    width: 311px;
    border: 2px solid #ffa726;
    padding: 10px 28px;
    margin: 0% auto 2%;
    text-align: center;
    color: #666666;
    display: block;
    font-size: 18px;
    font-family: Open Sans Bold;
    line-height: 22px;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
}
.button-package .start-btn span {
    font-family: Open Sans Regular;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.button-package .start-btn:hover {
    background-color: #ffa726;
    border: 2px solid #ffa726;
    color: #fff;
    text-decoration: none;
}
.modal-dialog {
    margin: 10% auto;
}
.modal-content .close {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #fff;
    opacity: 10;
}
.modal-dialog {
    width: 717px;
}

/*clients*/
.clients {
    background: #f7f6f7;
    padding: 70px 0 70px;
    overflow: hidden;
    position: relative;
}
.clients .foreground {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.clients h2 {
    text-align: center;
    color: #fff;
    margin: 0 0 40px;
    position: relative;
    z-index: 9;
}
.clients .partner span {
    width: 180px;
    height: 180px;
    margin: 15px auto;
    background: #fff;
    display: block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
}

/* Footer */
footer {
    background: #3b3b3e;
}
footer ul.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 28px;
}
footer ul.footer-nav li a {
    color: #a3a3a8;
    font-size: 16px;
}
footer ul.footer-nav a:hover {
    color: #f5c564;
    text-decoration: none;
}
ul.footer-contact {
    padding: 0;
    margin: 0;
}
ul.footer-contact li {
    list-style: none;
    color: #b3b2b2;
    line-height: 28px;
    font-size: 14px;
    display: inline-block;
    margin: 0 15px;
}
ul.footer-contact li i {
    padding: 0 12px 0 0;
}
ul.footer-contact li a {
    color: #a8a7a7;
}
ul.footer-contact li a:hover {
    color: #fff;
    text-decoration: none;
}
.social-media {
    margin-bottom: 12px;
}
.social-media a {
    display: inline-block;
    color: #a3a3a8;
    margin: 0 24px;
    font-size: 32px;
}
.copyright {
    background: #434346;
}
.copyright p {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    padding: 12px 0;
}
.copyright p span {
    font-size: 12px;
    color: #979797;
}
/* Adjust Image margin on Selected Package */
.pck-img {
    margin: 45px auto 10px;
}
/** Package Overview **/
.content2.no-pad-LR {
    padding-left: 0;
    padding-right: 0;
}
.content2 .container.rs-wider {
    width: inherit!important;
    max-width: 909px;
    /* max-width: 1170px; hidden while RUSH Ultimate is hidden */
}
.rs-header {
    text-align: center;
    margin: 30px auto 65px;
    padding: 0 15px;
}
.rs-header h1 {
    font-size: 40px;
}
.rs-header h3 {
    color: #878787;
}
.content2 .container.full-width {
    width: 100% !important;
    background: #f1f6f8;
}
.rs-package {
    /* max-width: 1170px; hidden while RUSH Ultimate is hidden */
    max-width: 909px;
    font-family: Open Sans Regular, sans-serif;
    font-size: 16px;
    margin: 30px auto;
}
.rs-package .rs-pimg {
    text-align: center;
    padding: 25px 0;
}
.rs-package .rs-pimg img {
    max-width: 100%;
}
.rs-package .plan-wrap {
    background: #fff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    overflow: hidden;
}
.rs-package .plan-wrap.bord-red {
    margin-left: -15px;
    margin-right: -5px;
}
.rs-package .plan-wrap.bord-yellow {
    margin-left: -5px;
    /* margin-left: -10px;
    margin-right: -10px; hidden while RUSH Ultimate is hidden */
    margin-right: -15px;
}
.rs-package .plan-wrap.bord-teal {
    margin-left: -5px;
    margin-right: -15px;
}
.rs-package .plan-wrap .package-amt {
    padding: 20px 15px 35px;
    color: #fff;
    font-weight: 600;
    position: relative;
}
.rs-package .plan-wrap .package-amt h1.amt-val {
    color: #fff;
    font-weight: 400;
}
.rs-package .plan-wrap .package-amt h2 {
    margin: 20px 0;
    color: #1c1c1c;
    font-weight: 600;
}
.rs-package .plan-wrap .package-amt sup {
    font-size: 60%;
}
.rs-package .plan-wrap .package-amt p.para-1 {
    color: #3a3a3a;
}
.rs-package .plan-wrap.bord-red .package-amt {
    background: #ff5254;
    color: #584949;
}
.rs-package .plan-wrap.bord-yellow .package-amt {
    background: #ffe981;
    color: #3f3f3f;
}
.rs-package .plan-wrap.bord-teal .package-amt {
    background: #3aa5a8;
    color: #0a2e2f;
}
/* Arrows */
.rs-package .plan-wrap .package-amt .arrow {
    width: 35px;
    height: 35px;
    border-radius: 0 0 1em 0;
    transform: rotate(45deg);
    background: linear-gradient(-45deg, black 50%, transparent 50%);
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -24px;
}
.rs-package .plan-wrap.bord-red .package-amt .arrow {
    background: linear-gradient(-45deg, #ff5254 50%, transparent 50%);
}
.rs-package .plan-wrap.bord-yellow .package-amt .arrow {
    background: linear-gradient(-45deg, #ffe981 50%, transparent 50%);
}
.rs-package .plan-wrap.bord-teal .package-amt .arrow {
    background: linear-gradient(-45deg, #3aa5a8 50%, transparent 50%);
}
.plan-wrap h1 {
    font-size: 65px;
    margin: 5px 0;
}
.plan-wrap span {
    display: block;
    padding: 15px 10px;
}
.plan-wrap .bg-darkgray {
    background: #f2f2f2;
}
.plan-wrap .rs-users {
    color: #3f3f3f;
    font-size: 19px;
    margin: 40px auto 10px;
    text-transform: uppercase
}
.plan-wrap .pck-btn {
    padding: 0 10px 20px;
}
.plan-wrap .pck-btn button {
    width: 90%;
    padding: 25px 0;
    background: transparent;
    border: 2px solid;
    border-radius: 4px;
    color: #444444;
    font-size: 25px;
    /*font-weight: 700;*/
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.plan-wrap .pck-btn button:focus {
    outline: 0;
}
.plan-wrap .pck-btn button .sub {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.plan-wrap .pck-btn .pck-red {
    border-color: #ff5254;
}
.plan-wrap .pck-btn .pck-yellow {
    border-color: #f6d86b;
}
.plan-wrap .pck-btn .pck-teal {
    border-color: #3aa5a8;
}
.plan-wrap .pck-btn .pck-red:hover {
    background: #ff5254;
    color: #fff;
}
.plan-wrap .pck-btn .pck-yellow:hover {
    background: #f6d86b;
    color: #fff;
}
.plan-wrap .pck-btn .add-padTB {
    padding: 35px 0;
}
.plan-wrap.add-ons .thin {
    font-family: Open Sans Regular;
    font-weight: 100;
}
.plan-wrap.add-ons h1 {
    font-size: 45px;
}
.plan-wrap.add-ons h1.lg {
    font-size: 55px;
}
/** Package Details **/
.faq-tool {
    color: #D3D3D3;
    margin: 0 5px;
}
.rs-table .popover.top {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
.rs-table h2 {
    margin: 50px auto;
}
.rs-table tr:nth-child(1) td {
    width: 25%;
}
.rs-table .ic-check {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('../images/check-close.png');
}
.rs-table .ic-close {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('../images/check-close.png') 0 -30px;
}
.rs-table table {
    width: 100%;
    margin: 15px auto;
    font-family: Open Sans Regular, sans-serif;
    font-size: 15px;
}
.rs-table table td {
    padding: 10px;
    border-bottom: solid 1px #e1e1e1;
    text-align: center;
}
.rs-table table tr.rs-no-border-bottom td {
    border-bottom: 0;
}
.rs-table table tr:nth-child(1) td:nth-child(4) img {
    visibility: hidden;
}
.rs-table table tr:nth-child(2) td {
    padding: 0 0 10px;
    vertical-align: text-top;
}
.rs-table table tr:nth-child(3) td:nth-child(1) {
    vertical-align: bottom;
    color: #D3D3D3;
    font-size: 22px;
    font-weight: 100;
}
.rs-table table tr.rs-head td:nth-child(1) {
    color: #888787;
    font-size: 22px;
    font-weight: 100;
    padding: 25px 0 10px;
}
.rs-table table td:nth-child(1) {
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
}
.rs-table table td:nth-child(2) {
    background: #f8ecec;
}
.rs-table table td:nth-child(3) {
    background: #fffbee;
}
.rs-table table td:nth-child(4) {
    background: #e6f5f5;
}
.rs-table table td.cell-org {
    background: #ffa726;
    color: #fff;
    font-weight: 600;
}
.rs-table table td.cell-teal {
    background: #24d0cd;
    color: #fff;
    font-weight: 600;
}
.rs-table table td.cell-red {
    background: #d70b49;
    color: #fff;
    font-weight: 600;
}
.rs-table table img {
    width: 100%;
}
.rs-table .rs-plan {
    width: 100%;
    padding: 10px;
    display: inline-block;
    vertical-align: text-top;
}
.rs-table .rs-plan h4 {
    font-weight: 700;
}
.rs-table .rs-plan.rsp-red h4 {
    color: #ff5254;
}
.rs-table .rs-plan.rsp-yellow h4 {
    color: #d8ad10;
}
.rs-table .rs-plan.rsp-teal h4 {
    color: #339194;
}
.rs-table table td.rstd-red {
    background: #ff5254;
}
.rs-table table td.rstd-yellow {
    background: #ffe981;
}
.rs-table table td.rstd-teal {
    background: #3aa5a8;
}
.rs-table .rstd-red,
.rs-table .rstd-yellow,
.rs-table .rstd-teal {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 10px;
    text-transform: uppercase;
}
.rs-table table td em {
    display: block;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
}
/** FAQ **/
.rs-faq {
    margin: 50px auto 25px;
}
.rs-faq .faq-label {
    padding: 5px 0;
    text-align: center;
    font-size: 23px;
    color: #5d5d5d;
    vertical-align: middle;
}
.rs-faq .faq-label a {
    color: #5d5d5d;
}
.rs-faq .faq-hr {
    vertical-align: middle;
}
.rs-faq .faq-hr hr {
    border-color: #dbdbdb;
}
/* Landing Page Revamp */
.rv-navs {
    padding: 25px 0;
}
.re-vamp {
    position: relative;
} /* added 032916 */
#head-content .headings.btn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(49,49,49,0.8);
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 25px 20px;
} /* added 032916 */
#head-content .headings.btn-bottom em {
    color: #ff7e00;
    font-style: normal;
}
#head-content .headings.btn-bottom a.start-btn {
    margin: 0 15px;
}
#head-content .headings h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 135px 0 0;
    line-height: 46px;
}
.nav.nav-tabs.feat-tabs {
    text-align: center;
    border-bottom: 0;
}
.nav.nav-tabs.feat-tabs li {
    display: inline-block;
    float: none;
    margin: 0 18px;
}
.nav.nav-tabs.feat-tabs li a {
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding: 15px 12px;
    outline: 0;
}
.nav.nav-tabs.feat-tabs li.active a {
    border: solid 1px #f8ae1a;
    background-color: #f8ae1a;
    position: relative;
}
.nav.nav-tabs.feat-tabs li.active a:after {
    position: absolute;
    content: "";
    width: 11px; 
    height: 14px;
    bottom: -14px;
    left: 50%; 
    margin-left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;  
    border-top: 14px solid #f8ae1a;
}
#featCarousel .feat-cap {
    padding: 70px 0 55px;
}
#featCarousel .feat-cap h1 {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #ff6000;
    margin-top: 100px;
}
#featCarousel .feat-cap img {
    max-width: 100%;
}
a.features {
    display: table;
    vertical-align: middle;
}
.ic-feat {
    display: table-cell;
    width: 63px;
    height: 52px;
}
.ic-feat.buildrel {
    background: url("../images/feat-buildrel.png") no-repeat;
}
.ic-feat.plugnplay {
    background: url("../images/feat-plugnplay.png") no-repeat;
}
.ic-feat.allaccess {
  background: url("../images/feat-allaccess.png") no-repeat;
}
.ic-feat.understand {
  background: url("../images/feat-understand.png") no-repeat;
}
.ic-feat.support {
  background: url("../images/feat-support.png") no-repeat;
}
.nav.nav-tabs.feat-tabs li.active .ic-feat.buildrel,
.nav.nav-tabs.feat-tabs li.active .ic-feat.plugnplay,
.nav.nav-tabs.feat-tabs li.active .ic-feat.allaccess,
.nav.nav-tabs.feat-tabs li.active .ic-feat.understand,
.nav.nav-tabs.feat-tabs li.active .ic-feat.support {
    background-position: 0 -52px;
}
.revamp {
    padding-bottom: 90px;
}
.revamp.content {
    padding: 40px 0;
}
h2.rush-how {
    color: #909090;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 50px;
}
.emphasize {
    color: #ffb300;
    font-weight: 600;
}
.ic-cont {
    display: table;
    margin: 10px auto 60px;
}
.rs-icons {
    display: table-cell;
    width: 100%;
    background: #333;
    border-radius: 50%;
}
.ic-cont .rs-icons.org {
    background: #f7d179;
}
.ic-cont .rs-icons.blu {
    background: #c2f3f5;
}
.ic-cont .rs-icons.red {
    background: #f5a06e;
}
.ic-cont .rs-icons.pnk {
    background: #e33d83;
}
.ic-cont .rs-icons.green {
    background: #aed581;
}
.rs-row-2 {
  margin-top: 40px;
}
.revamp * {
    font-family: Open Sans Regular, sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.revamp .support-box  {
    font-weight: 400;
}
.revamp .support-box h3 {
    color: #454545;
    font-weight: 400;
    line-height: 130%;
}
.revamp .support-box p {
    color: #7d7d7d;
    font-size: 19px;
    font-weight: 100;
    margin: 30px 20px;
}
.revamp.clients h2 {
    color: #454545;
    font-weight: 400;
}
.revamp.clients .partner {
    text-align: center;
}
.revamp.clients .partner img {
    max-width: 100%;
}
/* Footer Revamp */
.download-badge {
    padding: 0 10px 30px;
    font-family: Open Sans Regular, sans-serif;
}
.download-badge .badg-label {
    color: #fff;
    text-align: right;
    padding: 0 20px;
}
.download-badge .badg-label h2 {
    font-weight: 400;
}
.download-badge .badg-label p {
    color: #c2c2c2;
    font-weight: 100;
}
.download-badge .badg-icons {
    padding: 30px 10px 0;
}
.download-badge .badg-icons span {
    margin: 0 10px;
}
.foot-navs {
    font-family: "Roboto", sans-serif;
    padding: 55px 15px;
    text-align: center;
}
.foot-navs .footer-nav {
    padding: 10px;
}
.foot-navs .footer-nav li {
    display: inline-block;
    padding: 0 15px;
    border-right: solid 1px #55555a;
    line-height: 20px;
}
.foot-navs .footer-nav li:last-child {
    border-right: 0;
}
.foot-navs .social-media a:hover {
    color: #fff;
}
.rv-copyright {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a3a3a8;
    padding: 30px 15px;
}
.rv-copyright p {
    margin: 0;
}
/** Media Queries **/
@media (max-width: 991px){
    .revamp .support-box {
        margin-bottom: 50px;
    }
    .rs-row-2 {
      margin-top: 0;
    }
    #featCarousel .feat-cap h1 {
        margin-top: 10px;
    }
}

@media (max-width: 768px){
    .content2 {
        padding: 0px;
    }
    .form-width {
        max-width: 100%;
    }
    .form {
        width: 100% !important;
    }
    .navigation {
        padding: 0;
    }
    .navigation .mobile-nav-icon {
        margin-top: 35px;
        width: auto;
        height: auto;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    .navigation .mobile-nav-icon i {
        font-size: 25px;
    }
    .navigation .navbar-brand {
        color: #fff;
    }
    .banner img {
        width: 90%;
        margin: 0 auto;
    }
    #head-content .headings h1 {
        font-size: 30px;
    }
    #head-content .headings h2 {
        font-size: 20px;
    }
    .start-btn {
        width: 100% !important;
    }
    .mobile-nav-icon {
        border: 1px solid #fff;
        width: 50px;
        height: 50px;
        color: #fff;
    }
    .mobile-nav {
        background: #fff;
        width: 100%;
    }
    .mobile-nav ul {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
    }
    .mobile-nav ul li {
        width: 100%;
    }
    .mobile-nav ul li a {
        width: 90%;
        margin: 0 auto;
        color: #000 !important;
    }
    .clients h2 {
        margin-bottom: 20px !important;
    }
    .clients .partner span {
        width: 100% !important;
        height: 100% !important;
    }
    .clients .partner span img {
        width: 100%;
    }
    .download-badge .badg-icons span {
        display: block;
        margin: 10px;
    }

    .rs-package .plan-wrap.bord-red,
    .rs-package .plan-wrap.bord-yellow,
    .rs-package .plan-wrap.bord-teal {
        margin: 0 0 15px;
    }
    .rs-table {
        margin-left: 15px;
        margin-right: 15px;
    }
    .rs-faq .faq-label {
        text-align: left;
        padding: 0 15px;
    }
    .revamp.clients img {
        margin: 10px 0;
    }
    .download-badge,
    .download-badge .badg-label {
        text-align: center;
    }
    #head-content .headings.btn-bottom em,
    #head-content .headings.btn-bottom a.start-btn {
        display: block;
    }
    #head-content .headings.btn-bottom em {
        margin: 10px 0;
    }
    #head-content .headings.btn-bottom a.start-btn {
        margin: 15px 0 10px;
    }
    #featCarousel .feat-cap {
        padding: 0;
    }
    #featCarousel .feat-cap .rv-feat-det,
    #featCarousel .feat-cap .rv-feat-img {
        text-align: center;
    }
    #featCarousel .feat-cap {
        margin-top: 55px;
    }
    #featCarousel .feat-cap .rv-feat-img img {
        margin: 15px auto 20px;
    }
}
@media (max-width: 690px) {
    .nav.nav-tabs.feat-tabs li {
        margin: 0 10px;
    }
    .ic-feat {
        width: 30px;
        height: 25px;
    }
    .ic-feat.buildrel,
    .ic-feat.plugnplay,
    .ic-feat.allaccess,
    .ic-feat.understand,
    .ic-feat.support {
        background-size: 30px;
    }
    .nav.nav-tabs.feat-tabs li.active .ic-feat.buildrel,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.plugnplay,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.allaccess,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.understand,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.support {
        background-position: 0 -25px;
    }
}
@media (max-width: 663px) {
    .foot-navs .footer-nav li {
        display: block;
        border-right: 0;
        padding: 5px 15px;
    }
}
@media (max-width: 480px) {
    .form {
        width: 100%;
    }
    .content {
        padding: 170px 0 20px !important;
    }
    .form-width{
       max-width: 100%;
    }
    .revamp.content {
        padding: 40px 0!important;
    }
}
@media (max-width: 436px) {
    #head-content .headings h1 {
        margin: 20% 0 0;
    }
    .ic-feat {
        width: 20px;
        height: 17px;
    }
    .ic-feat.buildrel,
    .ic-feat.plugnplay,
    .ic-feat.allaccess,
    .ic-feat.understand,
    .ic-feat.support {
        background-size: 20px;
    }
    .nav.nav-tabs.feat-tabs li.active .ic-feat.buildrel,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.plugnplay,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.allaccess,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.understand,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.support {
        background-position: 0 -17px;
    }
}
@media (max-width: 386px) {
    .ic-feat {
        width: 15px;
        height: 12px;
    }
    .ic-feat.buildrel,
    .ic-feat.plugnplay,
    .ic-feat.allaccess,
    .ic-feat.understand,
    .ic-feat.support {
        background-size: 15px;
    }
    .nav.nav-tabs.feat-tabs li.active .ic-feat.buildrel,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.plugnplay,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.allaccess,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.understand,
    .nav.nav-tabs.feat-tabs li.active .ic-feat.support {
        background-position: 0 -12px;
    }
    .nav.nav-tabs.feat-tabs li {
        margin: 0 5px;
    }
}
@media (max-width: 320px) {
    .social-media a {
        margin: 0 15px;
    }
}

/* Request A Demo Styles */
.tix input[type="radio"],.tix input[type="checkbox"]{
  display: none; }

.tix label {
  padding-left: 25px !important;
  font-weight: 400;
  font-size: 14px;
  margin: 2px 2px -3px 2px;
  cursor: pointer; }

.tix input[type="radio"] + label, .tix input[type="checkbox"] + label {
  height: 20px;
  display: inline-block;
  padding: 0 0px 0 0px;
  background-position: 2px 2px !important;
  background: url("../images/checkbox.png") no-repeat; }

.tix input[type="radio"]:checked + label, .tix input[type="checkbox"]:checked + label {
  background: url("../images/checkbox-checked.png") no-repeat;
  display: inline-block;
  background-position-x: 1px; }

.drp-down {
  position: relative; }

.drp-down .field {
    background-size: 10px 7px !important;
    background-position: right 20px top 18px !important;
    background: #fff url('../images/arrow-down.png') no-repeat;
    height: 45px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: none;
    text-align: left;
    padding: 20px 20px;
    color: #999999;
    line-height: 0; }

.drp-down .field.active {
      color: #333; }

.drp-down .contents {
    display: none;
    border: 1px solid #dedede;
    padding: 6px 12px;
    height: 170px;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    border-radius: 3px;
    z-index: 2;
    background: #fff;
    width: 100%; }

.drp-down .contents.open {
      display: block; }

.drp-down .contents .done {
      font-weight: 700;
      cursor: pointer; }

.rad input, select, textarea{
    font-size: 18px !important;
}
.rad select {
    background-size: 10px 7px !important;
    background-position: right 20px top 18px !important;
    background: #fff url('../images/arrow-down.png') no-repeat;
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}
/*for IE10*/
.rad select::-ms-expand {
    display: none;
}