body {
  background-color: #E6E9ED;
}

.noBorderRadius {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#rightcontent {
  .header .howdy button, .container #content .fixed-table-container {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

#sidemenu {
  position: fixed;
  left: 0;
  min-width: 240px;
  width: 240px;
  float: left;
  height: 100%;
  min-height: 100%;
  background: #fff;
  z-index: 3;
  .logoholder {
    height: 76px;
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #f5f5f5;
    img {
      margin: 17px auto;
      display: block;
    }
  }
  #menu {
    background: #fff;
    float: left;
    width: 100%;
    /* Highlight Active Menu */
    ul {
      padding: 0;
      float: left;
      width: 100%;
      li {
        list-style: none;
        width: 100%;
        float: left;
        a {
          color: #627181;
          display: block;
          float: left;
          width: 100%;
          outline: none;
          position: relative;
          font-family: 'Open Sans', sans-serif;
          i {
            height: 40px;
            width: 50px;
            float: left;
            margin-right: 14px;
          }
          span {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            height: 40px;
          }
        }
        &:hover, &.active {
          background-color: #f8f8f8;
        }
      }
    }
    a {
      &:hover, &:active {
        text-decoration: none;
      }
    }
    li.active a {
      text-decoration: none;
    }
    .icon {
      background-repeat: no-repeat;
    }
    li {
      &.das .icon {
        background-position: 0 -10px;
        background-image: url("../images/menu_icons.png");
      }
      &.merchant .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -60px;
      }
      &.management .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -304px;
      }
      &.settings .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -495px;
      }
      &.rewards .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -110px;
      }
      &.billing .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -700px;
      }
      &.prospects .icon {
        background-position: 0 1px;
        background-image: url("../images/menu_icons.png");
        background-position-y: -545px;
      }
      &.activ {
        background-color: #f2f2f2;
        a > i {
          background-color: #f57f20;
        }
        .icon {
          background-image: url("../images/menu_icons_hover.png");
        }
        a {
          color: #161616;
          font-weight: 600;
        }
      }
      &.logos .icon {
          padding-left: 32px;
          position: relative;
          font-style: normal;
          &:before {
              position: absolute;
              font-family: 'FontAwesome';
              top: 10px;
              left: 15px;
              content: "\f024";
              color: #949594;
          }
      }
      &.news .icon {
        padding-left: 32px;
        position: relative;
        font-style: normal;
        &:before {
            position: absolute;
            font-family: 'FontAwesome';
            top: 10px;
            left: 15px;
            content: "\f1ea";
            color: #949594;
        }
      }
    }
  }
}

#rightcontent {
  float: left;
  width: 100%;
  padding-left: 240px;
  background-color: #e7e7e7;
  margin: 0;
  min-height: 100%;
  .header {
    height: 76px;
    width: 100%;
    background: #4b4f55;
    padding: 0 35px;
    float: left;
    h3 {
      font-weight: normal;
      margin-top: 24px;
      color: #fff;
    }
    .howdy {
      margin-top: 10px;
      .btn-group {
        float: right;
      }
      img {
        margin-right: 10px;
      }
      button {
        border: 0;
        font-size: 15px;
        .caret {
          margin-left: 10px;
        }
        &:hover {
          background-color: #fefefe;
        }
        &.dropdown-toggle {
          box-shadow: 0 0 0;
          background-color: #4b4f55;
          color: #fff;
        }
      }
      .dropdown-menu {
        width: 100%;
      }
    }
  }
  .container {
    width: 100%;
    padding: 0 35px;
    .search {
      margin-top: 18px;
      float: left;
      input[type="text"] {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        padding: 0 12px;
        height: 42px;
      }
      button {
        border-color: #ccc;
        background-color: #fff;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        border-left: 0;
        outline: 0;
        padding: 10px 12px;
        height: 42px;
        i {
          color: #AEAAA5;
        }
      }
    }
    #content {
      background-color: #fff;
      margin-top: 18px;
      float: left;
      width: 100%;
      min-height: 400px;
      .navTabsWrap {
        background-color: #F2F4F6;
        float: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
        .nav-tabs {
          float: left;
          border-bottom: 0;
          li {
            margin-bottom: -2px;
            a {
              border-radius: 0;
              margin-right: 0;
              margin-top: -1px;
              color: #747474;
              font-weight: 500;
              background-image: url("../images/navtabsborder.jpg");
              background-position: right center;
              background-repeat: no-repeat;
            }
            &.active a {
              font-weight: 600;
              background-image: none;
            }
          }
        }
        .addNew {
          float: right;
          color: #747474;
          padding: 10px 15px;
        }
      }
      .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        min-height: 400px;
        padding: 1%;
      }
      .data-table {
        color: #575454;
        border: 0;
        margin-top: 15px;
        td, th {
          border: 0 !important;
        }
        .edit, .delete {
          color: #C7C0BA;
          margin-left: 20px;
          float: right;
        }
        tbody tr {
          background-color: #F2F4F6;
          border-bottom: 1px solid #fff;
          &:hover {
            background-color: #FFF6D8;
          }
        }
        &.management tr {
          td:last-child, th:last-child {
            border-left: 0;
          }
        }
      }
      .fixed-table-container {
        border: 0;
      }
    }
  }
}

.add-merchant {
  margin: 10px 0;
}

.merchants-table-row-div {
  margin-top: 20px;
  .enabled-disabled-toggle {
    cursor: pointer;
    text-transform: capitalize;
  }
  .enabled {
    color: green;
  }
  .disabled {
    color: red;
  }
}

.merchant-view {
  .tab-pane {
    padding: 20px;
  }
  form {
    margin-top: 20px;
  }
  .spacing {
    padding: 15px;
  }
  .status-label {
    font-weight: bold;
  }
  .status-options label, .modules-options label {
    font-weight: normal;
  }
  .status-options .form-group, .modules-options .form-group {
    margin-bottom: 0px;
  }
  .merchant-view-buttons .btn-primary {
    color: #fff;
    background-color: #f6ae1c;
    border-color: transparent;
  }
  .error {
    color: red;
  }
  #enabled-disabled-toggle {
    cursor: pointer;
    &:hover {
      color: #f6ae1c;
    }
  }
}

#enabled-disabled-toggle-modal {
  background-color: rgba(0, 0, 0, 0.6);
  #enabled-disabled-reason {
    resize: none;
    height: 200px;
    width: 100%;
  }
  .btn-primary {
    color: #fff;
    background-color: #f6ae1c;
    border-color: transparent;
  }
}

#management-branches-view, #management-employees-view, #management-customers-view, #management-points-view, .management-rewards, .management-rewards-add, #management-transactions-view, .management-rewards, #management-billing-view {
  margin-top: 20px;
  padding: 20px;
}

#management-branches-view label, #management-employees-view label, #management-customers-view label, #management-points-view label, .management-rewards label, .management-rewards-add label, #management-transactions-view label, .management-rewards label, #management-billing-view label {
  color: #969595;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

#management-branches-view .delete-reward, #management-employees-view .delete-reward, #management-customers-view .delete-reward, #management-points-view .delete-reward, .management-rewards .delete-reward, .management-rewards-add .delete-reward, #management-transactions-view .delete-reward, .management-rewards .delete-reward, #management-billing-view .delete-reward {
  cursor: pointer;
}

#management-branches-view h4, #management-employees-view h4, #management-customers-view h4, #management-points-view h4, .management-rewards h4, .management-rewards-add h4, #management-transactions-view h4, .management-rewards h4, #management-billing-view h4 {
  font-size: 21px;
  color: #666464;
  margin-bottom: 25px;
}

#management-branches-view table .rewards-img, #management-employees-view table .rewards-img, #management-customers-view table .rewards-img, #management-points-view table .rewards-img, .management-rewards table .rewards-img, .management-rewards-add table .rewards-img, #management-transactions-view table .rewards-img, .management-rewards table .rewards-img, #management-billing-view table .rewards-img {
  max-width: 65px;
}

#management-branches-view table td.is_deleted_text, #management-employees-view table td.is_deleted_text, #management-customers-view table td.is_deleted_text, #management-points-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, .management-rewards-add table td.is_deleted_text, #management-transactions-view table td.is_deleted_text, .management-rewards table td.is_deleted_text, #management-billing-view table td.is_deleted_text {
  text-transform: capitalize;
}

#management-branches-view table .enabled, #management-employees-view table .enabled, #management-customers-view table .enabled, #management-points-view table .enabled, .management-rewards table .enabled, .management-rewards-add table .enabled, #management-transactions-view table .enabled, .management-rewards table .enabled, #management-billing-view table .enabled {
  color: green;
}

#management-branches-view table .disabled, #management-employees-view table .disabled, #management-customers-view table .disabled, #management-points-view table .disabled, .management-rewards table .disabled, .management-rewards-add table .disabled, #management-transactions-view table .disabled, .management-rewards table .disabled, #management-billing-view table .disabled {
  color: red;
}

#management-branches-view .btn-rush, #management-employees-view .btn-rush, #management-customers-view .btn-rush, #management-points-view .btn-rush, .management-rewards .btn-rush, .management-rewards-add .btn-rush, #management-transactions-view .btn-rush, .management-rewards .btn-rush, #management-billing-view .btn-rush {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

#management-branches-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#management-employees-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#management-customers-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#management-points-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

.management-rewards .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

.management-rewards-add .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#management-transactions-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

.management-rewards .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#management-billing-view .btn-rush {
  &:hover, &:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

#settings-view {
  padding: 15px;
  min-height: 600px;
  .settings-view-buttons .btn-primary {
    color: #fff;
    background-color: #f6ae1c;
    border-color: transparent;
  }
}

.management-rewards-add {
  textarea {
    resize: none;
    min-height: 300px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity = 0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}

.error-msg {
  color: red !important;
}

.yellow-btn {
  color: #fff !important;
  background-color: #f6ae1c !important;
  border-color: transparent !important;
}

#deposit_upload_btn {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  border: 1px solid #f8ae1a;
  border-radius: 4px;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  color: #f8ae1a;
  height: 53px;
  padding: 12px 40px 0px 40px;
  #deposit_slip {
    position: fixed;
    top: -1000px;
  }
  span {
    cursor: pointer;
  }
}

/* Billing Module CSS */

.view-bill-upper {
  background-color: #F2F4F6;
  padding: 10px;
  .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020;
  }
}

.view-bill-statement {
  padding: 10px;
}

.account-summary-link {
  cursor: pointer;
}

.soa_acctNum {
  margin-top: 20px;
  font-size: medium;
}

.view-billing {
  padding: 10px;
}

.billing {
  /*Remove number type spinner*/
  /*Browse Button*/
  .title h2 {
    font-family: Open Sans;
    font-size: medium;
    font-weight: normal;
    color: #f58020;
  }
  #frm_payt_cc hr, #frm_payt_otc hr, .soa hr {
    border: none;
    height: 1px;
    background: #efefef;
  }
  .bill_label {
    font-family: Open Sans;
    color: #afafaf;
    font-size: medium;
    margin: 0px;
    font-weight: normal;
  }
  .bill_value {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    border-style: none;
    padding: 0px;
    margin: 0px;
    background: transparent !important;
    box-shadow: none;
    &:focus {
      font-family: Open Sans Semibold;
      color: #656565;
      font-size: medium;
      border-style: none;
      padding: 0px;
      margin: 0px;
      background: transparent !important;
      box-shadow: none;
    }
  }
  #month {
    width: 46%;
  }
  #day {
    margin: 0px 6px;
    width: 25%;
  }
  #year {
    width: 25%;
  }
  .payt_date, .view_date, #bill_amt, #bill_ref_no, #payment_date, #paytMethod {
    font-family: Open Sans Semibold;
    color: #656565;
    font-size: medium;
    height: 53px;
    padding-left: 10px;
    box-shadow: none;
  }
  #bill_upload_btn {
    border-style: none;
    box-shadow: none;
    color: transparent;
  }
  .bill_btn {
    font-family: Roboto;
    font-size: medium;
    color: white;
    background-color: #ea6a1d;
    border: none;
    padding: 10.5px 0px;
    border-radius: 6px;
    &:hover {
      background-color: #DA5B10;
    }
  }
  .img_thumb {
    width: 55px;
    height: 55px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: pink;
  }
  #dl_soa_btn {
    margin-right: 12px;
  }
  .soa_btn {
    font-family: Roboto;
    font-size: medium;
    color: #5a5a5a;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    height: 53px;
    padding: 0px 12px;
    &:link, &:visited {
      white-space: nowrap;
      font-family: Roboto;
      font-size: medium;
      color: #5a5a5a;
      background-color: transparent;
      border: 1px solid #b5b5b5;
      border-radius: 6px;
      height: 53px;
      padding-top: 12px;
      text-align: center;
      text-decoration: none;
    }
    &:hover {
      background-color: #F1F1F1;
      cursor: pointer;
      cursor: hand;
      text-decoration: none;
    }
  }
  #searchDate {
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
    box-shadow: none;
    font-size: medium;
    height: 42px;
    font-family: Open Sans;
    padding-left: 24px;
    color: #a7a6a6;
  }
  #calendarSpan {
    border-radius: 0px 60px 60px 0px !important;
    background-color: #ffffff;
    color: #afafaf;
    border-left: 0px;
  }
  #searchBtn {
    border: none !important;
    box-shadow: none;
    a {
      color: #f58020;
      font-family: Open Sans;
      font-size: medium;
      &:hover {
        text-decoration: none;
        color: #EC730F;
      }
      &:active, &:visited, &:link {
        text-decoration: none;
      }
    }
  }
  td[class=record_num] {
    width: 10%;
    text-align: center;
  }
  .record_num {
    font-weight: bold;
  }
  .view_btn {
    font-size: medium;
  }
  a[class=view_btn] {
    &:visited, &:active, &:link {
      text-decoration: none;
      color: #afafaf;
    }
    &:hover {
      text-decoration: none;
      color: #656565;
      cursor: pointer;
      cursor: hand;
    }
  }
  .bill_hr hr {
    margin-top: 4px;
  }
  .bill_table td {
    height: 95px;
    border-top: none !important;
  }
  .soa {
    h3 {
      padding-top: 30px !important;
    }
    td, th {
      border-top: none !important;
      padding: 4px 0px !important;
    }
    hr {
      border-top: dashed 1px;
    }
  }
  .soa_heading1, #soa_name {
    font-size: medium;
  }
  #soa_address {
    padding-left: 10px !important;
    width: 75%;
    color: #555555;
    font-size: medium;
  }
  .soa_heading1, .soa_heading2, .soa_items, #soa_address, .soa_amounts, #soa_name {
    font-family: Open Sans;
  }
  .soa_heading2, .soa_note {
    color: #939393;
  }
  .soa_heading1, .soa_acctNum {
    font-weight: bold;
  }
  .soa_totalAmtDue td {
    padding: 12px !important;
  }
  .breakdown_total td, .soa_heading2 th {
    padding-top: 12px !important;
  }
  .soa_items, .soa_heading2, .soa_total_label, .soa_totalAmtDue, .soa_amounts {
    font-size: medium;
  }
  .soa_heading1, .soa_heading2 {
    font-weight: bold;
  }
  .soa_items {
    color: #535353;
  }
  .soa_item_list td {
    padding-top: 12px !important;
  }
  #soa_name {
    color: #555555;
  }
  .soa_amounts {
    color: #090909;
  }
  .soa_total_label, .soa_totalAmtDue {
    color: #2a2a2a;
  }
  .align_right {
    text-align: right;
  }
  .orange_box {
    border: 2px solid #f8ae1a;
    td {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
  .account_summary {
    border: 2px solid #f9f9f9;
    padding: 30px 26px !important;
    td {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
    th {
      text-align: center;
      border-bottom: none !important;
    }
  }
  .soa_note {
    font-family: Open Sans;
    font-size: medium;
  }
  .usage_breakdown th {
    border-bottom: none !important;
    padding-bottom: 16px !important;
  }
  #bill_ref_no {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  #bill_amt {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  label#custom_upload_btn input[type="file"] {
    position: fixed;
    top: -1000px;
  }
  #custom_upload_btn {
    font-family: Roboto;
    font-size: medium;
    font-weight: normal;
    border: 1px solid #f8ae1a;
    border-radius: 4px;
    margin: 0 auto;
    background: transparent;
    display: inline-block;
    color: #f8ae1a;
    height: 53px;
    padding: 12px 40px 0px 40px;
    &:hover {
      background: #F1F1F1;
      cursor: pointer;
      cursor: hand;
    }
  }
}

#paymentModalOTC, #paymentModalCC {
  background-color: rgba(0, 0, 0, 0.4);
  /* The Modal (background) */
  /* Add Animation */
}

#paymentModalOTC .bill_popup h2, #paymentModalCC .bill_popup h2 {
  color: #f58020;
  font-family: Open Sans;
  font-size: medium;
}

#paymentModalOTC .bill_popup p, #paymentModalCC .bill_popup p {
  color: #656565;
  font-family: Open Sans;
  font-size: medium;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}


#paymentModalOTC .modal, #paymentModalCC .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

#paymentModalOTC .modal-content, #paymentModalCC .modal-content {
  font-family: Open Sans;
  color: #afafaf;
  font-size: medium;
  position: relative;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 0px;
  padding: 30px;
}

#paymentModalOTC .modal-content .modal-body, #paymentModalCC .modal-content .modal-body {
  background-color: #fff;
}

#paymentModalOTC .modal-content button, #paymentModalCC .modal-content button {
  font-family: Roboto;
  font-size: medium;
  font-weight: normal;
  color: white;
  background-color: #ea6a1d;
  border: none;
  padding: 8px 50px;
  text-align: center;
  border-radius: 6px;
}

.home {
  padding: 20px;

  .spacing {
    margin-top: 40px;
  }
  
  .module {
    margin: 20px;
    display: inline-flex;
    height: 120px;
    width: 140px;
    
    .module-icon {
      height: 100%;
      width: 100%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding: 70px 10px 10px 10px;
      color: #627181;
      background-position: 50% 20px;

      &:hover {
        background-color: #f57f20;
        color: #fff;
      }

      &.icon-merchant {
        background-image: url("../images/icon-merchant.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-merchant-hover.png");
        }
      }

      &.icon-management {
        background-image: url("../images/icon-management.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-management-hover.png");
        }
      }

      &.icon-rewards {
        background-image: url("../images/icon-rewards.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-rewards-hover.png");
        }
      }

      &.icon-billing {
        background-image: url("../images/icon-billing.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-billing-hover.png");
        }
      }

      &.icon-prospects {
        background-image: url("../images/icon-prospects.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-prospects-hover.png");
        }
      }

      &.icon-settings {
        background-image: url("../images/icon-settings.png");
        background-repeat: no-repeat;

        &:hover {
          background-image: url("../images/icon-settings-hover.png");
        }
      }

    }
  }
}
/** ADMIN CMS **/
.admin-cms {
    font-family: 'Open Sans', sans-serif;
    margin-top: 90px !important;
    margin-bottom: 20px;    
    // DataTable Overrides
    .dataTables_scrollBody {
        border-bottom: 0 !important;
    }
    .fixed-table-toolbar .pull-right.search {
        position: absolute;
        top: -115px;
        width: 300px;
        margin-top: 10px !important;
        input[type="text"] {
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            padding: 0 32px 0 12px !important;
            background: url(../images/sIco.png) no-repeat right center #fff;
            font-weight: 600;
        }
    }
    .data-table {
        margin-top: 0 !important;
        border-collapse: collapse;
        thead {
            th {
                color: #464646;
                font-size: 14px;
                padding: 13px 20px 13px 8px;
                background: #f0f0f0;
            }
        }
        tbody {
            tr {
                border-bottom: solid 1px #efefef !important;
                td {         
                    background-color: #fff;           
                    color: #707070;
                    font-size: 14px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    &:first-child {
                        font-weight: 600;
                    }
                    i.fa {
                        margin-right: 5px;
                    }
                    .edit, .delete {
                        float: none !important;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
        }
    }
    .vis- {
        &published {
            color: #707070;
        }
        &draft {
            color: #b9b9b9;
        }
        &select {
            border-radius: 3px;
            border: solid 1px #e8e8e8;
            color: #a2a2a2;
            padding: 6px;
            width: 80px;
            /* Reset Appearance */
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            /* New Dropdown Arrow */
            background-image:
                linear-gradient(45deg, transparent 50%, #a2a2a2 50%),
                linear-gradient(135deg, #a2a2a2 50%, transparent 50%);
            background-position:
                calc(100% - 10px) 1em,
                calc(100% - 5px) 1em;
            background-size:
                6px 5px,
                6px 5px;
            background-repeat: no-repeat;
            &.vis-visible {
                color: #f6ae1c;
                font-weight: 600;
            }
            &.vis-hidden {
                color: #a2a2a2;
            }
            &.vis-visible,
            &.vis-hidden {
                option {
                    color: #707070;
                }
            }
        }
    }
    .scrollX-table {
        overflow-x: auto;
    }
    .bottom {
        padding: 10px;
        .pagination-detail,
        .page-list,
        .dataTables_length,
        .dataTables_info {
            font-size: 12px;
        }
        .page-list,
        .dataTables_length {
            margin-bottom: 10px;
            font-weight: 600;
        }
        .dataTables_length {
            margin-bottom: 0;
        }
        .dataTables_paginate {
            padding-bottom: 20px;
        }
    }

    /* Forms & Inputs */
    form {
        label {
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            color: #5a5a5a;
            display: block;
            font-weight: 600;
        }
        input, textarea, select {
            margin-bottom: 20px;
            border-color: transparent;
            border: solid 1px #e2e2e2;
            border-radius: 0;
            background: #f7f7f7;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            font-family: 'Open Sans', sans-serif;
            box-shadow: none;
            &:focus {
                border: solid 1px #e2e2e2;
                box-shadow: none;
                outline: 0;
            }
        }
        input[type="text"] {
            padding: 0 12px;
            height: 42.2px;
            &:disabled {
                background: #fff;
            }
        }
        .btn-file {
            position: relative;
            overflow: hidden;
            font-size: 14px;
            height: 40px;
            border: 0;
            background-color: #c9c9c9;
            color: #fff;
            padding: 10px 15px;
            font-weight: 600;
            top: 2px;
            margin-bottom: 20px;
        }
        input[type="file"] {
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            display: block;
            cursor: pointer;
        }
        .imgwrap {
            display: block;
            max-width: 100%;
            overflow: hidden;
            background: #ebebeb;
        }
        .imgprev {
            &[src=""] {
                background: black;
            }
        }
        i {
            font-size: 12px;
            color: #bcbcbc;
            position: relative;
            top: -15px;
            display: block;
        }
        button {
            width: 48%;
            padding: 12px;
            &.btn-primary {
                color: #fff;
                background-color: #f6ae1c;
                border-color: transparent;
                &:focus {
                    outline: 0;
                }
            }
            &:focus {
                outline: 0;
                &:active {
                    border-color: transparent;
                    background-color: #f6ae1c;
                }
            }
        }
    }

    /* News */
    &.createnew {
        margin-top: 60px !important;
        .content {
            background-color: #fff;
            margin-top: 18px;
            float: none;
            width: 100%;
            min-height: 400px;
            padding: 30px 20px;

            &-title {
                margin-top: 0;
                margin-bottom: 30px;
                font-weight: 600;
                color: #5a5a5a;
            }            
            input[type="file"] {
                right: initial;
                left: 0;
            }
            &.button-wrap {
              background-color: transparent;
              padding: 0;
              button {
                width: initial;
                font-weight: 600;
                &.draft {
                    color: #fff;
                    background-color: #c9c9c9;
                    margin-left: 10px;
                    &:hover {
                        border-color: #c9c9c9;
                    }
                }
              }
            }
        }
        textarea {
            resize: none;
        }
        .textarea-editor {
            padding: 10px;
            width: 100% !important;
            min-height: 350px;
        }
        /* TinyMCE Editor */
        .mce-tinymce {
            button {
                width: initial;
                padding: 4px 6px;
            }
            i.mce-caret {
                display: inherit;
            }
            #mceu_17 {
                i.mce-caret {
                    top: 0;
                }
            }
            #mceu_24 {
                i.mce-ico {
                    top: 0;
                }
                i.mce-caret {
                    top: inherit;
                }
            }
            
        }
        /* Spectrum Color Picker */
        .sp {
            &-replacer {
                background: #ebebeb;
                border-color: #e2e2e2 !important;
                padding: 0;
                overflow: initial;
                margin-bottom: 20px;
                border-radius: 4px;
            }
            &-preview {
                width: 46px;
                height: 38px;
                border: 0;
                margin-top: -2px;
                margin-left: -1px;
                margin-right: 0;
                transform: translateY(1px);
                border-radius: 4px 0 0 4px;
                overflow: hidden;
            }
            &-dd {
                padding: 10px 14px;
                font-size: 16px;
                color: #bcbcbc;
            }
        }
    }
    &-extratop {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        top: 40px;
        .back-icon {
            width: 30px;
            height: 30px;
            display: inline-flex;
            background: url('../images/news-back-icon.png') no-repeat center / 30px;
            margin-right: 10px;
            position: relative;
            top: 10px;
        }
        a {
            color: #bcbcbc;
            font-size: 15px;
            font-weight: 600;
            &:hover {
                color: #bcbcbc;
                text-decoration: none;
            }
        }
        h3 {
            font-weight: 600;
            color: #5a5a5a;
            margin-top: 30px;
        }
    }

    /* Client Logos */
    &.clientlogos {
        margin-top: 60px !important;

        thead th {
            &:first-child {
                background-image: none;
            }
        }

        tfoot th {
            opacity: 0;
            font-size: 0;
        }
        td:first-child {
            text-align: center;
            font-size: 21px;
            color: #bcbcbc;
            background-image: url('../images/re-order-icon.png');
            background-repeat: no-repeat;
            background-size: 40% 20%;
            background-position: center;
            overflow: hidden;
            text-indent: -100px;
            &:hover {
                cursor: move;
            }
        }
        /* Add outline while dragging row */
        .dt-rowReorder-moving {
            border-left: solid 5px #f6ae1c;
        }
    }
    .logo-thumb {
        width: 70px;
        height: 50px;
        display: block;
        background-color: #e5e5e5;
        border-radius: 3px;
    }
}
.button-toolbar {
    position: relative;
    bottom: -75px;
    .btn {
        &.btn-primary,
        &.btn-primary:active:focus {
            background-color: #f6ae1c;
            border-color: transparent;
            outline: 0;
        }
    }

    /* Client Logos */
    &.clientlogos {
        bottom: initial;
        top: 40px;
    }
}
/* Admin CMS Modal */
.admin-cms-modal {
    .modal {
        font-family: 'Open Sans', sans-serif;
        &-dialog {
            width: 430px;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        &.fade {
            .modal-dialog {
                -webkit-transform: translate(0, -25%);
                -ms-transform: translate(0, -25%);
                -o-transform: translate(0, -25%);
                transform: translate(0, -25%);
                -webkit-transition: -webkit-transform 0.3s ease-out;
                -moz-transition: -moz-transform 0.3s ease-out;
                -o-transition: -o-transform 0.3s ease-out;
                transition: transform 0.3s ease-out;
            }
        }
        &-header {
            height: 50px;
            font-size: 18px;
            padding: 15px 34px;
            border-bottom: 0;
        }
        &-content {
            border-radius: 0;
            span.ex {
                position: absolute;
                top: -20px;
                right: -20px;
                cursor: pointer;
                i {
                    font-size: 20px;
                    color: #E9E6E3;
                }
            }
        }
        &-body {
            padding: 15px 34px;
            background-color: #F0F3F5;
            form {
                label {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: normal;
                    color: #a3a3a3;
                }
                input, textarea, select {
                    margin-bottom: 20px;
                    border-color: transparent;
                    border: 0;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    font-family: 'Open Sans', sans-serif;
                }
                input[type="text"] {
                    padding: 0 12px;
                    height: 42.2px;
                    &:disabled {
                        background: #fff;
                    }
                }
                .btn-file {
                    position: relative;
                    overflow: hidden;
                    font-size: 14px;
                    height: 40px;
                    border: 0;
                    background-color: #c9c9c9;
                    color: #fff;
                    display: block;
                    padding: 10px;
                    font-weight: 600;
                    top: 2px;
                }
                input[type="file"] {
                    filter: alpha(opacity=0);
                    opacity: 0;
                    outline: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-width: 100%;
                    min-height: 100%;
                    display: block;
                    cursor: pointer;
                }
                i {
                    font-size: 12px;
                    color: #bcbcbc;
                    position: relative;
                    top: -15px;
                }
                button {
                    width: 48%;
                    padding: 12px;
                    &.btn-primary {
                        color: #fff;
                        background-color: #f6ae1c;
                        border-color: transparent;
                    }
                }
            }
        }
    }
}
/* Spectrun Container */
.sp-container {
    transition: none;
}
/* TinyMCE */
.mce-combobox {
    button {
        padding: 6px 6px !important;
    }
}
/*# sourceMappingURL=style.css.map */