#stampsSummaryTable_wrapper {
    clear: none;
    position: static;

    .customerStampsToolbar {
        .clearfix {
            margin-top: 15px;
        }
        .custom-select {
            display: inline-block;
            font-size: 14px;
            max-width: 100%;
            height: calc(2.25rem + 7px);
            padding: .375rem 1.75rem .375rem .75rem;
            line-height: 1.25;
            color: #495057;
            vertical-align: middle;
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…'0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
            background-size: 8px 10px;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
        }
    }
}
.code-btn-wrap {
    margin-top: 20px;
    clear: both;
    position: relative;
    top: 10px;
}
#code-management {
    padding-top: 30px;
    .pull-right.search {
        margin-top: -27px;
        input {
            width: 300px;
        }
    }
    #codeMgmtTable {
        margin-bottom: 10px;        
        td:last-child a {
            margin-left: 0 !important;
        }
    }
    .dataTables_length label {
        font-weight: normal;
    }
}
#importClientCode {
    #import-code {
        display: none;
    }
    .btn-browse-import {
        background: #dfdfdf;
        padding: 10px 12px;
    }
}