@import "../common/layout";

.setup-achievement-unlock {
  background-color: #fff !important;
  padding: 20px 30px !important;
  h4 {
    font-size: 21px;
    color: #666464;
    margin-bottom: 25px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  form  {
    .row {
      margin-bottom:10px;
    }
    .input-medium {
      width: 150px;
    }

    input[type=file] {
      height:auto;
    }

    input[type=text].points {
      width: 65px;
    }

    input[type=text].input-mini {
      width: 65px;
    }

    label {
      font-weight:normal;
    }

    .fields {
      margin-bottom:20px;
    }

    .fields > div > div > label {
      margin-top:5px;
    }

    .input-large {
      width:300px;
    }
  }
}

/* Sweet Alert Customization */
.sweet-alert h2 {
  font-size: 18px;
}

/* Points Field */
.pts-cont {
    margin: 10px auto;
}
.pts-wrap {
    display: inline-block;
    padding: 13px;
    background: #f2f8fa;
}
.pts-cont.hide {
    display: none;
}
.pts-cont.wbg {
    background: #f2f8fa;
    padding-left: -15px;
    padding-right: -15px;
}
.pts-wrap.nobg {
    background: transparent;
}
